@import '~theme';

.export-dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__scroll {
        flex: 1;
    }

    &__parameter {
        display: flex;
        justify-content: space-between;
        padding: get-spacing('sm', 'em');

        &__component {
            flex: 1;
        }
    }

    &__template {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-width: 1px;
        border-style: dashed;
        border-color: get-border-color('default');

        &__component {
            flex: 1;
        }
    }

    &__added {
        background: get-background-color('light');
        border: 1px solid get-border-color('default');
        padding: get-spacing('sm', 'em') $scroll-size;
        border-radius: $border-radius;
    }
}
