@import '~theme';
$comparator: 18px;

.xray-match {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__content {
        flex: 1;
        padding: 0 $scroll-size;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    &__apps {
        position: relative;
        flex: 1;
        width: 100%;
        padding: get-spacing('sm', 'rem');
        padding-top: 0;
        border: 1px solid get-border-color('default');
        overflow-x: hidden;
        overflow-y: auto;

        &__col {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        &__available {
            &__text {
                width: calc(100% - #{3 * get-width('icon', 'rem')});
            }

            &__search {
                display: flex;

                &__content {
                    flex: 1;

                    &:first-child {
                        margin-right: get-spacing('sm', 'rem');
                    }

                    &--flex {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            &__scroll {
                flex: 1;
                border: 1px solid get-border-color('default');
            }

            &__table {
                padding-bottom: 2 * get-spacing('sm', 'rem');

                &__col-1 {
                    width: get-width('icon', 'rem');
                }

                &__col-2 {
                    width: get-width('icon', 'rem');
                }

                &__col-4 {
                    width: 4 * get-width('icon', 'rem');

                    & button {
                        width: 100%;
                    }
                }

                &__row {
                    cursor: pointer;
                    outline: none;
                }
            }
        }

        &__selected {
            &__text {
                width: calc(100% - #{9 * get-spacing('sm', 'rem')});
            }

            &__scroll {
                flex: 1;
                border: 1px solid get-border-color('default');
            }

            &__app {
                padding: get-spacing('sm', 'rem');
                margin: get-spacing('sm', 'rem') 0;
                border: 1px solid get-border-color('default');
                border-radius: $border-radius;
            }

            &__header {
                &__img {
                    display: inline-block;
                    height: calc(#{get-height('sm', 'rem')} - 2px);
                    width: get-width('icon', 'rem');
                    padding: get-spacing('sm', 'rem') / 4 0;
                    text-align: center;
                    margin-right: get-spacing('sm', 'rem');

                    & img {
                        height: 100%;
                        margin: 0 auto;
                        display: block;
                        vertical-align: middle;
                        border: none;
                    }
                }

                &__text {
                    width: calc(
                        100% - #{get-width('icon', 'rem')} - #{get-spacing(
                                'sm',
                                'rem'
                            )}
                    );
                }
            }

            &__table {
                margin-bottom: get-spacing('sm', 'rem');

                &__col-3 {
                    width: 4 * get-width('icon', 'rem');

                    & button {
                        width: 100%;
                    }
                }

                &__row {
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
}
