<div class="xray-match">
    <div class="xray-match__content">
        <smss-field>
            <label> Select Hash: </label>
            <content>
                <browser-asset
                    model="xrayMatch.file"
                    only-directory="true"
                    layout="popover"
                ></browser-asset>
            </content>
        </smss-field>
        <div class="smss-row xray-match__apps">
            <div class="smss-col smss-col--6 xray-match__apps__col">
                <smss-field inline>
                    <label class="xray-match__apps__available__text">
                        Available:
                    </label>
                    <content>
                        <smss-btn
                            class="smss-right smss-btn--text"
                            ng-click="xrayMatch.addSelectedApp()"
                        >
                            Add All
                        </smss-btn>
                    </content>
                </smss-field>
                <smss-field>
                    <content class="xray-match__apps__available__search">
                        <app-list-dropdown
                            model="xrayMatch.app"
                            change="xrayMatch.getAvailable()"
                            class="xray-match__apps__available__search__content"
                            type="database"
                        >
                        </app-list-dropdown>
                        <div
                            class="xray-match__apps__available__search__content xray-match__apps__available__search__content--flex"
                        >
                            <smss-search
                                placeholder="Search available tables..."
                                model="xrayMatch.available.search"
                                change="xrayMatch.searchAvailable()"
                            >
                            </smss-search>
                            <smss-btn
                                class="smss-right smss-btn--icon"
                                ng-click="xrayMatch.toggleAvailable()"
                                title="Expand/Hide table properties"
                            >
                                <i
                                    class="fa"
                                    ng-class="{'fa-minus': xrayMatch.available.toggle, 'fa-plus ': !xrayMatch.available.toggle}"
                                ></i>
                            </smss-btn>
                        </div>
                    </content>
                </smss-field>
                <smss-scroll
                    static-x="true"
                    class="xray-match__apps__available__scroll"
                >
                    <div
                        class="smss-center smss-spacing"
                        ng-show="xrayMatch.available.filtered.length === 0"
                    >
                        <div class="smss-caption--center">No results.</div>
                        <div class="smss-caption--center">
                            Select another database or adjust search parameters.
                        </div>
                    </div>

                    <table
                        class="xray-match__apps__available__table"
                        ng-repeat="table in xrayMatch.available.filtered track by $index"
                    >
                        <thead>
                            <tr
                                title="{{table.alias}}"
                                ng-click="table.open = !table.open; xrayMatch.checkAvailableToggle()"
                                class="xray-match__apps__available__table__row"
                            >
                                <th class="smss-center smss--icon">
                                    <i
                                        class="fa"
                                        ng-class="{'fa-caret-down': table.open, 'fa-caret-right': !table.open}"
                                    ></i>
                                </th>
                                <th class="smss-center smss--icon">&nbsp;</th>
                                <th>{{table.alias}}</th>
                                <th
                                    class="xray-match__apps__available__table__col-4"
                                >
                                    <smss-btn
                                        title="Add Table"
                                        class="smss-btn--text smss-btn--compact"
                                        ng-click="$event.stopPropagation(); xrayMatch.addSelectedTable(table, true)"
                                    >
                                        Add
                                    </smss-btn>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-show="table.open">
                            <tr
                                title="{{column.alias}}"
                                ng-repeat="column in table.columns track by $index"
                            >
                                <td class="smss-center">
                                    <i
                                        class="fa fa-key"
                                        ng-if="column.isPrimKey"
                                        title="Concept"
                                    ></i>
                                    <i
                                        class="fa fa-columns"
                                        ng-if="!column.isPrimKey"
                                        title="Column"
                                    ></i>
                                </td>
                                <td class="smss-center">
                                    <i
                                        class="fa fa-font"
                                        ng-show="column.type === 'STRING'"
                                    ></i>
                                    <i
                                        class="fa fa-calendar-o"
                                        ng-show="column.type === 'DATE'"
                                    ></i>
                                    <i
                                        class="fa fa-clock-o"
                                        ng-show="column.type === 'TIMESTAMP'"
                                    ></i>
                                    <i
                                        class="fa fa-hashtag"
                                        ng-show="column.type === 'NUMBER'"
                                    ></i>
                                </td>
                                <td>{{column.alias}}</td>
                                <td
                                    class="smss-center xray-match__apps__available__table__col-4"
                                >
                                    <smss-btn
                                        title="Add {{column.alias}}"
                                        class="smss-btn--icon"
                                        ng-click="$event.stopPropagation(); xrayMatch.addSelectedColumn(table, column, true)"
                                    >
                                        <i
                                            class="fa fa-plus smss-color--success"
                                        ></i>
                                    </smss-btn>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </smss-scroll>
            </div>
            <div class="smss-col smss-col--6 xray-match__apps__col">
                <smss-field inline>
                    <label class="xray-match__apps__selected__text">
                        Selected Column(s):
                    </label>
                    <content>
                        <smss-btn
                            class="smss-right smss-btn--text"
                            ng-disabled="xrayMatch.selected.options.length === 0"
                            ng-click="xrayMatch.resetSelected()"
                        >
                            Clear All
                        </smss-btn>
                    </content>
                </smss-field>
                <smss-scroll
                    static-x="true"
                    class="xray-match__apps__selected__scroll"
                >
                    <div
                        class="xray-match__apps__selected__app"
                        ng-repeat="app in xrayMatch.selected.options track by $index"
                    >
                        <div class="smss-spacing smss-clear">
                            <div
                                class="smss-left xray-match__apps__selected__header__img"
                            >
                                <img ng-src="{{app.image}}" />
                            </div>
                            <div
                                class="smss-left smss-text xray-match__apps__selected__header__text"
                            >
                                {{app.alias}}
                            </div>
                        </div>
                        <table
                            class="xray-match__apps__selected__table"
                            ng-repeat="table in app.tables track by $index"
                        >
                            <thead>
                                <tr
                                    title="{{table.alias}}"
                                    ng-click="table.open = !table.open;"
                                    class="xray-match__apps__selected__table__row"
                                >
                                    <th class="smss-center smss--icon">
                                        <i
                                            class="fa"
                                            ng-class="{'fa-caret-down': table.open, 'fa-caret-right': !table.open}"
                                        ></i>
                                    </th>
                                    <th class="smss-clear">{{table.alias}}</th>
                                    <th
                                        class="xray-match__apps__selected__table__col-3"
                                    >
                                        <smss-btn
                                            class="smss-btn--text"
                                            ng-click="$event.stopPropagation(); xrayMatch.removeSelectedTable(table)"
                                        >
                                            Remove
                                        </smss-btn>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-show="table.open">
                                <tr
                                    ng-repeat="column in table.columns track by $index"
                                >
                                    <td class="smss-center">
                                        <i
                                            class="fa fa-font"
                                            ng-show="column.type === 'STRING'"
                                        ></i>
                                        <i
                                            class="fa fa-calendar-o"
                                            ng-show="column.type === 'DATE'"
                                        ></i>
                                        <i
                                            class="fa fa-clock-o"
                                            ng-show="column.type === 'TIMESTAMP'"
                                        ></i>
                                        <i
                                            class="fa fa-hashtag"
                                            ng-show="column.type === 'NUMBER'"
                                        ></i>
                                    </td>
                                    <td class="smss-clear">{{column.alias}}</td>
                                    <td
                                        class="xray-match__apps__selected__table__col-3"
                                    >
                                        <smss-btn
                                            class="smss-btn--icon"
                                            ng-click="xrayMatch.removeSelectedColumn(column, true)"
                                        >
                                            <i
                                                class="fa fa-times smss-color--error"
                                            ></i>
                                        </smss-btn>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </smss-scroll>
            </div>
        </div>
        <smss-field inline>
            <label>Similarity (%):</label>
            <content>
                <smss-input
                    type="number"
                    min="0"
                    max="100"
                    ng-model="xrayMatch.similarity"
                >
                </smss-input>
            </content>
        </smss-field>
        <smss-field inline>
            <label>Candidate (%):</label>
            <content>
                <smss-input
                    type="number"
                    min="0"
                    max="100"
                    ng-model="xrayMatch.candidate"
                >
                </smss-input>
            </content>
        </smss-field>
        <smss-field>
            <content>
                <smss-checkbox model="xrayMatch.sameDb">
                    Match in the Same Database?
                </smss-checkbox>
            </content>
        </smss-field>
        <smss-field>
            <content>
                <smss-checkbox model="xrayMatch.rowComparison">
                    Perform Comparison On Data Rows?
                </smss-checkbox>
            </content>
        </smss-field>
    </div>
    <div class="smss-action">
        <smss-btn ng-click="xrayMatch.executeMatch();"> Execute </smss-btn>
    </div>
</div>
