/* Admin/ Settings Page */

@import '~theme';

.settings-permissions {
    font-size: 1rem;
    height: 100%;
    overflow: hidden;

    &__container {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    &__font--small {
        font-size: get-font-size('body-regular', 'rem');
    }

    &__table {
        &__row {
            height: #{get-height('block', 'em')};
            &--insight {
                height: calc(
                    #{get-height('sm', 'rem')} + #{get-spacing('sm', 'rem')}
                );
                color: get-text-color('low-emphasis');
                &__td {
                    padding-left: get-spacing('md', 'rem');
                    text-overflow: ellipsis;
                }
            }
            &__description {
                color: get-text-color('low-emphasis');
            }
        }
    }
}
