<div class="landing">
    <!-- <loading-screen model="landing.insights.search.loading"></loading-screen> -->
    <div class="landing__left">
        <landing-nav></landing-nav>
    </div>
    <div class="landing__right">
        <div class="landing__right__top">
            <h2 class="landing__right__top__title">
                <!-- Title for ALL -->
                <span ng-if="landing.view.selected == 'ALL'">
                    <span
                        ng-if="landing.tags.selected.length > 0 || landing.insights.search.searchTerm.length > 0"
                    >
                        {{landing.view.options[landing.view.selected].filteredDisplay}}
                    </span>
                    <span
                        ng-if="landing.tags.selected.length == 0 && landing.insights.search.searchTerm.length == 0"
                    >
                        {{landing.view.options[landing.view.selected].display}}
                    </span>
                </span>
                <!-- Title for PROJECT -->
                <smss-breadcrumb ng-if="landing.view.selected == 'PROJECT'">
                    <smss-breadcrumb-item
                        ng-click="landing.changeView('ALL', $event)"
                        title="View all insights"
                    >
                        All Insights
                    </smss-breadcrumb-item>
                    <smss-breadcrumb-item>
                        {{landing.view.options[landing.view.selected].display}}
                    </smss-breadcrumb-item>
                </smss-breadcrumb>
                <!-- Title for PROJECT-MANAGE -->
                <smss-breadcrumb
                    ng-if="landing.view.selected == 'PROJECT-MANAGE'"
                >
                    <smss-breadcrumb-item
                        ng-click="landing.changeView('ALL', $event)"
                        title="View all insights"
                    >
                        All Insights
                    </smss-breadcrumb-item>
                    <smss-breadcrumb-item
                        ng-click="landing.navigateToApp()"
                        title="View project insights"
                    >
                        {{landing.view.options.PROJECT.display}}
                    </smss-breadcrumb-item>
                    <smss-breadcrumb-item>
                        {{landing.view.options[landing.view.selected].display}}
                    </smss-breadcrumb-item>
                </smss-breadcrumb>
                <!-- Title for RECENT and STARRED -->
                <span
                    ng-if="landing.view.selected == 'RECENT' || landing.view.selected == 'STARRED'"
                >
                    {{landing.view.options[landing.view.selected].display}}
                </span>
            </h2>
            <div
                class="landing__right__top__container"
                ng-show="landing.view.selected != 'PROJECT-MANAGE'"
            >
                <smss-search
                    class="landing__right__top__input"
                    change="landing.searchInsights()"
                    model="landing.insights.search.searchTerm"
                    autofocus
                ></smss-search>
                <smss-btn-group>
                    <smss-btn
                        ng-click="landing.changeMode('CARD')"
                        class="smss-btn--icon"
                        ng-class="{'smss-btn--selected': landing.mode === 'CARD'}"
                        title="Change to card mode"
                    >
                        <i class="fa fa-th-large"></i>
                    </smss-btn>
                    <smss-btn
                        ng-click="landing.changeMode('LIST')"
                        class="smss-btn--icon"
                        ng-class="{'smss-btn--selected': landing.mode === 'LIST'}"
                        title="Change to list mode"
                    >
                        <i class="fa fa-th-list"></i>
                    </smss-btn>
                </smss-btn-group>
            </div>
        </div>
        <!-- Selected Tags -->
        <div
            class="landing__right__tags"
            ng-if="landing.tags.selected.length > 0 && landing.view.selected != 'PROJECT-MANAGE'"
        >
            <i class="fa fa-tag"></i>
            <h6>Tags</h6>
            <div class="landing__right__tags__container">
                <smss-scroll static-y="true">
                    <smss-tag
                        ng-repeat="tag in landing.tags.selected"
                        class="smss-tag--{{landing.tags.colors.mapping[tag]}}"
                        label="tag"
                        show-close="true"
                        on-close="landing.filterByTag(tag)"
                        title="Remove {{tag}}"
                    ></smss-tag>
                </smss-scroll>
            </div>
            <smss-btn
                class="smss-btn--icon"
                ng-click="landing.clearAllTags()"
                title="Clear Tags"
            >
                <i class="fa fa-times"></i>
            </smss-btn>
        </div>
        <div
            class="landing__manage"
            ng-if="landing.view.selected == 'PROJECT-MANAGE'"
        >
            <ui-view></ui-view>
        </div>
        <div
            class="landing__right__bottom"
            id="landing__insights-scroll"
            ng-show="landing.view.selected !== 'PROJECT-MANAGE'"
            ng-class="{'landing__right__bottom--short': landing.tags.selected.length > 0}"
        >
            <div
                class="landing__empty"
                ng-if="landing.insights.results.length === 0"
            >
                <i
                    class="fa fa-search"
                    ng-if="landing.insights.search.searchTerm.length > 0 || landing.tags.selected.length > 0"
                ></i>
                <p ng-if="landing.insights.search.searchTerm.length > 0">
                    No results found for
                    "{{landing.insights.search.searchTerm}}", please try another
                    one.
                </p>
                <p
                    ng-if="landing.insights.search.searchTerm.length == 0 && landing.tags.selected.length > 0"
                >
                    No results for your selected tags, please try again.
                </p>
            </div>
            <!-- Starred and Last Modified Quick Access -->
            <div
                ng-repeat="(key, value) in landing.quickAccess"
                ng-if="landing.view.selected === 'ALL' && value.results.length > 0 && landing.tags.selected.length == 0 && landing.insights.search.searchTerm.length == 0 && landing.insights.results.length > 0"
            >
                <div class="landing__sub-heading">
                    <h3>{{value.title}}</h3>
                    <h5 ng-click="landing.changeView(value.value, $event)">
                        View all
                    </h5>
                </div>
                <div
                    class="landing__insight-container"
                    ng-class="{'landing__insight-container--card-grid': landing.mode === 'CARD'}"
                >
                    <landing-card
                        ng-repeat="insight in value.results"
                        mode="landing.mode"
                        insight="insight"
                        ng-class="{'landing__card-grid': landing.mode === 'CARD', 'landing__card-inline': landing.mode === 'LIST'}"
                    >
                    </landing-card>
                </div>
            </div>
            <div
                class="landing__sub-heading"
                ng-if="landing.view.selected === 'ALL' && landing.insights.results.length > 0 && landing.tags.selected.length == 0 && landing.insights.search.searchTerm.length == 0"
            >
                <h3>All Insights</h3>
            </div>
            <!-- Insights -->
            <div
                class="landing__insight-container"
                ng-class="{'landing__insight-container--card-grid': landing.mode === 'CARD'}"
            >
                <div
                    ng-if="landing.insights.search.searchTerm.length == 0 && landing.tags.selected.length == 0 && landing.insights.results.length === 0"
                    class="landing__card--empty"
                    ng-class="{'smss-card-grid landing__card-grid': landing.mode === 'CARD', 'smss-card-inline landing__card-inline': landing.mode === 'LIST'}"
                    ng-click="landing.newInsight()"
                >
                    <span
                        ><i class="fa fa-plus"></i>Create the first
                        insight</span
                    >
                </div>
                <landing-card
                    ng-repeat="insight in landing.insights.results track by $index"
                    mode="landing.mode"
                    insight="insight"
                    ng-class="{'landing__card-grid': landing.mode === 'CARD', 'landing__card-inline': landing.mode === 'LIST'}"
                >
                </landing-card>
            </div>
        </div>
    </div>

    <!--New Project Overlay-->
    <create-project
        open="landing.projects.create.open"
        projects="landing.projects.raw"
        callback="landing.closeCreateProject"
    ></create-project>
    <!--Upload Project Overlay-->
    <upload-project
        open="landing.projects.upload.open"
        projects="landing.projects.raw"
        callback="landing.closeUploadProject"
    >
    </upload-project>
    <!-- Edit Insight Overlay -->
    <edit-insight
        open="landing.insights.edit.open"
        insight="landing.insights.edit.insight"
    ></edit-insight>
    <!-- Share Insight Overlay -->
    <share-insight
        open="landing.insights.share.open"
        insight="landing.insights.share.insight"
    ></share-insight>

    <!-- Delete Insight Overlay -->
    <smss-overlay open="landing.insights.delete.open" size="sm">
        <smss-overlay-header>Delete Insight</smss-overlay-header>
        <smss-overlay-body>
            Do you want to delete your insight?
            <span class="smss-color--error">
                Warning: Action is Permanent
            </span>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn
                class="smss-btn--text"
                ng-click="landing.closeInsightDelete();"
            >
                Cancel
            </smss-btn>
            <smss-btn
                class="smss-btn--error"
                ng-click="landing.onInsightDelete();"
            >
                Delete
            </smss-btn>
        </smss-overlay-footer>
    </smss-overlay>

    <!-- Delete App Overlay -->
    <smss-overlay open="landing.projects.delete.open" size="sm">
        <smss-overlay-header>Delete Project</smss-overlay-header>
        <smss-overlay-body>
            Do you want to delete your project?
            <span class="smss-color--error">
                Warning: Action is Permanent
            </span>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn
                class="smss-btn--text"
                ng-click="landing.closeAppDelete();"
            >
                Cancel
            </smss-btn>
            <smss-btn class="smss-btn--error" ng-click="landing.onAppDelete();">
                Delete
            </smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
</div>
