.create-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    min-width: 175px;
    max-width: 175px;
    background-color: white;
    overflow-y: hidden;
    border-right: 1px solid #ccc;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
}

.create-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 175px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    z-index: 3;
}

.create-content {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 37px;
    left: 175px;
    overflow: hidden;
    z-index: 3;
}

.create-footer {
    position: absolute;
    left: 175px;
    height: 37px;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 3;
}

.create-footer.full {
    left: 0;
}

.create-row-border {
    border-bottom: 1px solid #acb3b7;
}

.create-row-padding {
    padding: 7px 10px;
}

.create-scroll-div {
    overflow-y: auto !important;
    overflow-x: hidden;
    height: calc(100% - 75px);
    position: relative;
}

.create-options-div {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 5px;
}

.create-databases {
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);
}

.create-concept {
    height: calc(100% - 66px);
}

.create-concept-longer {
    height: calc(100% - 30px);
}

.create-concept-properties {
    height: calc(50%);
}

.create-properties {
    height: calc(50% - 29px);
}

.create-properties-body {
    height: calc(100% - 30px);
    overflow-y: auto !important;
    overflow-x: hidden;
}

.create-overflow {
    bottom: 0;
    position: absolute;
    top: 79px;
    height: calc(100% - 160px);
    border-right: 1px solid #ccc;
}

.create-dagre-close {
    color: red;
    cursor: pointer;
}

.create-dagre-bar {
    margin: 3px 0 3px 0;
    border-color: black;
    background-color: black;
    color: black;
}

.create-dagre-label-holder {
    overflow: hidden;
    line-height: 2;
    color: black;
    max-height: 110px;
}

.create-dagre-label-line {
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}

.create-dagre-label {
    width: 120px;
    overflow: hidden;
}

.create-dagre-carets {
    color: black;
    height: 10px;
    position: static;
    left: 39%;
}

.create-add-header {
    background: #EFEFEF;
    font-size: 14px;
    height: 30px;
    padding: 6px;
    font-weight: 500;
}

.create-border-btn {
    background: none;
    border: solid 1px #484848;
    border-radius: 4px;
    width: 24px;
    height: 22px;
    color: #545454;
    font-size: 11px;
}

.create-dagre-disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.create-border-btn.create-dagre-disabled {
    border: solid 1px #AAAAAA;
    border-radius: 4px;
}

.create-button {
    width: 28%;
    min-width: 122px;
    max-width: 320px;
    height: 50%;
    min-height: 145px;
    max-height: 210px;
}

/*Overwriting Bootstrap Tabs*/
.nav-tabs.nav-justified>li>a {
    color: #000000;
    background-color: #F0F0F0;
    margin-bottom: 0;
}

.nav-tabs.nav-justified>.active>a {
    border: none;
}

.nav-tabs.nav-justified>.active>a:hover {
    border: none;
    outline: none;
}

.nav-tabs.nav-justified>.active>li:focus {
    border: none;
    outline: none;
}

.nav-tabs>li.active>a {
    background-color: #FFFFFF;
    color: #000000;
}

.nav>li>a {
    padding: 6px 15px;
}

.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified>li:hover, .nav-tabs.nav-justified>li:focus{
    border: none;
    outline: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:active, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000000;
}

.slider-row {
    position: relative;
    display: block;
    padding: 7px;
    /*color: #223c57;*/
    color: black;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}