<div class="visualization-dimensions">
    <div class="visualization-dimensions__top">
        <div class="visualization-dimensions__content">
            <h5
                class="visualization-dimensions__padding visualization-dimensions__heading"
            >
                Data
            </h5>
            <smss-field
                class="visualization-dimensions__padding visualization-dimensions__selected-frame"
            >
                <label>Selected frame</label>
                <content>
                    <smss-dropdown
                        options="visualizationDimensions.availableFrames"
                        model="visualizationDimensions.frame"
                        display="name"
                        change="visualizationDimensions.setFrame()"
                    >
                    </smss-dropdown>
                </content>
            </smss-field>
            <div
                class="visualization-dimensions__subheading visualization-dimensions__padding"
            >
                <h6>Dimensions</h6>
                <!-- <i class="fa fa-star-o smss-right visualization-dimensions__recommendation"
                   ng-click="visualizationDimensions.toggleRecommendations();"
                   title="Toggle Visualization Recommendations">
                </i> -->
                <smss-btn
                    ng-hide="visualizationDimensions.frame.type === 'GRAPH' && (visualizationDimensions.fields.format === 'graph')"
                    ng-if="visualizationDimensions.active.layout === 'Grid' || visualizationDimensions.active.layout === 'ParallelCoordinates'"
                    title="Add all dimensions"
                    class="smss-btn--text smss-btn--compact"
                    ng-click="visualizationDimensions.addFields()"
                    >Add All
                </smss-btn>
            </div>
            <div class="visualization-dimensions__padding">
                <smss-search
                    model="visualizationDimensions.headers.search"
                    change="visualizationDimensions.searchHeaders();"
                    autofocus
                >
                </smss-search>
            </div>
            <div class="visualization-dimensions__available">
                <smss-scroll static-x="true">
                    <ul
                        class="visualization-dimensions__list"
                        id="visualization-dimensions__list--available"
                        dnd-list="visualizationDimensions.headers.searched"
                        dnd-drop="visualizationDimensions.onDragDrop(item, event)"
                    >
                        <li
                            ng-repeat="option in visualizationDimensions.headers.searched track by $index"
                            dnd-draggable="option"
                            dnd-dragstart="visualizationDimensions.onDragStart(event, $index, option)"
                            dnd-dragend="visualizationDimensions.onDragEnd()"
                            dnd-moved="visualizationDimensions.onDragMoved(visualizationDimensions.headers.searched, option)"
                            class="visualization-dimensions__list__swappable"
                            ng-class="{'visualization-dimensions__list__swappable--dragging': visualizationDimensions.drag.active}"
                            ng-dblclick="visualizationDimensions.addField(option)"
                        >
                            <span
                                class="visualization-dimensions__available__icon"
                            >
                                <i
                                    title="{{option.type}}"
                                    class="fa"
                                    ng-class="{ 'fa-font': (option.type === 'STRING'), 'fa-calendar-o': (option.type === 'DATE'), 'fa-clock-o': (option.type === 'TIMESTAMP'), 'fa-hashtag': (option.type === 'NUMBER')}"
                                >
                                </i>
                            </span>
                            <div
                                title="{{visualizationDimensions.generateTooltip(option)}}"
                                class="smss-text visualization-dimensions__available__text"
                            >
                                {{option.alias | replaceUnderscores}}
                            </div>
                        </li>
                    </ul>
                    <div
                        class="smss-caption--center"
                        style="height: auto"
                        ng-if="visualizationDimensions.headers.searched.length === 0"
                    >
                        No dimensions matched your search, please try again.
                    </div>
                </smss-scroll>
            </div>
        </div>
        <div class="visualization-dimensions__content">
            <h5
                class="visualization-dimensions__padding visualization-dimensions__heading"
            >
                Visual
            </h5>
            <div class="visualization-dimensions__padding">
                <div
                    smss-popover
                    class="visualization-dimensions__selected-visual"
                >
                    <div
                        class="visualization-dimensions__selected-visual__target"
                    >
                        <div class="smss-tile">
                            <div class="smss-tile__image">
                                <img
                                    ng-src="{{visualizationDimensions.visual.image}}"
                                    alt="{{visualizationDimensions.visual.name}}"
                                />
                            </div>
                            <div class="smss-tile__text">
                                <span
                                    >{{visualizationDimensions.visual.name}}</span
                                >
                            </div>
                        </div>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <smss-popover-content
                        class="visualization-dimensions__selected-visual__popover"
                        model="visualizationDimensions.showVisuals"
                    >
                        <view-layout></view-layout>
                    </smss-popover-content>
                </div>
            </div>
            <div
                class="visualization-dimensions__subheading visualization-dimensions__padding"
            >
                <h6>Fields</h6>
                <span>
                    <smss-btn
                        ng-if="visualizationDimensions.active.layout === 'Grid' && visualizationDimensions.aggregationSelected"
                        title="Reset Aggregation Selections"
                        class="smss-btn--text smss-btn--compact"
                        ng-click="visualizationDimensions.resetGridCalculations()"
                    >
                        Reset
                    </smss-btn>
                    <smss-btn
                        ng-hide="visualizationDimensions.frame.type === 'GRAPH' && (visualizationDimensions.fields.format === 'graph')"
                        class="smss-btn--text smss-btn--compact"
                        title="Clear all dimensions"
                        ng-click="visualizationDimensions.removeFields()"
                    >
                        Clear All
                    </smss-btn>
                </span>
            </div>
            <div
                class="visualization-dimensions__selected"
                id="visualization-dimensions__selected"
                ng-hide="visualizationDimensions.frame.type === 'GRAPH' && (visualizationDimensions.fields.format === 'graph')"
            >
                <smss-scroll static-x="true">
                    <div
                        class="visualization-dimensions__selected__group"
                        id="{{group.model}}"
                        ng-repeat="group in visualizationDimensions.fields.list"
                    >
                        <div
                            class="visualization-dimensions__selected__group__header"
                            id="{{ group.model }}"
                        >
                            <div
                                class="smss-h7 visualization-dimensions__selected__group__header__text"
                                title="{{group.name}}"
                            >
                                <span>{{group.name}}</span>
                                <span
                                    >({{group.selected.length}} /
                                    {{group.multiField ? 0 : 1}})</span
                                >
                            </div>
                            <div
                                title="{{group.description ? (group.optional ? 'Optional' + ' - ' + group.description : 'Required' + ' - ' + group.description) : (group.optional ? 'Optional' : 'Required')}}"
                                class="visualization-dimensions__selected__group__header__icon"
                            >
                                <i class="fa fa-info-circle"></i>
                            </div>
                        </div>

                        <ul
                            class="visualization-dimensions__list visualization-dimensions__list--dashed"
                            ng-class="{'visualization-dimensions__list--dragging': visualizationDimensions.drag.active, 'visualization-dimensions__list--filled': group.selected.length > 0}"
                            dnd-list="group.selected"
                            dnd-drop="visualizationDimensions.onDragDrop(item, event, group)"
                        >
                            <li
                                class="smss-clear visualization-dimensions__list__swappable"
                                ng-class="{'visualization-dimensions__list__swappable--dragging': visualizationDimensions.drag.active}"
                                id="{{ option.alias }}"
                                dnd-draggable="option"
                                dnd-moved="visualizationDimensions.onDragMoved(group.selected, option)"
                                dnd-dragstart="visualizationDimensions.onDragStart(event, $index, option)"
                                dnd-dragend="visualizationDimensions.onDragEnd()"
                                ng-repeat="option in group.selected track by $index"
                            >
                                <!-- <div class="smss-left smss-text visualization-dimensions__list__swappable__text"
                                        title="{{::visualizationDimensions.generateTooltip(option)}}">
                                    <span class="smss-small"> {{ option.alias | replaceUnderscores }} </span>
                                </div> -->
                                <div
                                    class="smss-text visualization-dimensions__list__swappable__text"
                                    ng-class="{'visualization-dimensions__list__swappable__text--grid': visualizationDimensions.active.layout === 'Grid' && option.math && option.math === 'Group'}"
                                    title="{{::visualizationDimensions.generateTooltip(option)}}"
                                >
                                    <span>
                                        {{ option.alias | replaceUnderscores }}
                                    </span>
                                </div>
                                <div
                                    class="visualization-dimensions__list__swappable__group"
                                    title="Group Dimension"
                                    ng-if="visualizationDimensions.active.layout === 'Grid' && option.math && option.math === 'Group'"
                                >
                                    <i
                                        class="fa fa-object-ungroup smss-color--primary"
                                        aria-hidden="true"
                                    ></i>
                                </div>
                                <smss-dropdown
                                    class="visualization-dimensions__list__swappable__dropdown"
                                    display="display"
                                    value="value"
                                    options="option.availableOptions"
                                    change="visualizationDimensions.updateFieldGroup()"
                                    ng-if="visualizationDimensions.active.layout === 'Grid' && option.availableOptions && option.availableOptions.length > 0 ? true : option.math"
                                    model="option.math"
                                    compact
                                >
                                </smss-dropdown>
                                <smss-btn
                                    class="smss-btn--icon"
                                    title="Remove dimension"
                                    ng-click="visualizationDimensions.removeField($parent.$index, $index)"
                                >
                                    <i class="fa fa-times"></i>
                                </smss-btn>
                            </li>
                            <div
                                class="smss-small visualization-dimensions__list__add"
                                ng-if="(group.multiField || group.selected.length === 0) && group.type !== 'input'"
                            >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Drag and drop to add
                            </div>
                            <!-- input ui -->
                            <div
                                class="smss-spacing"
                                ng-if="group.type === 'input'"
                            >
                                <smss-input
                                    placeholder="{{group.placeholder}}"
                                    title="e.g. {{group.placeholder}}"
                                    ng-keydown="$event.keyCode === 13 && visualizationDimensions.validateFields()"
                                    ng-model="visualizationDimensions.fields.additional[visualizationDimensions.active.layout][0]"
                                ></smss-input>
                            </div>
                        </ul>

                        <!-- group by additional UI -->
                        <div
                            class="smss-spacing"
                            ng-if="group.model === 'facet' && visualizationDimensions.type === 'echarts' && (visualizationDimensions.active.layout === 'Line' || visualizationDimensions.active.layout === 'Column' || visualizationDimensions.active.layout === 'Area' || visualizationDimensions.active.layout === 'Pie' || visualizationDimensions.active.layout === 'Funnel' || visualizationDimensions.active.layout === 'Scatter' || visualizationDimensions.active.layout === 'Map')"
                        >
                            <smss-checkbox
                                model="visualizationDimensions.facet.allInstances"
                                change="visualizationDimensions.validateFields()"
                            >
                                Show All Instances
                            </smss-checkbox>
                        </div>
                    </div>
                </smss-scroll>
            </div>
        </div>
    </div>

    <div
        class="visualization-dimensions__btn-group visualization-dimensions__padding"
    >
        <smss-toggle
            class="smss-toggle--small"
            change="visualizationDimensions.updateAutoDraw();"
            model="visualizationDimensions.autoDraw"
        >
            Auto Visualize
        </smss-toggle>
        <smss-btn
            class="smss-btn--compact"
            title="Create the visualization"
            ng-if="!visualizationDimensions.autoDraw"
            ng-click="visualizationDimensions.validateFields()"
        >
            Visualize
        </smss-btn>
        <!-- <smss-btn class="visualization-dimensions__btn-group__btn"
                  ng-if="visualizationDimensions.recommendations.available && visualizationDimensions.recommendations.toggle"
                  title="Use recommendations to create the visualization"
                  ng-click="visualizationDimensions.populateRecommended();">
            Use Recommended
        </smss-btn> -->
    </div>
</div>
