@import '~theme';

.mark-area {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &__container {
        height: 150px;
        border: 1px solid get-border-color('default');
    }

    &__rule {
        border: 1px solid get-border-color('default');
        border-radius: $border-radius;
        margin: get-spacing('sm', 'rem') 0;
        padding: 0 get-spacing('sm', 'rem');
        display: flex;
        align-items: center;
        height: get-height('default', 'rem');

        &__color {
            width: calc(#{get-height('default', 'rem')} / 2);
            height: calc(#{get-height('default', 'rem')} / 2);
            margin-right: get-spacing('sm', 'rem');
            &__block {
                width: 100%;
                height: 100%;
                display: inline-block;
            }
        }

        &__text {
            flex: 1;
            @include text-overflow();
            font-size: get-font-size('body-regular', 'rem');
        }
    }

    &__half {
        padding: 0 get-spacing('sm', 'rem');
    }

    &__field {
        display: flex;
        flex-direction: row;
        align-items: center;
        & .smss-field__label {
            width: auto;
        }
        & .smss-field__content {
            flex: 1;
        }
    }
}
