@import '~theme';

.dashboard-filter-dimensions {
    height: 100%;
    width: 100%;
    overflow: auto;

    &__restrict {
        padding: get-spacing('sm', 'em');
        border: 1px solid get-border-color('default');
        border-radius: $border-radius;
        background: get-background-color('light');
    }

    &__display-state {
        display: flex;
        &__label {
            width: auto !important;
        }
        &__dropdown {
            flex: 1;
        }
    }
}
