<smss-scroll static-x="true">
    <div class="document-summary">
        <h3>
            Get a high-level summary (main points, keywords, and topics) of a
            document.
        </h3>

        <smss-field>
            <label> Input Method: </label>
            <content>
                <smss-radio
                    model="documentSummary.inputMethod"
                    value="File Path"
                >
                    Local File
                </smss-radio>
                <smss-radio model="documentSummary.inputMethod" value="URL">
                    URL of Document
                </smss-radio>
                <smss-radio
                    model="documentSummary.inputMethod"
                    value="Enter Manually"
                >
                    Insert / Paste Text
                </smss-radio>
            </content>
        </smss-field>

        <div
            ng-if="documentSummary.inputMethod === 'File Path'"
            flow-name="documentSummary.fileData"
            flow-file-added="documentSummary.checkFileExtension($file);"
            flow-init="{singleFile: true}"
            flow-drop
            ng-class="dropClass2"
            flow-drag-enter="dropClass2='drop-zone--enter'"
            flow-drag-leave="dropClass2=''"
            class="drop-zone drop-zone--borderless document-summary__drop"
        >
            <smss-field>
                <label>
                    Select File:
                    <span
                        ng-if="documentSummary.inputMethod === 'Enter Manually'"
                    >
                    </span>
                </label>
                <content>
                    <div
                        class="drop-zone__container document-summary__drop__container"
                        ng-class="{'drop-zone__container--upload': documentSummary.fileData.files.length > 0}"
                    >
                        <div
                            class="drop-zone__message"
                            ng-if="documentSummary.fileData.files.length == 0"
                        >
                            <div class="drop-zone__message__icon">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="drop-zone__message__text">
                                Drag and drop files
                            </div>
                            <smss-btn
                                class="smss-btn--outline smss-btn--compact"
                                flow-btn
                                >or upload</smss-btn
                            >
                        </div>
                        <div
                            ng-repeat="file in documentSummary.fileData.files"
                            class="drop-zone__file drop-zone__file--single"
                        >
                            <div class="drop-zone__file__icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div
                                class="drop-zone__file__text"
                                title="{{file.name}}"
                            >
                                {{file.name}}
                            </div>
                            <smss-btn
                                ng-click="file.cancel()"
                                class="smss-btn--outline smss-btn--compact"
                            >
                                Remove
                            </smss-btn>
                        </div>
                    </div>
                </content>
            </smss-field>
        </div>
        <smss-field ng-if="documentSummary.inputMethod === 'Enter Manually'">
            <label> Insert Text Below </label>
            <content>
                <smss-textarea
                    ng-model="documentSummary.inputText"
                    ng-trim="false"
                ></smss-textarea>
            </content>
        </smss-field>
        <smss-field ng-if="documentSummary.inputMethod === 'URL'">
            <label>Enter URL:</label>
            <content>
                <smss-input ng-model="documentSummary.inputURL"> </smss-input>
            </content>
        </smss-field>

        <div class="smss-spacing">
            <smss-checkbox model="documentSummary.advanced">
                Advanced Settings
            </smss-checkbox>
        </div>

        <smss-field inline ng-if="documentSummary.advanced">
            <label
                title="Set the maximum number of sentences to include in the document summary"
            >
                Sentences:
            </label>
            <content>
                <smss-input
                    type="number"
                    ng-model="documentSummary.maxSentences"
                    min="1"
                    max="15"
                >
                </smss-input>
            </content>
        </smss-field>

        <smss-field inline ng-if="documentSummary.advanced">
            <label
                title="Set the maximum number of document topics to show in a pie chart"
            >
                Topics:
            </label>
            <content>
                <smss-input
                    class="smss-right document-summary__input"
                    type="number"
                    ng-model="documentSummary.maxTopics"
                    min="1"
                    max="20"
                >
                </smss-input>
            </content>
        </smss-field>

        <smss-field inline ng-if="documentSummary.advanced">
            <label
                title="Set the maximum number of keyword topics to show in a word cloud"
            >
                Topic Keywords:
            </label>
            <content>
                <smss-input
                    class="smss-right document-summary__input"
                    type="number"
                    ng-model="documentSummary.maxKeywords"
                    min="1"
                    max="20"
                >
                </smss-input>
            </content>
        </smss-field>

        <!-- EXECUTE -->
        <!-- TODO add disabled state -->
        <div class="smss-action">
            <smss-btn ng-click="documentSummary.execute()" ng-disabled="false">
                Execute
            </smss-btn>
        </div>
    </div>
</smss-scroll>
