@import '~theme';
/** +1 because of border (and we want to keep the icons a consistent height/width) **/
.mdm-connect {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &__accordion {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: inherit;
        width: inherit;
        border: none;
        border-radius: 0;
        &__section {
            position: relative;
            height: calc(
                100% - #{(
                        get-height('sm', 'rem') + 2 * get-spacing('sm', 'rem')
                    )}
            );
            width: 100%;
        }
    }
}
