@import '~theme';

.block {
    margin-bottom: 1.5em;

    &__wrapper {
        padding: get-spacing('sm', 'em') 0;
    }

    &__menu {
        height: get-height('sm', 'em');
        line-height: get-height('sm', 'em');
        border-left: 1px solid get-border-color('default');
        border-right: 1px solid get-border-color('default');
    }

    &__example {
        position: relative;
        border: 1px solid get-border-color('default');
        padding: get-height('sm', 'em') get-spacing('sm', 'em') * 2;
        min-height: 200px;
        &__anchor {
            position: absolute;
            right: 0;
            bottom: 0;

            &::before {
                font-family: FontAwesome;
                content: '\f121';
            }
        }
    }

    &__content {
        padding: 20px;
        background: get-background-color('light');
        border: 1px solid get-border-color('default');
        // border-top: none;
        min-height: 150px;
        max-height: 400px;
        overflow: auto;
    }
}
