@import '~theme';

$checkbox-base: get-font-size('body-large', 'rem');
$checkbox-border: 2px;
$checkbox-radius: 2px;

.smss-checkbox {
    font-size: $checkbox-base;
    position: relative;
    display: flex;
    align-items: center;
    min-height: get-height('default', 'em');
    width: 100%;
    cursor: pointer;
    outline: none;
    @include no-select();

    &:hover {
        & > .smss-checkbox__input ~ .smss-checkbox__mark {
            border-color: get-border-color('primary');
        }
    }

    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        @include no-events();

        & > .smss-checkbox__mark {
            background: get-background-color('default');
            border-color: get-border-color('default');
            color: get-text-color('white');

            &--checked {
                background: get-background-color('disabled');
            }
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
        margin: 0;
        cursor: pointer;

        &:focus-visible {
            & ~ .smss-checkbox__mark {
                box-shadow: get-box-shadow('focus', 'primary');
            }
        }
    }

    &__mark {
        height: get-height('square', 'em');
        width: get-width('square', 'em');
        line-height: calc(
            #{get-height('square', 'em')} - #{2 * $checkbox-border}
        );
        text-align: center;
        background: get-background-color('default');
        overflow: hidden;
        box-shadow: none;
        border-width: $checkbox-border;
        border-style: solid;
        border-color: get-border-color('dark');
        border-radius: $checkbox-radius;
        flex-shrink: 0;

        &--checked {
            background: get-background-color('primary');
            border-color: get-border-color('primary');
            color: get-text-color('white');

            &:after {
                display: block;
                font-family: FontAwesome;
                font-size: get-font-size('body-regular', 'em');
                content: '\f00c';
            }
        }
    }

    &__text {
        flex: 1;
        line-height: $line-height--large;
        font-size: get-font-size('body-regular', 'em');
        padding: 0
            rescale(
                get-spacing('sm', 'em'),
                1em,
                get-font-size('body-regular', 'em')
            );
        color: get-text-color('medium-emphasis');
        @include text-overflow();
    }
}
