<div class="create-free-text-backdrop absolute full-width full-height" ng-click="createFreeText.hideFreeText()"></div>
<loading-screen loading-screen-show="createFreeText.loadScreen"></loading-screen>

<!--Create Free Text Step 1-->
<div class="create-free-text-wrapper absolute" ng-show="createFreeText.step === 1">

    <label class="lg-font sm-padding sm-top-margin full-width xs-btm-padding inline">
        <div class="xs-top-padding inline">Select Web Source:</div>

        <select name="webSource" class="form-control web-source"
                ng-model="createFreeText.webSource"
                ng-required="true">
            <option ng-repeat="source in createFreeText.sources" value="{{source}}">{{source}}</option>
        </select>
    </label>

    <label class="sm-padding xs-top-padding">
        Enter Text
        <i class="fa fa-chevron-down"></i>
    </label>
    <div class="create-free-text-content web-source absolute left right sm-margin">
        <textarea class="full-height full-width" ng-model="createFreeText.pasteData" ng-trim="false"></textarea>
    </div>


    <div class="create-free-text-footer left absolute right bottom border-top"
         ng-class="{'drop-opacity': dropClass2==='drop-zone-border'}">
        <button class="sm-btn btn-light pull-left sm-margin smmd-top-margin"
                ng-click="createFreeText.hideFreeText()">
            Cancel
        </button>

        <button class="sm-btn btn-light pull-right sm-margin smmd-top-margin" ng-click="createFreeText.parseData()"
                ng-class="{'disabled': !createFreeText.pasteData || !createFreeText.webSource}">Next
        </button>

    </div>
</div>


<!--Create Free Text Step 2-->
<div class="create-free-text-wrapper absolute" ng-show="createFreeText.step === 2">

    <label class="lg-font sm-padding sm-top-margin">
        Data Selection
    </label>

    <div class="create-free-text-content absolute left right sm-margin overflow-auto">
        <div ng-show="createFreeText.fileData.files.length > 1 || createFreeText.insightId !== 'new'">
            <label>Table Joins: </label>
            <div ng-repeat="(key, value) in createFreeText.tableJoins">
                <div>
                    {{key}}:
                    <i class="fa fa-plus pointer" ng-click="createFreeText.addTableJoin(key)"></i>
                </div>
                <div ng-repeat="join in value">
                    <select class="quarter-width"
                            ng-options="header.title as header.name for header in join.existingConcept.headers"
                            ng-model="join.existingConcept.selected">
                        <option value="">--Select Existing Columns--</option>
                    </select>
                    <select class="quarter-width"
                            ng-options="item.value as item.display for item in join.joinType.options"
                            ng-model="join.joinType.selected">
                        <option value="">--Select Join Type--</option>
                    </select>
                    <select class="quarter-width"
                            ng-options="header2.title as header2.name for header2 in join.newConcept.headers"
                            ng-model="join.newConcept.selected">
                        <option value="">--Select New Columns--</option>
                    </select>
                    <i class="fa fa-minus pointer" ng-hide="value.length === 1"
                       ng-click="createFreeText.removeTableJoin(key, $index)"></i>
                </div>
            </div>
        </div>

        <div class="disabled"
             ng-class="{'create-free-text-data-selection':!createFreeText.isEmpty(createFreeText.addedNodes)}">
            <div ng-repeat="sheet in createFreeText.headerData track by $index" class="sm-margin">

                <div class="grid12 create-free-text-dropdown">
                    <div class="grid5 bold" ng-click="sheet.open = !sheet.open">
                        <i class="fa" ng-class="{'fa-caret-down': sheet.open, 'fa-caret-right': !sheet.open}"></i>
                        {{sheet.title}}
                    </div>


                    <div class="grid3" ng-if="sheet.open">
                        <div class="pull-right">
                            Select Column To Bind On:
                        </div>
                    </div>
                    <div class="grid4" ng-if="sheet.open">
                        <select class="full-width pull-right"
                                ng-options="header.title as header.title for header in sheet.headers | filter:header.selected='true'"
                                ng-model="sheet.mainColumn">
                            <option value="">&#45;&#45;Select Connection Option&#45;&#45;</option>
                        </select>
                    </div>
                </div>


                <div ng-if="sheet.open">
                    <div class="create-free-text-name sm-left-padding inline bold">
                        Column Name
                    </div>
                    <div class="create-free-text-type center inline bold">
                        Data Type
                    </div>
                    <div class="create-free-text-hide center inline bold">
                        Hide
                    </div>

                    <div ng-repeat="header in sheet.headers track by $index">
                        <div class="inline create-free-text-name sm-left-padding overflow-ellipsis"
                             ng-class="{'disabled': !header.selected}">
                            {{header.title}}
                        </div>
                        <div class="inline create-free-text-type" ng-class="{'disabled': !header.selected}">
                            <button class="btn-flat" ng-class="{'btn-flat-selected':header.type ==='STRING'}"
                                    ng-click="header.type = 'STRING'">
                                <i class="fa fa-font"></i> String
                            </button>
                            <button class="btn-flat" ng-class="{'btn-flat-selected':header.type ==='DOUBLE'}"
                                    ng-click="header.type = 'DOUBLE'">
                                <i class="fa fa-hashtag"></i> Number
                            </button>
                            <button class="btn-flat" ng-class="{'btn-flat-selected':header.type ==='DATE'}"
                                    ng-click="header.type = 'DATE'">
                                <i class="fa fa-calendar"></i> Date
                            </button>
                        </div>
                        <button class="btn-flat create-free-text-hide inline"
                                ng-click="header.selected = !header.selected">
                            <i class="fa" ng-class="{'fa-plus': !header.selected, 'fa-times':header.selected}"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--- Comment out Till Functionality Exists -->
        <!--<div class="create-free-text-connections absolute" ng-if="!createFreeText.isEmpty(createFreeText.addedNodes)">
            <div class="grid12 bold">
                Select Column To Connect On
            </div>
            <div class="grid5">
                <select class="font-family xs-top-margin ng-pristine full-width form-control"
                        ng-options="v as k for (k, v) in createFreeText.addedNodes"
                        ng-model="createFreeText.connectionFrom">
                    <option value="">&#45;&#45;Select Connection Option&#45;&#45;</option>
                </select>
            </div>
            <div class="grid2 center">
                To
            </div>
            <div class="grid5">
                <select class="font-family xs-top-margin ng-pristine full-width form-control"
                        ng-options="header.title as header.title for header in createFreeText.tableHeaders | filter:chart.selected='true'"
                        ng-model="createFreeText.connectionTo">
                    <option value="">&#45;&#45;Select Connection Option&#45;&#45;</option>
                </select>
            </div>
        </div>-->
    </div>


    <div class="create-free-text-footer left absolute right bottom border-top">
        <button class="sm-btn btn-light pull-left sm-margin smmd-top-margin"
                ng-click="createFreeText.navigateToFirstStep()">
            Back
        </button>

        <button class="sm-btn btn-light pull-right sm-margin smmd-top-margin"
                ng-disabled="createFreeText.checkValidJoins() || createFreeText.isValidDB() "
                ng-click="createFreeText.loadData()">
            Load
        </button>
    </div>


</div>