<smss-scroll static-x="true" class="panel-settings">
    <smss-field>
        <label> Type: </label>
        <content>
            <smss-radio
                change="panelSettings.change()"
                model="panelSettings.config.type"
                value="golden"
            >
                Standard
            </smss-radio>
            <smss-radio
                change="panelSettings.change()"
                model="panelSettings.config.type"
                value="floating"
            >
                Floating
            </smss-radio>
        </content>
    </smss-field>
    <smss-field ng-if="panelSettings.config.type !== 'floating'">
        <label> Update Name: </label>
        <content>
            <smss-input
                ng-model="panelSettings.panelLabel"
                placeholder="Enter a new name"
            >
            </smss-input>
        </content>
    </smss-field>
    <div class="smss-collapsible-group">
        <smss-collapsible>
            <smss-collapsible-header> Decoration </smss-collapsible-header>
            <smss-collapsible-content>
                <div ng-if="panelSettings.config.type === 'floating'">
                    <h6 class="panel-settings__section-title">Border</h6>
                    <smss-field inline>
                        <label> Width: </label>
                        <content>
                            <div class="panel-settings__split">
                                <smss-input
                                    type="number"
                                    ng-model="panelSettings.borderWidth.number"
                                ></smss-input>
                                <smss-tab-group>
                                    <smss-tab
                                        class="smss-tab--small"
                                        ng-class="{'smss-tab--selected': panelSettings.borderWidth.unit === 'px'}"
                                        ng-click="panelSettings.borderWidth.unit = 'px'"
                                        >px</smss-tab
                                    >
                                    <smss-tab
                                        class="smss-tab--small"
                                        ng-class="{'smss-tab--selected': panelSettings.borderWidth.unit === 'em'}"
                                        ng-click="panelSettings.borderWidth.unit = 'em'"
                                        >em</smss-tab
                                    >
                                </smss-tab-group>
                            </div>
                        </content>
                    </smss-field>
                    <smss-field inline>
                        <label> Style: </label>
                        <content>
                            <smss-dropdown
                                model="panelSettings.config.borderStyle"
                                options="['','none','hidden','dotted','dashed','solid','double','groove','ridge','inset','outset','initial','inherit']"
                            >
                            </smss-dropdown>
                        </content>
                    </smss-field>
                    <smss-field inline>
                        <label> Color: </label>
                        <content>
                            <smss-color-picker
                                color-theme="panelSettings.theme"
                                model="panelSettings.config.borderColor"
                            >
                            </smss-color-picker>
                        </content>
                    </smss-field>
                    <hr />
                </div>

                <div ng-if="panelSettings.config.type === 'floating'">
                    <h6 class="panel-settings__section-title">Box Shadow</h6>
                    <div class="panel-settings__split">
                        <smss-field class="panel-settings__split__first">
                            <label>Offset X:</label>
                            <content class="panel-settings__split">
                                <smss-input
                                    type="number"
                                    ng-model="panelSettings.shadow.x"
                                ></smss-input>
                                <span class="panel-settings__unit-label"
                                    >px</span
                                >
                            </content>
                        </smss-field>
                        <smss-field>
                            <label>Offset Y:</label>
                            <content class="panel-settings__split">
                                <smss-input
                                    type="number"
                                    ng-model="panelSettings.shadow.y"
                                ></smss-input>
                                <span class="panel-settings__unit-label"
                                    >px</span
                                >
                            </content>
                        </smss-field>
                    </div>
                    <div class="panel-settings__split">
                        <smss-field class="panel-settings__split__first">
                            <label>Blur:</label>
                            <content class="panel-settings__split">
                                <smss-input
                                    type="number"
                                    ng-model="panelSettings.shadow.blur"
                                    min="0"
                                ></smss-input>
                                <span class="panel-settings__unit-label"
                                    >px</span
                                >
                            </content>
                        </smss-field>
                        <smss-field class="panel-settings__split">
                            <label>Spread:</label>
                            <content class="panel-settings__split">
                                <smss-input
                                    type="number"
                                    ng-model="panelSettings.shadow.spread"
                                ></smss-input>
                                <span class="panel-settings__unit-label"
                                    >px</span
                                >
                            </content>
                        </smss-field>
                    </div>
                    <smss-field inline>
                        <label>Color:</label>
                        <content>
                            <smss-color-picker
                                model="panelSettings.config.shadowColor"
                            ></smss-color-picker>
                        </content>
                    </smss-field>
                    <hr />
                </div>

                <smss-field inline>
                    <label> Background Color: </label>
                    <content>
                        <smss-color-picker
                            color-theme="panelSettings.theme"
                            model="panelSettings.config.backgroundColor"
                        >
                        </smss-color-picker>
                    </content>
                </smss-field>
                <smss-field inline>
                    <label> Opacity: </label>
                    <content>
                        <smss-slider
                            model="panelSettings.config.opacity"
                            min="10"
                            max="100"
                            numerical
                        >
                        </smss-slider>
                    </content>
                </smss-field>
            </smss-collapsible-content>
        </smss-collapsible>

        <smss-collapsible ng-if="panelSettings.config.type === 'floating'">
            <smss-collapsible-header> Positioning </smss-collapsible-header>
            <smss-collapsible-content>
                <smss-field inline>
                    <label> Top: </label>
                    <content class="smss-clear">
                        <div class="panel-settings__split">
                            <smss-input
                                type="number"
                                ng-model="panelSettings.position.top.number"
                            ></smss-input>
                            <smss-tab-group>
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.top.unit === '%'}"
                                    ng-click="panelSettings.position.top.unit = '%'"
                                    >%</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.top.unit === 'px'}"
                                    ng-click="panelSettings.position.top.unit = 'px'"
                                    >px</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.top.unit === 'em'}"
                                    ng-click="panelSettings.position.top.unit = 'em'"
                                    >em</smss-tab
                                >
                            </smss-tab-group>
                        </div>
                    </content>
                </smss-field>
                <smss-field inline>
                    <label> Left: </label>
                    <content class="smss-clear">
                        <div class="panel-settings__split">
                            <smss-input
                                type="number"
                                ng-model="panelSettings.position.left.number"
                            ></smss-input>
                            <smss-tab-group>
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.left.unit === '%'}"
                                    ng-click="panelSettings.position.left.unit = '%'"
                                    >%</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.left.unit === 'px'}"
                                    ng-click="panelSettings.position.left.unit = 'px'"
                                    >px</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.left.unit === 'em'}"
                                    ng-click="panelSettings.position.left.unit = 'em'"
                                    >em</smss-tab
                                >
                            </smss-tab-group>
                        </div>
                    </content>
                </smss-field>
                <smss-field inline>
                    <label> Height: </label>
                    <content class="smss-clear">
                        <div class="panel-settings__split">
                            <smss-input
                                type="number"
                                ng-model="panelSettings.position.height.number"
                            ></smss-input>
                            <smss-tab-group>
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.height.unit === '%'}"
                                    ng-click="panelSettings.position.height.unit = '%'"
                                    >%</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.height.unit === 'px'}"
                                    ng-click="panelSettings.position.height.unit = 'px'"
                                    >px</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.height.unit === 'em'}"
                                    ng-click="panelSettings.position.height.unit = 'em'"
                                    >em</smss-tab
                                >
                            </smss-tab-group>
                        </div>
                    </content>
                </smss-field>
                <smss-field inline>
                    <label> Width: </label>
                    <content class="smss-clear">
                        <div class="panel-settings__split">
                            <smss-input
                                type="number"
                                ng-model="panelSettings.position.width.number"
                            ></smss-input>
                            <smss-tab-group>
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.width.unit === '%'}"
                                    ng-click="panelSettings.position.width.unit = '%'"
                                    >%</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.width.unit === 'px'}"
                                    ng-click="panelSettings.position.width.unit = 'px'"
                                    >px</smss-tab
                                >
                                <smss-tab
                                    class="smss-tab--small"
                                    ng-class="{'smss-tab--selected': panelSettings.position.width.unit === 'em'}"
                                    ng-click="panelSettings.position.width.unit = 'em'"
                                    >em</smss-tab
                                >
                            </smss-tab-group>
                        </div>
                    </content>
                </smss-field>
                <smss-field inline>
                    <label> Z Index: </label>
                    <content>
                        <smss-input
                            type="number"
                            ng-model="panelSettings.config.zIndex"
                        >
                        </smss-input>
                    </content>
                </smss-field>
            </smss-collapsible-content>
        </smss-collapsible>
    </div>
    <div class="smss-action">
        <smss-btn ng-click="panelSettings.save()"> Save </smss-btn>
    </div>
</smss-scroll>
