@import '~theme';

.panel-settings {
    &__split {
        display: flex;
        align-items: center;
        &__first {
            margin-right: get-spacing('lg', 'rem');
        }
    }
    &__section-title {
        margin-bottom: get-spacing('md', 'rem');
    }
    &__unit-label {
        font-size: get-font-size('body-regular', 'rem');
        font-weight: get-font-weight('medium');
        color: get-text-color('medium-emphasis');
        margin-left: get-spacing('xs', 'rem');
    }
}
