<div class="settings-insights__insights">
    <div
        ng-show="settingsInsights.insights[settingsInsights.projectId]"
        class="settings-insights__insights__content"
    >
        <div class="settings-insights__insights__table">
            <span
                ng-if="settingsInsights.insights[settingsInsights.projectId].length === 0"
                >No editable insights</span
            >
            <table
                class="smss--sticky smss--active"
                ng-if="!settingsCtrl.selectedInsight && settingsInsights.insights[settingsInsights.projectId].length > 0"
            >
                <thead>
                    <tr>
                        <th>Insight</th>
                        <th class="smss-col--2">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="insight in settingsInsights.insights[settingsInsights.projectId] | filter: settingsInsights.insightSearchterm as insightResults"
                    >
                        <td title="{{insight.name}}">
                            {{insight.name}} &nbsp;
                            <i
                                class="fa fa-lock settings__font--gray"
                                ng-if="!insight.insight_global"
                            ></i>
                        </td>
                        <td class="smss-center">
                            <smss-btn
                                class="smss-btn--icon"
                                title="Edit Insight"
                                ng-click="settingsInsights.updateInsight(insight);"
                            >
                                <i class="fa fa-pencil"></i>
                            </smss-btn>
                            <smss-btn
                                class="smss-btn--icon"
                                title="Delete Insight"
                                ng-if="settingsCtrl.selectedPage === 'admin-permissions' || insight.permission === 'OWNER' || insight.CONSTANT_OWNER === 'OWNER'"
                                ng-click="settingsInsights.openDeleteInsightOverlay(insight);"
                            >
                                <i class="fa fa-trash-o"></i>
                            </smss-btn>
                        </td>
                    </tr>
                    <tr ng-if="insightResults.length === 0">
                        <td colspan="2">
                            <p class="smss-color--low-emphasis">
                                No insights, please try again.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div
                class="smss-center"
                ng-if="settingsCtrl.selectedInsight && settingsInsights.currentUsers.length === 0"
            >
                No members have permission for this insight yet.
            </div>

            <table
                class="smss--sticky smss--active"
                ng-if="settingsCtrl.selectedInsight && settingsInsights.currentUsers.length > 0"
            >
                <thead>
                    <tr>
                        <th
                            ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                        >
                            User ID
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th
                            class="settings__content__item__right__content__dropdown"
                        >
                            Author
                            <smss-btn
                                class="smss-btn--icon"
                                ng-click="settingsCtrl.confirmAddPermissionsAll('OWNER', false, settingsCtrl.selectedInsight, 'Insights')"
                                ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                            >
                                <i
                                    class="fa fa-chevron-down settings__font--gray"
                                ></i>
                            </smss-btn>
                        </th>
                        <th
                            class="settings__content__item__right__content__dropdown"
                        >
                            Editor
                            <smss-btn
                                class="smss-btn--icon"
                                ng-click="settingsCtrl.confirmAddPermissionsAll('EDIT', false, settingsCtrl.selectedInsight, 'Insights')"
                                ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                            >
                                <i
                                    class="fa fa-chevron-down settings__font--gray"
                                ></i>
                            </smss-btn>
                        </th>
                        <th
                            class="settings__content__item__right__content__dropdown"
                        >
                            Read-Only
                            <smss-btn
                                class="smss-btn--icon"
                                ng-click="settingsCtrl.confirmAddPermissionsAll('READ-ONLY', false, settingsCtrl.selectedInsight, 'Insights')"
                                ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                            >
                                <i
                                    class="fa fa-chevron-down settings__font--gray"
                                ></i>
                            </smss-btn>
                        </th>
                        <th class="smss--icon">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="user in settingsInsights.currentUsers | filter: settingsInsights.userSearchterm as userResults"
                    >
                        <td
                            title="{{user.id}}"
                            ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                        >
                            {{user.id}}
                        </td>
                        <td title="{{user.name}}">{{user.name}}</td>
                        <td title="{{user.email}}">{{user.email}}</td>
                        <td class="smss-center">
                            <smss-checkbox
                                model="user.author"
                                change="user.permission = 'OWNER'; settingsInsights.editInsightUser(settingsInsights.insight, user.id, user.permission)"
                            >
                            </smss-checkbox>
                        </td>
                        <td class="smss-center">
                            <smss-checkbox
                                model="user.editor"
                                change="user.permission = 'EDIT'; settingsInsights.editInsightUser(settingsInsights.insight, user.id, user.permission)"
                            >
                            </smss-checkbox>
                        </td>
                        <td class="smss-center">
                            <smss-checkbox
                                model="user.read_only"
                                change="user.permission = 'READ_ONLY'; settingsInsights.editInsightUser(settingsInsights.insight, user.id, user.permission)"
                            >
                            </smss-checkbox>
                        </td>
                        <td class="smss-center">
                            <smss-btn
                                class="smss-btn--icon"
                                title="Delete User"
                                ng-click="settingsInsights.openDeleteInsightUserOverlay(user.id);"
                            >
                                <i class="fa fa-trash-o"></i>
                            </smss-btn>
                        </td>
                    </tr>
                    <tr ng-if="userResults.length === 0">
                        <td
                            colspan="{{settingsCtrl.selectedPage === 'admin-permissions' ? 7 : 6}}"
                        >
                            <p class="smss-color--low-emphasis">
                                No members, please try again.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<smss-overlay open="settingsCtrl.accessAllOverlay.show" size="sm">
    <smss-overlay-header>Edit Permissions</smss-overlay-header>
    <smss-overlay-body
        >Give {{settingsCtrl.accessAllOverlay.permission}} access to all members
        for
        {{settingsCtrl.accessAllOverlay.givePermissionTo.name}}?</smss-overlay-body
    >
    <smss-overlay-footer>
        <smss-btn
            class="smss-btn--text"
            ng-click="settingsCtrl.accessAllOverlay.show = false"
        >
            Cancel
        </smss-btn>
        <smss-btn
            ng-click="settingsInsights.savePermissionsAll(settingsCtrl.accessAllOverlay.isAddNew, settingsCtrl.accessAllOverlay.permission, settingsCtrl.accessAllOverlay.givePermissionTo);"
        >
            Add Permissions
        </smss-btn>
    </smss-overlay-footer>
</smss-overlay>

<smss-overlay
    open="settingsCtrl.overlay.openAddInsightPermissions"
    exit="settingsInsights.closeAddInsightPermissionsOverlay();"
>
    <smss-overlay-header
        >Edit permissions for
        {{settingsCtrl.selectedInsight.name}}</smss-overlay-header
    >
    <smss-overlay-body>
        <smss-field>
            <content>
                <smss-search
                    placeholder="Search members..."
                    model="searchAdminText.name"
                >
                </smss-search>
            </content>
        </smss-field>
        <div class="settings__overlay__table">
            <table class="smss--sticky smss--active">
                <thead>
                    <tr>
                        <th
                            ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                        >
                            User ID
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th
                            class="settings__content__item__right__content__dropdown"
                        >
                            Author
                            <smss-btn
                                class="smss-btn--icon"
                                ng-click="settingsCtrl.confirmAddPermissionsAll('OWNER', true, settingsCtrl.selectedInsight, 'Insights')"
                                ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                            >
                                <i
                                    class="fa fa-chevron-down settings__font--gray"
                                ></i>
                            </smss-btn>
                        </th>
                        <th
                            class="settings__content__item__right__content__dropdown"
                        >
                            Editor
                            <smss-btn
                                class="smss-btn--icon"
                                ng-click="settingsCtrl.confirmAddPermissionsAll('EDIT', true, settingsCtrl.selectedInsight, 'Insights')"
                                ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                            >
                                <i
                                    class="fa fa-chevron-down settings__font--gray"
                                ></i>
                            </smss-btn>
                        </th>
                        <th
                            class="settings__content__item__right__content__dropdown"
                        >
                            Read-Only
                            <smss-btn
                                class="smss-btn--icon"
                                ng-click="settingsCtrl.confirmAddPermissionsAll('READ-ONLY', true, settingsCtrl.selectedInsight, 'Insights')"
                                ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                            >
                                <i
                                    class="fa fa-chevron-down settings__font--gray"
                                ></i>
                            </smss-btn>
                        </th>
                    </tr>
                </thead>
                <!--Add Insight Permissions-->
                <tbody>
                    <tr
                        ng-repeat="dbUser in settingsCtrl.noCredentialsInsightUserData | filter: searchAdminText as noCredentialsInsightResults track by $index"
                    >
                        <td
                            title="{{dbUser.id}}"
                            ng-if="settingsCtrl.selectedPage === 'admin-permissions'"
                        >
                            {{dbUser.id}}
                        </td>
                        <td title="{{dbUser.name}}">{{dbUser.name}}</td>
                        <td title="{{dbUser.email}}">{{dbUser.email}}</td>
                        <td class="smss-center">
                            <smss-checkbox
                                model="dbUser.permissions.owner"
                                change="settingsInsights.addInsightUser(dbUser, 'OWNER'); settingsInsights.savePermissionsAdd(settingsInsights.insight);"
                            >
                            </smss-checkbox>
                        </td>
                        <td class="smss-center">
                            <smss-checkbox
                                model="dbUser.permissions.editor"
                                change="settingsInsights.addInsightUser(dbUser, 'EDIT'); settingsInsights.savePermissionsAdd(settingsInsights.insight);"
                            >
                            </smss-checkbox>
                        </td>
                        <td class="smss-center">
                            <smss-checkbox
                                model="dbUser.permissions.viewer"
                                change="settingsInsights.addInsightUser(dbUser, 'READ_ONLY'); settingsInsights.savePermissionsAdd(settingsInsights.insight);"
                            >
                            </smss-checkbox>
                        </td>
                    </tr>
                    <tr ng-if="noCredentialsInsightResults.length === 0">
                        <td
                            colspan="{{settingsCtrl.selectedPage === 'admin-permissions' ? 6 : 5}}"
                        >
                            <p class="smss-color--low-emphasis">
                                No members, please try again.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </smss-overlay-body>
    <smss-overlay-footer>
        <smss-btn
            ng-click="settingsInsights.closeAddInsightPermissionsOverlay();"
        >
            Close
        </smss-btn>
    </smss-overlay-footer>
</smss-overlay>

<smss-overlay open="settingsInsights.deleteInsightOverlay.show" size="sm">
    <smss-overlay-header>Delete Insight</smss-overlay-header>
    <smss-overlay-body>
        Do you want to delete your insight
        ({{settingsInsights.deleteInsightOverlay.insight.name}})?
        <span class="smss-color--error"> Warning: Action is Permanent </span>
    </smss-overlay-body>
    <smss-overlay-footer>
        <smss-btn
            class="smss-btn--text"
            ng-click="settingsInsights.deleteInsightOverlay.show = false"
        >
            Cancel
        </smss-btn>
        <smss-btn
            class="smss-btn--error"
            ng-click="settingsInsights.deleteInsight(settingsInsights.deleteInsightOverlay.insight);"
        >
            Delete
        </smss-btn>
    </smss-overlay-footer>
</smss-overlay>

<smss-overlay open="settingsInsights.deleteUserOverlay.show" size="sm">
    <smss-overlay-header>Remove Member</smss-overlay-header>
    <smss-overlay-body
        >Are you sure you want to delete this member from
        "{{settingsInsights.insight.name}}"?</smss-overlay-body
    >
    <smss-overlay-footer>
        <smss-btn
            class="smss-btn--text"
            ng-click="settingsInsights.cancelDeleteInsightUser();"
            >Cancel</smss-btn
        >
        <smss-btn
            class="smss-btn--error"
            ng-click="settingsInsights.deleteInsightUser(settingsInsights.insight, settingsInsights.deleteUserOverlay.userId);"
            >Delete</smss-btn
        >
    </smss-overlay-footer>
</smss-overlay>
