/* Admin/ Settings Page */

@import '~theme';

.settings-insights {
    font-size: 1rem;

    &__title {
        margin-top: get-spacing('sm', 'rem');
    }

    &__insights {
        height: 100%;

        &__content {
            height: 100%;
        }

        &__table {
            height: 100%;
            overflow: auto;

            &__public {
                width: get-width('min', 'rem');
            }

            & tr {
                cursor: default;
            }
        }
    }

    &__overlay {
        &__table {
            height: 200px;
            overflow: auto;

            &__dropdown {
                width: 192px;
            }
        }
    }
}
