<div
    id="browser"
    class="browser drop-zone"
    flow-name="browser.flow"
    flow-file-added="browser.openUpload($file);"
    flow-init="{singleFile: true}"
    flow-drop
    ng-class="dropClass2"
    flow-drag-enter="dropClass2='drop-zone--enter'"
    flow-drag-leave="dropClass2=''"
>
    <div ng-transclude="header"></div>
    <div class="browser__files">
        <smss-field>
            <label>Directory:</label>
            <content class="browser__files__content">
                <div class="smss-left smss-left browser__files__search">
                    <ul
                        class="browser__files__search__path"
                        ng-hide="browser.search.open"
                    >
                        <li>
                            <a
                                class="smss-small"
                                ng-click="$event.stopPropagation();browser.navigateDirectory(-1)"
                            >
                                ...
                            </a>
                            /
                        </li>
                        <li
                            title="{{path}}"
                            ng-repeat="path in browser.directory.split | limitTo: -5 track by $index"
                        >
                            <a
                                class="smss-small"
                                ng-click="$event.stopPropagation();browser.navigateDirectory($index)"
                            >
                                {{path}}
                            </a>
                            /
                        </li>
                    </ul>
                    <smss-input
                        ng-if="browser.search.available"
                        id="browser__files__search__input"
                        class="browser__files__search__input"
                        ng-model="browser.search.term"
                        ng-focus="browser.openSearch()"
                        ng-blur="browser.blurSearch()"
                        ng-change="browser.searchDirectory()"
                    ></smss-input>

                    <div
                        class="browser__files__search__icon"
                        ng-click="$event.stopPropagation();browser.openSearch()"
                        ng-show="!browser.search.open"
                    >
                        <i class="fa fa-search smss-small"></i>
                    </div>

                    <div
                        class="browser__files__search__icon"
                        ng-click="$event.stopPropagation();browser.closeSearch()"
                        ng-show="browser.search.open"
                    >
                        <i class="fa fa-times smss-small"></i>
                    </div>
                </div>
                <smss-btn
                    class="smss-left smss-btn--left smss-btn--outline smss-btn--compact"
                    title="Upload File"
                    ng-disabled="!browser.upload.available"
                    ng-click="browser.openUpload()"
                >
                    <i class="fa fa-file-o"></i>
                    Upload
                </smss-btn>

                <smss-btn
                    class="smss-left smss-btn--left smss-btn--outline smss-btn--compact"
                    title="New File or Folder"
                    ng-disabled="!browser.new.available"
                    ng-click="browser.openNew()"
                >
                    <i class="fa fa-plus"></i>
                    New
                </smss-btn>
            </content>
        </smss-field>

        <div class="browser__files__top">
            <div class="smss-text browser__files__row">
                <div class="browser__files__row__type">
                    <span class="smss-small">&nbsp;</span>
                </div>
                <div
                    title="Name"
                    class="browser__files__row__name smss-color--low-emphasis"
                >
                    <span class="smss-small"> Name</span>
                </div>
                <div
                    title="Last Modified"
                    class="browser__files__row__date smss-color--low-emphasis"
                >
                    <span class="smss-small"> Last Modified</span>
                </div>
            </div>
        </div>

        <smss-scroll class="browser__files__scroll" static-x="true">
            <div
                class="smss-caption--center"
                ng-show="browser.directory.options.length === 0"
            >
                No Files or Folders
            </div>
            <div
                class="smss-text browser__files__row"
                tabindex="0"
                ng-click="browser.openDirectory(item)"
                ng-class="{'browser__files__row--active': item.active}"
                ng-repeat="item in browser.directory.options"
            >
                <div title="{{item.type}}" class="browser__files__row__type">
                    <i
                        class="fa fa-file-o smss-small"
                        ng-show="item.type !== 'directory'"
                    ></i>
                    <i
                        class="fa fa-folder smss-small smss-color--warn"
                        ng-show="item.type === 'directory'"
                    ></i>
                </div>
                <div title="{{item.path}}" class="browser__files__row__name">
                    {{item.name}}
                </div>
                <div title="{{item.date}}" class="browser__files__row__date">
                    {{item.date}}
                </div>
            </div>
        </smss-scroll>
    </div>
    <div ng-transclude="footer"></div>
    <smss-overlay
        ng-if="browser.upload.open"
        size="md"
        open="browser.upload.open"
    >
        <smss-overlay-header>Upload File</smss-overlay-header>
        <smss-overlay-body>
            <div
                flow-name="browser.upload.flow"
                flow-file-added="browser.openUpload($file);"
                flow-init="{singleFile: true}"
                flow-drop
                ng-class="dropClass2"
                flow-drag-enter="dropClass2='drop-zone--enter'"
                flow-drag-leave="dropClass2=''"
                class="drop-zone drop-zone--borderless"
            >
                <smss-field>
                    <label> Select File: </label>
                    <content>
                        <div
                            class="drop-zone__container"
                            ng-class="{'drop-zone__container--upload': browser.upload.flow.files.length > 0}"
                        >
                            <div
                                class="drop-zone__message"
                                ng-if="browser.upload.flow.files.length == 0"
                            >
                                <div class="drop-zone__message__icon">
                                    <i class="fa fa-folder"></i>
                                </div>
                                <div class="drop-zone__message__text">
                                    Drag and drop files
                                </div>
                                <smss-btn
                                    class="smss-btn--outline smss-btn--compact"
                                    flow-btn
                                    >or upload</smss-btn
                                >
                            </div>
                            <div
                                ng-repeat="file in browser.upload.flow.files track by $index"
                                class="drop-zone__file drop-zone__file--single"
                            >
                                <div class="drop-zone__file__icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div
                                    class="drop-zone__file__text"
                                    title="{{file.name}}"
                                >
                                    {{file.name}}
                                </div>
                                <smss-btn
                                    class="smss-btn--outline smss-btn--compact"
                                    ng-click="browser.removeUploadFiles(file)"
                                >
                                    Remove
                                </smss-btn>
                            </div>
                        </div>
                    </content>
                </smss-field>
            </div>

            <smss-field>
                <label> Comment: </label>
                <content>
                    <smss-input ng-model="browser.upload.comment"></smss-input>
                </content>
            </smss-field>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn class="smss-btn--text" ng-click="browser.closeUpload()">
                Cancel
            </smss-btn>
            <smss-btn ng-click="browser.saveUpload()"> Upload </smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
    <smss-overlay ng-if="browser.new.open" size="md" open="browser.new.open">
        <smss-overlay-header>Create File</smss-overlay-header>
        <smss-overlay-body>
            <smss-field>
                <label> Select Type: </label>
                <content>
                    <div class="smss-row">
                        <div class="smss-col smss-col--6">
                            <smss-radio model="browser.new.type" value="file"
                                >File</smss-radio
                            >
                        </div>
                        <div class="smss-col smss-col--6">
                            <smss-radio
                                model="browser.new.type"
                                value="directory"
                                >Directory</smss-radio
                            >
                        </div>
                    </div>
                </content>
            </smss-field>
            <smss-field>
                <label> Name: </label>
                <content>
                    <smss-input
                        ng-model="browser.new.name"
                        autofocus
                    ></smss-input>
                </content>
            </smss-field>
            <smss-field>
                <label> Comment: </label>
                <content>
                    <smss-input ng-model="browser.new.comment"></smss-input>
                </content>
            </smss-field>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn ng-click="browser.closeNew()" class="smss-btn--text">
                Cancel
            </smss-btn>
            <smss-btn
                ng-disabled="!browser.new.name || !browser.new.comment"
                ng-click="browser.saveNew()"
            >
                Save
            </smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
</div>
