@import '~theme';

.project-user {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    &__current {
        padding-top: get-spacing('lg', 'rem');
        &.noPaddingTop {
            padding-top: 0px;
            margin-top: 0px;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: get-spacing('md', 'rem') 0;
        & .smss-search {
            width: 205px;
        }
    }
    &__header {
        padding: 0 get-spacing('md', 'rem');
        height: get-height('block', 'rem');
        & h6 {
            color: get-text-color('medium-emphasis');
            line-height: get-height('block', 'rem');
        }
        &__role {
            padding-left: calc(
                #{$border-size} + #{get-spacing('scroll', 'rem')}
            );
        }
    }

    &__section {
        & .smss-collapsible__content {
            padding: 0;
        }
        & .smss-collapsible__header__text {
            text-transform: capitalize;
        }
    }

    &__row {
        height: get-height(
            'block',
            'rem'
        ); // TODO: update to get-height("image", "rem") once user images are added
        line-height: get-height(
            'block',
            'rem'
        ); // TODO: update to get-height("image", "rem") once user images are added
        width: 100%;
        overflow: hidden;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 0 get-spacing('md', 'rem');
        display: flex;
        align-items: center;
        &:not(:last-child) {
            border-bottom-color: get-border-color('default');
        }
    }

    &__col {
        @include text-overflow();
        font-size: get-font-size('body-regular', 'rem');
        color: get-text-color('high-emphasis');
        &--btn {
            text-align: right;
        }
    }

    &__new {
        &__member {
            display: flex;
            align-items: center;
            height: get-height('default', 'rem');

            & .smss-btn {
                display: none;
                margin-left: get-spacing('sm', 'rem');
            }
            &:hover .smss-btn {
                display: inline-block;
            }
        }
        &__temp {
            display: flex;
            align-items: center;
            & .smss-dropdown {
                width: calc(50% - #{get-width('icon', 'rem')});
                margin-right: get-spacing('sm', 'rem');
            }
        }
        &__dismiss {
            cursor: pointer;
            color: get-text-color('primary');
        }
    }
}
