@import '~theme';

$node-width: 160px;
$pipeline-padding: 20px;

.pipeline-app {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;

    &__toggle {
        width: auto;
    }

    &__top {
        padding: get-spacing('sm', 'rem') $pipeline-padding $scroll-size
            $pipeline-padding; // top padding already has 4px inherited
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__field {
            margin-bottom: 0;
            .smss-field__content {
                width: 180px;
            }

            .smss-field__label {
                width: auto;
                margin: 0;
                color: get-text-color('high-emphasis');
                font-size: get-font-size('h3', 'rem');
                font-weight: get-font-weight('regular');
                line-height: get-height('md', 'rem');
                height: get-height('md', 'rem');
            }

            &__dropdown {
                width: 100%;
            }
        }

        &__times {
            cursor: pointer;
            &:hover {
                color: get-text-color('primary');
            }
        }
    }

    &__content {
        flex: 1;
        position: relative;
        width: 100%;
        overflow: hidden;
        border-top: 1px solid get-border-color('default');

        &__left {
            position: absolute;
            top: 0;
            right: 50%;
            bottom: 0;
            left: 0;
            background: get-background-color('default');
            border-bottom: 1px solid get-border-color('default');

            &__view {
                position: relative;
                height: 100%;
                width: 100%;
                outline: none;
            }
        }

        &__right {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100% !important; //need to make it important because there is a slight difference (not sure why)
            padding: 0; //removed extra padding here to account for padding from smss-scroll on the right
            border-left: 1px solid get-border-color('default');
            border-bottom: 1px solid get-border-color('default');
            background: get-background-color('default');

            &__scroll {
                height: calc(
                    100% - #{get-height('icon--nav', 'rem')} - #{get-height(
                            'default',
                            'rem'
                        )}
                );
            }

            & .smss-scroll__inner {
                padding-top: 0;
            }

            &__action {
                display: flex;
                margin-left: get-spacing('md', 'rem');
                & > *:first-child {
                    margin-right: get-spacing('sm', 'rem');
                }
            }
        }
    }

    &__available {
        &__search {
            display: flex;
            align-items: center;
            padding: 0 $pipeline-padding;
            justify-content: space-between;
            &--header {
                height: get-height('icon--nav', 'rem');
                color: get-text-color('high-emphasis');
                background: get-background-color('default');
                z-index: 1;
                position: relative;
            }
        }

        &__scroll {
            height: calc(
                100% - #{get-height('icon--nav', 'rem')} - #{get-height(
                        'default',
                        'rem'
                    )}
            );
        }

        &__table {
            outline: none;
            padding: get-spacing('sm', 'rem');

            & th {
                border-color: get-accent-color('blue--light--hover');
                border-bottom: none;
                background-color: get-background-color('primary--hover');
            }

            & td {
                border-color: get-accent-color('blue--light--hover');
            }

            & th:not(:last-child),
            td:not(:last-child) {
                border-right: none;
            }

            & tr:not(:last-child) > td {
                border-bottom: none;
            }

            &__col-4 {
                width: 20%;
            }

            &__row {
                cursor: pointer;
                outline: none;

                &:hover {
                    background: get-background-color('light');
                }
            }

            &--closed {
                & tr:first-child > th {
                    border-bottom: 1px solid
                        get-accent-color('blue--light--hover');
                }
                & tr:first-child > th:first-child {
                    border-bottom-left-radius: $border-radius;
                }

                & tr:first-child > th:last-child {
                    border-bottom-right-radius: $border-radius;
                }
            }
        }
    }

    &__selected {
        &__top {
            display: flex;
            padding: 0 get-spacing('sm', 'rem');
            .smss-field {
                flex: 1;
                margin-bottom: 0;
                &__label {
                    width: auto;
                }
            }
            .smss-btn {
                flex-shrink: 1;
            }
        }

        &__dropdown {
            flex: 1;
            margin-right: get-spacing('sm', 'rem');
        }

        &__table {
            outline: none;
            padding: get-spacing('sm', 'rem');

            & th {
                border-color: get-accent-color('blue--light--hover');
                border-bottom-width: 0;
                background-color: get-background-color('primary--hover');
            }

            & td {
                border-color: get-accent-color('blue--light--hover');
            }

            & th:not(:last-child),
            td:not(:last-child) {
                border-right: none;
            }

            & tr:not(:last-child) > td {
                border-bottom: none;
            }

            &__col {
                display: flex;

                &__flex {
                    flex: 1;
                }

                &__icon {
                    width: get-width('icon', 'rem');
                }
            }

            &__row {
                cursor: pointer;
                outline: none;
                background: get-background-color('default');

                &:hover {
                    background: get-background-color('light');
                }
            }

            & .smss-checkbox__mark {
                margin: 0;
            }

            &--closed {
                & tr:first-child > th {
                    border-bottom-width: 1px;
                }

                & tr:first-child > th:first-child {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-width: 1px;
                }

                & tr:first-child > th:last-child {
                    border-bottom-right-radius: $border-radius;
                    border-bottom-width: 1px;
                }
            }

            &--teal {
                & th {
                    border-color: get-accent-color('teal--light--hover');
                    background-color: get-accent-color('teal--light');
                }

                & td {
                    border-color: get-accent-color('teal--light--hover');
                }

                &__icon {
                    color: get-accent-color('teal--dark');
                }
            }

            &--purple {
                & th {
                    border-color: get-accent-color('purple--light--hover');
                    background-color: get-accent-color('purple--light');
                }

                & td {
                    border-color: get-accent-color('purple--light--hover');
                }

                &__icon {
                    color: get-accent-color('purple--dark');
                }
            }
        }

        &__join {
            &__text {
                width: calc(50% - #{1 / 2 * (get-width('icon', 'rem'))});
            }

            &__dropdown {
                width: calc(
                    50% - #{1 / 2 *
                        (get-width('icon', 'rem')+ 2 * get-spacing('sm', 'rem'))}
                );
            }

            &__holder {
                padding-left: get-spacing('sm', 'rem');
                padding-right: get-spacing('sm', 'rem');
                width: get-width('icon', 'rem') + 2 * get-spacing('sm', 'rem');
            }

            &__popover {
                width: 200px;
            }
        }
    }

    &__actions {
        & > :first-child {
            margin-left: $pipeline-padding !important;
        }
        & > :nth-child(2) {
            margin-left: auto !important;
        }

        & > :last-child {
            margin-right: 0px !important;
        }
    }

    &__advanced {
        &__popover {
            width: 200px;
        }
    }

    &__overlay {
        z-index: 8600;

        &--filter {
            & .smss-overlay__wrapper {
                width: 100%;
                height: 100%;
                max-height: 100%;
                padding: 0 get-spacing('scroll', 'rem');
                border-radius: 0;
            }
        }
    }

    &__metamodel {
        &__search {
            position: absolute;
            top: get-spacing('sm', 'rem');
            left: get-spacing('sm', 'rem');
            z-index: 1;
            width: 200px;
        }

        &__graph {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            overflow: visible;

            &__table {
                position: absolute;
                top: 0;
                left: 0;
                width: $node-width;
                z-index: 1;
                background: get-background-color('success--hover');
                border: 1px solid get-border-color('success');
                color: get-text-color('default');

                &--light {
                    background: get-background-color('light');
                    border-color: transparent;

                    & .pipeline-app__metamodel__graph__table__item__text {
                        width: calc(100% - #{2 * get-width('icon', 'rem')});
                    }

                    & .pipeline-app__metamodel__graph__table__item__text--wide {
                        width: calc(100% - #{1 * get-width('icon', 'rem')});
                    }
                }

                &--selected {
                    & .pipeline-app__metamodel__graph__table__item--border {
                        background: get-background-color('primary');

                        & .pipeline-app__metamodel__graph__table__item__icon {
                            color: get-text-color('white');
                        }

                        & .pipeline-app__metamodel__graph__table__item__text {
                            color: get-text-color('white');
                        }
                    }
                }

                &--imported {
                    background: get-background-color('primary--hover');
                    border-color: get-border-color('primary');
                }

                &__item {
                    color: get-text-color('default');
                    outline: none;
                    border: 1px solid transparent;
                    padding: get-spacing('sm', 'rem') / 2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &--selected {
                        border: 1px solid get-border-color('primary');
                    }

                    &--border {
                        border-bottom: 1px solid get-border-color('default');
                    }

                    &__icon {
                        width: get-width('icon', 'rem');
                        text-align: center;
                    }

                    &__text {
                        flex: 1;
                        @include text-overflow();
                    }

                    &__btn {
                        width: get-width('icon', 'rem');
                    }

                    &__traversal {
                        background: get-background-color('default');

                        &:hover {
                            background: get-background-color('primary--light');
                        }
                    }
                }
            }

            &__edge {
                &__connector {
                    & path {
                        stroke: get-border-color('dark');
                    }
                }
            }
        }
    }
}
