@import '~theme';

/** General **/

.database-collab {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.database-collab-accordion-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: inherit;
    width: inherit;
}

.database-collab-accordion-content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 0 12px;
}

.database-collab-custom-repo-input {
    display: inline-block;
    width: calc(50% - 9px);
}

.database-collab-custom-repo-seperator {
    display: inline-block;
    width: 10px;
    text-align: center;
}

.database-collab-team-grid {
    height: calc(100% - 140px);
    margin: 0 0 4px 0;
    min-height: 40px;
}

.database-collab-diff-no-changes {
    height: calc(100% - 106px);
    width: 100%;
    text-align: center;
}

.database-collab-diff-checklist {
    height: calc(100% - 106px);
    min-height: 40px;
}

.database-collab-diff-checklist-icon {
    float: left;
    padding: 0 12px 0 0;
    text-align: center;
    width: 36px;
    display: inline-block;
}

.database-collab-diff-checklist-text {
    float: left;
    width: calc(100% - 36px);
}
