<div class="analytics-summary">
    <loading-screen model="analyticsSummary.loading"></loading-screen>

    <div class="smss-caption--center" ng-if="analyticsSummary.noNumericalData">
        Numerical columns are required for statistics.
    </div>

    <smss-field ng-if="!analyticsSummary.noNumericalData">
        <label>Select Dimension:</label>
        <content>
            <smss-dropdown
                model="analyticsSummary.selectedHeader"
                options="analyticsSummary.headers"
                change="analyticsSummary.setSelectedHeader(model)"
                display="alias"
                value="alias"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <div
        class="analytics-summary__chart"
        ng-show="!analyticsSummary.noNumericalData"
    >
        <div
            id="analytics-summary__chart__hook"
            class="analytics-summary__chart__hook"
        ></div>
    </div>
</div>
