<div class="import-file-metamodel">
    <smss-field>
        <label> Drag and Drop File(s): </label>
        <content>
            <smss-dropdown
                display="fileName"
                value="fileLocation"
                model="importFileMetamodel.selectedFile"
                change="importFileMetamodel.changeSelectedFile(model);"
                options="importFileCtrl.parsedFiles"
            >
            </smss-dropdown>
        </content>
    </smss-field>
    <div class="import-file-metamodel__content">
        <div
            ng-if="file.fileLocation === importFileMetamodel.selectedFile"
            ng-repeat="file in importFileCtrl.parsedFiles track by file.fileLocation"
        >
            <smss-btn
                class="smss-btn--icon import-file-metamodel__content__btn import-file-metamodel__content__btn__table"
                title="Add or Remove Tables"
                ng-click="file.showEditTables = true"
            >
                <i class="fa fa-table"></i>
            </smss-btn>

            <smss-btn
                class="smss-btn--icon import-file-metamodel__content__btn import-file-metamodel__content__btn__relationship"
                title="Add or Remove Relationships"
                ng-click="file.showEditRelationships = true"
            >
                <i class="fa fa-link"></i>
            </smss-btn>

            <metamodel-tables
                ng-if="file.showEditTables"
                metamodel="file.metamodel"
                all-tables="file.allTables"
                open="file.showEditTables"
            ></metamodel-tables>

            <metamodel-relationships
                ng-if="file.showEditRelationships"
                metamodel="file.metamodel"
                type="'GRAPH'"
                open="file.showEditRelationships"
            ></metamodel-relationships>

            <metamodel-table
                ng-if="file.showEditTable"
                metamodel="file.metamodel"
                all-tables="file.allTables"
                selected-table="file.selectedTable"
                open="file.showEditTable"
            ></metamodel-table>

            <metamodel-column
                ng-if="file.showEditColumn"
                open="file.showEditColumn"
                column="file.metamodel.tables[file.selectedTable].columns[file.selectedColumn]"
                change="importFileMetamodel.changeColumn(file, type, typeFormat, alias, description, logical)"
            ></metamodel-column>

            <metamodel
                metamodel="file.metamodel"
                edit="importFileMetamodel.editItem(file, type, options)"
                type="'GRAPH'"
            ></metamodel>
        </div>
    </div>
    <div class="smss-spacing smss-clear">
        <smss-btn
            class="smss-left smss-btn--text"
            ng-click="importFileCtrl.setFile();"
        >
            Back
        </smss-btn>
        <smss-btn
            class="smss-right"
            ng-click="importFileMetamodel.importData()"
        >
            Import
        </smss-btn>
    </div>
</div>
