<smss-scroll static-x="true">
    <p class="smss-spacing">Write the current frame into a database table.</p>

    <smss-field>
        <label> Select Database: </label>
        <content>
            <smss-dropdown
                model="writeToDatabase.targetDatabase"
                options="writeToDatabase.databaseList"
                display="name"
                value="value"
                change="writeToDatabase.updateSaveOption()"
                placeholder="Select a database"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field>
        <label> Select Save Option: </label>
        <content>
            <smss-dropdown
                model="writeToDatabase.saveOption"
                options="writeToDatabase.saveOptionList"
                display="option"
                value="value"
                change="writeToDatabase.updateSaveOption()"
                placeholder="Select a save option"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field ng-if="writeToDatabase.showInput">
        <label> Enter Table Name: </label>
        <content>
            <smss-input
                ng-model="writeToDatabase.targetTable"
                ng-disabled="writeToDatabase.useColAsKey"
            >
            </smss-input>
        </content>
    </smss-field>

    <smss-field ng-if="writeToDatabase.showTables">
        <label ng-if="writeToDatabase.saveOption === 'override'">
            Select Table To Override:
        </label>
        <label ng-if="writeToDatabase.saveOption === 'append'">
            Select Table To Append To:
        </label>
        <content>
            <smss-dropdown
                model="writeToDatabase.targetTable"
                options="writeToDatabase.tables"
                placeholder="Select an existing table"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <div class="smss-spacing" ng-if="writeToDatabase.allowInsertKey">
        <smss-checkbox model="writeToDatabase.insertKey">
            Insert Unique Row ID?
        </smss-checkbox>
    </div>

    <div class="smss-action">
        <smss-btn
            class="smss-btn--text"
            ng-if="writeToDatabase.PIPELINE"
            ng-click="writeToDatabase.cancel()"
        >
            Cancel
        </smss-btn>
        <smss-btn
            ng-click="writeToDatabase.submit();"
            ng-disabled="!writeToDatabase.targetTable || !writeToDatabase.targetDatabase"
        >
            Submit
        </smss-btn>
    </div>
</smss-scroll>
