@import '~theme';

.parameters {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1;
        overflow: hidden;
        display: flex;
        margin-bottom: get-spacing('xs', 'rem');
        border-bottom: 1px solid get-border-color('default');

        &__left {
            width: 50%;
            height: 100%;
            padding: 0 get-spacing('scroll', 'rem');
            display: flex;
            flex-direction: column;

            &__params {
                flex: 1;
                overflow: hidden;
            }

            &__tree {
                height: 100%;
                background: get-background-color('light');
                border: 1px dashed get-border-color('default');
                border-radius: $border-radius;
            }
        }

        &__right {
            width: 50%;
            height: 100%;
            border-left: 1px solid get-border-color('default');

            &__current-params {
                height: 50%;
                padding: 0 $scroll-size;
                border-bottom: 1px solid get-border-color('default');
                display: flex;
                flex-direction: column;

                &__container {
                    flex: 1;
                    overflow: hidden;
                }

                &__header {
                    margin-bottom: get-spacing('md', 'rem');

                    & i {
                        cursor: pointer;
                    }

                    &__text {
                        padding: 0 get-spacing('sm', 'rem');
                        height: get-height('default', 'rem');
                        line-height: get-height('default', 'rem');
                        background: get-background-color('light');
                        border: 1px dashed get-border-color('default');
                        border-radius: $border-radius;
                        width: 100%;
                        font-size: get-font-size('body-regular', 'rem');
                        display: flex;
                        align-items: center;
                    }

                    &__left {
                        flex: 1;
                        @include text-overflow();
                    }
                }

                &__details {
                    padding: get-spacing('sm', 'rem');
                    border: 1px solid get-border-color('default');
                    border-top: none;
                    border-radius: 0 0 $border-radius $border-radius;
                }
            }

            &__new-param {
                height: 50%;
                padding: 0 get-spacing('scroll', 'rem');
                display: flex;
                flex-direction: column;

                &__content {
                    flex: 1;
                    overflow: hidden;

                    &__filters {
                        &__header {
                            height: get-height('default', 'rem');
                            line-height: calc(
                                #{get-height('default', 'rem')} - 2px
                            );
                            font-size: get-font-size('body-regular', 'rem');
                            font-weight: get-font-weight('semibold');
                            color: get-text-color('medium-emphasis');
                        }

                        &__list {
                            font-size: get-font-size('body-regular', 'rem');
                        }
                    }
                }
            }
        }

        &__message {
            flex: 1;
        }
    }

    &__inline-field {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        & .smss-field__label {
            width: auto;
            flex-shrink: 0;
        }

        & .smss-field__content {
            flex-grow: 1;
            min-height: get-height('default', 'rem');
            line-height: get-height('default', 'rem');
            font-size: get-font-size('body-regular', 'rem');
        }

        &--nowrap {
            align-items: center;

            & .smss-field__content {
                height: get-height('default', 'rem');
                line-height: get-height('default', 'rem');
                @include text-overflow();
            }
        }
    }
}
