<div class="parameters">
    <div class="parameters__content">
        <div class="parameters__content__left">
            <smss-field class="parameters__content__left__params">
                <label> Select an Option to Parameterize: </label>
                <content>
                    <div class="parameters__content__left__tree">
                        <smss-scroll static-x="true">
                            <param-tree
                                ng-if="parameters.paramOptions.length > 0"
                            ></param-tree>
                            <div
                                class="smss-caption--center"
                                ng-if="parameters.paramOptions.length === 0"
                            >
                                No options exist to be parameterized.
                            </div>
                        </smss-scroll>
                    </div>
                </content>
            </smss-field>
        </div>
        <div class="parameters__content__right">
            <div class="parameters__content__right__current-params">
                <div class="smss-spacing">
                    <h4>Current Parameters</h4>
                </div>
                <div
                    class="parameters__content__right__current-params__container"
                    ng-if="parameters.currentParams.length > 0"
                >
                    <smss-scroll static-x="true">
                        <div
                            ng-repeat="param in parameters.currentParams"
                            class="parameters__content__right__current-params__header"
                        >
                            <div
                                class="parameters__content__right__current-params__header__text"
                            >
                                <div
                                    class="parameters__content__right__current-params__header__left"
                                >
                                    <i
                                        class="fa"
                                        ng-class="{'fa-chevron-circle-down': param.showParam, 'fa-chevron-circle-right': !param.showParam}"
                                        ng-click="param.showParam = !param.showParam"
                                    ></i>
                                    <span> {{param.paramName}} </span>
                                </div>
                                <div>
                                    <smss-btn
                                        title="Edit"
                                        ng-click="parameters.selectParam('', 'edit', param)"
                                        class="smss-btn--icon"
                                        ><i class="fa fa-edit"></i
                                    ></smss-btn>
                                    <smss-btn
                                        title="Delete"
                                        ng-click="parameters.deleteParam(param)"
                                        class="smss-btn--icon"
                                        ><i class="fa fa-trash"></i
                                    ></smss-btn>
                                </div>
                            </div>
                            <div
                                ng-if="param.showParam"
                                class="parameters__content__right__current-params__details"
                            >
                                <smss-field
                                    ng-if="param.levels"
                                    title="{{param.levels}}"
                                    class="parameters__inline-field"
                                    inline
                                >
                                    <label> Applied to: </label>
                                    <content> {{param.levels}} </content>
                                </smss-field>
                                <smss-field
                                    class="parameters__inline-field"
                                    inline
                                >
                                    <label> Options Type: </label>
                                    <content> {{param.optionsType}} </content>
                                </smss-field>
                                <smss-field
                                    ng-if="param.optionsType === 'MANUAL'"
                                    title="{{param.manualOptions}}"
                                    class="parameters__inline-field"
                                    inline
                                >
                                    <label> Options: </label>
                                    <content> {{param.manualOptions}} </content>
                                </smss-field>
                                <smss-field
                                    title="{{param.optionsPixel}}"
                                    class="parameters__inline-field"
                                    ng-if="param.optionsType === 'PIXEL'"
                                    inline
                                >
                                    <label> Pixel: </label>
                                    <content> {{param.optionsPixel}} </content>
                                </smss-field>
                                <smss-field
                                    class="parameters__inline-field"
                                    inline
                                >
                                    <label> Selection Type: </label>
                                    <content> {{param.selectionType}} </content>
                                </smss-field>
                                <smss-field
                                    class="parameters__inline-field"
                                    inline
                                >
                                    <label> Default Value: </label>
                                    <content> {{param.defaultValue}} </content>
                                </smss-field>
                                <!-- <smss-field class="parameters__inline-field"
                                    ng-if="(typeof param.currentValue === 'number' || typeof param.currentValue === 'boolean' || param.currentValue.length > 0)"
                                    inline>
                                    <label>
                                        Current Value:
                                    </label>
                                    <content>
                                        {{param.currentValue}}
                                    </content>
                                </smss-field> -->
                            </div>
                        </div>
                    </smss-scroll>
                </div>
                <div
                    ng-if="parameters.currentParams.length === 0"
                    class="parameters__content__message"
                >
                    <div class="smss-caption--center">
                        No parameters currently exist for this insight.
                    </div>
                </div>
            </div>
            <div class="parameters__content__right__new-param">
                <div class="smss-spacing">
                    <h4>
                        {{parameters.selectedParam._edit ? 'Update' : 'Create'}}
                        Parameter
                        <span ng-if="parameters.selectedParam._display"
                            >for: {{parameters.selectedParam._display}}</span
                        >
                    </h4>
                </div>
                <div
                    ng-if="parameters.selectedParam._display"
                    class="parameters__content__right__new-param__content"
                >
                    <smss-scroll static-x="true">
                        <smss-field>
                            <label> Create Parameter From: </label>
                            <content>
                                <smss-dropdown
                                    ng-disabled="parameters.selectedParam._edit"
                                    options="['New', 'Existing']"
                                    model="parameters.selectedParam.paramType"
                                    change="parameters.updateExistingParamInfo()"
                                >
                                </smss-dropdown>
                            </content>
                        </smss-field>
                        <div
                            ng-if="parameters.selectedParam.paramType === 'New'"
                        >
                            <smss-field ng-style="{'padding-bottom': 0}">
                                <label> Parameter Name: </label>
                                <content>
                                    <smss-input
                                        ng-disabled="parameters.selectedParam._edit"
                                        ng-model="parameters.selectedParam.paramName"
                                        placeholder="Enter Param Name"
                                    >
                                    </smss-input>
                                </content>
                                <description>
                                    <div
                                        class="smss-color--error"
                                        ng-if="parameters.paramNameMessage"
                                    >
                                        {{parameters.paramNameMessage}}
                                    </div>
                                </description>
                            </smss-field>
                            <smss-field>
                                <label> Label: </label>
                                <content>
                                    <smss-input
                                        ng-model="parameters.selectedParam.modelLabel"
                                        placeholder="Enter Parameter Label"
                                    >
                                    </smss-input>
                                </content>
                            </smss-field>
                            <smss-field>
                                <label> Display Type: </label>
                                <content>
                                    <smss-dropdown
                                        options="parameters.displayTypes"
                                        display="display"
                                        value="value"
                                        change="parameters.updateDefaultValueType(parameters.selectedParam.modelDisplay)"
                                        model="parameters.selectedParam.modelDisplay"
                                    >
                                    </smss-dropdown>
                                </content>
                            </smss-field>
                            <smss-field
                                ng-if="parameters.modelDisplayTypes.indexOf(parameters.selectedParam.modelDisplay) > -1"
                            >
                                <label> Pull Options From: </label>
                                <content>
                                    <smss-dropdown
                                        ng-if="parameters.selectedParam.baseQsType === 'SQS' || parameters.selectedParam.detailsList[0].baseQsType === 'SQS'"
                                        options="[{'display': 'Default', 'value': 'DEFAULT'}, {'display': 'Manual', 'value': 'MANUAL'}, {'display': 'Pixel', 'value': 'PIXEL'}, {'display': 'Query', 'value': 'QUERY'}]"
                                        display="display"
                                        value="value"
                                        model="parameters.selectedParam.optionsType"
                                    >
                                    </smss-dropdown>
                                    <smss-dropdown
                                        ng-if="parameters.selectedParam.baseQsType === 'HQS' || parameters.selectedParam.detailsList[0].baseQsType === 'HQS'"
                                        options="[{'display': 'Manual', 'value': 'MANUAL'}, {'display': 'Pixel', 'value': 'PIXEL'}, {'display': 'Query', 'value': 'QUERY'}]"
                                        display="display"
                                        value="value"
                                        model="parameters.selectedParam.optionsType"
                                    >
                                    </smss-dropdown>
                                </content>
                            </smss-field>
                            <smss-field
                                ng-if="parameters.selectedParam.optionsType === 'MANUAL' && parameters.modelDisplayTypes.indexOf(parameters.selectedParam.modelDisplay) > -1"
                            >
                                <label> Enter Manual Options: </label>
                                <content>
                                    <smss-multiselect
                                        options="[]"
                                        placeholder="Enter Manual Options"
                                        model="parameters.selectedParam.manualOptions"
                                    >
                                    </smss-multiselect>
                                </content>
                                <description>
                                    Type an option and press Enter to register
                                    it.
                                </description>
                            </smss-field>
                            <smss-field
                                ng-if="parameters.selectedParam.optionsType === 'PIXEL' && parameters.modelDisplayTypes.indexOf(parameters.selectedParam.modelDisplay) > -1"
                                ng-style="{'padding-bottom': 0}"
                            >
                                <label> Enter Pixel: </label>
                                <content>
                                    <smss-textarea
                                        ng-model="parameters.selectedParam.optionsPixel"
                                        placeholder="Enter Custom Pixel Script"
                                    ></smss-textarea>
                                </content>
                                <description>
                                    <div
                                        class="smss-color--error"
                                        ng-if="parameters.selectedParam.baseQsType === 'HQS' && !parameters.selectedParam.optionsPixel"
                                    >
                                        A pixel is required to pull options.
                                    </div>
                                </description>
                            </smss-field>
                            <smss-field
                                ng-if="parameters.selectedParam.optionsType === 'QUERY' && parameters.modelDisplayTypes.indexOf(parameters.selectedParam.modelDisplay) > -1"
                                ng-style="{'padding-bottom': 0}"
                            >
                                <label> Enter Query: </label>
                                <content>
                                    <smss-textarea
                                        ng-model="parameters.selectedParam.optionsQuery"
                                        placeholder="Enter Query"
                                    ></smss-textarea>
                                </content>
                                <description>
                                    <div
                                        class="smss-color--error"
                                        ng-if="!parameters.selectedParam.optionsQuery"
                                    >
                                        A query is required to pull options.
                                    </div>
                                </description>
                            </smss-field>
                            <smss-field
                                ng-if="parameters.selectedParam.modelDisplay === 'checklist'"
                            >
                                <label> Selection Type: </label>
                                <content>
                                    <smss-dropdown
                                        options="parameters.selectionTypeOptions"
                                        model="parameters.selectedParam.selectionType"
                                    >
                                    </smss-dropdown>
                                </content>
                            </smss-field>
                            <smss-field
                                ng-if="parameters.selectedParam._operatorDisplay"
                            >
                                <label> Applied Operator(s): </label>
                                <content>
                                    <smss-input
                                        ng-disabled="true"
                                        ng-model="parameters.selectedParam._operatorDisplay"
                                    >
                                    </smss-input>
                                </content>
                                <description>
                                    Update the filter in the import process to
                                    change the operator(s).
                                </description>
                            </smss-field>
                            <smss-field>
                                <label> Default Value: </label>
                                <content>
                                    <smss-multiselect
                                        ng-if="parameters.selectedParam.modelDisplay === 'checklist'"
                                        options="[]"
                                        model="parameters.selectedParam.defaultValue"
                                        placeholder="Enter Default Value"
                                    >
                                    </smss-multiselect>
                                    <smss-input
                                        ng-if="parameters.selectedParam.modelDisplay === 'number'"
                                        placeholder="Enter Default Value"
                                        ng-model="parameters.selectedParam.defaultValue"
                                        type="number"
                                    >
                                    </smss-input>
                                    <smss-input
                                        ng-if="parameters.selectedParam.modelDisplay !== 'number' && parameters.selectedParam.modelDisplay !== 'checklist'"
                                        placeholder="Enter Default Value"
                                        ng-model="parameters.selectedParam.defaultValue"
                                    >
                                    </smss-input>
                                </content>
                                <description
                                    ng-show="parameters.selectedParam.modelDisplay === 'checklist'"
                                >
                                    Type an option and press Enter to register
                                    it.
                                </description>
                            </smss-field>
                        </div>
                        <div
                            ng-if="parameters.selectedParam.paramType === 'Existing'"
                        >
                            <smss-field>
                                <label> Select Parameter: </label>
                                <content>
                                    <smss-dropdown
                                        ng-if="parameters.currentParams.length > 0"
                                        options="parameters.currentParams"
                                        display="paramName"
                                        model="parameters.selectedParam.existingParam"
                                        change="parameters.updateExistingParamInfo()"
                                    >
                                    </smss-dropdown>
                                    <div
                                        ng-if="parameters.currentParams.length === 0"
                                        class="smss-caption--center"
                                    >
                                        No parameters currently exist. Please
                                        create a new parameter.
                                    </div>
                                </content>
                            </smss-field>
                            <div ng-if="parameters.selectedParam.existingParam">
                                <div
                                    class="parameters__content__right__new-param__content__filters"
                                >
                                    <div
                                        class="parameters__content__right__new-param__content__filters__header"
                                    >
                                        Current Parameter(s):
                                    </div>
                                    <ul>
                                        <li
                                            class="parameters__content__right__new-param__content__filters__list"
                                            ng-repeat="newParam in parameters.selectedParam._existingInfo.new"
                                            title="{{newParam}}"
                                        >
                                            {{newParam}}
                                        </li>
                                    </ul>
                                </div>
                                <div
                                    class="parameters__content__right__new-param__content__filters"
                                >
                                    <div
                                        class="parameters__content__right__new-param__content__filters__header"
                                    >
                                        Existing Parameter(s):
                                    </div>
                                    <ul>
                                        <li
                                            ng-repeat="existingParam in parameters.selectedParam._existingInfo.existing"
                                            class="parameters__content__right__new-param__content__filters__list"
                                            title="{{existingParam}}"
                                        >
                                            {{existingParam}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </smss-scroll>
                </div>
                <div
                    class="smss-action"
                    ng-if="parameters.selectedParam._display"
                >
                    <smss-btn
                        ng-click="parameters.selectedParam = {}"
                        class="smss-btn--text"
                    >
                        Cancel
                    </smss-btn>
                    <!-- <smss-btn ng-if="parameters.showRemove(parameters.selectedParam)"
                        ng-click="parameters.unbindParam(parameters.selectedParam)">
                        Remove
                    </smss-btn> -->
                    <smss-btn
                        ng-if="parameters.selectedParam._edit"
                        ng-click="parameters.updateParam(parameters.selectedParam)"
                        ng-disabled="!parameters.isValidated(parameters.selectedParam)"
                    >
                        Update
                    </smss-btn>
                    <smss-btn
                        ng-if="!parameters.selectedParam._edit"
                        ng-click="parameters.createParam(parameters.selectedParam)"
                        ng-disabled="!parameters.isValidated(parameters.selectedParam)"
                    >
                        Create
                    </smss-btn>
                </div>
                <div
                    ng-if="!parameters.selectedParam._display"
                    class="parameters__content__message"
                >
                    <div class="smss-caption--center">
                        Select an option from the left to create a parameter.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parameters__action" ng-show="!workspaceSave.overrideInsights">
        <smss-btn ng-click="parameters.hideModal()"> Back </smss-btn>
    </div>
</div>
