@import '~theme';

.recipe-viewer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__top {
        padding: $field-padding get-spacing('sm', 'em');

        &__btn i {
            margin-right: get-spacing('sm', 'em');
        }
    }

    &__grid {
        flex: 1;
        width: 100%;
    }

    &__table {
        & td:first-child {
            white-space: normal;
        }
    }
}
