<div class="formula-stem">
    <span
        ng-if="!stem.leaf && path === 'root'"
        class="formula-stem__root"
        path="{{path}}"
    >
        Drop Here
    </span>

    <span ng-if="!stem.leaf" class="formula-stem__empty" path="{{path}}">
        {{stem.placeholder || '&nbsp;'}}
    </span>

    <div
        ng-if="stem.leaf.type === 'value'"
        class="formula-stem__leaf formula-stem__leaf--value"
        ng-class="{'formula-stem__leaf--vertical': stem.leaf.vertical}"
        draggable="true"
        path="{{path}}"
    >
        <div ng-click="close(path)" class="formula-stem__leaf__times"></div>

        <div class="formula-stem__leaf__value" dynamic="stem.leaf.view"></div>
    </div>

    <div
        ng-if="stem.leaf.type === 'expression'"
        class="formula-stem__leaf formula-stem__leaf--expression"
        ng-class="{'formula-stem__leaf--vertical': stem.leaf.vertical}"
        draggable="true"
        path="{{path}}"
    >
        <div ng-click="close(path)" class="formula-stem__leaf__times"></div>

        <div class="formula-stem__leaf__input">
            <formula-stem
                stem="stem.leaf.left"
                path="{{path + '-left'}}"
            ></formula-stem>
        </div>
        <div class="formula-stem__leaf__text">{{stem.leaf.expression}}</div>
        <div class="formula-stem__leaf__input">
            <formula-stem
                stem="stem.leaf.right"
                path="{{path + '-right'}}"
            ></formula-stem>
        </div>
    </div>

    <div
        ng-if="stem.leaf.type === 'function'"
        class="formula-stem__leaf formula-stem__leaf--function"
        ng-class="{'formula-stem__leaf--vertical': stem.leaf.vertical}"
        draggable="true"
        path="{{path}}"
    >
        <div ng-click="close(path)" class="formula-stem__leaf__times"></div>

        <div class="formula-stem__leaf__text">{{stem.leaf.function}}</div>
        <div class="formula-stem__leaf__text">(</div>
        <div
            ng-repeat="(c, child) in stem.leaf.children"
            class="formula-stem__leaf__input"
        >
            <formula-stem stem="child" path="{{path + '-' + c}}"></formula-stem>
        </div>
        <div class="formula-stem__leaf__text">)</div>
    </div>

    <div
        ng-if="stem.leaf.type === 'group'"
        class="formula-stem__leaf formula-stem__leaf--group"
        ng-class="{'formula-stem__leaf--vertical': stem.leaf.vertical}"
        draggable="true"
        path="{{path}}"
    >
        <div ng-click="close(path)" class="formula-stem__leaf__times"></div>

        <div class="formula-stem__leaf__text">
            <smss-tab-group>
                <smss-tab
                    ng-repeat="option in stem.leaf.options"
                    ng-click="stem.leaf.selected = option"
                    ng-class="{'smss-tab--selected': option === stem.leaf.selected}"
                >
                    {{option}}
                </smss-tab>
            </smss-tab-group>
        </div>
        <div
            ng-repeat="(c, child) in stem.leaf.children"
            class="formula-stem__leaf__input"
        >
            <formula-stem stem="child" path="{{path + '-' + c}}"></formula-stem>
        </div>
    </div>

    <div
        ng-if="stem.leaf.type === 'conditional'"
        class="formula-stem__leaf formula-stem__leaf--conditional"
        ng-class="{'formula-stem__leaf--vertical': stem.leaf.vertical}"
        draggable="true"
        path="{{path}}"
    >
        <div ng-click="close(path)" class="formula-stem__leaf__times"></div>
        <div class="formula-stem__leaf__text">If</div>
        <div class="formula-stem__leaf__input">
            <formula-stem
                stem="stem.leaf.condition"
                path="{{path + '-condition'}}"
            ></formula-stem>
        </div>
        <div class="formula-stem__leaf__input">
            <formula-stem
                stem="stem.leaf.truthy"
                path="{{path + '-truthy'}}"
            ></formula-stem>
        </div>
        <div class="formula-stem__leaf__input">
            <formula-stem
                stem="stem.leaf.falsey"
                path="{{path + '-falsey'}}"
            ></formula-stem>
        </div>
    </div>
</div>
