node_modules
target
.DS_Store
dist
*.local
.project
.history
.eslintcache
*.rollup.cache
tsconfig.tsbuildinfo

# Only ignore the top level
index.html
index.html.gz
!packages/**/index.html
!packages/**/index.html.gz

# Project teams keep pushing their module into app.constants.js
# will gitignore this now
packages/legacy/app.constants.js



.nx/cache
.nx/workspace-data