<smss-scroll static-x="true">
    <smss-field
        class="format-data-values__holder"
        ng-if="formatDataValues.formats.length > 0"
    >
        <label> Applied Formats: </label>
        <content>
            <smss-scroll static-x="true" class="format-data-values__container">
                <div
                    class="smss-clear format-data-values__rule"
                    ng-repeat="format in formatDataValues.formats track by $index"
                >
                    <div class="smss-clear">
                        <div
                            class="smss-left smss-text format-data-values__rule__text"
                        >
                            &nbsp;
                            <span ng-show="format.dimension">
                                {{format.dimension}}: {{format.appliedString}}
                            </span>
                        </div>
                        <smss-btn
                            ng-click="formatDataValues.editFormat(format.dimension);"
                            title="Edit Format"
                            class="smss-left smss-btn--icon smss-color--low-emphasis"
                        >
                            <i class="fa fa-edit"></i>
                        </smss-btn>
                        <smss-btn
                            ng-click="formatDataValues.removeFormat($index); "
                            title="Remove Format"
                            class="smss-left smss-btn--icon smss-color--error"
                        >
                            <i class="fa fa-times"></i>
                        </smss-btn>
                    </div>
                </div>
            </smss-scroll>
        </content>
    </smss-field>

    <smss-field>
        <label> Select Dimension: </label>
        <content>
            <smss-dropdown
                model="formatDataValues.dimensions.selected"
                display="alias"
                options="formatDataValues.dimensions.list"
                change="formatDataValues.updateFormatDimensions()"
            >
                <smss-dropdown-toggle>
                    <div
                        class="smss-left format-data-values__dropdown__text"
                        title="{{$parent.smssDropdown.getOption($parent.smssDropdown.model).alias | replaceUnderscores}} is a {{$parent.smssDropdown.getOption($parent.smssDropdown.model).dataType}}]"
                        ng-class="{'format-data-values__dropdown__text--double': ($parent.smssDropdown.getOption($parent.smssDropdown.model).dataType === 'DOUBLE')}"
                    >
                        {{$parent.smssDropdown.getOption($parent.smssDropdown.model).alias
                        | replaceUnderscores}}
                    </div>
                    <div
                        class="smss-left smss-btn--icon format-data-values__dropdown__icon"
                        ng-class="{'format-data-values__dropdown__icon--double': ($parent.smssDropdown.getOption($parent.smssDropdown.model).dataType === 'DOUBLE')}"
                    >
                        <span
                            title="{{$parent.smssDropdown.getOption($parent.smssDropdown.model).dataType}}"
                            ng-style="$parent.smssDropdown.getOption($parent.smssDropdown.model).dataType === 'DOUBLE' && {'font-weight': 'bold'}"
                            ng-class="{ 'fa fa-font': ($parent.smssDropdown.getOption($parent.smssDropdown.model).dataType === 'STRING'), 'fa fa-calendar-o': ($parent.smssDropdown.getOption($parent.smssDropdown.model).dataType === 'DATE'), 'fa fa-clock-o': ($parent.smssDropdown.getOption($parent.smssDropdown.model).dataType === 'TIMESTAMP'), 'fa fa-hashtag': ($parent.smssDropdown.getOption($parent.smssDropdown.model).dataType === 'INT')}"
                        >
                            {{$parent.smssDropdown.getOption($parent.smssDropdown.model).dataType
                            === 'DOUBLE' ? '1.23' : ''}}
                        </span>
                    </div>
                </smss-dropdown-toggle>
                <smss-dropdown-list>
                    <div
                        class="smss-left format-data-values__dropdown__text"
                        title="{{$parent.opt.alias | replaceUnderscores}} is a {{$parent.opt.dataType}}"
                        ng-class="{'format-data-values__dropdown__text--double': ($parent.opt.dataType === 'DOUBLE')}"
                    >
                        {{$parent.opt.alias | replaceUnderscores}}
                    </div>
                    <div
                        class="smss-left smss-btn--icon format-data-values__dropdown__icon"
                        ng-class="{'format-data-values__dropdown__icon--double': ($parent.opt.dataType === 'DOUBLE')}"
                    >
                        <i
                            title="{{$parent.opt.dataType}}"
                            class="fa"
                            ng-show="{{$parent.opt.dataType !== 'DOUBLE'}}"
                            ng-class="{ 'fa-font': ($parent.opt.dataType === 'STRING'), 'fa-calendar-o': ($parent.opt.dataType === 'DATE'), 'fa-clock-o': ($parent.opt.dataType === 'TIMESTAMP'), 'fa-hashtag': ($parent.opt.dataType === 'INT')}"
                        ></i>
                        <span
                            ng-show="{{$parent.opt.dataType === 'DOUBLE'}}"
                            title="{{$parent.opt.dataType}}"
                            ><b>1.23</b></span
                        >
                    </div>
                </smss-dropdown-list>
            </smss-dropdown>
        </content>
    </smss-field>

    <div class="smss-spacing" style="padding-top: 10px">
        <smss-toggle
            model="formatDataValues.format.showDefaultOptions"
            ng-show="formatDataValues.defaultOptionsList.length > 0 && formatDataValues.dimensions.selected.dataType !== 'DATE' && formatDataValues.dimensions.selected.dataType !== 'TIMESTAMP'"
        >
            Use Default Format Option
        </smss-toggle>
    </div>

    <smss-field ng-show="!formatDataValues.format.showDefaultOptions">
        <label>Prepend Value:</label>
        <content>
            <smss-input type="text" ng-model="formatDataValues.format.prepend">
            </smss-input>
        </content>
    </smss-field>

    <smss-field ng-show="!formatDataValues.format.showDefaultOptions">
        <label>Append Value:</label>
        <content>
            <smss-input type="text" ng-model="formatDataValues.format.append">
            </smss-input>
        </content>
    </smss-field>

    <smss-field
        ng-show="!formatDataValues.format.showDefaultOptions && (formatDataValues.dimensions.selected.dataType === 'INT' || formatDataValues.dimensions.selected.dataType === 'DOUBLE')"
    >
        <label>Format Number: </label>
        <content>
            <smss-dropdown
                display="display"
                value="value"
                model="formatDataValues.format.type"
                options="formatDataValues.customOptions.type"
                change="formatDataValues.updateFormatType()"
                searchable="false"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field
        ng-show="formatDataValues.dimensions.selected.dataType === 'DATE' || formatDataValues.dimensions.selected.dataType === 'TIMESTAMP'"
    >
        <label>Format Date / Timestamp:</label>
        <content>
            <smss-dropdown
                display="display"
                value="value"
                model="formatDataValues.format.date"
                options="formatDataValues.defaultOptionsList"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field
        ng-show="!formatDataValues.format.showDefaultOptions && (formatDataValues.dimensions.selected.dataType === 'INT' || formatDataValues.dimensions.selected.dataType === 'DOUBLE')"
    >
        <label>Round Value: </label>
        <content>
            <smss-input
                ng-model="formatDataValues.format.round"
                ng-disabled="formatDataValues.format.type === 'Thousand' || formatDataValues.format.type === 'Million' || formatDataValues.format.type === 'Billion' || formatDataValues.format.type === 'Trillion'"
                type="number"
            >
            </smss-input>
        </content>
    </smss-field>

    <smss-field
        ng-show="!formatDataValues.format.showDefaultOptions && (formatDataValues.dimensions.selected.dataType === 'INT' || formatDataValues.dimensions.selected.dataType === 'DOUBLE')"
    >
        <label>Delimiter: </label>
        <content>
            <smss-dropdown
                display="display"
                value="value"
                model="formatDataValues.format.delimiter"
                ng-disabled="formatDataValues.format.type === 'Scientific' || formatDataValues.format.type === 'Accounting'"
                options="formatDataValues.customOptions.delimiter"
                searchable="false"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field ng-show="formatDataValues.format.showDefaultOptions">
        <label> Default Format Options: </label>
        <content>
            <smss-dropdown
                model="formatDataValues.format.defaultOption"
                display="display"
                value="value"
                options="formatDataValues.defaultOptionsList"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <div class="smss-action">
        <smss-btn
            class="smss-btn--text"
            ng-click="formatDataValues.resetFormat()"
        >
            Reset
        </smss-btn>
        <smss-btn ng-click="formatDataValues.executeFormat(true)">
            Execute
        </smss-btn>
    </div>
</smss-scroll>
