<div
    class="query-struct-filter-group"
    ng-class="{'query-struct-filter-group--nested': !queryStructFilterGroup.root}"
>
    <div
        class="query-struct-filter-group__content"
        ng-class="{'query-struct-filter-group__content--nested': !queryStructFilterGroup.root}"
    >
        <smss-dropdown
            ng-hide="queryStructFilterGroup.children.length <= 1 && queryStructFilterGroup.root"
            class="query-struct-filter-group__content__dropdown"
            model="queryStructFilterGroup.value"
            options="['AND', 'OR']"
            body="false"
        ></smss-dropdown>

        <div class="query-struct-filter-group__content__values">
            <div ng-repeat="filter in queryStructFilterGroup.children">
                <query-struct-filter-single
                    ng-if="filter.type === 'SIMPLE'"
                    key="filter.key"
                    filter="filter.filter"
                >
                </query-struct-filter-single>

                <query-struct-filter-group
                    ng-if="filter.type === 'GROUP'"
                    key="filter.key"
                    parent="filter.parent"
                    value="filter.value"
                    children="filter.children"
                />
            </div>
        </div>
    </div>

    <div class="query-struct-filter-group__footer">
        <smss-btn
            class="smss-btn--text"
            ng-click="queryStructFilterCtrl.addFilter(queryStructFilterGroup.key, 'SIMPLE')"
        >
            <i class="fa fa-plus"></i>
            Add Rule
        </smss-btn>

        <smss-btn
            class="smss-btn--text"
            ng-click="queryStructFilterCtrl.addFilter(queryStructFilterGroup.key, 'GROUP')"
        >
            <i class="fa fa-plus"></i>
            Add Nested Rule
        </smss-btn>

        <div class="query-struct-filter-group__footer__spacer" />

        <smss-btn
            title="Delete the Group"
            ng-show="!queryStructFilterGroup.root"
            class="smss-btn--icon smss-btn--compact"
            ng-click="queryStructFilterCtrl.deleteFilter(queryStructFilterGroup.key)"
        >
            <i class="fa fa-trash-o"></i>
        </smss-btn>

        <ng-transclude />
    </div>
</div>
