.facet-headers {
    &__unit-type {
        float: right;
        width: 130px;
    }

    &__label {
        width: 40%;
        line-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 10px;
    }

    &__dropdown {
        width: 40%;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 10px;
    }

    &__input {
        width: calc(60% - 10px);
        min-width: 50px;
    }
}
