<div class="database">
    <div class="smss-row database__header">
        <div class="smss-col smss-col--9 database__info">
            <div class="database__image">
                <img
                    ng-if="database.appInfo.image.length > 0"
                    ng-src="{{database.appInfo.image}}"
                    alt="Database Logo Image"
                />
            </div>
            <div class="database__info__content">
                <div class="database__info__top">
                    <h3 title="{{database.appInfo.database_name}}">
                        {{database.appInfo.database_name}}
                    </h3>
                </div>
                <p
                    class="database__info__desc"
                    ng-show="database.appInfo.description.length > 0"
                    title="{{database.appInfo.description}}"
                >
                    {{database.appInfo.description}}
                </p>
            </div>
        </div>
        <div class="smss-col smss-col--8 database__col--btn">
            <smss-btn
                class="smss-btn--text"
                ng-click="database.printMetadata()"
                title="Print Metadata"
                id="database__semoss-tour-export-metadata"
            >
                <i class="fa fa-download"></i>
                Print Metadata
            </smss-btn>
            <smss-btn
                class="smss-btn--text"
                ng-click="database.openRequest()"
                title="Request Access"
                id="database__semoss-tour-request"
                ng-if="database.security && database.appInfo.database_discoverable"
            >
                <i class="fa fa-plus"></i>
                Request Access
            </smss-btn>
            <smss-btn
                class="smss-btn--text"
                ng-click="database.exportApp()"
                ng-if="!database.security || database.loggedInUser.permission === 'OWNER'"
                title="Export Database"
                id="database__semoss-tour-export"
            >
                <i class="fa fa-download"></i>
                Export
            </smss-btn>
            <smss-btn
                class="smss-btn--text"
                ng-click="database.openEdit()"
                ng-if="!database.security || (database.loggedInUser.permission !== 'READ_ONLY' && database.loggedInUser.permission !== '')"
                id="database__semoss-tour-edit"
                title="Edit Settings"
            >
                <i class="fa fa-edit"></i>
                Edit Settings
            </smss-btn>
        </div>
    </div>
    <div class="database__page">
        <!-- <smss-tab-group>
            <smss-tab id="database__semoss-tour-{{state.name}}"
                      ng-class="{'smss-tab--selected': database.state  ===  state.state}"
                      ng-repeat="state in database.states track by $index"
                      ng-click="database.navigateState(state.state)">
                {{state.name}}
            </smss-tab>
        </smss-tab-group> -->
        <ui-view></ui-view>
    </div>

    <edit-database
        open="database.edit.open"
        db="database.appInfo"
    ></edit-database>

    <request-database
        ng-if="database.security && database.appInfo.database_discoverable"
        open="database.request.open"
        db="database.appInfo"
    ></request-database>
</div>
