@import '~theme';

.embed-link {
    &__check {
        width: 50%;
    }

    &__group {
        margin-top: 1.25em;
    }

    &__inline {
        flex-direction: row;
        align-items: center;

        label {
            margin-bottom: 0;
            margin-right: 1em;
            width: auto;
        }
    }
}
