@import '~theme';

.text-editor {
    height: 100%;
    overflow: auto;

    p {
        line-height: 1;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
}

// .ProseMirror {
//     position: relative;
//     word-wrap: break-word;
//     white-space: pre-wrap;
//     white-space: break-spaces;
//     -webkit-font-variant-ligatures: none;
//     font-variant-ligatures: none;
//     font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
//     padding: 4px 8px 4px 14px;
//     line-height: 1.2;
//     outline: none;
//     height: 100%;
// }

// .ProseMirror p {
//     margin-bottom: 1em;
// }

// .ProseMirror pre {
//     white-space: pre-wrap;
// }

// .ProseMirror li {
//     position: relative;
// }

// .ProseMirror-hideselection *::selection { background: transparent; }
// .ProseMirror-hideselection *::-moz-selection { background: transparent; }
// .ProseMirror-hideselection { caret-color: transparent; }

// .ProseMirror-selectednode {
//     outline: 2px solid #8cf;
// }

// /* Make sure li selections wrap around markers */

// li.ProseMirror-selectednode {
//     outline: none;
// }

// li.ProseMirror-selectednode:after {
//     content: "";
//     position: absolute;
//     left: -32px;
//     right: -2px; top: -2px; bottom: -2px;
//     border: 2px solid #8cf;
//     pointer-events: none;
// }

// .ProseMirror-textblock-dropdown {
//     min-width: 3em;
// }

// .ProseMirror-gapcursor {
//     display: none;
//     pointer-events: none;
//     position: absolute;
// }

// .ProseMirror-gapcursor:after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: -2px;
//     width: 20px;
//     border-top: 1px solid black;
//     animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
// }

// @keyframes ProseMirror-cursor-blink {
//     to {
//       visibility: hidden;
//     }
// }

// .ProseMirror-focused .ProseMirror-gapcursor {
//     display: block;
// }

// .ProseMirror ul, .ProseMirror ol {
//     padding-left: 30px;
// }

// .ProseMirror blockquote {
//     padding-left: 1em;
//     border-left: 3px solid #eee;
//     margin-left: 0; margin-right: 0;
// }

// .ProseMirror p:first-child{
//     margin-top: 10px;
// }
