<div class="absolute-size">
    <div class="grid-delta-top">
        <div class="smss-clear">
            <smss-dropdown
                model="selectedApp"
                options="apps"
                change="setTable()"
                display="app_name"
                placeholder="Select a Database"
            >
            </smss-dropdown>
            <smss-dropdown
                model="selectedApp.app_table"
                options="tables"
                change="setData()"
                ng-if="tables"
                placeholder="Select Table"
            >
            </smss-dropdown>
        </div>
        <div class="grid-delta__actions">
            <grid-delta-search
                ng-if="localChartData.values"
                local-chart-data="localChartData"
                get-grid="getGrid"
                class="grid-delta__actions__search"
            >
            </grid-delta-search>
            <smss-btn ng-click="showSort()" class="smss-btn--text">
                <i class="fa fa-sort"></i>Sort
            </smss-btn>
            <smss-btn ng-click="showFilter()" class="smss-btn--text">
                <i class="fa fa-filter"></i>Filter
            </smss-btn>
        </div>
    </div>
    <div id="chart-container" class="grid-delta"></div>
    <div class="grid-delta-bottom" ng-if="taskId">
        <div class="grid-delta-bottom__side">
            <smss-btn class="smss-btn--text" ng-click="displayInsertRow(true)"
                ><i class="fa fa-plus"></i>Insert Row</smss-btn
            >
        </div>

        <div>
            <smss-btn
                class="smss-color--primary smss-btn--icon"
                ng-click="navigate('undo')"
                ng-disabled="history.actionIndex === -1"
                title="Undo"
            >
                <i class="fa fa-undo"></i>
            </smss-btn>
            <smss-btn
                class="smss-color--primary smss-btn--icon"
                ng-click="navigate('redo')"
                ng-disabled="(history.actions.length - 1) === history.actionIndex"
                title="Redo"
            >
                <i class="fa fa-repeat"></i>
            </smss-btn>
        </div>

        <div class="grid-delta-bottom__side grid-delta-bottom__side--right">
            <smss-btn ng-click="stopToSave()">Save Changes</smss-btn>
            <!-- <smss-checkbox model="isSavingOnEnter" class="grid-delta-save-enter">Save on Enter</smss-checkbox> -->
        </div>
    </div>
    <smss-overlay open="isInsertingRow" size="md">
        <smss-overlay-header>Insert Row</smss-overlay-header>
        <smss-overlay-body>
            <div
                ng-repeat="col in localChartData.keys track by $index"
                class="grid-delta-insert"
            >
                <div ng-class="{'grid-delta-invalid': col.invalid}">
                    {{col.raw}}
                </div>
                <div>
                    <smss-input
                        ng-if="!gridConfigurations.config[col.raw].selections || gridConfigurations.config[col.raw].selections.length === 0"
                        ng-model="newRow[col.alias]"
                        ng-blur="validateInput($event, {column: col.alias, newValue: newRow[col.alias], refData: col})"
                        class="smss-left"
                    ></smss-input>
                    <smss-dropdown
                        ng-if="gridConfigurations.config[col.raw].selections && gridConfigurations.config[col.raw].selections.length > 0"
                        model="newRow[col.alias]"
                        options="gridConfigurations.config[col.raw].selections"
                        placeholder="Select an option"
                    >
                    </smss-dropdown>
                </div>
            </div>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn class="smss-btn--text" ng-click="displayInsertRow(false)"
                >Cancel</smss-btn
            >
            <smss-btn ng-click="insertRow()">Insert Row</smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
    <smss-overlay open="isDeletingRow" size="sm">
        <smss-overlay-header>Delete Row</smss-overlay-header>
        <smss-overlay-body
            >Are you sure you want to delete row
            {{rowToDelete.display}}?</smss-overlay-body
        >
        <smss-overlay-footer>
            <smss-btn class="smss-btn--text" ng-click="hideDeleteRow()"
                >Cancel</smss-btn
            >
            <smss-btn
                class="smss-btn--error"
                ng-click="deleteRow(rowToDelete.value)"
                >Delete</smss-btn
            >
        </smss-overlay-footer>
    </smss-overlay>
    <smss-overlay open="isSorting">
        <smss-overlay-header>Sort Data</smss-overlay-header>
        <smss-overlay-body>
            <smss-field>
                <label> Select Column: </label>
                <content>
                    <smss-dropdown
                        model="sortOptions.selected"
                        options="sortOptions.options"
                        value="alias"
                        display="alias"
                        placeholder="Select a column"
                    >
                    </smss-dropdown>
                </content>
            </smss-field>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn ng-click="sort('asc')">Ascending</smss-btn>
            <smss-btn ng-click="sort('desc')">Descending</smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
    <smss-overlay open="isFiltering">
        <smss-overlay-header>Filter Data</smss-overlay-header>
        <smss-overlay-body>
            <smss-field>
                <label> Select Column: </label>
                <content>
                    <smss-dropdown
                        model="filterOptions.selectedColumn"
                        options="filterOptions.options"
                        value="alias"
                        display="alias"
                        change="getInstances()"
                        placeholder="Select a column"
                    >
                    </smss-dropdown>
                </content>
            </smss-field>
            <smss-field>
                <label> Select Instances: </label>
                <content>
                    <smss-checklist
                        class="smss-checklist--short"
                        ng-if="isFiltering"
                        model="filterOptions.selectedInstances"
                        options="filterOptions.instanceOptions"
                        scroll="getMoreInstances()"
                        search="getInstances(search)"
                        searchable
                        multiple
                    >
                    </smss-checklist>
                </content>
            </smss-field>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn
                class="smss-btn--text"
                ng-click="filterOptions.selectedColumn = ''; filterOptions.selectedInstances = []; filter()"
                >Clear</smss-btn
            >
            <smss-btn ng-click="filter()">Filter</smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
</div>
