
<div class="grid12">
    <hr style="margin: 10px 0px 10px 0px;"/>
</div>

<div class="grid12">
    <div class="grid6">
        <button id="HealthGridZIndex" class="btn-full btn-light pull-right sm-hor-padding"
                ng-click="healthGridTools.updateVisualization('toggleZ', !toolPanelCtrl.selectedData.uiOptions.toggleZ)"
                ng-class="{'toggled': toolPanelCtrl.selectedData.uiOptions.toggleZ}">
            Toggle Z-Index
        </button>
    </div>
    <div class="grid6">
        <button id="DrawQuadrants" class="btn-full btn-light pull-right"
                ng-click="healthGridTools.updateVisualization('lineGuide', !toolPanelCtrl.selectedData.uiOptions.lineGuide)"
                ng-class="{'toggled': !toolPanelCtrl.selectedData.uiOptions.lineGuide}">
            Toggle Quadrants
        </button>
    </div>
</div>
