@import '~theme';

.workspace-save {
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        &__project {
            display: flex;
            &__checkbox {
                width: auto;
                margin-left: auto;
                font-size: get-font-size('body-regular', 'em');
                line-height: rescale(
                    get-height('label', 'em'),
                    1em,
                    get-font-size('body-regular', 'em')
                );
                height: rescale(
                    get-height('label', 'em'),
                    1em,
                    get-font-size('body-regular', 'em')
                );
                min-height: auto;
            }
        }
    }

    &__fields {
        flex-grow: 1;
    }

    &__parameters {
        &__name {
            width: 100%;
        }
    }

    &__embed {
        &__input {
            width: calc(
                100% - #{get-width('icon', 'rem') + get-spacing('sm', 'rem')}
            );
        }
    }

    &__notification {
        align-items: center;
        background-color: #fef6e9;
        display: flex;
        margin-bottom: get-spacing('md', 'em');
        padding: to-rem(8px) to-rem(21px);

        &-text {
            margin-left: get-spacing('sm', 'em');

            p {
                color: #1e1e1e;
            }
        }

        &-value {
            font-weight: get-font-weight('semibold');
        }

        .fa-exclamation-triangle {
            align-self: flex-start;
            color: get-text-color('warn');
        }

        .fa-times {
            font-size: large;
            margin-left: auto;
        }
    }

    &__insight-warning {
        .smss-typeahead__input {
            border-color: red;
        }
        .smss-input:hover {
            border-color: red;
        }
    }

    &__already-exists {
        p {
            font-size: medium;
            line-height: normal;
            margin-top: get-spacing('md', 'em');

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__advanced {
        padding: get-spacing('sm', 'em') 0;
    }

    &__parameters-overlay {
        & .smss-overlay__wrapper {
            height: 95%;
            width: 95%;
            max-height: 95%;
            padding: get-spacing('lg', 'em');
        }
        & .smss-overlay__background {
            opacity: 0;
        }
    }

    &__action {
        justify-content: flex-end;
        padding: 1em 0 0 0;

        > :last-child {
            margin-right: 0 !important;
        }
    }

    &__btn {
        &--text {
            padding: 0;

            i {
                margin-right: 0;
            }
        }
    }

    &__visibility {
        display: flex;
        align-items: flex-start;

        .smss-radio {
            margin-left: 1em;
            width: auto;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
