@import '~theme';

.vivagraph {
    &__legend {
        position: absolute;
        top: get-spacing('sm', 'em');
        left: get-spacing('sm', 'em');
        max-height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
        width: 180px;
        opacity: 0.85;
        padding: 0 get-spacing('sm', 'em');
        background: get-background-color('default');
        border: 1px solid get-border-color('default');
    }

    &__selection {
        position: absolute;
        border: 1px solid get-border-color('default');
    }

    &__tooltip {
        padding: get-spacing('sm', 'em') / 2 get-spacing('sm', 'em');
        z-index: 10;
        background: get-background-color('default');
        width: auto;
        pointer-events: none;
        border: 1px solid get-border-color('default');
    }
}
