<!--single selection-->
<smss-slider
    model="dashFilterSS.filter.selectedRange"
    options="dashFilterSS.filter.categoricalHeaders"
    change="dashFilterSS.applyFilterIfAuto()"
    categorical
>
</smss-slider>
<div class="dashboard-filter-legacy-slider-menu">
    <smss-btn
        class="dashboard-filter-legacy-input-btn"
        ng-click="dashFilterSS.applyFilter()"
        ng-if="!dashFilterSS.auto"
    >
        Apply Filter
    </smss-btn>
    <smss-btn
        class="smss-btn--text dashboard-filter-legacy-input-btn"
        ng-click="dashFilter.unfilter(dashFilterSS.column)"
        >Clear</smss-btn
    >
</div>
