@import '~theme';

.smss-btn-group {
    display: flex;
    align-items: center;

    & .smss-btn {
        background: transparent;
        color: get-text-color('low-emphasis') !important;
        z-index: 0;
        border: 1px solid get-border-color('default');
        border-radius: 0px;
        height: get-height('button', 'em');

        & > * {
            line-height: calc(
                #{get-height('button', 'em')} - 2 *#{$border-size}
            );
        }

        &.smss-btn--selected {
            color: get-text-color('high-emphasis') !important;
            background: get-background-color('border');
        }

        &:hover {
            color: get-text-color('primary') !important;
            background: transparent !important;
        }

        &:focus-visible {
            z-index: 1;
            box-shadow: get-box-shadow('focus', 'default');
            background: get-background-color('default');
        }

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:not(:last-child) {
            border-right-color: transparent;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &--disabled,
        &:disabled,
        &[disabled='disabled'] {
            background: transparent !important;
            color: get-text-color('disabled') !important;
            border: $border-size solid get-border-color('disabled');
        }

        &.smss-btn--icon {
            width: get-height('button', 'em');
        }

        &--compact {
            height: get-height('button--compact', 'em');

            & > * {
                line-height: calc(
                    #{get-height('button--compact', 'em')} - 2 *#{$border-size}
                );
            }

            &.smss-btn--icon {
                width: get-height('icon', 'em');
                & > * {
                    line-height: calc(
                        #{get-height('icon', 'em')} - 2 *#{$border-size}
                    );
                }
            }
        }
    }

    &--even .smss-btn {
        flex: 1;
    }
}
