@import '~theme';

.project-smss {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    &__field {
        flex-basis: 75%;
    }
    &__update {
        &__btn {
            margin-top: 1em;
            display: flex;
            justify-content: center;
        }
    }
}
