<div class="smss-editor" ng-disabled="smssEditor.disabled">
    <div class="smss-editor__toolbar">
        <smss-btn-group class="smss-editor__toolbar__btn-group">
            <smss-btn
                title="Bold"
                class="smss-btn--icon smss-btn--compact"
                ng-class="{'smss-btn--selected': smssEditor.state === 'bold'}"
                ng-click="smssEditor.execEditor('bold')"
            >
                <i class="fa fa-bold"></i>
            </smss-btn>
            <smss-btn
                title="Italic"
                class="smss-btn--icon smss-btn--compact"
                ng-class="{'smss-btn--selected': smssEditor.state === 'italic'}"
                ng-click="smssEditor.execEditor('italic')"
            >
                <i class="fa fa-italic"></i>
            </smss-btn>
            <smss-btn
                title="Underline"
                class="smss-btn--icon smss-btn--compact"
                ng-class="{'smss-btn--selected': smssEditor.state === 'underline'}"
                ng-click="smssEditor.execEditor('underline')"
            >
                <i class="fa fa-underline"></i>
            </smss-btn>
            <smss-btn
                title="Strike Through"
                class="smss-btn--icon smss-btn--compact"
                ng-class="{'smss-btn--selected': smssEditor.state === 'strikethrough'}"
                ng-click="smssEditor.execEditor('strikethrough')"
            >
                <i class="fa fa-strikethrough"></i>
            </smss-btn>
        </smss-btn-group>
        <smss-btn-group class="smss-editor__toolbar__btn-group">
            <smss-btn
                title="Font Color"
                class="smss-btn--icon smss-btn--compact smss-editor__toolbar__color"
            >
                <smss-color-picker
                    ng-click="smssEditor.onEditorActionFocus()"
                    model="smssEditor.textColor"
                    change="smssEditor.onEditorActionClose('foreColor', smssEditor.textColor)"
                ></smss-color-picker>
            </smss-btn>
        </smss-btn-group>
        <smss-btn-group class="smss-editor__toolbar__btn-group">
            <smss-btn
                title="Left"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('justifyLeft')"
            >
                <i class="fa fa-align-left"></i>
            </smss-btn>
            <smss-btn
                title="Center"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('justifyCenter')"
            >
                <i class="fa fa-align-center"></i>
            </smss-btn>
            <smss-btn
                title="Right"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('justifyRight')"
            >
                <i class="fa fa-align-right"></i>
            </smss-btn>
            <smss-btn
                title="Justify"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('justifyFull')"
            >
                <i class="fa fa-align-justify"></i>
            </smss-btn>
        </smss-btn-group>

        <smss-btn-group class="smss-editor__toolbar__btn-group">
            <smss-btn
                title="Heading 1"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('formatBlock', '<h1>')"
            >
                H<sub>1</sub>
            </smss-btn>
            <smss-btn
                title="Heading 2"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('formatBlock', '<h2>')"
            >
                H<sub>2</sub>
            </smss-btn>
            <smss-btn
                title="Heading 3"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('formatBlock', '<h3>')"
            >
                H<sub>3</sub>
            </smss-btn>
            <smss-btn
                title="Paragraph"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('formatBlock', '<p>')"
            >
                p
            </smss-btn>
            <smss-btn
                title="Ordered List"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('insertOrderedList')"
            >
                <i class="fa fa-list-ol"></i>
            </smss-btn>
            <smss-btn
                title="Unordered List"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('insertUnorderedList')"
            >
                <i class="fa fa-list-ul"></i>
            </smss-btn>
            <smss-btn
                title="Line"
                class="smss-btn--icon smss-btn--compact"
                ng-click="smssEditor.execEditor('insertHorizontalRule')"
            >
                <i class="fa fa-list-ul"></i>
            </smss-btn>
        </smss-btn-group>
    </div>
    <div
        id="smss-editor__content"
        class="smss-editor__content"
        contenteditable="true"
    ></div>
</div>
