@import '~theme';

.smss-editor {
    position: relative;
    @include disabled();
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1rem;

    &__toolbar {
        display: flex;
        align-items: center;
        border: 1px solid get-border-color('default');
        border-bottom: none;
        border-radius: $border-radius $border-radius 0 0;
        overflow: hidden;
        background: get-background-color('light');
        height: get-height('xl', 'em');
        padding: 0 get-spacing('sm', 'em');

        &:hover {
            overflow-x: auto;
        }

        &__btn-group {
            padding-right: get-spacing('sm', 'em');

            & .smss-btn {
                font-size: 1em;
            }
        }

        &__color {
            padding: 0;

            & .smss-color-picker__toggle {
                background: transparent;
                border: none;
                justify-content: center;
                padding: 0;
                height: 100%;
                width: 100%;

                &__mark {
                    margin: 0;
                    padding: get-spacing('xxs', 'em');
                }

                &__text {
                    display: none;
                }

                &__icon {
                    display: none;
                }
            }
        }
    }

    &__content {
        flex: 1;
        width: 100%;
        padding: get-spacing('xs', 'em') $scroll-size;
        border: 1px solid get-border-color('default');
        border-top-color: transparent;
        border-radius: 0 0 $border-radius $border-radius;
        overflow: auto;
        outline: none;
        cursor: text;

        &:focus-visible {
            border-color: get-border-color('primary');
        }
    }
}
