@import '~theme';

.edit-database {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__container {
        height: 100%;
        width: 100%;
    }

    &__image {
        display: flex;
        align-items: center;
        & .smss-btn {
            margin-left: get-spacing('sm', 'rem');
        }
    }

    &__table {
        max-height: 200px;
        overflow: auto;

        &__dropdown {
            width: 192px;
        }
    }

    &__generate-btn {
        margin: get-spacing('sm', 'em') / 2 0;
    }

    &__auto-desc {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        overflow: hidden;

        &__results {
            flex: 1;
            overflow: hidden;

            &__scroll {
                overflow: auto;
                height: 100%;
                width: 100%;
            }

            &__row {
                display: flex;
                align-items: flex-start;
                margin: get-spacing('sm', 'em') * 2 get-spacing('sm', 'em');

                & label {
                    flex-shrink: 0;
                    width: get-width('icon', 'em');
                }

                & textarea {
                    height: auto;
                }
            }
        }
    }
    &__current {
        padding-top: get-spacing('lg', 'rem');
    }
    &__top {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-right: get-spacing('md', 'rem');
        padding-right: get-spacing('md', 'rem');
        & .smss-search {
            width: 205px;
        }
    }
    &__header {
        height: get-height('block', 'rem');
        padding: 0 get-spacing('md', 'rem');
        & h6 {
            line-height: get-height('block', 'rem');
            color: get-text-color('medium-emphasis');
        }
        &__role {
            padding-left: calc(
                #{$border-size} + #{get-spacing('scroll', 'rem')}
            );
        }
    }
    &__page {
        overflow: auto;
        margin-top: 2em;
    }
    &__overlay {
        max-height: 95%;
        width: 95%;
    }
    &__field {
        padding-right: calc(#{$border-size} + #{get-spacing('scroll', 'rem')});
    }
    &__field_markdown {
        padding-right: calc(#{$border-size} + #{get-spacing('scroll', 'rem')});
    }
    &__textarea {
        padding-right: calc(#{$border-size} + #{get-spacing('scroll', 'rem')});
        height: calc(100% - #{get-spacing('gutter', 'rem')});
        width: calc(100% - #{get-spacing('sm', 'rem')});
    }
    &__section {
        & .smss-collapsible__content {
            padding: 0;
        }
        & .smss-collapsible__header__text {
            text-transform: capitalize;
        }
    }
    &__row {
        height: get-height(
            'block',
            'rem'
        ); // TODO: update to get-height("image", "rem") once user images are added
        line-height: get-height(
            'block',
            'rem'
        ); // TODO: update to get-height("image", "rem") once user images are added
        width: 100%;
        overflow: hidden;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 0 get-spacing('md', 'rem');
        display: flex;
        align-items: center;
        &:not(:last-child) {
            border-bottom-color: get-border-color('default');
        }
    }
    &__col {
        @include text-overflow();
        font-size: get-font-size('body-regular', 'rem');
        color: get-text-color('high-emphasis');
        &--btn {
            text-align: right;
        }
    }
    &__content {
        inset: 0 0 0 1px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;

        &__header {
            z-index: 1;
            width: 100%;
            margin-bottom: get-spacing('lg', 'rem');
        }

        &__markdown {
            flex-grow: 1;
            height: 600px;
            width: 100%;

            &__edit {
                resize: none;
                height: 90%;
                overflow-y: auto;
            }
            &__preview {
                display: block;
                font-size: get-font-size('body-regular', 'rem');
                height: 100%;
                line-height: $line-height--large;
                width: 100%;
                margin: 0;
                background: get-background-color('default');
                outline: none;
                box-shadow: none;
                border-width: $border-size;
                border-style: solid;
                border-color: get-border-color('default');
                border-radius: $border-radius;
                color: get-text-color('high-emphasis');
                overflow-y: auto;
                resize: vertical;
            }
        }

        &__body {
            width: 100%;
            flex: 1;
            position: relative;
            overflow: hidden;
            padding-top: 20px;

            border-radius: $border-radius;

            &__query {
                height: 100%;
                width: 100%;
                overflow-x: hidden;
                overflow-y: auto;

                &__textbox {
                    width: 100%;
                    height: 200px;
                    border: 1px solid get-border-color('default');
                }

                &__results {
                    max-height: 65vh;
                    width: 100%;
                    margin-left: $scroll-size * 2;
                    overflow: auto;

                    th {
                        width: $field-width;
                    }

                    td {
                        width: $field-width;
                    }
                }
            }

            & .import__accordion__wrapper {
                top: 0;
            }
        }
    }
    &__new {
        &__member {
            display: flex;
            align-items: center;
            height: get-height('default', 'rem');

            & .smss-btn {
                display: none;
                margin-left: get-spacing('sm', 'rem');
            }
            &:hover .smss-btn {
                display: inline-block;
            }
        }
        &__temp {
            display: flex;
            align-items: center;
            & .smss-dropdown {
                width: calc(50% - #{get-width('icon', 'rem')});
                margin-right: get-spacing('sm', 'rem');
            }
        }
        &__dismiss {
            cursor: pointer;
            color: get-text-color('primary');
        }
    }
    &__btn {
        z-index: 1;
        top: 0;
        &--overlays {
            position: absolute;
            left: calc(200px + #{get-spacing('sm', 'rem')});
        }
        &--actions {
            position: absolute;
            right: 0;
            & .smss-btn:first-child {
                margin-right: get-spacing('sm', 'rem');
            }
        }
        &--edit {
            right: 0;
            & .smss-btn:first-child {
                margin-right: get-spacing('sm', 'rem');
            }
        }
    }
}
