<div class="view-layer">
    <div class="view-layer__toggle" smss-popover>
        <div class="view-layer__toggle__image">
            <img
                ng-src="{{viewLayer.images[viewLayer.layer.options[viewLayer.layer.selected].layout]}}"
                ng-if="viewLayer.images[viewLayer.layer.options[viewLayer.layer.selected].layout]"
            />
        </div>
        <div class="view-layer__toggle__text">
            {{viewLayer.layer.options[viewLayer.layer.selected].name}}
        </div>
        <div class="view-layer__toggle__icon"></div>

        <smss-popover-content
            position="['SW', 'SE', 'NW','NE']"
            ng-style="{width: viewLayer.width + 'px'}"
        >
            <div class="view-layer__content">
                <smss-scroll
                    static-x="true"
                    class="view-layer__content__scroll"
                >
                    <div class="smss-text">
                        <span class="smss-small"> Front </span>
                    </div>
                    <ul
                        class="view-layer__content__list"
                        dnd-list="viewLayer.layer.options"
                        dnd-drop="viewLayer.stopDrag(index, item, event)"
                    >
                        <div
                            ng-repeat="layer in viewLayer.layer.options"
                            dnd-draggable="layer"
                            dnd-dragstart="viewLayer.startDrag($index)"
                            dnd-dragend="viewLayer.endDrag()"
                        >
                            <div class="smss-clear">
                                <smss-btn
                                    title="Select"
                                    class="smss-left smss-color--primary smss-btn--icon smss-btn--right"
                                    ng-click="viewLayer.changeLayer($index)"
                                >
                                    <i
                                        class="fa fa-check smss-color--primary"
                                        ng-show="$index === viewLayer.layer.selected"
                                    ></i>
                                </smss-btn>
                                <div
                                    class="smss-left view-layer__content__image"
                                >
                                    <img
                                        ng-src="{{viewLayer.images[layer.layout]}}"
                                        ng-if="viewLayer.images[layer.layout]"
                                    />
                                </div>
                                <div
                                    class="smss-left smss-text view-layer__content__text"
                                >
                                    {{layer.name}}
                                </div>
                                <smss-btn
                                    title="Edit"
                                    class="smss-left smss-btn--left smss-btn--icon"
                                    ng-click="viewLayer.openEdit(layer)"
                                >
                                    <i class="fa fa-pencil"></i>
                                </smss-btn>
                                <smss-btn
                                    title="Delete"
                                    class="smss-left smss-btn--left smss-btn--icon smss-color--error"
                                    ng-click="viewLayer.deleteLayer( layer)"
                                >
                                    <i class="fa fa-trash"></i>
                                </smss-btn>
                            </div>
                        </div>
                    </ul>
                    <div class="smss-text">
                        <span class="smss-small"> Back </span>
                    </div>
                </smss-scroll>
                <div class="smss-action">
                    <smss-btn class="smss-btn" ng-click="viewLayer.addLayer()">
                        <i class="fa fa-plus"></i>
                        Add New Layer
                    </smss-btn>
                </div>
            </div>
        </smss-popover-content>
    </div>
</div>

<smss-overlay open="viewLayer.overlay.open" body="true">
    <smss-overlay-header>Edit Layer</smss-overlay-header>
    <smss-overlay-body>
        <smss-field>
            <label> Enter Layer Name: </label>
            <content>
                <smss-input
                    ng-model="viewLayer.overlay.layer.name"
                ></smss-input>
            </content>
        </smss-field>
        <smss-field>
            <label> Show/Hide Axis: </label>
            <content>
                <smss-checkbox
                    model="viewLayer.overlay.layer.addXAxis"
                    ng-disabled="viewLayer.overlay.layer.base"
                    >Show X-Axis</smss-checkbox
                >
                <smss-checkbox
                    model="viewLayer.overlay.layer.addYAxis"
                    ng-disabled="viewLayer.overlay.layer.base"
                    >Show Y-Axis</smss-checkbox
                >
            </content>
        </smss-field>
    </smss-overlay-body>
    <smss-overlay-footer>
        <smss-btn class="smss-btn--text" ng-click="viewLayer.closeEdit()"
            >Cancel</smss-btn
        >
        <smss-btn ng-click="viewLayer.editLayer(viewLayer.overlay.layer)"
            >Save</smss-btn
        >
    </smss-overlay-footer>
</smss-overlay>
