@import '~theme';
.preview {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &__grid {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
