<smss-scroll
    static-x="true"
    ng-if="!textWidget.compiledTemplate"
    class="text-widget--editing"
>
    <div class="text-widget__edit">
        <smss-field>
            <label> HTML: </label>
            <content>
                <smss-textarea
                    rows="8"
                    id="textarea"
                    ng-model="textWidget.html"
                    class="smss-textarea--resize-vertical text-widget__edit__textarea"
                >
                </smss-textarea>
            </content>
        </smss-field>

        <smss-field inline>
            <label> Parameter Table: </label>
            <content></content>
        </smss-field>
        <div class="smss-spacing">
            <div class="text-widget__table">
                <table class="smss--sticky">
                    <thead>
                        <tr>
                            <th width="20%">Param Name</th>
                            <th>Query</th>
                            <th class="smss--icon"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            ng-repeat="variable in textWidget.varList track by $index"
                        >
                            <td>
                                <smss-input
                                    ng-model="variable.name"
                                ></smss-input>
                            </td>
                            <td>
                                <smss-textarea
                                    ng-model="variable.query"
                                ></smss-textarea>
                            </td>
                            <td class="text-widget__table__clip">
                                <smss-btn
                                    class="smss-btn--icon"
                                    ng-click="textWidget.removeParam($index)"
                                >
                                    <i
                                        class="fa fa-times smss-color--error"
                                    ></i>
                                </smss-btn>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-widget__table__clip">
                                <smss-btn
                                    class="smss-btn--icon"
                                    ng-click="textWidget.addParam()"
                                    title="Add a new param"
                                >
                                    <i
                                        class="fa fa-plus smss-color--success"
                                    ></i>
                                </smss-btn>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="smss-spacing">
            <smss-checkbox
                model="textWidget.freeze"
                title="Freeze panel so that it doesn't react to any changes"
                change="textWidget.toggleListeners();"
                >Freeze (on / off)</smss-checkbox
            >
        </div>
        <div class="smss-spacing">
            <smss-checkbox
                model="textWidget.loading"
                title="Isolate the loading screen to only act on this panel"
                >Isolate Loading (on / off)</smss-checkbox
            >
        </div>
        <div class="smss-action smss-clear">
            <smss-btn ng-click="textWidget.save()"> Compile </smss-btn>
        </div>
    </div>
</smss-scroll>
<smss-btn
    ng-show="textWidget.compiledTemplate"
    class="smss-btn--icon text-widget__toggle"
    ng-click="textWidget.editWidget()"
>
    <i class="fa fa-edit" title="Edit Widget"></i>
</smss-btn>
<div ng-show="textWidget.cloak" class="text-widget__loading"></div>
