<loading-screen
    model="traverse.loading"
    messages="traverse.loadingMessageList"
></loading-screen>

<div class="traverse">
    <!--database list-->
    <smss-scroll static-x="true">
        <smss-field>
            <label> Database: </label>
            <content>
                <smss-dropdown
                    display="display"
                    value="value"
                    model="traverse.database.selected"
                    options="traverse.database.list"
                    change="traverse.selectDB();"
                    autofocus
                >
                </smss-dropdown>
            </content>
        </smss-field>

        <smss-field>
            <label> Selected Concept: </label>
            <content>
                <div class="smss-text">{{traverse.selectedHeader.alias}}</div>
            </content>
        </smss-field>

        <smss-field>
            <label> Traverse As: </label>
            <content>
                <smss-dropdown
                    display="conceptualName"
                    ng-disabled="!traverse.database.selected"
                    model="traverse.engineNodes.selected"
                    options="traverse.engineNodes.options.nodes"
                    change="traverse.getConnectedConcepts(traverse.engineNodes.selected);"
                >
                </smss-dropdown>
            </content>
        </smss-field>

        <div
            ng-if="(traverse.engineNodes.selected.conceptualName !== '...') && (!traverse.connectedProperties[traverse.database.selected] && !traverse.connectedConcepts[traverse.database.selected]) ||
            (Object.keys(traverse.connectedProperties[traverse.database.selected]).length === 0 && Object.keys(traverse.connectedConcepts[traverse.database.selected]).length === 0)"
            class="smss-caption--center traverse__message"
        >
            No traversal options exist for
            {{traverse.engineNodes.selected.conceptualName}}.
        </div>

        <!--connected concepts list-->
        <div ng-show="!traverse.showInstances" class="traverse__container">
            <div
                ng-show="!traverse.database.show && traverse.connectedConcepts[traverse.database.selected]"
                class="traverse__container__half"
            >
                <smss-search
                    placeholder="Search concepts..."
                    model="traverse.conceptSearch.name"
                >
                </smss-search>
                <smss-scroll
                    ng-repeat="(key, value) in traverse.connectedConcepts[traverse.database.selected]"
                    class="traverse__container__half__scroll"
                    static-x="true"
                >
                    <span
                        ng-repeat="item in value | orderBy: 'name' | filter: traverse.conceptSearch track by $index"
                        title="Traverse to {{item.name | replaceUnderscores}}"
                    >
                        <div
                            class="smss-block traverse__container__half__scroll__block"
                            ng-click="traverse.getConceptInstances(item.direction, key, item.name, true)"
                        >
                            <div class="smss-block__text">
                                <div class="smss-block__text__title">
                                    <span
                                        >{{item.name |
                                        replaceUnderscores}}</span
                                    >
                                </div>
                                <div class="smss-block__text__description">
                                    <span
                                        >{{item.direction === 'upstream' ?
                                        'Upstream': ''}} {{item.direction ===
                                        'downstream' ? 'Downstream': ''}}</span
                                    >
                                </div>
                            </div>
                            <div
                                class="smss-block__action smss-color--medium-emphasis"
                            >
                                <i
                                    class="fa fa-arrow-down"
                                    ng-if="item.direction === 'downstream'"
                                    title="Downstream"
                                >
                                </i>
                                <i
                                    class="fa fa-arrow-up"
                                    ng-if="item.direction === 'upstream'"
                                    title="Upstream"
                                >
                                </i>
                            </div>
                        </div>
                    </span>
                </smss-scroll>
            </div>

            <!--properties list-->
            <div
                ng-show="!traverse.database.show && traverse.connectedProperties[traverse.database.selected]"
                class="traverse__container__half"
            >
                <smss-search
                    placeholder="Search properties..."
                    model="traverse.propertySearch.display"
                >
                </smss-search>
                <smss-scroll
                    static-x="true"
                    ng-repeat="(key, value) in traverse.connectedProperties[traverse.database.selected]"
                    class="traverse__container__half__scroll"
                >
                    <span
                        ng-repeat="item in value | orderBy: 'display' | filter: traverse.propertySearch track by $index"
                        title="Traverse to {{item.display | replaceUnderscores}}"
                    >
                        <div
                            class="smss-block traverse__container__half__scroll__block"
                            ng-click="traverse.getPropertyInstances(item, key)"
                        >
                            <div class="smss-block__text">
                                <div class="smss-block__text__title">
                                    <span
                                        >{{item.display |
                                        replaceUnderscores}}</span
                                    >
                                </div>
                                <div class="smss-block__text__description">
                                    <span>Property</span>
                                </div>
                            </div>
                            <div
                                class="smss-block__action smss-color--medium-emphasis"
                            >
                                <i class="fa fa-columns" title="Property"> </i>
                            </div>
                        </div>
                    </span>
                </smss-scroll>
            </div>
        </div>
        <!--instances view-->
        <div ng-show="traverse.showInstances" class="traverse__container">
            <smss-field>
                <label> Traverse To: </label>
                <content> {{traverse.currentComponent.display}} </content>
            </smss-field>
            <smss-field>
                <label>Limit: </label>
                <content>
                    <smss-slider
                        model="traverse.instanceLimit"
                        min="1"
                        max="traverse.instances.count"
                        numerical
                    ></smss-slider>
                </content>
            </smss-field>
            <smss-checklist
                class="traverse__container__checklist"
                model="traverse.instances.selected"
                options="traverse.instances.list"
                loading="traverse.instances.loading"
                change="traverse.selectedInstance(delta)"
                search="traverse.searchInstances(search)"
                scroll="traverse.getMoreInstances()"
                searchable
                quickselect
                multiple
            >
            </smss-checklist>
            <div class="smss-action">
                <smss-btn
                    class="smss-btn--text"
                    ng-click="traverse.showInstances = false;"
                >
                    Back
                </smss-btn>
                <smss-btn
                    ng-click="traverse.queueComponent(); traverse.executeMerge();"
                >
                    Execute
                </smss-btn>
            </div>
        </div>
    </smss-scroll>
</div>
