@import '~theme';

.query-struct-filter-single {
    display: flex;
    align-items: center;
    gap: get-spacing('sm', 'rem');
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid get-border-color('default');
    border-radius: $border-radius;
    background: get-background-color('light');
    padding-left: get-spacing('sm', 'rem');
    padding-right: get-spacing('sm', 'rem');

    &__column {
        position: relative;
        padding-top: get-spacing('sm', 'rem');
        padding-bottom: get-spacing('sm', 'rem');
        width: get-spacing('sm', 'rem') * 20;

        &--field {
            text-align: left;
        }
    }

    &__action {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        &--right {
            padding-left: get-spacing('sm', 'rem');
            border-left: 1px solid get-border-color('default');
        }
    }
}
