<smss-scroll static-x="true">
    <smss-field ng-if="editGrid.selectedLayout !== 'Scatter'">
        <content>
            <smss-checkbox model="editGrid.x" change="editGrid.execute()">
                Show Vertical Grid Line
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field ng-if="editGrid.selectedLayout === 'Scatter'">
        <content>
            <smss-checkbox
                model="editGrid.xScatter"
                change="editGrid.execute()"
            >
                Show Vertical Grid Line
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field
        ng-if="editGrid.selectedLayout !== 'Waterfall' && editGrid.selectedLayout !== 'HeatMap'"
    >
        <content>
            <smss-checkbox model="editGrid.y" change="editGrid.execute()">
                Show Horizontal Grid Line
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field
        ng-if="editGrid.selectedLayout === 'Waterfall' || editGrid.selectedLayout === 'HeatMap'"
    >
        <content>
            <smss-checkbox
                model="editGrid.yWaterfall"
                change="editGrid.execute()"
            >
                Show Horizontal Grid Line
            </smss-checkbox>
        </content>
    </smss-field>

    <div class="smss-action">
        <smss-btn ng-click="editGrid.resetTool()"> Reset </smss-btn>
    </div>
</smss-scroll>
