@import '~theme';

.database-physical {
    inset: 0 0 0 1px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__body {
        width: 100%;
        flex: 1;
        position: relative;
        overflow: hidden;
        border-radius: $border-radius;

        & .import__accordion__wrapper {
            top: 0;
        }
    }

    &__column-name {
        max-width: fit-content;
    }
    &__confirm-column-delete-body {
        display: flex;
        flex-direction: column;
    }
    &__footer {
        display: flex;
        flex-direction: column;
    }
    &__add-col-btn {
        display: flex;
        justify-content: end;
    }
    &__horizontal-fields {
        display: flex;
        padding-left: 0.33em;
    }
    &__test {
        margin-bottom: 6em;
    }
    &__table-graph-container {
        margin: 20%;
        padding: 10%;
    }

    &__delete-columns-label {
        // color: red;
        float: left;
        font-size: medium;
        margin-bottom: 1em;
    }
    &__delete-columns-list {
        margin-right: 6%;
        border: 3px solid var(--color-grey-5);
        border-radius: 4px;
        max-height: 360px;
        overflow: scroll;
    }
    &__delete-columns-container {
        // position: fixed;
        // bottom: 0;
        // max-height: 360px;
        max-width: fit-content;
        // overflow: scroll;
        background-color: white;
        margin-top: 2em;
        margin-right: 0.33em;
        padding: 0.33em;
        // margin-bottom: .25em;
        // position: fixed;
        // top: 20;
        // // margin: .25em;
        // padding: .6em;
        // overflow: hidden;
        // z-index: 10;
        // background-color: aliceblue;
    }
    &__fields-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: left;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    &__field-container {
        display: flex;
        flex-direction: column;
        min-height: 2em;
        // align-content: center;
        // margin-top: 1em;
        margin-bottom: 1em;
    }
    &__input-container {
        min-height: 2em;
    }
    &__label {
        font-size: medium;
        margin-bottom: 0.1em;
        margin-left: 0.2em;
        // min-height: 2em;
        // margin-left: 2em;
        // margin-bottom: .3em;
        // display: flex;
        // align-self: center;
        // font-weight: bold;
    }
    &__join {
        width: 100%;
        display: flex;
        align-items: center;
        margin: get-spacing('sm', 'rem') 0;

        &__text {
            width: 8 * get-spacing('sm', 'rem');
            text-align: center;
            flex-shrink: 0;
        }
        &__dropdown {
            flex: 1;
            overflow: hidden;
            &--margin {
                margin-right: get-spacing('sm', 'rem');
            }
            &--no-margin {
                margin-right: 0;
            }
        }
        &__btn {
            margin: 0 get-spacing('sm', 'rem');
            flex-shrink: 0;
        }
        &__spacer {
            height: get-height('icon', 'rem');
            width: get-width('icon', 'rem');
            margin: 0 get-spacing('sm', 'rem');
            flex-shrink: 0;
        }
    }

    &__warning {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
    }

    &__btn {
        position: absolute;
        z-index: 1;
        top: 0;

        &--overlays {
            left: calc(200px + #{get-spacing('sm', 'rem')});
        }

        &--actions {
            right: 0;
            & .smss-btn:first-child {
                margin-right: get-spacing('sm', 'rem');
            }
        }
    }

    &__overlay {
        & .smss-overlay__wrapper {
            height: 80%;
        }

        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &__flex {
                flex: 1;
                overflow: hidden;

                &__half {
                    height: 100%;

                    &__checklist {
                        position: relative;
                    }
                }
            }
        }
    }

    &__form {
        &__group {
            display: 'flex';

            &__flex {
                flex: 1;
                overflow: hidden;
            }
        }
    }
}
