<div class="import-file-table">
    <div
        ng-show="importFileTable.step === 'initial'"
        class="import-file-table__content"
    >
        <smss-scroll static-x="true">
            <smss-field>
                <label
                    >Enter Database Name:<span class="smss-color--error"
                        >*</span
                    ></label
                >
                <content>
                    <smss-input
                        ng-model="importCtrl.name.value"
                        ng-change="importCtrl.validateName()"
                        placeholder="Database Name"
                        autofocus
                    ></smss-input>
                </content>
                <description class="smss-color--error">
                    <span ng-show="importCtrl.name.message">
                        {{importCtrl.name.message}}</span
                    >
                </description>
            </smss-field>
            <smss-field>
                <label>Enter Database Description:</label>
                <content>
                    <smss-textarea
                        ng-model="importCtrl.meta.description"
                        placeholder="Database Description"
                    ></smss-textarea>
                </content>
            </smss-field>
            <smss-field>
                <label> Enter Database Tags: </label>
                <content>
                    <smss-multiselect
                        model="importCtrl.meta.tags"
                        options="importCtrl.meta.all"
                    ></smss-multiselect>
                </content>
            </smss-field>

            <div
                flow-name="importFileTable.rawFiles"
                flow-init="{singleFile: true}"
                flow-file-added="importFileTable.checkFileExtension($file)"
                flow-drop
                ng-class="dropClass2"
                flow-drag-enter="dropClass2='drop-zone--enter'"
                flow-drag-leave="dropClass2=''"
                class="drop-zone drop-zone--borderless"
            >
                <smss-field>
                    <label> Select File: </label>
                    <content>
                        <div
                            class="drop-zone__container"
                            ng-class="{'drop-zone__container--upload': importFileTable.rawFiles.files.length > 0}"
                        >
                            <div
                                class="drop-zone__message"
                                ng-if="importFileTable.rawFiles.files.length == 0"
                            >
                                <div class="drop-zone__message__icon">
                                    <i class="fa fa-folder"></i>
                                </div>
                                <div class="drop-zone__message__text">
                                    Drag and drop files
                                </div>
                                <smss-btn
                                    class="smss-btn--outline smss-btn--compact"
                                    flow-btn
                                    >or upload</smss-btn
                                >
                            </div>
                            <div
                                ng-repeat="file in importFileTable.rawFiles.files track by $index"
                                class="drop-zone__file drop-zone__file--single"
                            >
                                <div class="drop-zone__file__icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div
                                    class="drop-zone__file__text"
                                    title="{{file.name}}"
                                >
                                    {{file.name}}
                                </div>
                                <smss-btn
                                    ng-click="importFileTable.cancelFiles(file)"
                                    class="smss-btn--compact smss-btn--outline"
                                >
                                    Remove
                                </smss-btn>
                            </div>
                        </div>
                    </content>
                </smss-field>
            </div>
            <smss-field>
                <label>Enter Schema:</label>
                <content>
                    <smss-input
                        ng-model="importFileTable.connection.schema"
                        placeholder="Schema"
                    ></smss-input>
                </content>
            </smss-field>
            <smss-field>
                <label>Enter Username:</label>
                <content>
                    <smss-input
                        ng-model="importFileTable.connection.username"
                        placeholder="Username"
                    ></smss-input>
                </content>
            </smss-field>
            <smss-field>
                <label>Enter Password:</label>
                <content>
                    <smss-input
                        type="password"
                        ng-model="importFileTable.connection.password"
                        placeholder="Password"
                    ></smss-input>
                </content>
            </smss-field>
            <smss-field>
                <label>Enter Additional Parameters:</label>
                <content>
                    <smss-input
                        ng-model="importFileTable.connection.additional"
                        placeholder="Additional Parameters"
                    ></smss-input>
                </content>
            </smss-field>
            <div class="smss-caption smss-color--error">* are required</div>
        </smss-scroll>
    </div>
    <div
        ng-if="importFileTable.step === 'metamodel'"
        class="import-file-table__content"
    >
        <smss-btn
            class="import-file-table__content__relationship__btn import-file-table__content__relationship__btn__table"
            title="Add or Remove Tables"
            ng-click="importFileTable.uploadFile(false);"
        >
            <i class="fa fa-table"></i>
        </smss-btn>

        <smss-btn
            class="import-file-table__content__relationship__btn import-file-table__content__relationship__btn__relationship"
            title="Edit Relationships"
            ng-click="importFileTable.showRelationship = !importFileTable.showRelationship"
        >
            <i class="fa fa-link"></i>
        </smss-btn>

        <metamodel-relationships
            ng-if="importFileTable.showRelationship"
            metamodel="importFileTable.metamodel"
            open="importFileTable.showRelationship"
            type="importFileTable.connection.type"
        ></metamodel-relationships>

        <metamodel
            metamodel="importFileTable.metamodel"
            type="importFileTable.connection.type"
        ></metamodel>
    </div>
    <div class="smss-spacing smss-clear">
        <smss-btn
            class="smss-left smss-btn--text"
            ng-if="importFileTable.step === 'metamodel'"
            ng-click="importFileTable.setFile();"
        >
            Back
        </smss-btn>
        <smss-btn
            class="smss-right"
            ng-if="importFileTable.step === 'initial'"
            ng-click="importFileTable.uploadFile(true);"
            ng-disabled="!importFileTable.checkFile();"
        >
            Next
        </smss-btn>
        <smss-btn
            class="smss-right"
            ng-if="importFileTable.step === 'metamodel'"
            ng-click="importFileTable.importMetamodel();"
        >
            Import
        </smss-btn>
    </div>

    <smss-overlay
        ng-if="importFileTable.step === 'metamodel' && importFileTable.filter.open"
        open="importFileTable.filter.open"
        disable-click="true"
    >
        <smss-overlay-body>
            <div class="smss-row import-file-table__overlay__content">
                <smss-field
                    class="smss-col smss-col--6 import-file-table__overlay__content__half"
                >
                    <label> Select Tables: </label>
                    <content>
                        <smss-checklist
                            class="import-file-table__overlay__content__half__checklist"
                            model="importFileTable.filter.tableModel"
                            options="importFileTable.filter.tableOptions"
                            searchable
                            quickselect
                            multiple
                        ></smss-checklist>
                    </content>
                </smss-field>
                <smss-field
                    class="smss-col smss-col--6 import-file-table__overlay__content__half"
                >
                    <label> Select Views: </label>
                    <content>
                        <smss-checklist
                            class="import-file-table__overlay__content__half__checklist"
                            model="importFileTable.filter.viewModel"
                            options="importFileTable.filter.viewOptions"
                            searchable
                            quickselect
                            multiple
                        ></smss-checklist>
                    </content>
                </smss-field>
            </div>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn
                ng-click="importFileTable.loadMetamodel()"
                ng-disabled="importFileTable.filter.tableModel.length === 0 && importFileTable.filter.viewModel.length === 0"
            >
                Apply
            </smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
</div>
