<div class="settings-social">
    <smss-scroll static-x="true">
        <div
            class="settings-social__group"
            ng-repeat="(provider, properties) in settingsSocial.properties"
            ng-if="provider !== 'cac'"
        >
            <div class="settings-social__group__inner">
                <div class="smss-spacing">
                    <h6 class="settings-social__group__title">{{provider}}</h6>
                    <smss-btn
                        class="smss-right smss-btn--text settings-social__group__btn"
                        ng-click="properties.open = !properties.open"
                    >
                        <span ng-show="properties.open">Hide</span>
                        <span ng-show="!properties.open">Show</span>
                    </smss-btn>
                </div>
                <div ng-show="properties.open">
                    <table>
                        <thead>
                            <tr>
                                <th>property</th>
                                <th>{{provider}} value</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="(key, value) in properties.updated">
                                <td width="20%">{{key}}</td>
                                <td width="80%">
                                    <smss-input
                                        ng-model="properties.updated[key]"
                                        ng-change="properties.changed = true"
                                    ></smss-input>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="smss-action">
                        <smss-btn
                            class="smss-btn--text"
                            ng-click="settingsSocial.resetProperties(provider)"
                            >Reset</smss-btn
                        >
                        <smss-btn
                            ng-disabled="!properties.changed"
                            ng-click="settingsSocial.saveProperties(provider)"
                            >Save</smss-btn
                        >
                    </div>
                </div>
            </div>
        </div>
    </smss-scroll>
</div>
