@import '~theme';
$toolbar-height: get-height('default', 'rem') + get-spacing('xs', 'rem');
.terminal-console {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: get-background-color('default');

    &__content {
        position: relative;
        height: calc(100% - #{$toolbar-height});
        width: 100%;

        &__background {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            background: get-background-color('default');

            & img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-height: 100%;
                max-width: 100%;
                transform: translate(-50%, -50%);
                opacity: 0.15;
            }
        }

        &__editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            outline: none;
            background-color: transparent;
            color: get-text-color('default');

            &__highlight {
                position: absolute;
                background-color: #e8f3ff;
            }

            &__error {
                position: absolute;
                background: get-background-color('error');
            }

            // all the editor classes here

            & .ace_print-margin-layer .ace_print-margin {
                display: none;
            }

            & .ace_gutter {
                // display: none;
                background: transparent;
            }

            & .ace_gutter-cell {
                padding: 0 4px;
            }

            & .ace_scroller.ace_scroll-left {
                box-shadow: none;
            }

            & .ace_scroller {
                // left: 0 !important;
            }

            & .ace_text-layer .ace_line .ace_indent-guide {
                background: none;
            }

            & .ace_scrollbar.ace_scrollbar-h {
                height: 10px !important;
            }

            & .ace_text-layer .ace_line .ace_paren {
                color: get-text-color('error');
            }
        }
    }

    &__toolbar {
        border-top: 1px solid get-border-color('default');
        background: get-background-color('default');
        padding: get-spacing('xs', 'rem') / 2 get-spacing('sm', 'rem');
        height: $toolbar-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__group {
            margin-left: auto;
            margin-right: get-spacing('sm', 'rem');
        }

        &__settings {
            &__content {
                width: 225px;
            }
            &__limit {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                & .smss-field__label {
                    width: auto;
                    flex-shrink: 0;
                }
                & .smss-field__content {
                    flex-grow: 1;
                }
            }
        }

        &__advanced {
            &__content {
                width: 225px;
            }

            &__input {
                width: calc(
                    100% - #{get-width('icon', 'rem') + get-spacing('sm', 'rem')}
                );
                margin-right: get-spacing('sm', 'rem');
            }
        }
    }
}
