/*containers throughout app*/
/*---right container----*/
/*sidebar classes*/
.left-sidebar {
    width: 604px;
    top: 15px;
    opacity: 1;
    z-index: 120;
    position: relative;
    background: white;
    border-right: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
    /*box-shadow: 1px 1px 1px 1px rgba(204, 204, 204, 0.5);*/
    /*transition: .15s ease all;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    height: 65%;
    margin: 0 auto;
    border-radius: 4px;
}

.left-sidebar.ng-hide-remove {
    top: 30px;
    opacity: 0;
}

.right-container:hidden {
    visibility: hidden;
}

.rectangle {
    height: 18px;
    width: 18px;
    border: solid 1px black;
    display: inline-block;
    background-color: #ffffff;
    vertical-align: bottom;
}

.color-chips-name {
    border: 0;
    display: inline-block;
}

.color-chips-chosen {
    border: solid 2px #14236C;
    border-radius: 10px;
}

.color-chips-chosen:focus {
    outline: none;
}

.modal-screen-background {
    z-index: 110;
    background-color: black;
    opacity: 0.6;
}

.drop-zone-border {
    border: 3px dashed #C0C3C6;
    transition: 0.1s all ease;
}

.drop-zone-border-transparent{
    border: 3px dashed transparent;
    transition: 0.1s all ease;
}

.parcoords-add-axis {
    height: 200px;
}

.grid-center-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*CUSTOM GRID CLASSES*/
.grid1, .grid2, .grid25, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid1-sm {
    width: 100%;
    position: relative;
    float: left;
    padding: 0 .5%;
    margin: 0 auto;
}

@media screen and (min-width: 315px) {
    .grid1.step-adjust {
        width: 16.6666666667%;
    }

    .grid2.step-adjust {
        width: 33.333333%;
    }

    .grid25.step-adjust {
        width: 33%;
    }

    .grid3.step-adjust {
        width: 50%;
    }

    .grid6.step-adjust {
        width: 100%;
    }
}

@media screen and (min-width: 450px) {
    .grid1, .grid1.step-adjust {
        width: 8.33333333%;
    }

    .grid2, .grid2.step-adjust {
        width: 16.6666666667%;
    }

    .grid25, .grid25.step-adjust {
        width: 20%;
    }

    .grid3, .grid3.step-adjust {
        width: 25%;
    }

    .grid4 {
        width: 33.333333%;
    }

    .grid5 {
        width: 41.6666666666667%;
    }

    .grid6, .grid6.step-adjust {
        width: 50%;
    }

    .grid7 {
        width: 58.333333333%;
    }

    .grid8 {
        width: 66.666666666%;
    }

    .grid9 {
        width: 75%;
    }

    .grid10 {
        width: 83.333333%;
    }

    .grid11 {
        width: 91.666666667%;
    }

    .grid12 {
        width: 100%;
    }
}

@media (min-width: 538px) {
    .offset-grid05 {
        margin-left: 4.166666666%;
    }

    .offset-grid03 {
        margin-left: 25%;
    }

    .offset-grid02 {
        margin-left: 16.666666666%;
    }
}

@media screen and (min-width: 42em) {
    .grid1.step-adjust {
        width: 8.33333333%;
    }

    .grid2.step-adjust {
        width: 16.6666666667%;
    }

    .grid25.step-adjust {
        width: 20%;
    }

    .grid3.step-adjust {
        width: 25%;
    }

    .grid6.step-adjust {
        width: 50%;
    }
}

/*permanently sized grid*/
.grid2.perm-size {
    width: 16.6666666667%;
}

.grid8.perm-size {
    width: 66.666666666%;
}

.grid10.perm-size {
    width: 83.333333333%;
}
