<div class="workspace">
    <div id="workspace__main" class="workspace__main">
        <div class="workspace__main__top" id="workspace__main__top">
            <smss-breadcrumb
                class="smss-breadcrumb--compact workspace__main__top__breadcrumb"
            >
                <smss-breadcrumb-item
                    class="workspace__main__top__breadcrumb-item"
                    title="View all insights"
                    ng-click="workspace.navigate('home.landing')"
                >
                    Insights
                </smss-breadcrumb-item>
                <smss-breadcrumb-item
                    class="workspace__main__top__breadcrumb-item"
                    title="View project"
                    ng-if="workspace.project.visible.length > 0"
                    ng-click="workspace.navigate('home.landing.project', {projectId: workspace.project.id, projectName: workspace.project.visible})"
                >
                    {{workspace.project.visible}}
                </smss-breadcrumb-item>
                <smss-breadcrumb-item
                    class="workspace__main__top__breadcrumb-item"
                    ng-click="workspace.openName($event)"
                    title="Edit insight name"
                >
                    <span
                        ng-show="!workspace.name.open"
                        class="workspace__main__top__breadcrumb-item__edit"
                    >
                        <span
                            class="workspace__main__top__breadcrumb-item__edit__text"
                        >
                            {{workspace.name.visible}}
                        </span>
                    </span>

                    <span
                        ng-show="workspace.name.open"
                        class="workspace__main__top__breadcrumb-item__edit"
                    >
                        <i class="fa fa-edit"></i>
                        <smss-input
                            id="workspace__name__input"
                            ng-model="workspace.name.updated"
                            enter-key="workspace.closeName(true)"
                        ></smss-input>
                        <smss-btn
                            ng-click="$event.stopPropagation(); workspace.closeName(true)"
                            title="Change name"
                            class="smss-color--success smss-btn--icon"
                        >
                            <i class="fa fa fa-check"></i>
                        </smss-btn>
                        <smss-btn
                            ng-click="$event.stopPropagation(); workspace.closeName(false)"
                            title="Cancel name change"
                            class="smss-color--error smss-btn--icon"
                        >
                            <i class="fa fa fa-times"></i>
                        </smss-btn>
                    </span>
                </smss-breadcrumb-item>
                <smss-breadcrumb-item
                    class="workspace__main__top__breadcrumb-item workspace__main__top__breadcrumb-item--sheet"
                    title="{{workspace.sheet.sheetLabel}}"
                >
                    <div class="workspace__main__top__breadcrumb-item__sheet">
                        <div
                            class="workspace__main__top__breadcrumb-item__sheet__name"
                        >
                            {{workspace.sheet.sheetLabel}}
                        </div>
                        <div
                            class="workspace__main__top__breadcrumb-item__sheet__icon"
                            ng-hide="workspace.sheets.length == 0 && workspace.presentation"
                        >
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>

                    <ul
                        class="workspace__main__top__dropdown"
                        ng-hide="workspace.sheets.length == 0 && workspace.presentation"
                    >
                        <div class="workspace__main__top__dropdown__scroll">
                            <li
                                class="workspace__main__top__dropdown__item"
                                ng-click="workspace.selectSheet(sheet.sheetId)"
                                ng-repeat="sheet in workspace.sheets track by sheet.sheetId"
                            >
                                <div
                                    class="workspace__main__top__dropdown__item__content"
                                >
                                    {{sheet.sheetLabel}}
                                </div>
                            </li>
                        </div>
                        <li
                            ng-hide="workspace.presentation"
                            class="smss-center workspace__main__top__dropdown__item workspace__main__top__dropdown__action"
                            ng-class="{'workspace__main__top__dropdown__action--borderless': workspace.sheets.length == 0}"
                        >
                            <smss-btn
                                ng-click="workspace.newSheet()"
                                class="smss-btn--block smss-btn--text"
                            >
                                New Sheet
                            </smss-btn>
                        </li>
                    </ul>
                </smss-breadcrumb-item>
            </smss-breadcrumb>

            <div
                class="workspace__main__top__button-group workspace__main__top__button-group--full"
            >
                <div ng-hide="workspace.presentation">
                    <smss-btn
                        title="Filter"
                        class="smss-btn--icon"
                        ng-class="{'smss-btn--selected':workspace.filter.open}"
                        smss-popover
                    >
                        <i class="fa fa-filter"></i>

                        <smss-popover-content
                            class="workspace__main__top__filter-popover__content"
                            model="workspace.filter.open"
                        >
                            <workspace-filter
                                ng-if="workspace.filter.open"
                                insight-ctrl="insightCtrl"
                            />
                        </smss-popover-content>
                    </smss-btn>
                </div>
            </div>

            <div class="workspace__main__top__button-group">
                <div ng-hide="workspace.presentation">
                    <smss-btn
                        title="Add Text"
                        ng-click="workspace.addPanel($event, 'text-editor', true)"
                        class="smss-btn--text"
                    >
                        <img
                            class="workspace__main__top__img-icon"
                            style="margin-right: 0px"
                            ng-src="{{workspace.icons['add-textbox']}}"
                        />
                    </smss-btn>
                </div>

                <div
                    class="workspace__main__top__add-btn"
                    ng-hide="workspace.presentation"
                >
                    <smss-btn
                        title="Add Panel"
                        ng-click="workspace.addPanel($event, 'pipeline', false)"
                        id="workspace__semoss-tour-panel"
                        class="smss-btn--text workspace__main__top__add-btn__button"
                    >
                        <img
                            class="workspace__main__top__img-icon"
                            ng-src="{{workspace.icons['add-panel']}}"
                        />
                        Add Panel
                        <i class="fa fa-caret-down"></i>
                    </smss-btn>

                    <ul class="workspace__main__top__add-btn__dropdown">
                        <li
                            class="workspace__main__top__add-btn__dropdown__item"
                            title="Add Form"
                            ng-click="workspace.addPanel($event, 'builder', false)"
                        >
                            <img
                                class="workspace__main__top__img-icon"
                                ng-src="{{workspace.icons['add-form']}}"
                            />
                            Add Form
                        </li>
                        <li
                            class="workspace__main__top__add-btn__dropdown__item"
                            title="Add Chart"
                            ng-click="workspace.addPanel($event, 'visualization', true)"
                        >
                            <img
                                class="workspace__main__top__img-icon"
                                ng-src="{{workspace.icons['add-chart']}}"
                            />
                            Add Chart
                        </li>
                        <!-- <li class="workspace__main__top__add-btn__dropdown__item"
                            title="Add Text"
                            ng-click="workspace.addPanel($event, 'text-editor', true)">
                            <img class="workspace__main__top__img-icon" ng-src="{{workspace.icons['add-panel']}}">
                            Add Text
                        </li> -->
                        <li
                            class="workspace__main__top__add-btn__dropdown__item"
                            title="Add Filter"
                            ng-click="workspace.addPanel($event, 'dashboard-filter', true)"
                        >
                            <img
                                class="workspace__main__top__img-icon"
                                ng-src="{{workspace.icons['add-filter']}}"
                            />
                            Add Filter
                        </li>
                        <li
                            class="workspace__main__top__add-btn__dropdown__item"
                            title="Add Unfilter"
                            ng-click="workspace.addPanel($event, 'dashboard-unfilter', true)"
                        >
                            <img
                                class="workspace__main__top__img-icon"
                                ng-src="{{workspace.icons['add-filter']}}"
                            />
                            Add Unfilter
                        </li>
                        <li
                            class="workspace__main__top__add-btn__dropdown__item"
                            title="Add AI Assistant"
                            ng-click="workspace.addPanel($event, 'dashboard-assistant', false)"
                        >
                            <img
                                class="workspace__main__top__img-icon"
                                ng-src="{{workspace.icons['add-assistant']}}"
                            />
                            Add AI Assistant
                        </li>
                    </ul>
                </div>

                <smss-btn
                    ng-if="!workspace.presentation"
                    class="smss-btn--outline workspace__main__top__icon-btn"
                    title="Toggle Presentation"
                    ng-click="workspace.togglePresentation()"
                    id="workspace__semoss-tour-presentation-mode"
                >
                    Present
                </smss-btn>
                <smss-btn
                    ng-if="workspace.presentation"
                    class="workspace__main__top__icon-btn"
                    title="Toggle Presentation"
                    ng-click="workspace.togglePresentation()"
                >
                    <img
                        class="workspace__main__top__img-icon"
                        ng-src="{{workspace.icons.pause}}"
                    />
                    Presenting...
                </smss-btn>

                <smss-btn
                    class="workspace__main__top__icon-btn smss-btn--outline"
                    ng-show="!workspace.presentation && workspace.save.saved && workspace.showShareButton"
                    title="Share Insight"
                    ng-click="workspace.share.open = true"
                >
                    Share
                </smss-btn>

                <smss-btn
                    class="workspace__main__top__icon-btn"
                    title="Save Workspace"
                    ng-class="{'workspace__main__top__save-btn': workspace.save.saved}"
                    ng-click="workspace.openSave()"
                    id="workspace__semoss-tour-save"
                >
                    Save
                </smss-btn>
                <smss-btn
                    ng-if="workspace.save.saved"
                    class="workspace__main__top__save-caret workspace__main__top__icon-btn"
                    smss-popover
                >
                    <i class="fa fa-caret-down"></i>
                    <smss-popover-content
                        class="workspace__main__top__save-caret__popover smss-popover-content--compact"
                        position="['SE']"
                        model="workspaceSave.showSaveAs"
                    >
                        <ul
                            class="workspace__main__top__save-caret__popover__options"
                        >
                            <li
                                class="workspace__main__top__save-caret__popover__options__option"
                                ng-click="$event.stopPropagation(); workspace.openSave(true)"
                            >
                                Save as
                            </li>
                        </ul>
                    </smss-popover-content>
                </smss-btn>

                <smss-btn
                    class="smss-btn--icon workspace__main__top__icon-btn"
                    title="Open Terminal"
                    ng-if="!workspace.PLAYGROUND"
                    ng-show="!workspace.presentation"
                    ng-class="{'smss-color--primary':workspace.terminal.open}"
                    ng-click="workspace.toggleTerminal()"
                    id="workspace__semoss-tour-terminal"
                >
                    <i class="fa fa-terminal"></i>
                </smss-btn>
            </div>
        </div>
        <div
            class="workspace__main__content"
            dynamic="workspace.getContent()"
        ></div>
        <!-- below conflicts with pipeline dnd of the left menu components when not dropping into the pipeline space on the right (drag in place) -->
        <!-- <div class="workspace__main__content"
             drag-drop="workspace.dropPanel(data, pos)"
             dynamic="workspace.getContent()"></div> -->
    </div>
    <div id="workspace__menu" class="workspace__menu">
        <div
            class="workspace__menu__content"
            dynamic="workspace.getMenuContent()"
        ></div>
    </div>

    <div
        id="workspace__terminal"
        class="workspace__terminal"
        ng-class="{'workspace__terminal--overlay': workspace.terminal.view === 'overlay'}"
    >
        <terminal
            ng-if="workspace.terminal.open && (workspace.terminal.view === 'overlay' || workspace.terminal.view === 'inline')"
            location="workspace"
        ></terminal>
    </div>

    <smss-overlay
        ng-if="workspace.save.open"
        class="workspace__overlay"
        open="workspace.save.open"
        size="lg"
    >
        <smss-overlay-header>Save Insight</smss-overlay-header>
        <smss-overlay-body>
            <workspace-save
                close="workspace.closeSave()"
                force-new="workspace.save.forceNew"
            ></workspace-save>
        </smss-overlay-body>
    </smss-overlay>

    <smss-overlay
        ng-if="workspace.share.open"
        class="workspace__overlay"
        open="workspace.share.open"
    >
        <smss-overlay-header>Share Insight</smss-overlay-header>
        <smss-overlay-body>
            <embed-link></embed-link>
        </smss-overlay-body>
    </smss-overlay>

    <smss-overlay
        ng-if="workspace.panelFilter.open"
        class="workspace__overlay workspace__overlay--auto"
        open="workspace.panelFilter.open"
    >
        <smss-overlay-header>Filter Panel ({{workspace.panelFilter.panelLabel}})</smss-overlay-header>
        <smss-overlay-body>
            <workspace-panel-filter
                close="workspace.closePanelFilter()"
                panel-id="workspace.panelFilter.panelId"
            ></workspace-panel-filter>
        </smss-overlay-body>
    </smss-overlay>
</div>
