@import '~theme';

.smss-btn {
    line-height: $line-height;
    height: get-height('button', 'em');
    min-width: get-width('button', 'rem');
    font-size: 1rem;
    padding: 0 get-spacing('md', 'em');
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background: get-background-color('primary');
    @include no-select();
    margin: 0;
    outline: none;
    box-shadow: none;
    border: $border-size solid transparent;
    color: get-text-color('white');
    border-radius: $border-radius;
    overflow: hidden;
    font-weight: get-font-weight('semibold');

    & > * {
        font-size: get-font-size('body-regular', 'em');
    }

    &:focus-visible {
        box-shadow: get-box-shadow('focus', 'primary');
    }

    &:hover {
        background: get-background-color('primary--hover-dark');
    }

    &--selected {
        background: get-background-color('primary--hover-dark');
    }

    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        @include no-events();
        color: get-text-color('white') !important;
        background: get-background-color('disabled');
    }

    &--compact {
        min-width: get-width('button--compact', 'em');
        height: get-height('button--compact', 'em');
        line-height: $line-height;
        padding: 0 get-spacing('sm', 'em');
    }

    &--right {
        margin-right: get-spacing('sm', 'em');
    }

    &--left {
        margin-left: get-spacing('sm', 'em');
    }

    &--icon {
        background: transparent;
        color: get-text-color('default');
        min-width: get-width('icon', 'em');
        width: get-width('icon', 'em');
        height: get-height('icon', 'em');
        padding: 0 get-spacing('xs', 'em');
        overflow: hidden;

        & > * {
            line-height: get-width('icon', 'em');
            display: block;
        }

        & img,
        & svg {
            max-height: get-height('icon', 'em');
            width: auto;
            max-width: 100%;
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
            border: none;
        }

        &:hover {
            background: get-background-color('primary--hover');
            color: get-text-color('primary');

            & img {
                opacity: 0.6;
            }
        }

        &:focus-visible {
            color: get-text-color('primary');
        }

        &.smss-btn--compact {
            min-width: auto;
            width: get-width('icon--compact', 'em');
            height: get-width('icon--compact', 'em');
            line-height: get-height('icon--compact', 'em');
            padding: 0 get-spacing('xxs', 'em');

            & img {
                max-height: get-width('icon--compact', 'em');
            }
        }

        &.smss-btn--selected {
            background: get-background-color('primary--hover');
            color: get-text-color('primary');
        }

        &--disabled,
        &:disabled,
        &[disabled='disabled'] {
            background: transparent;
            color: get-text-color('disabled') !important;
        }
    }

    &--text {
        color: get-text-color('primary');
        background: transparent;
        min-width: auto;
        padding: 0 get-spacing('sm', 'em');

        &.smss-btn--selected {
            background: get-background-color('primary--hover');
        }

        &:hover {
            background: transparent;
            color: get-text-color('primary--hover');
            & img {
                opacity: 0.6;
            }
        }

        &--disabled,
        &:disabled,
        &[disabled='disabled'] {
            background: transparent;
            color: get-text-color('disabled') !important;
        }

        & i {
            width: get-width('icon', 'em');
            margin-right: get-spacing('sm', 'em');
            line-height: get-height('default', 'em');
        }

        & img {
            margin-right: get-spacing('sm', 'em');
        }

        &.smss-btn--compact {
            min-width: auto;
            padding: 0 get-spacing('xs', 'em');

            & i {
                width: get-width('icon--compact', 'em');
                margin-right: get-spacing('xs', 'em');
                line-height: get-height('icon', 'em');
            }
        }
    }

    &--outline {
        background: transparent;
        color: get-text-color('primary');
        border: $border-size solid get-text-color('primary');

        &:hover {
            background: transparent;
            color: get-text-color('primary--hover');
            border: $border-size solid get-text-color('primary--hover');
        }

        &.smss-btn--selected {
            background: transparent;
        }

        &--disabled,
        &:disabled,
        &[disabled='disabled'] {
            background: transparent;
            color: get-text-color('disabled') !important;
            border: $border-size solid get-border-color('default');
        }
    }

    &--block {
        display: block;
        width: 100%;
        padding: 0 get-spacing('xs', 'em');
        @include text-overflow();
    }

    &--success {
        background: get-background-color('success');
        color: get-text-color('white');

        &:hover {
            background: get-background-color('success--hover-dark');
        }

        &.smss-btn--selected {
            background: get-background-color('success--hover-dark');
        }

        &:focus-visible {
            box-shadow: get-box-shadow('focus', 'success');
        }
    }

    &--error {
        background: get-background-color('error');
        color: get-text-color('white');

        &:hover {
            background: get-background-color('error--hover-dark');
        }

        &.smss-btn--selected {
            background: get-background-color('error--hover-dark');
        }

        &:focus-visible {
            box-shadow: get-box-shadow('focus', 'error');
        }
    }

    &--warn {
        background: get-background-color('warn');
        color: get-text-color('white');

        &:hover {
            background: get-background-color('warn--hover-dark');
        }

        &.smss-btn--selected {
            background: get-background-color('warn--hover-dark');
        }

        &:focus-visible {
            box-shadow: get-box-shadow('focus', 'warn');
        }
    }
}

.smss-btn-action {
    position: relative;
    display: flex !important;
    width: 100%;
    padding: get-spacing('xs', 'em') 0;

    & > * {
        margin-left: get-spacing('xs', 'em') !important;
        margin-right: get-spacing('xs', 'em') !important;
    }

    & > :first-child {
        margin-left: auto !important;
    }

    & > :last-child {
        margin-right: auto !important;
    }
}
