@import '~theme';

.dashboard-assistant {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        display: inline-block;
        height: 100%;
        width: 100%;
        text-align: center;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            background: get-background-color('light');
        }

        &__icon {
            display: block;
            height: 100%;
            width: 100%;
            filter: drop-shadow(0 0 0.1rem rgb(53, 51, 51));
        }
    }

    &__close {
        display: none;
        position: absolute;
        top: 0;
        right: 2px;
        font-size: 0.75em;
        cursor: pointer;
    }

    &__modal-header {
        display: flex;
        justify-content: space-between;
        gap: get-spacing('md', 'rem');
        margin-bottom: 0.5rem;
        &__purple {
            background-image: linear-gradient(45deg, #4394e4, #975fe4);
            background-size: 100%;
            background-repeat: repeat;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }
}

.widget-view__resizable__content:hover .dashboard-assistant__close {
    display: inline-block;
}
