@import '~theme';
$header-height: get-height('default', 'rem');
$footer-height: get-height('default', 'rem') + get-spacing('xs', 'rem');
.terminal-file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    overflow: hidden;

    &__header {
        position: absolute;
        right: 0;
        top: 0;
        height: $header-height;
        left: 0;
        background: get-background-color('default');
        border-bottom: 1px solid get-border-color('default');

        &__scroller {
            float: left;
            height: 100%;
            max-width: 80%;
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;

            &:hover {
                overflow-x: auto;
            }

            &__tab {
                width: 120px;
            }
        }

        &__tab {
            display: flex;
            align-items: center;
            &__text {
                flex: 1;
                margin-right: get-spacing('xs', 'rem');
                @include text-overflow();
                max-width: 120px;
            }
            & i {
                line-height: inherit;
            }
        }
    }

    &__content {
        position: absolute;
        top: $header-height;
        right: 0;
        bottom: $footer-height;
        left: 0;

        &__background {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            background: get-background-color('default');

            & img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-height: 100%;
                max-width: 100%;
                transform: translate(-50%, -50%);
                opacity: 0.15;
            }
        }

        &__editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            outline: none;
            background-color: transparent;
            color: get-text-color('default');
        }
    }

    &__footer {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: get-spacing('xs', 'rem') / 2 get-spacing('sm', 'rem');
        height: $footer-height;
        width: auto;
        border-top: 1px solid get-border-color('default');
        background: get-background-color('default');
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__group {
            margin-right: get-spacing('sm', 'rem');
            margin-left: auto;
        }
        &__flex-group {
            display: flex;
            align-items: center;
        }
    }

    & .ace_gutter {
        background: get-background-color('dark');

        &-active-line {
            background: get-background-color('light');
        }
    }
}
