<div>
    <smss-field>
        <label>Database Name:</label>
        <content>
            <smss-dropdown
                display="display"
                value="value"
                model="job.jobTypeTemplate.app"
                options="allApps"
            >
            </smss-dropdown>
        </content>
    </smss-field>
    <smss-field>
        <label>Remote Repository:</label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.repository"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>Username:</label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.username"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>Password:</label>
        <content>
            <smss-input
                ng-model="job.jobTypeTemplate.password"
                type="password"
            ></smss-input>
        </content>
    </smss-field>
    <div class="smss-spacing">
        <smss-checkbox model="job.jobTypeTemplate.dual">
            Sync and Pull Updates (Recommended)
        </smss-checkbox>
    </div>
    <div class="smss-spacing">
        <smss-checkbox model="job.jobTypeTemplate.syncDatabase">
            Sync Database
        </smss-checkbox>
    </div>
</div>
