@import '~theme';
$home-nav: get-width('icon--nav', 'rem');
$banner-height: get-spacing('sm', 'rem') * 3;
$home-topbar: get-height('default', 'rem') + get-spacing('sm', 'rem') * 2;
.home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: get-background-color('light');

    &__overlay {
        background: get-background-color('default');
        z-index: 99999;
        /* Specify a stack order in case you're using a different order for other elements */
    }

    &__topbar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        line-height: $home-topbar;
        height: $home-topbar;
        background-color: get-background-color('nav');
        z-index: 5500;
        display: flex;
        align-items: center;

        &__logo {
            display: flex;
            align-items: center;
            height: 100%;
            color: get-text-color('white');
            cursor: pointer;
            outline: none;
            background-color: get-background-color('nav');
            padding: 0 get-spacing('md', 'rem');

            &:hover {
                background-color: get-background-color('nav--hover');
            }

            &__svg {
                display: inline-block;
                fill: get-background-color('default');
                stroke: get-text-color('white');
                height: get-height('icon', 'rem');
                width: get-width('icon', 'rem');
            }

            &__image {
                display: inline-block;
                height: get-height('icon', 'rem');
                width: get-width('icon', 'rem');

                & img {
                    height: 100%;
                    width: auto;
                    max-width: 100%;
                    display: block;
                }
            }

            &__text {
                margin-left: get-spacing('sm', 'rem');
                font-size: 1rem;
                font-weight: get-font-weight('medium');
                line-height: normal;
            }
        }

        &__search {
            width: 20%;
            margin-right: auto;
            &__input {
                height: get-height('default', 'rem');
                line-height: get-height('default', 'rem');
                width: 100%;
                padding: 0 get-spacing('sm', 'rem');
                background: get-background-color('default');
                cursor: text;
                outline: none;
                border-radius: $border-radius;
            }
        }

        &__item {
            text-align: center;
            display: inline-block;
            color: get-text-color('white');
            overflow: hidden;
            white-space: nowrap;
            background-color: get-background-color('nav');
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: get-background-color('nav--hover');
            }

            &--selected {
                background-color: get-background-color('nav--hover');
            }
        }

        &__user {
            display: flex;
            align-items: center;
            padding: 0 get-spacing('md', 'rem');
            font-weight: get-font-weight('medium');

            & i {
                font-size: get-height('icon--compact', 'rem');
                margin-right: get-spacing('sm', 'rem');
            }
        }

        &__icon {
            width: $home-topbar;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            & i {
                font-size: get-height('icon', 'rem');
            }
        }
    }

    &__search {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5600;
        overflow: hidden;
        visibility: hidden;

        &--opened {
            visibility: visible;
        }
    }

    &__nav {
        position: absolute;
        top: $home-topbar;
        bottom: 0;
        left: 0;
        width: $home-nav;
        background: get-background-color('default');
        border-right: 1px solid get-border-color('default');
        @include transition(width);
    }

    &__content {
        position: absolute;
        top: $home-topbar;
        right: 0;
        bottom: 0;
        left: $home-nav;

        &--banner {
            bottom: $banner-height;
        }

        &__background-theme-image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.95;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__banner {
        height: $banner-height;
        text-align: center;
        width: 100%;
        background-color: get-background-color('nav');
        color: get-text-color('white');
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        vertical-align: middle;
        font-weight: bold;
        padding-top: 2px;
    }

    &__login {
        width: 250px;

        &__block {
            cursor: default;
            display: flex;
            align-items: center;

            &:hover {
                background: get-background-color('default');
            }
        }

        &__text {
            flex: 1;
        }

        &__profile {
            height: 70px;
            width: 70px;
            border-radius: 15px;
            margin-bottom: 4px;
        }
    }

    &__help {
        width: 344px;
    }
}
