<div class="document-qa">
    <loading-screen model="documentQa.loading"></loading-screen>
    <div class="document-qa__page">
        <div class="document-qa__row__top">
            <div class="document-qa__page__left">
                <div class="document-qa__top">
                    <div class="document-qa__row">
                        <smss-field>
                            <label> Folder: </label>
                            <content>
                                <div class="document-qa__row">
                                    <browser
                                        on-render="documentQa.onRender(path, callback)"
                                        on-search="documentQa.onSearch(search, callback)"
                                        on-open="documentQa.onOpen(item)"
                                        on-upload="documentQa.onUpload(path, files, comment, callback)"
                                        on-new="documentQa.onNew(path, name, type, comment, callback)"
                                        id="document-browser"
                                        class="browser-asset"
                                        only-directory="true"
                                        model="documentQa.folder"
                                        layout="overlay"
                                    >
                                        <header>
                                            <smss-field>
                                                <label>Select Project:</label>
                                                <content
                                                    class="smss-field__content-overflow"
                                                >
                                                    <smss-dropdown
                                                        display="display"
                                                        value="value"
                                                        model="documentQa.space.app.selected"
                                                        options="documentQa.space.app.options"
                                                        change="documentQa.changeWorkspace()"
                                                        body="false"
                                                    >
                                                        <smss-dropdown-toggle
                                                            class="browser-asset__dropdown__item"
                                                        >
                                                            <div
                                                                class="browser-asset__dropdown__item__img"
                                                            >
                                                                <img
                                                                    ng-src="{{$parent.smssDropdown.getOption($parent.smssDropdown.model).image}}"
                                                                />
                                                            </div>
                                                            <div
                                                                class="browser-asset__dropdown__item__text"
                                                            >
                                                                {{$parent.smssDropdown.getOption($parent.smssDropdown.model).display}}
                                                            </div>
                                                        </smss-dropdown-toggle>
                                                        <smss-dropdown-list
                                                            class="browser-asset__dropdown__item"
                                                        >
                                                            <div
                                                                class="browser-asset__dropdown__item__img"
                                                            >
                                                                <img
                                                                    ng-src="{{$parent.opt.image}}"
                                                                />
                                                            </div>
                                                            <div
                                                                class="browser-asset__dropdown__item__text"
                                                            >
                                                                {{$parent.opt.display}}
                                                            </div>
                                                        </smss-dropdown-list>
                                                    </smss-dropdown>
                                                </content>
                                            </smss-field>
                                        </header>
                                    </browser>
                                </div>
                            </content>
                        </smss-field>
                    </div>
                </div>
                <div class="document-qa__search">
                    <div class="smss-spacing smss-clear">
                        <smss-btn
                            class="smss-left smss-btn--text"
                            ng-click="documentQa.advancedSettings = !documentQa.advancedSettings"
                        >
                            {{documentQa.advancedSettings ? 'Hide' : 'Show'}}
                            Advanced Settings
                            <i
                                class="fa"
                                ng-class="documentQa.advancedSettings ? 'fa-chevron-down' : 'fa-chevron-right'"
                            ></i>
                        </smss-btn>
                    </div>
                    <div
                        class="document-qa__search"
                        ng-show="documentQa.advancedSettings"
                    >
                        <div class="document-qa__row__top__actions">
                            <smss-btn
                                class="smss-left smss-btn--right smss-btn--outline smss-btn--compact"
                                title="Clear Model"
                                ng-disabled="!documentQa.selectedModel || !documentQa.folder"
                                ng-click="documentQa.clearModels()"
                            >
                                Clear
                            </smss-btn>
                            <smss-btn
                                class="smss-left smss-btn--right smss-btn--outline smss-btn--compact"
                                title="Preprocess Documents"
                                ng-disabled="!documentQa.selectedModel || !documentQa.folder"
                                ng-click="documentQa.preprocess()"
                            >
                                Process
                            </smss-btn>
                            <smss-btn
                                class="smss-left smss-btn--right smss-btn--outline smss-btn--compact"
                                title="Build Model"
                                ng--disabled="!documentQa.selectedModel || !documentQa.folder"
                                ng-click="documentQa.createModel()"
                            >
                                Build
                            </smss-btn>
                        </div>
                        <smss-field class="document-qa__slider">
                            <label>
                                Model:
                                <i
                                    ng-show="documentQa.modelError.length"
                                    class="fa fa-question-circle"
                                    title="{{documentQa.modelError}}"
                                ></i>
                            </label>
                            <content>
                                <div class="document-qa__row">
                                    <smss-dropdown
                                        model="documentQa.selectedModel"
                                        options="documentQa.modelOptions"
                                    >
                                    </smss-dropdown>

                                
                                </div>
                            </content>
                        </smss-field>
                        <smss-field class="document-qa__slider">
                            <label> Threshold: </label>
                            <content>
                                <smss-slider
                                    model="documentQa.threshold"
                                    min="1"
                                    max="100"
                                    numerical
                                >
                                </smss-slider>
                            </content>
                        </smss-field>
                        <smss-field class="document-qa__slider">
                            <label> Number of Results: </label>
                            <content>
                                <smss-input
                                    ng-model="documentQa.rowCount"
                                    type="number"
                                    min="1"
                                    max="10"
                                ></smss-input>
                            </content>
                        </smss-field>
                        <smss-field class="document-qa__slider">
                            <label> Display Source: </label>
                            <content>
                                <smss-toggle
                                    model="documentQa.source"
                                    title="{{documentQa.source ? 'Turn source output off' : 'Turn source output on'}}"
                                >
                                    {{ documentQa.source? 'ON' : 'OFF'}}
                                </smss-toggle>
                            </content>
                        </smss-field>
                    </div>

                    <div class="document-qa__button">
                        <smss-btn
                            ng-click="documentQa.clearQuery()"
                            class="smss-btn--text"
                            title="Clear query"
                            ng-disabled="documentQa.search.length === 0 && documentQa.confidence.length === 0"
                        >
                            Clear
                        </smss-btn>
                        <smss-btn
                            ng-click="documentQa.runQuery()"
                            ng-disabled="!documentQa.isValidQuery()"
                            title="Execute query"
                        >
                            Ask
                        </smss-btn>
                    </div>
                </div>

                <div
                    class="document-qa__page"
                    ng-show="documentQa.page === 'RESULT' && documentQa.results.complete"
                >
                    <smss-field>
                        <label>Results:</label>
                        <content>
                            <div ng-if="documentQa.results.data.length === 0">
                                <div class="smss-caption--center">
                                    No Results. Execute a query above.
                                </div>
                            </div>

                            <table class="document-qa__content__table">
                                <tbody
                                    ng-repeat="result in documentQa.results.data track by $index"
                                >
                                    <tr>
                                        <td ng-class="result.color"
                                            class="document-qa__content__table__header"
                                            title="Result"
                                        >
                                        <ul ng-class="result.color">
                                            {{result.answer}}</ul>
                                            <div>
                                                <smss-btn
                                                    class="smss-left smss-btn--right smss-btn--outline smss-btn--compact"
                                                    ng-if="result.expanded"
                                                    ng-click="result.expanded = false"
                                                >
                                                    <i
                                                        class="fa fa-chevron-down"
                                                    ></i
                                                ></smss-btn>
                                                <smss-btn
                                                    class="smss-left smss-btn--right smss-btn--outline smss-btn--compact"
                                                    ng-if="!result.expanded"
                                                    ng-click="result.expanded = true"
                                                >
                                                    <i
                                                        class="fa fa-chevron-right"
                                                    ></i
                                                ></smss-btn>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="result.expanded" class="document-qa__result">
                                        <td colspan="1">
                                            <div class="document-qa__col">
                                                <div
                                                    class="document-qa__details"
                                                >
                                                    <div
                                                        class="smss-field"
                                                        ng-class="{ 'smss-field--inline': inline}"
                                                    >
                                                        <label
                                                            class="smss-field__label"
                                                            >Score:  <i
                                                            class="fa fa-question-circle"
                                                            title="Confidence level of answer."
                                                            aria-hidden="false"
                                                        ></i> </label</label
                                                        ><content
                                                            class="smss-field__content"
                                                        >
                                                            <p>
                                                                {{result.score.toFixed(2)}}
                                                            </p>
                                                        </content>
                                                    </div>

                                                    <div
                                                        class="smss-field"
                                                        ng-class="{ 'smss-field--inline': inline}"
                                                    >
                                                        <label
                                                            class="smss-field__label"
                                                        >
                                                            Page:
                                                            <i
                                                                class="fa fa-question-circle"
                                                                title="Page of document answer derived from."
                                                                aria-hidden="false"
                                                            ></i> </label
                                                        ><content
                                                            class="smss-field__content"
                                                        >
                                                            {{result.source_document_id}}
                                                        </content>
                                                    </div>
                                                </div>
                                                <div ng-show="result.meta"
                                                    class="document-qa__details"
                                                >
                                                    <div
                                                        class="smss-field"
                                                        ng-class="{ 'smss-field--inline': inline}"
                                                    >
                                                        <label
                                                            class="smss-field__label"
                                                            >File:  <i
                                                            class="fa fa-question-circle"
                                                            aria-hidden="false"
                                                        ></i> </label</label
                                                        ><content
                                                            class="smss-field__content"
                                                        >
                                                        <a
                                                        href="{{result.file}}"
                                                        target="_blank">
                                                        <div>View</div>
                                                    </a>
                                                        </content>
                                                    </div>

                                                    <div
                                                        class="smss-field"
                                                        ng-class="{ 'smss-field--inline': inline}"
                                                    >
                                                        <label
                                                            class="smss-field__label"
                                                        >
                                                            Prescribed:
                                                            <i
                                                                class="fa fa-question-circle"
                                                                aria-hidden="false"
                                                            ></i> </label
                                                        ><content
                                                            class="smss-field__content"
                                                        >
                                                            {{result.meta.prescribed || ""}}
                                                        </content>
                                                    </div>
                                                </div>
                                                <div ng-show="result.meta"
                                                class="document-qa__details">
                                                    <div
                                                        class="smss-field"
                                                        ng-class="{ 'smss-field--inline': inline}"
                                                    >
                                                        <label
                                                            class="smss-field__label"
                                                            >Title:  <i
                                                            class="fa fa-question-circle"
                                                            aria-hidden="false"
                                                        ></i> </label</label
                                                        ><content
                                                            class="smss-field__content"
                                                        >
                                                            <p>
                                                                {{result.meta.title || ""}}
                                                            </p>
                                                        </content>
                                                    </div>

                                                    <div
                                                        class="smss-field"
                                                        ng-class="{ 'smss-field--inline': inline}"
                                                    >
                                                        <label
                                                            class="smss-field__label"
                                                        >
                                                            Date:
                                                            <i
                                                                class="fa fa-question-circle"
                                                                aria-hidden="false"
                                                            ></i> </label
                                                        ><content
                                                            class="smss-field__content"
                                                        >
                                                            {{result.meta.date || ""}}
                                                        </content>
                                                    </div>
                                                </div>
                                                <div
                                                    ng-if="result.full_document"
                                                >
                                                    <pre class="document-qa__description" style="">
                                                        {{result.full_document}}
                                                    </pre>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{result.full_document}}
                                </tbody>
                            </table>
                        </content>
                    </smss-field>
                </div>
            </div>

            <smss-overlay open="documentQa.helpOverlay">
                <smss-overlay-header>Document Query Help</smss-overlay-header>
                <smss-overlay-body>
                    Document QA
                    <div class="document-qa__help__section">
                        <h4>How do I use this?</h4>
                        <ol>
                            <li>
                                Select the folder containing documents you want
                                to ask questions of
                            </li>
                            <li>
                                Ask a question and select a threshold and the
                                maximum number of results to be returned
                            </li>
                            <li>
                                Execute to see the output. The first time a
                                model is created may take longer than subsequent
                                attempts to answer a questions as the model is
                                being generated.
                            </li>
                        </ol>
                    </div>
                </smss-overlay-body>
            </smss-overlay>
        </div>
    </div>
</div>
