@import '~theme';
.color-scheme {
    &__group {
        width: calc(50% - #{get-spacing('sm', 'rem') / 2});

        &:nth-child(odd) {
            margin-right: get-spacing('sm', 'rem');
        }
    }

    &__chips {
        width: 100%;
        background: get-background-color('light');

        &__group {
            display: flex;

            & > {
                & :first-child {
                    margin-left: auto;
                }

                & :last-child {
                    margin-right: auto;
                }
            }

            &__options {
                height: 18px;
                width: 18px;
                display: inline-block;
                background: transparent;
            }
        }

        &--selected {
            background: get-background-color('primary');
        }
    }
}
