@import '~theme';
$query-height: 4rem;
$block-height: 2.5rem;
.nlp-search {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: get-spacing('md', 'rem');
    background: get-background-color('default');
    border-top: 1px solid get-border-color('default');
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__type {
        width: calc(50% - #{get-spacing('sm', 'rem') / 2});
        &__item {
            display: flex;
            align-items: baseline;
            &__title {
                font-weight: 500;
                margin-right: get-spacing('sm', 'rem');
                flex-shrink: 0;
            }
            &__desc {
                @include text-overflow();
            }
        }
    }
    &__frame {
        width: calc(50% - #{get-spacing('sm', 'rem') / 2});
    }
    &__dbs {
        width: calc(50% - #{get-spacing('sm', 'rem') / 2});
        &__popover {
            height: get-height('default', 'rem');
            line-height: get-height('default', 'rem');
            padding: 0 0.5em;
            @include text-overflow();
            background: get-background-color('default');
            border: 1px solid get-border-color('default');
            border-radius: $border-radius;
            &:hover {
                cursor: pointer;
            }
            &__list {
                padding: 0;
                border: 0;
                height: 200px;
            }
        }
    }
    &__search {
        display: flex;
        flex-direction: column;
    }
    &__input {
        flex: 1;
        margin-right: get-spacing('sm', 'rem');
        overflow: hidden;
        &__container {
            width: 100%;
            height: $query-height;
            overflow-x: scroll;
            border: 1.5px solid get-border-color('default');
            background: get-background-color('default');
            border-radius: $border-radius;
            display: flex;
            align-items: center;
            // padding: 0 get-spacing("sm", "rem");
        }
    }
    &__block {
        height: $block-height;
        line-height: $block-height;
        border: 1px solid get-border-color('dark');
        border-radius: $border-radius;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding-left: get-spacing('sm', 'rem');
        margin: 0 get-spacing('sm', 'rem');
        @include disabled();
        &__name {
            color: get-text-color('medium-emphasis');
            font-size: get-font-size('body-regular', 'rem');
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            & .smss-dropdown {
                min-width: 175px;
            }
        }
        &__subcomponent {
            min-width: 150px;
            max-width: 200px;
            @include text-overflow();
            padding: 0 get-spacing('sm', 'rem') / 2;
            font-size: get-font-size('body-regular', 'rem');
            &--big {
                min-width: 200px;
                max-width: 250px;
            }
            &--full {
                max-width: 100%;
                width: 100%;
            }
        }
        &__placeholder {
            color: map-get($text-color, 'low-emphasis');
        }
        &__delete {
            visibility: hidden;
            flex-shrink: 0;
            flex-basis: 2em;
        }
        &__range {
            display: flex;
            align-items: center;
            & span {
                margin: 0 get-spacing('sm', 'rem');
            }
            & .smss-input {
                min-width: 100px;
                max-width: 200px;
            }
        }
        &:hover .nlp-search__block__delete {
            visibility: visible;
        }
    }
    &__button {
        padding-bottom: get-spacing('sm', 'rem') / 2;
        & .smss-btn:first-child {
            margin-right: get-spacing('sm', 'rem');
        }
    }
    &__popover {
        height: 200px;
        border: 0;
        padding: 0;
    }
    &__breadcrumb {
        height: get-height('default', 'rem');
        width: 100%;
        display: flex;
        align-items: center;
        &__step {
            display: flex;
            align-items: center;
            &--current {
                color: get-text-color('primary');
                font-weight: 500;
            }
            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: get-text-color('primary');
            }
            &:not(:last-child):after {
                content: '';
                display: block;
                height: 1px;
                width: get-spacing('lg', 'rem');
                margin: 0 get-spacing('sm', 'rem');
                background: get-border-color('default');
            }
            &--disabled,
            &:disabled,
            &[disabled='disabled'] {
                cursor: default;
                pointer-events: none;
                opacity: 0.65;
                color: get-text-color('disabled');
            }
        }
    }
    &__page {
        height: calc(100% - #{get-height('default', 'rem')});
        width: 100%;
    }
    &__description {
        margin: 0;
        margin-bottom: get-spacing('md', 'rem');
    }
    &__help {
        &__btn {
            position: absolute;
            top: get-spacing('md', 'rem');
            right: get-spacing('md', 'rem');
        }
        &__section {
            margin-bottom: get-spacing('md', 'rem');
        }
    }
}
