@import '~theme';

.import-file-metamodel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: get-background-color('default');
    display: flex;
    flex-direction: column;

    &__content {
        position: relative;
        flex: 1;

        &__btn {
            position: absolute;
            z-index: 1;
            width: get-spacing('sm', 'em') * 4;
            height: get-height('sm', 'em');

            &__relationship {
                top: get-spacing('sm', 'em');
                right: get-spacing('sm', 'em');
            }

            &__table {
                top: get-spacing('sm', 'em');
                right: get-spacing('sm', 'em') +
                    (get-spacing('sm', 'em') + get-spacing('sm', 'em') * 4);
            }
        }
    }
}
