<div class="implied-insights">
    <div class="implied-insights__info">
        <p>
            Automatically creates a dashboard to explore your dataset.
            <em
                >Note: the execution time will increase with the number of
                columns and rows in your dataset.</em
            >
        </p>
        <smss-btn
            ng-click="impliedInsights.showHelpOverlay = true;"
            class="smss-btn--text"
        >
            <i class="fa fa-question-circle"></i>
            Help
        </smss-btn>
    </div>
    <smss-field class="implied-insights__content">
        <label>Select Frame:</label>
        <content>
            <smss-dropdown
                model="impliedInsights.selectedFrame"
                options="impliedInsights.frameList"
            ></smss-dropdown>
        </content>
    </smss-field>
    <div class="smss-action">
        <smss-btn
            ng-click="impliedInsights.runImpliedInsights()"
            ng-disabled="impliedInsights.selectedFrame.length === 0"
            >Execute</smss-btn
        >
    </div>
    <smss-overlay
        open="impliedInsights.showHelpOverlay"
        class="implied-insights__overlay"
    >
        <smss-overlay-header>Implied Insights Help</smss-overlay-header>
        <smss-overlay-body>
            <div dynamic="impliedInsights.helpHtml"></div>
        </smss-overlay-body>
    </smss-overlay>
</div>
