@import '~theme';

.worksheet {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: visible;
    background-color: white;
    margin: auto;

    &__content {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: visible;
        z-index: 0;

        &--presentation {
            overflow: hidden;
        }
        &__blank-sheet {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &__add {
                display: flex;
                justify-content: center;
                margin-top: 1em;
            }
        }
    }

    &__golden {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

// adding width: 100% to fix issues with golden layout tabs overflowing outside of container/panel
.lm_header .lm_tabs {
    position: absolute;
    width: 100%;
}
