.gantt-tooltip-container {
    stroke: transparent;
    border-radius: 5px;
    max-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px;
}

.gantt-tooltip-text {
    padding: 5px;
    word-wrap: break-word;
}
