@import '~theme';

.metamodel-column-table {
    &__tabs {
        margin-bottom: get-spacing('md', 'rem');
    }

    &__logical-new {
        display: flex;
        align-items: center;
        & .smss-input {
            width: 200px;
            margin-right: get-spacing('sm', 'rem');
        }
    }

    &__instances {
        height: 200px;
    }

    & .smss-overlay__wrapper {
        height: 80%;
    }
}
