<smss-overlay
    class="metamodel-column-table"
    size="lg"
    open="metamodelColumnTable.open"
    hide="metamodelColumnTable.closeColumnTable()"
>
    <smss-overlay-header
        >Edit
        {{metamodelColumnTable.allTables[metamodelColumnTable.selectedTable].table}}
        ({{metamodelColumnTable.allTables[metamodelColumnTable.selectedTable].alias}})</smss-overlay-header
    >
    <smss-overlay-body>
        <smss-tab-group class="metamodel-column-table__tabs">
            <smss-tab
                ng-click="metamodelColumnTable.setColumnGroup('Edit Columns')"
                ng-class="{'smss-tab--selected': metamodelColumnTable.group === 'Edit Columns'}"
            >
                Edit Columns
            </smss-tab>
            <smss-tab
                ng-click="metamodelColumnTable.setColumnGroup('Settings')"
                ng-class="{'smss-tab--selected': metamodelColumnTable.group === 'Settings'}"
            >
                Settings
            </smss-tab>
            <smss-tab
                ng-click="metamodelColumnTable.setColumnGroup('Description')"
                ng-class="{'smss-tab--selected': metamodelColumnTable.group === 'Description'}"
            >
                Description
            </smss-tab>
            <smss-tab
                ng-click="metamodelColumnTable.setColumnGroup('Logical Names')"
                ng-class="{'smss-tab--selected': metamodelColumnTable.group === 'Logical Names'}"
            >
                Logical Names
            </smss-tab>
            <smss-tab
                ng-click="metamodelColumnTable.setColumnGroup('Sample Instances')"
                ng-class="{'smss-tab--selected': metamodelColumnTable.group === 'Sample Instances'}"
            >
                Sample Instances
            </smss-tab>
        </smss-tab-group>

        <div ng-if="metamodelColumnTable.group === 'Edit Columns'">
            <!-- <smss-field>
                <label>
                    Select Table to Edit:
                    Edit Columns for: {{metamodelColumnTable.updatedColumnTable.column}} ({{metamodelColumnTable.updatedColumnTable.alias}})
                </label>
                <content>
                    <smss-dropdown display="alias"
                        value="table"
                        ng-disabled="true"
                        model="metamodelColumnTable.tableInformation.selected"
                        options="metamodelColumnTable.tableInformation.options"
                        change="metamodelColumnTable.setColumn()">
                    </smss-dropdown>
                </content>
            </smss-field> -->
            <smss-field>
                <label> Add or Remove Columns: </label>
                <content>
                    <smss-checklist
                        model="metamodelColumnTable.columnInformation.selected"
                        options="metamodelColumnTable.columnInformation.options"
                        display="alias"
                        value="column"
                        searchable
                        quickselect
                        multiple
                    >
                    </smss-checklist>
                </content>
            </smss-field>
        </div>
        <div ng-if="metamodelColumnTable.group === 'Settings'">
            <smss-field>
                <label> Edit Alias: </label>
                <content>
                    <smss-input
                        ng-model="metamodelColumnTable.updatedColumnTable.alias"
                    ></smss-input>
                </content>
            </smss-field>
            <smss-field>
                <label> Select a Data Type: </label>
                <content>
                    <smss-dropdown
                        change="metamodelColumnTable.setSelectedFormat()"
                        display="display"
                        options="metamodelColumnTable.format.options"
                        model="metamodelColumnTable.format.selectedOption"
                    ></smss-dropdown>
                </content>
            </smss-field>
            <smss-field
                ng-if="metamodelColumnTable.format.selectedOption.formats.length > 0"
            >
                <label> Select a Format: </label>
                <content>
                    <smss-dropdown
                        change="metamodelColumnTable.setFormatOptions()"
                        display="display"
                        options="metamodelColumnTable.format.selectedOption.formats"
                        model="metamodelColumnTable.format.selectedOption.selectedFormat"
                    ></smss-dropdown>
                </content>
                <description
                    class="smss-small smss-color--low-emphasis"
                    ng-if="metamodelColumnTable.format.selectedOption.value === 'DATE' && !metamodelColumnTable.appId"
                >
                    <i
                        >Please select the format that
                        <b>matches your data</b></i
                    >
                </description>
            </smss-field>
            <div
                class="metamodel-column-table__custom"
                ng-if="metamodelColumnTable.format.selectedOption.selectedFormat.value === 'Custom'"
            >
                <div
                    ng-switch="metamodelColumnTable.format.selectedOption.value"
                >
                    <div
                        ng-switch-when="INT|DOUBLE"
                        ng-switch-when-separator="|"
                    >
                        <smss-field>
                            <label>Prepend Value to Label</label>
                            <content>
                                <smss-input
                                    type="text"
                                    ng-model="metamodelColumnTable.formatOptions.prepend"
                                ></smss-input>
                            </content>
                        </smss-field>

                        <smss-field>
                            <label>Append Value to Label</label>
                            <content>
                                <smss-input
                                    type="text"
                                    ng-model="metamodelColumnTable.formatOptions.append"
                                ></smss-input>
                            </content>
                        </smss-field>

                        <smss-field
                            ng-if="metamodelColumnTable.format.selectedOption.value === 'DOUBLE'"
                        >
                            <label>Round to # of Decimal Places: </label>
                            <content>
                                <smss-input
                                    ng-model="metamodelColumnTable.formatOptions.round"
                                    type="number"
                                    min="1"
                                ></smss-input>
                            </content>
                        </smss-field>

                        <smss-field>
                            <label>Large Number Format</label>
                            <content>
                                <smss-dropdown
                                    display="display"
                                    value="value"
                                    model="metamodelColumnTable.formatOptions.type"
                                    options="metamodelColumnTable.customOptions.type"
                                >
                                </smss-dropdown>
                            </content>
                        </smss-field>

                        <smss-field>
                            <label>Number Delimiter</label>
                            <content>
                                <smss-dropdown
                                    model="metamodelColumnTable.formatOptions.delimiter"
                                    display="display"
                                    value="value"
                                    options="metamodelColumnTable.customOptions.delimiter"
                                ></smss-dropdown>
                            </content>
                        </smss-field>
                    </div>
                    <div
                        ng-switch-when="DATE|TIMESTAMP"
                        ng-switch-when-separator="|"
                    >
                        <smss-field
                            ng-if="metamodelColumnTable.format.selectedOption.selectedFormat.value === 'Custom'"
                        >
                            <label>
                                Enter Format as Java Date Format Notation:
                            </label>
                            <content>
                                <smss-input
                                    ng-model="metamodelColumnTable.formatOptions.date"
                                ></smss-input>
                                <!--"metamodelColumnTable.formatOptions.date"-->
                            </content>
                        </smss-field>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="metamodelColumnTable.group === 'Description'">
            <smss-field>
                <label> Edit Description: </label>
                <content>
                    <smss-textarea
                        ng-model="metamodelColumnTable.updatedColumnTable.description"
                    ></smss-textarea>
                </content>
            </smss-field>
            <div class="smss-spacing smss-clear">
                <smss-btn
                    class="smss-left smss-btn--outline"
                    ng-disabled="!metamodelColumnTable.appId"
                    ng-click="metamodelColumnTable.predictDescription()"
                >
                    Predict
                </smss-btn>
            </div>
        </div>
        <div ng-if="metamodelColumnTable.group === 'Logical Names'">
            <smss-field>
                <label> Current Logical Name(s): </label>
                <content>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th class="smss--icon"></th>
                        </tr>
                        <tr
                            ng-repeat="logical in metamodelColumnTable.updatedColumnTable.logical track by $index"
                            title="{{logical}}"
                        >
                            <td>{{logical}}</td>
                            <td>
                                <smss-btn
                                    class="smss-btn--icon"
                                    ng-click="metamodelColumnTable.removeLogical($index)"
                                >
                                    <i class="fa fa-trash-o"></i>
                                </smss-btn>
                            </td>
                        </tr>
                    </table>
                </content>
            </smss-field>
            <smss-field>
                <label> Enter New Logical Name: </label>
                <content class="metamodel-column-table__logical-new">
                    <smss-input
                        ng-model="metamodelColumnTable.newLogical"
                        ng-keydown="$event.keyCode === 13 && metamodelColumnTable.addLogical()"
                    ></smss-input>
                    <smss-btn
                        class="smss-btn--icon smss-color--success"
                        ng-disabled="!metamodelColumnTable.newLogical"
                        ng-click="metamodelColumnTable.addLogical()"
                    >
                        <i class="fa fa-plus"></i>
                    </smss-btn>
                </content>
            </smss-field>
            <div class="smss-spacing smss-clear">
                <smss-btn
                    class="smss-left smss-btn--outline"
                    ng-disabled="!metamodelColumnTable.appId"
                    ng-click="metamodelColumnTable.predictLogical()"
                >
                    Predict
                </smss-btn>
            </div>
        </div>
        <div ng-if="metamodelColumnTable.group === 'Sample Instances'">
            <smss-search
                model="metamodelColumnTable.instances.search"
                change="metamodelColumnTable.filterInstances()"
            >
            </smss-search>
            <smss-list
                class="metamodel-column-table__instances"
                ng-show="metamodelColumnTable.instances.options.length > 0"
                options="metamodelColumnTable.instances.options"
                loading="metamodelColumnTable.instances.loading"
                scroll="metamodelColumnTable.getMoreInstances()"
                multiple
            >
            </smss-list>
            <div
                class="smss-caption--center"
                ng-show="metamodelColumnTable.instances.options.length === 0"
            >
                No Instances
            </div>
        </div>
    </smss-overlay-body>
    <smss-overlay-footer>
        <smss-btn
            class="smss-btn--text"
            ng-click="metamodelColumnTable.closeColumnTable()"
        >
            Cancel
        </smss-btn>
        <smss-btn
            ng-disabled="!metamodelColumnTable.updatedColumnTable.alias"
            ng-click="metamodelColumnTable.saveTable()"
        >
            Save Changes
        </smss-btn>
    </smss-overlay-footer>
</smss-overlay>
