.collaboration {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__login {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__accordion {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: inherit;
        width: inherit;

        &__content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    &__custom-repo {
        &__input {
            width: calc(50% - 9px);
        }

        &__seperator {
            display: inline-block;
            width: 10px;
            text-align: center;
        }
    }

    &__team-grid {
        height: calc(100% - 143px);
        margin: 4px 0;
        min-height: 40px;
    }

    &__diff {
        &__no-changes {
            height: calc(100% - 106px);
            width: 100%;
            text-align: center;
        }

        &__checklist {
            height: calc(100% - 106px);
            min-height: 40px;
        }

        &__checklist-icon {
            float: left;
            padding: 0 12px 0 0;
            text-align: center;
            width: 36px;
            display: inline-block;
        }

        &__checklist-text {
            float: left;
            width: calc(100% - 36px);
        }
    }
}
