<div
    class="panel-mask"
    ng-click="$event.stopPropagation();"
    ng-dblclick="$event.stopPropagation();panelMask.selectPanel()"
    ng-class="{
     'panel-mask--maximized': panelMask.maximized ,
     'panel-mask--interact': panelMask.mode === 'edit'
    }"
>
    <div id="panel-mask__toolbar" class="panel-mask__toolbar">
        <div class="panel-mask__toolbar__group">
            <smss-btn
                title="Filter Panel"
                ng-click="panelMask.openPanelFilter()"
                class="smss-btn--icon"
            >
                <i class="fa fa-filter smss-color--low-emphasis"></i>
            </smss-btn>
            <smss-btn
                title="Clone Panel"
                ng-click="panelMask.clonePanel($event)"
                class="smss-btn--icon"
            >
                <i class="fa fa-files-o smss-color--low-emphasis"></i>
            </smss-btn>
            <smss-btn
                title="Maximize Panel"
                class="smss-btn--icon"
                ng-show="!panelMask.maximized"
                ng-click="panelMask.changePanelStatus('maximized')"
            >
                <i class="fa fa-window-maximize smss-color--low-emphasis"></i>
            </smss-btn>
            <smss-btn
                title="Normalize Panel"
                class="smss-btn--icon"
                ng-show="panelMask.maximized"
                ng-click="panelMask.changePanelStatus('normalized')"
            >
                <i class="fa fa-window-restore smss-color--low-emphasis"></i>
            </smss-btn>
            <smss-btn
                title="Close Panel"
                ng-click="panelMask.closePanel()"
                class="smss-btn--icon"
            >
                <i class="fa fa-times smss-color--low-emphasis"></i>
            </smss-btn>
        </div>
    </div>

    <div
        id="panel-mask__handle--NE"
        class="panel-mask__handle panel-mask__handle--NE"
    >
        &nbsp;
    </div>

    <div
        id="panel-mask__handle--SE"
        class="panel-mask__handle panel-mask__handle--SE"
    >
        &nbsp;
    </div>

    <div
        id="panel-mask__handle--SW"
        class="panel-mask__handle panel-mask__handle--SW"
    >
        &nbsp;
    </div>

    <div
        id="panel-mask__handle--NW"
        class="panel-mask__handle panel-mask__handle--NW"
    >
        &nbsp;
    </div>

    <div id="panel-mask__inner" class="panel-mask__inner">&nbsp;</div>
</div>
