@import '~theme';

$handle-size: to-rem(12px);

.panel-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: 1;
    outline: 1px solid get-outline-color('primary');
    cursor: move;

    &--maximized {
        > .panel-mask__handle {
            display: none;
        }
    }

    &--interact {
        outline: none;
        pointer-events: none; // Important: let's the panel contents be interactive
        cursor: default;
        background-image: repeating-linear-gradient(
                0deg,
                get-text-color('primary'),
                get-text-color('primary') 15px,
                transparent 15px,
                transparent 30px
            ),
            repeating-linear-gradient(
                90deg,
                get-text-color('primary'),
                get-text-color('primary') 15px,
                transparent 15px,
                transparent 30px
            ),
            repeating-linear-gradient(
                180deg,
                get-text-color('primary'),
                get-text-color('primary') 15px,
                transparent 15px,
                transparent 30px
            ),
            repeating-linear-gradient(
                270deg,
                get-text-color('primary'),
                get-text-color('primary') 15px,
                transparent 15px,
                transparent 30px
            );
        background-position: 0px 0px, 0px 0px, calc(100% - 1px) 0px,
            0px calc(100% - 1px);
        background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
        background-repeat: no-repeat;
    }

    &__toolbar {
        position: absolute;
        z-index: 1;
        white-space: nowrap;
        pointer-events: all;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-100%);

        &__group {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }

    &__handle {
        position: absolute;
        z-index: 1;
        height: $handle-size;
        width: $handle-size;
        border: $border-size solid get-border-color('primary');
        background: get-background-color('default');
        pointer-events: all;

        &--NE {
            cursor: ne-resize;
            top: -$handle-size/2;
            right: -$handle-size/2;
        }

        &--SE {
            cursor: se-resize;
            right: -$handle-size/2;
            bottom: -$handle-size/2;
        }

        &--SW {
            cursor: sw-resize;
            bottom: -$handle-size/2;
            left: -$handle-size/2;
        }

        &--NW {
            cursor: nw-resize;
            top: -$handle-size/2;
            left: -$handle-size/2;
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &__line {
        background: get-accent-color('purple--dark');
    }
}
