@import '~theme';
$tip-size: 5px;

div#driver-popover-item {
    display: none;
    position: absolute;
    background: get-background-color('default');
    margin: 0;
    padding: get-spacing('md', 'rem');
    min-width: 250px;
    max-width: 350px;
    z-index: 1000000000;
    border-radius: $border-radius;
    font-size: 1rem;

    &.driver-popover--small {
        min-width: 150px;
        max-width: 250px;
        & .driver-next-btn {
            margin-top: get-spacing('xs', 'rem');
        }
    }

    & .driver-popover-tip {
        border: $tip-size solid get-border-color('white');
        content: '';
        position: absolute;

        &.bottom {
            bottom: -2 * $tip-size;
            border-top-color: get-border-color('white');
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;

            &.position-center {
                left: 50%;
            }

            &.position-right {
                right: 2 * $tip-size;
            }
        }
        &.left {
            left: -2 * $tip-size;
            top: 2 * $tip-size;
            border-top-color: transparent;
            border-right-color: get-border-color('white');
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &.right {
            right: -2 * $tip-size;
            top: 2 * $tip-size;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: get-border-color('white');
        }
        &.top {
            top: -2 * $tip-size;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: get-border-color('white');
            border-left-color: transparent;
            &.position-center {
                left: 50%;
            }

            &.position-right {
                right: 2 * $tip-size;
            }
        }
    }

    & .driver-popover-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .driver-btn-group {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
        }
        & button {
            // default style
            display: inline-block;
            line-height: $line-height;
            height: get-height('button', 'rem');
            margin: 0;
            padding: 0 get-spacing('md', 'rem');
            text-align: center;
            cursor: pointer;
            outline: none;
            display: inline-block;
            background-color: get-background-color('primary');
            user-select: none;
            border: $border-size solid transparent;
            border-radius: $border-radius;
            color: get-text-color('white');
            overflow: hidden;
            font-weight: get-font-weight('semibold');
            &:hover {
                background: get-background-color('primary--hover-dark');
            }

            &.driver-close-btn {
                // text style
                float: left;
                color: get-text-color('primary');
                background: transparent;
                padding: 0 get-spacing('sm', 'rem');
                &:hover {
                    background: transparent;
                    color: get-text-color('primary--hover');
                }
            }

            &.driver-prev-btn {
                // outline style
                background: transparent;
                color: get-text-color('primary');
                border: $border-size solid get-text-color('primary');
                &:hover {
                    background: transparent;
                    color: get-text-color('primary--hover');
                    border: $border-size solid get-text-color('primary--hover');
                }
            }

            &.driver-next-btn {
                margin-left: get-spacing('sm', 'rem');
            }

            &.driver-disabled {
                @include no-events();
                border-color: transparent;
                color: get-text-color('white');
                background: get-background-color('disabled');
            }
        }
    }

    & .driver-popover-title {
        // h3 style
        color: get-text-color('high-emphasis');
        @include text-overflow();
        font-size: get-font-size('h3', 'rem');
        font-weight: get-font-weight('semibold');
        line-height: get-font-size('h3', 'rem') + get-spacing('xs', 'rem');
        letter-spacing: to-rem(0.15px);
        width: 100%;
    }

    & .driver-popover-description {
        color: get-text-color('medium-emphasis');
        font-size: get-font-size('body-regular', 'rem');
        padding: get-spacing('md', 'rem') 0;
    }
}

.driver-stage-no-animation {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background: transparent !important;
    outline: 5000px solid rgba(0, 0, 0, 0.6);
}

div#driver-page-overlay {
    background: #000;
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 100002 !important;
}

div#driver-highlighted-element-stage,
div#driver-page-overlay {
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

div#driver-highlighted-element-stage {
    position: absolute;
    height: 50px;
    width: 300px;
    background: #fff;
    z-index: 100003 !important;
    display: none;
    border-radius: 2px;
}

.driver-highlighted-element {
    z-index: 100004 !important;
}

.driver-position-relative {
    position: relative !important;
}

.driver-fix-stacking {
    z-index: auto !important;
    opacity: 1 !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    -webkit-filter: none !important;
    -moz-filter: none !important;
    -ms-filter: none !important;
    -o-filter: none !important;
    filter: none !important;
    -webkit-perspective: none !important;
    -moz-perspective: none !important;
    -ms-perspective: none !important;
    -o-perspective: none !important;
    perspective: none !important;
    -webkit-transform-style: flat !important;
    -moz-transform-style: flat !important;
    -ms-transform-style: flat !important;
    transform-style: flat !important;
    -webkit-transform-box: border-box !important;
    -moz-transform-box: border-box !important;
    -ms-transform-box: border-box !important;
    -o-transform-box: border-box !important;
    transform-box: border-box !important;
    will-change: unset !important;
}

/*# sourceMappingURL=driver.min.css.map*/
