@import '~theme';
$form-group: 64px;
$btn-bar: 36px;
$join-btn: get-width('icon', 'em') + 2 * get-spacing('sm', 'em');
$columns-btn: get-width('icon', 'em') + get-spacing('sm', 'em');
$comparator: 20px;

.pipeline-fuzzy-blend {
    position: relative;
    height: 100%;
    width: 100%;

    &__page {
        position: relative;
        height: calc(100% - #{$btn-bar});
        width: 100%;
    }

    &__page1 {
        &__top {
            display: flex;
            padding: 0 $scroll-size;

            &__col {
                &--left {
                    width: calc(50% - #{$join-btn}/ 2);
                }

                &--right {
                    width: calc(50% - #{$join-btn}/ 2 - #{$columns-btn});
                }
            }

            &__btn {
                width: get-width('icon', 'em');
                height: get-height('icon', 'em');
                margin: 0 get-spacing('sm', 'em');
                margin-top: get-spacing('sm', 'em') + get-height('label', 'em') +
                    get-spacing('xs', 'em');

                &--columns {
                    margin-right: 0;
                }
            }
        }

        &__container {
            float: left;
            height: calc(100% - #{$form-group});
            width: calc(50% - #{$scroll-size} - #{$join-btn / 2});

            &--from {
                margin-left: $scroll-size;
            }

            &--to {
                margin-right: $scroll-size;
            }
        }

        &__grid {
            width: 100%;
            height: 100%;

            &__content {
                height: 100%;
                width: 100%;
            }
        }

        &__holder {
            width: $join-btn;
            height: 100%;
            float: left;
        }
    }

    &__page2 {
        display: flex;

        &__left-container {
            width: 65%;
            height: 100%;

            &__action-bar {
                padding: 0 $scroll-size;
                display: flex;

                & > div {
                    margin-left: get-spacing('sm', 'em');

                    &:first-child {
                        margin-left: 0;
                    }
                }

                &__settings {
                    width: get-width('icon', 'em');
                    height: get-height('icon', 'em');
                    margin-top: get-spacing('sm', 'em') +
                        get-height('label', 'em') + get-spacing('xs', 'em');
                    margin-left: get-spacing('sm', 'em');
                }

                &__closeness {
                    width: 92px;
                }
            }
        }

        &__right-container {
            width: 35%;
            height: 100%;
            margin: 0 $scroll-size;
        }

        &__results {
            width: 100%;
            height: calc(100% - #{$form-group} - 2px);
            padding: get-spacing('sm', 'em') / 2 $scroll-size;

            &__header {
                line-height: get-height('sm', 'em');
                padding: 0 $scroll-size;
                border: 1px solid get-border-color('default');

                & .smss-col {
                    text-align: center;
                }

                &__text {
                    @include text-overflow();
                    font-size: get-font-size('body-regular', 'em');

                    &--closeness {
                        width: calc(100% - #{get-width('icon', 'rem')});
                    }
                }

                & .smss-btn {
                    margin-top: get-spacing('xxs', 'rem');
                }
            }

            &__list {
                border: 1px solid get-border-color('default');
                border-top: 1px transparent;
                height: calc(100% - #{get-height('sm', 'em')});

                & .smss-list__option {
                    height: 30px;
                    line-height: 26px;
                }

                &__text {
                    width: calc(
                        50% - #{$comparator/2} - #{get-spacing('sm', 'em')}
                    );
                    outline: none;
                    padding: 0 get-spacing('sm', 'em');
                    text-align: center;
                }

                &__comparator {
                    width: $comparator;
                    outline: none;
                    text-align: center;
                }

                &__bar {
                    width: calc(
                        100% - #{get-width('icon', 'em')} - #{get-spacing(
                                'sm',
                                'em'
                            )}
                    );
                    margin: get-spacing('sm', 'em') / 2;
                    margin-left: 0;
                    height: get-height('sm', 'em') - get-spacing('sm', 'em');
                    text-align: center;
                    border: 1px solid get-border-color('default');

                    &__block {
                        height: 100%;
                        width: 100%;
                        background: get-background-color('primary');
                    }

                    &__status {
                        width: get-width('icon', 'em');
                        margin-left: get-spacing('sm', 'em') / 2;
                    }
                }
            }
        }

        &__list-side {
            height: 50%;

            &__list {
                height: 100%;
                border: 1px solid get-border-color('default');

                &__remove {
                    display: none;
                    position: relative;
                    height: calc(#{get-height('sm', 'em')} - 2px);
                    line-height: calc(#{get-height('sm', 'em')} - 4px);
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }

                &__text {
                    width: calc(
                        50% - #{$comparator/2} - #{get-width('icon', 'em') / 2} -
                            2px
                    );
                    outline: none;
                    padding: 0 get-spacing('sm', 'em');
                    text-align: center;
                }

                &__comparator {
                    width: $comparator;
                    outline: none;
                    text-align: center;
                }
            }
        }
    }

    &__btn-group {
        position: absolute;
    }
}

.smss-list__option:hover .pipeline-fuzzy-blend__page2__list-side__list__remove {
    display: inline-block;
}
