@import './variables.scss';

@mixin transition($type: all) {
    transition: 0.3s ease $type;
}

@mixin disabled() {
    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        cursor: default;
        pointer-events: none;
        color: get-text-color('disabled') !important;
        background: get-background-color('disabled--light');
    }
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin no-events {
    cursor: default;
    pointer-events: none;
}

@mixin no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin placeholder-text {
    font-weight: get-font-weight('regular');
    font-size: get-font-size('body-regular', 'em');
    line-height: to-rem(16px);
    letter-spacing: to-rem(0.15px);
    color: map-get($text-color, 'low-emphasis');
}
