.edit-div {
    z-index: 6;
    display: none;
    width: 220px;
    height: auto;
}

.chart-div {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.commentbox-readonly {
    z-index: 6;
}

.commentbox {
    width: 205px;
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid rgba(122, 122, 122, 0.6);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
    color: #000000;
    padding: 5px;
    margin: 0px;
    z-index: 6;
}

.commentbox-edit {
    width: 205px;
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid rgba(122, 122, 122, 0.6);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
    color: #000000;
    padding: 5px;
    margin: 0px;
    z-index: 6;
}

.tip-line {
    pointer-events: none;
}

.topbar-button.font {
    font-size: 1.1em;
    padding: 3px 4px 3px 4px;
}

.topbar-button {
    font-size: 1.3em;
    padding: 3px 5px 3px 5px;
}

.textarea {
    border-radius: 5px;
    max-width: 190px;
}

.brusharea {
    visibility: visible !important;
}

.brusharea .background {
    fill: blue;
    visibility: visible;
    z-index: 10;
}

.brusharea .extent {
    visibility: visible;
    fill: #E6E6E6;
    z-index: 11;
    fill-opacity: .7;
    shape-rendering: crispEdges;
    stroke: #E6E6E6;
}

.brusharea .resize {
    visibility: visible !important;
    fill: #00E753;
    z-index: 12;
}

.jv-tooltip {
    z-index: 10000;
    /*opacity: .6;*/
    background: rgba(255,255,255,0.95);
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
}
/*Circle Packing CSS*/
.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: transparent;
}

.label {
    font-size: .75em;
    text-anchor: middle;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.sankey-link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.sankey-link:hover {
    stroke-opacity: .5;
}