@import '~theme';

.implied-insights {
    height: 100%;
    width: 100%;
    padding: 0 $scroll-size;
    display: flex;
    flex-direction: column;
    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: get-spacing('xs', 'rem');
        margin-bottom: get-spacing('md', 'rem');
        & .smss-btn {
            flex-shrink: 0;
        }
    }
    &__content {
        flex: 1;
    }
    &__overlay {
        .section {
            margin-bottom: get-spacing('md', 'rem');
        }
    }
}
