@import '~theme';

$slider-base: get-font-size('body-large', 'rem');
$slider-height: to-em(24px);
$slider-bar: to-em(8px);
$slider-axis: to-em(16px);

.smss-slider {
    font-size: $slider-base;
    display: flex;
    width: 100%;
    outline: none;

    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        @include no-events();

        & .smss-slider__track__thumb {
            background: get-background-color('disabled');
        }

        & .smss-slider__track__highlight {
            background: get-background-color('disabled');
        }

        & .smss-slider__track__background {
            background: get-background-color('disabled--light');
        }
    }

    &__content {
        flex: 1;
        position: relative;
        padding: 0 get-width('circle', 'em') / 2 + get-spacing('xs', 'em');
        overflow: hidden;
    }

    &__track {
        position: relative;
        height: $slider-height;
        width: 100%;
        overflow: visible;

        &__thumb {
            position: absolute;
            top: calc(50% - #{get-height('circle', 'em') / 2});
            left: 0;
            height: get-height('circle', 'em');
            width: get-width('circle', 'em');
            margin-left: -1 * get-width('circle', 'em') / 2;
            cursor: pointer;
            z-index: 5;
            outline: none;
            box-shadow: none;
            background: get-background-color('primary');
            border: none;
            border-radius: 100%;

            &:focus-visible {
                box-shadow: get-box-shadow('focus', 'primary');
            }
        }

        &__highlight {
            position: absolute;
            top: calc(50% - #{$slider-bar / 2});
            left: 0;
            height: $slider-bar;
            background: get-background-color('primary');
            z-index: 3;
            border-radius: $border-radius;
        }

        &__tick {
            position: absolute;
            top: calc(50% - #{$slider-bar / 2});
            left: 0;
            right: 0;
            height: $slider-bar;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &__stick {
                height: 100%;
                width: 1px;
                background: get-background-color('dark');
            }
        }

        &__background {
            position: absolute;
            top: calc(50% - #{$slider-bar / 2});
            left: 0;
            right: 0;
            height: $slider-bar;
            background: get-background-color('border');
            z-index: 1;
            border-radius: $border-radius;
        }
    }

    &__axis {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $slider-axis;
        line-height: 100%;
        width: 100%;
        margin-top: get-spacing('xs', 'em');

        &__text {
            flex: 1;
            text-align: center;
            font-size: get-font-size('body-small', 'em');
            color: get-text-color('low-emphasis');
            @include no-select();
            @include text-overflow();

            &--left {
                padding-right: rescale(
                    get-spacing('sm', 'em'),
                    1em,
                    get-font-size('body-small', 'em')
                );
                text-align: left;
            }

            &--right {
                padding-left: rescale(
                    get-spacing('sm', 'em'),
                    1em,
                    get-font-size('body-small', 'em')
                );
                text-align: right;
            }
        }
    }
}
