@import '~theme';

$chart-size: get-spacing('sm', 'em') * 2;

.smss-loading {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(256, 256, 256, 0.9);
    z-index: 8700;

    &:hover {
        .smss-loading__times {
            color: get-text-color('primary');
        }
    }

    &__times {
        position: absolute;
        top: 0.5 * get-spacing('sm', 'em');
        right: 0.5 * get-spacing('sm', 'em');
        z-index: 1;
        color: get-text-color('medium-emphasis');
    }

    &__box {
        position: relative;
        top: calc(50% - (#{2em + $chart-size + 2 * 1em}/ 2));
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        overflow: hidden;
        background: get-background-color('default');
    }

    &__chart {
        height: $chart-size;
        width: ($chart-size/4 + 2 * $chart-size/8) * 6;
        margin: 1em auto;
        border-bottom: 1px solid get-border-color('default');
        overflow: hidden;

        &__bar {
            float: left;
            display: inline-block;
            height: 0;
            width: $chart-size/4;
            margin: $chart-size $chart-size/8 0 $chart-size/8;
            background-color: get-background-color('primary');
            animation: grow 1.75s infinite;

            @for $i from 1 through 6 {
                &--#{$i} {
                    animation-delay: (2 + $i/4) + s;
                }
            }
        }
    }

    &__title {
        text-align: center;
        width: 100%;
        color: get-text-color('low-emphasis');
        @include text-overflow();
    }

    &__container {
        position: relative;

        &__scroll {
            max-height: 150px;
            width: 100%;
            padding: 0.5 * get-spacing('sm', 'em') $scroll-size;
            border: 1px solid get-border-color('default');
            overflow: auto;

            &--closed {
                height: 2 * 0.5 * get-spacing('sm', 'em') +
                    get-height('sm', 'em');
                overflow: hidden;
            }
        }

        &__btn {
            position: absolute;
            top: 0.5 * get-spacing('sm', 'em');
            right: $scroll-size;
            color: get-text-color('low-emphasis');
        }
    }
}

@keyframes grow {
    50% {
        margin-top: 0;
        height: $chart-size;
    }
}
