@import '~theme';

.widget-mode {
    background: get-background-color('default');

    // &:hover {
    //     opacity: 1;
    // }

    &__icon {
        & img {
            width: 12px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__divider {
        width: 1px;
        height: get-height('sm', 'em');
        background: get-background-color('light');
    }

    &__hidden {
        display: none;
    }
}
