@import '~theme';

.cookie-banner {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8700;

    &__content {
        width: 100%;
        max-width: 460px;
        margin: get-spacing('md', 'em') auto;
        padding: get-spacing('md', 'em');
        border-width: $border-size;
        border-style: solid;
        border-color: get-border-color('default');
        border-radius: $border-radius;
        background: get-accent-color('blue--light');

        &__header {
            width: 100%;
            display: flex;
            align-content: center;
            margin-bottom: get-spacing('md', 'em');
        }

        &__footer {
            display: flex;
            margin-top: get-spacing('md', 'em');
            justify-content: end;
        }
    }
}
