<div class="xs-padding">
    <input class="form-control" ng-model="vivaGraphTools.searchInput" type="text" placeholder="Search Nodes" aria-label="..." enter-key="vivaGraphTools.searchGraph(vivaGraphTools.searchInput)">
    <i class="fa fa-times pointer viva-search-x" ng-if="!vivaGraphTools.isEmpty(vivaGraphTools.searchInput)"
           ng-click="vivaGraphTools.clearSearchHighlighting()"></i>
</div>

<!-- <button class="btn-quarter btn-light pull-left pointer" ng-click="vivaGraphTools.toggleLayout()"
        title="Toggle Layout"
        ng-class="{'toggled': vivaGraphTools.layoutToggle}">
    <div ng-if="vivaGraphTools.layoutToggle"><i class="fa fa-unlock-alt"></i> Unlock </div>
    <div ng-if="!vivaGraphTools.layoutToggle"><i class="fa fa-lock"></i> Lock </div>
</button> -->

<button class="btn-half btn-light pull-left pointer" ng-click="vivaGraphTools.resetScale()"
        title="Reset Scale" aria-label="Reset Scale">
    <i class="fa fa-refresh"></i> Reset Scale
</button>

<button class="btn-half btn-light pull-left pointer" ng-click="vivaGraphTools.toggleLegend()"
        title="Toggle Legend" aria-label="Toggle Legend">
    <div ng-if="vivaGraphTools.legendToggle">Hide Legend</div>
    <div ng-if="!vivaGraphTools.legendToggle">Show Legend</div>
</button>

<!-- <button class="btn-quarter btn-light pull-left pointer" ng-click="vivaGraphTools.toggleLabels()"
        title="Toggle Labels">
    <div ng-if="vivaGraphTools.labelToggle">Hide Labels</div>
    <div ng-if="!vivaGraphTools.labelToggle">Show Labels</div>
</button>

<button class="btn-quarter btn-light pull-right pointer" ng-click="vivaGraphTools.togglePropertiesTable()"
        title="Toggle Properties Table">
    <span>Toggle Properties Table</span>
</button> -->

<div class="grid12">
    <hr style="margin: 10px 0px 10px 0px;"/>
</div>

<!-- node properties button -->
<!-- <button class="btn-half btn-light pull-right" ng-click="vivaGraphTools.togglePropertiesTable()"
        title="Show Properties Table">
    Properties
</button> -->

<!-- unlocks nodes on the network graph -->
<button class="btn-quarter btn-light pull-left pointer" ng-click="vivaGraphTools.unFreezeLayout()"
        title="Unlock Graph" aria-label="Unlock Graph">
    <i class="fa fa-unlock-alt"></i>
</button>

<!-- freezes nodes on the network graph -->
<button class="btn-quarter btn-light pull-left pointer" ng-click="vivaGraphTools.freezeLayout()" title="Lock Graph" aria-label="Lock Graph">
    <i class="fa fa-lock"></i>
</button>

<div class="grid12">
    <hr style="margin: 10px 0px 10px 0px;"/>
</div>

<!-- color -->
<div class="grid12">
    <select class="font-family xs-top-margin ng-pristine full-width form-control"
            ng-options="color.name as color.label for color in vivaGraphTools.colorOptions"
            ng-change="vivaGraphTools.colorBy()"
            ng-model="vivaGraphTools.selectedColorGroup">
        <option value="">--Select Color Option--</option>
    </select>
</div>

<!-- Layout -->
<div class="grid12">
    <select class="font-family xs-top-margin ng-pristine full-width form-control"
            ng-options="layout.name as layout.label for layout in vivaGraphTools.layoutOptions"
            ng-change="vivaGraphTools.updateLayout(vivaGraphTools.selectedLayout)"
            ng-model="vivaGraphTools.selectedLayout">
        <option value="">--Select Layout Option--</option>
    </select>
</div>

<div class="grid12" ng-if="!vivaGraphTools.isEmpty(vivaGraphTools.selectedLayoutOptions)">
    <div ng-repeat="(k,v) in vivaGraphTools.selectedLayoutOptions">

        <div class="input-group sm-font" style="margin:5px 0px;">
            <span class="input-group-addon sm-font" style="width:130px">{{k}}</span>
            <input type="text"
                   class="form-control"
                   ng-model="vivaGraphTools.selectedLayoutOptions[k]">
        </div>
    </div>

    <div class="grid6">
        <button class="btn-full btn-light"
                ng-click="vivaGraphTools.updateLayoutOptions(false)">
            Apply
        </button>
    </div>
    <div class="grid6">
        <button class="btn-full btn-light"
                ng-click="vivaGraphTools.updateLayoutOptions(true)">
            Rerender
        </button>
    </div>
</div>

<!--<div class="grid12">
    <hr style="margin: 10px 0px 10px 0px;"/>
</div>-->

<!-- Highlight adjacent, upstream, downstream -->
<!-- <div class="grid12">
    <div class="grid9" ng-class="{'disabled': vivaGraphTools.highlightOptions.disabled}">
        <select class="font-family xs-top-margin ng-pristine full-width form-control"
                ng-options="(highlightOpt.display | reduceStringLength: 25) for highlightOpt in vivaGraphTools.highlightOptions.list"
                ng-change="vivaGraphTools.highlightAdjacent(vivaGraphTools.highlightOptions.selected)"
                ng-model="vivaGraphTools.highlightOptions.selected">
            <option value="">--Select Highlight Option--</option>
        </select>
    </div>
    Reset edges (clear all highlighting)
    <button class="btn-quarter btn-light pull-right pointer" ng-click="vivaGraphTools.resetHighlighting()"
            title="Reset Graph"
            ng-if="toolPanelCtrl.selectedData.layout !== 'prerna.ui.components.specific.tap.InterfaceGraphPlaySheet'">
        Reset
    </button>
</div> -->

<!-- tools for data network visualization -->
<!-- <div class="grid12">
    <datanetworktools
            ng-if="toolPanelCtrl.selectedData.layout === 'prerna.ui.components.specific.tap.InterfaceGraphPlaySheet'"></datanetworktools>
</div>