.viva-search-x {
    position: absolute;
    top: 48px;
    right: 15px;
    color: #444;
    z-index: 3;
}

.viva-legend-container {
	left: 1em;
    top: 1em;
    position: absolute;
    height: 300px;
    width: 160px;
    opacity: 0.85;
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(215, 215, 215);
    background-color: rgba(255, 255, 255, 0.88);
    border-width: 2px;
    padding: 0.5em;
    /* font-size: 0.85em; */
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.29),0 3px 7px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.29),0 3px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.29),0 3px 7px rgba(0, 0, 0, 0.4); */
}

.viva-graph-selection-indicator {
    position: absolute;
    background-color: rgba(230,230,230,0.7);
    border: 1px solid #E6E6E6;
}