@import '~theme';

$toggle-base: get-font-size('body-large', 'rem');
$toggle-height: to-em(12px);
$toggle-width: to-em(24px);
$toggle-radius: to-em(8px);

.smss-toggle {
    font-size: $toggle-base;
    position: relative;
    display: flex;
    align-items: center;
    min-height: get-height('default', 'em');
    width: 100%;
    cursor: pointer;
    outline: none;
    margin: 0;
    @include no-select();

    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        @include no-events();

        & > .smss-toggle__mark {
            background: get-background-color('disabled--light');
        }

        & > .smss-toggle__mark > .smss-toggle__mark__thumb {
            background: get-background-color('disabled');
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
        margin: 0;
        cursor: pointer;

        &:focus-visible {
            & ~ .smss-toggle__mark > .smss-toggle__mark__thumb {
                box-shadow: get-box-shadow('focus', 'primary');
            }
        }
    }

    &__mark {
        position: relative;
        height: $toggle-height;
        width: $toggle-width;
        margin: 0 get-spacing('sm', 'em');
        background: get-background-color('border');
        overflow: visible;
        box-shadow: none;
        border-width: $border-size;
        border-style: solid;
        border-color: transparent;
        border-radius: $toggle-radius;

        &--checked {
            background: get-background-color('primary--light');

            & > .smss-toggle__mark__thumb {
                background: get-background-color('primary');
                left: $toggle-width - get-width('circle', 'em') +
                    get-spacing('sm', 'em');
            }
        }

        &__thumb {
            position: absolute;
            top: calc(
                #{$toggle-height/2 - get-height('circle', 'em') / 2} - #{$border-size}
            );
            left: -1 * get-spacing('sm', 'em');
            height: get-height('circle', 'em');
            width: get-width('circle', 'em');
            text-align: center;
            background: get-background-color('dark');
            overflow: hidden;
            box-shadow: none;
            border-radius: 100%;
        }
    }

    &__text {
        flex: 1;
        line-height: $line-height--large;
        font-size: get-font-size('body-regular', 'em');
        padding: 0
            rescale(
                get-spacing('sm', 'em'),
                1em,
                get-font-size('body-regular', 'em')
            );
        color: get-text-color('medium-emphasis');
    }

    &--small {
        .smss-toggle__mark {
            height: $toggle-height * 3/4;
            width: $toggle-width * 3/4;
            &__thumb {
                top: calc(
                    #{$toggle-height * 3 / 8 - get-height('circle', 'em') * 3 /
                        8} - #{$border-size}
                );
                height: calc(#{get-height('circle', 'em') * 3 / 4});
                width: calc(#{get-width('circle', 'em') * 3 / 4});
            }
            &--checked {
                & > .smss-toggle__mark__thumb {
                    left: calc(
                        (
                                #{$toggle-width} - #{get-width('circle', 'em')} +
                                    #{get-spacing('sm', 'em')}
                            ) * 3 / 4
                    );
                }
            }
        }
        .smss-toggle__text {
            line-height: $line-height;
        }
    }
}
