@import '~theme';

.manualformula {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-size: 1rem;
    border: 1px solid get-border-color('default');
    background: get-background-color('default');

    &__menu {
        display: flex;
        flex-direction: column;
        flex: 0 1 $sidebar;
        position: relative;
        height: 100%;
        border-right: 1px solid get-border-color('default');

        &__search {
            padding: get-spacing('sm', 'rem');
        }

        &__wrapper {
            flex: 1;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        &__group {
            padding: get-spacing('sm', 'em') / 2;

            &__name {
                display: inline-block;
                flex: 1;
                height: 100%;
                padding-right: rescale(get-spacing('sm', 'em'), 1em, 0.75em);
                font-size: 0.75em;
                font-weight: 300;
                text-transform: uppercase;
                color: get-text-color('medium-emphasis');
                @include text-overflow();
            }

            &__content {
                padding: get-spacing('sm', 'em');

                & > :last-child {
                    margin-bottom: 0;
                }

                &__option {
                    height: get-height('sm', 'em');
                    line-height: get-height('sm', 'em');
                    width: 100%;
                    background: get-background-color('dark');
                    color: get-text-color('medium-emphasis');
                    padding: 0 get-spacing('sm', 'em');
                    margin-bottom: get-spacing('sm', 'em');
                    border-radius: $border-radius;
                    outline: none;
                    cursor: move;
                    @include text-overflow();

                    &--value {
                        background: get-background-color('light');
                    }

                    &--expression {
                        background: get-accent-color('orange--light');
                    }

                    &--function {
                        background: get-accent-color('purple--light');
                    }

                    &--group {
                        background: get-accent-color('blue--light');
                    }

                    &--conditional {
                        background: get-accent-color('teal--light');
                    }

                    & > * {
                        font-size: 0.875em;
                    }
                }
            }
        }
    }

    &__manual {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        padding: get-spacing('sm', 'em');
        background: get-background-color('default');

        &__queryheader {
            display: flex;
            align-items: center;
            padding: 0 get-spacing('sm', 'rem');
            justify-content: flex-start;
            &--header {
                height: get-height('icon--nav', 'rem');
                color: get-text-color('high-emphasis');
                background: get-background-color('default');
                z-index: 1;
                position: relative;
            }
        }

        &__editor {
            position: relative;
            margin: 0 get-spacing('sm', 'rem') get-spacing('sm', 'rem')
                get-spacing('sm', 'rem');
            flex: 1;
            z-index: 1;
            outline: none;
            color: get-text-color('default');
            border: 1px solid get-border-color('default');
        }
    }
}
