@import '~theme';

$node-height: 124px;
$node-width: 250px;
$icon-width: 20px;

.mdm-metamodel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    &__accordion {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: inherit;
        width: inherit;

        &__content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }
    }

    &__search {
        position: absolute;
        top: get-spacing('sm', 'rem');
        left: get-spacing('sm', 'rem');
        z-index: 1;
        width: 200px;
    }

    &__graph {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        overflow: visible;

        &__table {
            position: absolute;
            top: 0;
            left: 0;
            width: $node-width;
            z-index: 1;
            cursor: move;
            background: get-background-color('light');
            border-radius: $border-radius;
            color: get-text-color('default');

            &__item {
                color: get-text-color('default');
                outline: none;
                border: 1px solid transparent;
                padding: 0 get-spacing('sm', 'rem');
                height: get-height('default', 'rem');
                display: flex;
                align-items: center;

                &--selected {
                    border: 1px solid get-border-color('primary');
                }

                &--border {
                    border-bottom: 1px solid get-border-color('default');
                }

                &__icon {
                    display: inline-block;
                    width: $icon-width;
                    text-align: center;

                    & * {
                        font-size: 0.875em;
                    }
                }

                &__text {
                    display: inline-block;
                    flex: 1;
                    @include text-overflow();

                    & * {
                        font-size: 0.875em;
                    }
                }
            }
        }

        &__edge {
            &__connector {
                & path {
                    stroke: get-border-color('dark');
                }
            }
        }
    }

    &__info {
        height: 100%;

        &__picker {
            & .smss-block__text {
                width: 100%;
            }
        }

        &__content {
            height: 100%;

            &__description {
                height: calc(100% - 36px);
                resize: none;
            }

            &__logical {
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                &__scroll {
                    flex: 1;
                    border: 1px solid get-border-color('default');
                }

                &__add {
                    display: flex;
                    align-items: center;

                    & input {
                        flex: 1;
                        margin-right: get-spacing('sm', 'rem');
                    }
                }
            }

            &__table {
                & td {
                    &:first-child {
                        border-top: 1px solid get-border-color('default');
                    }
                }
            }
        }
    }
}
