@import '~theme';
$home-nav-icon: get-width('icon--nav', 'rem');

.home-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    &__item {
        cursor: pointer;
        height: get-height('lg', 'em');
        line-height: get-height('lg', 'em');
        width: 100%;
        overflow: hidden;
        padding: 0 get-spacing('sm', 'em') 0 0;
        margin-bottom: get-spacing('md', 'rem');
        @include text-overflow();
        display: flex;
        align-items: center;

        &:hover {
            background: get-background-color('primary--hover');
            & .home-nav__item__close {
                visibility: visible;
            }
        }

        &--selected {
            background: get-background-color('primary--hover');
        }

        &__icon {
            display: inline-block;
            width: get-width('lg', 'em');
            font-size: initial;

            & img {
                vertical-align: middle;
                border: none;
                opacity: 1 !important;
            }
        }

        &__text {
            padding-left: get-spacing('scroll', 'rem');
            @include text-overflow();
            flex: 1;
        }
        &__close {
            visibility: hidden;
        }
    }

    &__btn {
        height: get-height('icon--nav', 'rem');
        line-height: get-height('icon--nav', 'rem');
        width: 100%;
        text-align: center;
        font-size: get-font-size('h8', 'rem');

        &--popover {
            position: relative;
            overflow: visible;

            &:hover {
                & .home-nav__popover {
                    display: block;
                }
            }
        }

        & i {
            padding-bottom: get-spacing('xxs', 'rem');
            font-size: get-width('icon--compact', 'rem');
        }

        &__text {
            font-size: get-font-size('h8', 'rem');
        }
    }

    &__spacer {
        flex: 1;
    }

    &__popover {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 99;
        width: 260px;
        height: 260px;
        padding: get-spacing('md', 'rem');
        background: get-background-color('default');
        @include transition(opacity);
        box-shadow: get-box-shadow('overlay', 'default');
        border-radius: $border-radius;
        text-align: left;

        .smss-search {
            margin: get-spacing('md', 'rem') 0;
            i {
                padding-bottom: 0;
                font-size: initial;
            }
        }

        &__scroll {
            height: 140px;
            .smss-scroll__inner {
                padding-left: 0px !important;
            }
        }
    }
}
