@import '~theme';
$card-height: 158px;
$image-size: to-rem(60px);
.home-intro {
    .smss-overlay__wrapper {
        padding: 0;
        &__header {
            padding: get-spacing('lg', 'rem');
            background: get-gradient-color('blue');
            color: get-text-color('white');
        }
    }

    &__header {
        letter-spacing: normal;
        font-weight: normal;

        & h1,
        h5,
        .smss-checkbox__text {
            color: get-text-color('white');
        }

        & h5 {
            margin: get-spacing('sm', 'rem') 0 get-spacing('gutter', 'rem');
        }

        &__actions {
            display: inline-flex;
            width: 100%;

            &__btn {
                border-color: get-border-color('white');
                color: get-text-color('white');
                margin-left: get-spacing('scroll', 'em');
            }

            & .smss-checkbox {
                flex: 0;
                margin-left: auto;
                &__mark {
                    border-color: get-border-color('white');
                    background: none;
                }

                &:hover .smss-checkbox__text {
                    color: get-text-color('primary');
                }
            }
        }
    }

    &__content {
        padding: 0 get-spacing('lg', 'rem') get-spacing('lg', 'rem');

        & h3 {
            color: get-text-color('default');
            margin-bottom: get-spacing('md', 'rem');
        }

        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &__card {
                font-size: 1rem;
                box-shadow: get-box-shadow('raised', 'default');
                border-radius: $border-radius;
                flex-direction: column;
                padding: get-spacing('md', 'em');
                min-height: $card-height;
                width: calc(50% - #{get-spacing('sm', 'em')});
                cursor: pointer;
                margin-bottom: get-spacing('md', 'em');

                &:hover {
                    box-shadow: get-box-shadow('overlay', 'default');
                }

                &__image {
                    height: $image-size;
                    width: $image-size;
                    padding: get-spacing('sm', 'em');
                    flex-shrink: 0;
                    margin-bottom: get-spacing('sm', 'em');
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & i {
                        font-size: calc(
                            #{$image-size} - #{2 * get-spacing('sm', 'em')}
                        );
                    }

                    & svg {
                        height: 100%;
                        width: auto;
                        max-width: 100%;
                        stroke: get-accent-color('blue--dark');
                        fill: get-accent-color('blue--dark');
                    }
                }

                &__content {
                    flex: 1;
                    padding: 0 get-spacing('sm', 'em');

                    &__top {
                        display: flex;
                        align-items: center;
                        height: get-height('sm', 'em');

                        &__title {
                            flex: 1;
                        }
                    }

                    &__description {
                        height: calc(
                            100% - 1em
                        ); //  calc(100% - #{get-height("xs", "em")}); // - 1em
                        font-size: get-font-size('body-regular', 'em');
                    }
                }

                &--teal {
                    background: get-accent-color('teal--light');
                    & i {
                        color: get-accent-color('teal--dark');
                    }
                }
                &--blue {
                    background: get-accent-color('blue--light');
                    & i {
                        color: get-accent-color('blue--dark');
                    }
                }
                &--purple {
                    background: get-accent-color('purple--light');
                    & i {
                        color: get-accent-color('purple--dark');
                    }
                }
                &--orange {
                    background: get-accent-color('orange--light');
                    & i {
                        color: get-accent-color('orange--dark');
                    }
                }
            }
        }
    }
}
