@import '~theme';
/** +1 because of border (and we want to keep the icons a consistent height/width) **/

$mdm-header: calc(#{get-height('sm', 'rem')} + 1px);
$mdm-footer: calc(
    #{get-height('default', 'rem')} + #{get-spacing('sm', 'rem')} + 1px
);
$mdm-topbar: get-spacing('sm', 'rem') * 5;
$mdm-sidebar: 200px;
$btn-width: calc(#{get-height('sm', 'rem')} - 2px);

.mdm {
    position: absolute;
    background: get-background-color('light');
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__topbar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        line-height: $mdm-topbar;
        height: $mdm-topbar;
        color: get-text-color('white');
        padding: 0 get-spacing('sm', 'rem');
        @include text-overflow();
        background-color: get-background-color('nav');
    }

    &__content {
        position: absolute;
        background: get-background-color('default');
        top: $mdm-topbar + get-spacing('sm', 'rem');
        right: get-spacing('sm', 'rem');
        bottom: get-spacing('sm', 'rem');
        left: get-spacing('sm', 'rem');
        border: 1px solid get-border-color('default');
        overflow: hidden;
    }

    &__sidebar {
        position: absolute;
        top: 0;
        left: -1 * ($mdm-sidebar);
        width: $mdm-sidebar;
        bottom: 0;
        border-right: 1px solid get-border-color('default');
        @include transition(left);

        &--opened {
            left: 0;
        }

        &__item {
            display: block;
            width: 100%;
            padding: get-spacing('sm', 'rem') / 2 get-spacing('sm', 'rem');
            outline: none;

            &--selected {
                background: get-background-color('light');
            }

            &__icon {
                display: inline-block;
                text-align: center;
                width: $btn-width;
            }
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        @include transition(left);

        &--opened {
            left: $mdm-sidebar;
        }

        &__header {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: $mdm-header;
            background: get-background-color('default');
            display: flex;
            align-items: center;
            border-bottom: 1px solid get-border-color('default');

            &__text {
                flex: 1;
                @include text-overflow();
            }
        }

        &__content {
            position: absolute;
            top: $mdm-header;
            right: 0;
            left: 0;
            bottom: $mdm-footer;
            overflow: hidden;

            &__accordion {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                height: inherit;
                width: inherit;
                border: none;
                border-radius: 0;
            }
        }

        &__footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: $mdm-footer;
            padding: get-spacing('sm', 'rem') / 2 0;
            background: get-background-color('default');
            border-top: 1px solid get-border-color('default');
        }
    }
}
