<div class="pipeline-file">
    <div
        flow-name="pipelineFile.fileData"
        flow-init="{singleFile: true}"
        flow-file-added="pipelineFile.checkFileExtension($file);pipelineFile.checkFileSize($file);pipelineFile.removeQsFile();"
        flow-files-submitted="pipelineFile.onFileAdd();"
        flow-drop
        ng-class="dropClass2"
        flow-drag-enter="dropClass2='drop-zone--enter'"
        flow-drag-leave="dropClass2=''"
        class="pipeline-file__step drop-zone drop-zone--borderless"
        ng-show="pipelineFile.step === 1"
    >
        <smss-scroll
            ng-class="{'pipeline-file__paste': pipelineFile.fileType === 'paste'}"
        >
            <smss-field>
                <label> Select File Type: </label>
                <content>
                    <smss-dropdown
                        display="display"
                        value="value"
                        model="pipelineFile.fileType"
                        options="pipelineFile.fileTypes"
                        change="pipelineFile.updateFileType()"
                        autofocus
                    >
                        <smss-dropdown-toggle
                            class="pipeline-file__dropdown__item"
                        >
                            <div class="pipeline-file__dropdown__item__img">
                                <img
                                    ng-src="{{$parent.smssDropdown.getOption($parent.smssDropdown.model).image}}"
                                />
                            </div>
                            <div class="pipeline-file__dropdown__item__text">
                                {{$parent.smssDropdown.getOption($parent.smssDropdown.model).display}}
                            </div>
                        </smss-dropdown-toggle>
                        <smss-dropdown-list
                            class="pipeline-file__dropdown__item"
                        >
                            <div class="pipeline-file__dropdown__item__img">
                                <img ng-src="{{$parent.opt.image}}" />
                            </div>
                            <div class="pipeline-file__dropdown__item__text">
                                {{$parent.opt.display}}
                            </div>
                        </smss-dropdown-list>
                    </smss-dropdown>
                </content>
            </smss-field>
            <smss-field ng-if="pipelineFile.fileType !== 'paste'">
                <label> Choose File Location: </label>
                <content>
                    <smss-dropdown
                        model="pipelineFile.locationType"
                        options="pipelineFile.locations"
                        display="display"
                        value="value"
                    >
                    </smss-dropdown>
                </content>
            </smss-field>
            <smss-field
                ng-if="pipelineFile.fileType !== 'paste' && pipelineFile.locationType === 'SEMOSS'"
            >
                <label>Select File:</label>
                <content>
                    <browser-asset
                        model="pipelineFile.assetFile"
                        on-open="pipelineFile.setFile(item)"
                        allowed-workspace="['Insight', 'Project', 'User']"
                        layout="overlay"
                    ></browser-asset>
                </content>
            </smss-field>
            <smss-field
                class="pipeline-file__drop"
                ng-if="pipelineFile.fileType !== 'paste' && pipelineFile.locationType === 'COMPUTER'"
            >
                <label> Select File: </label>
                <content>
                    <div
                        class="pipeline-file__drop__files drop-zone__container"
                        ng-class="{'drop-zone__container--upload': pipelineFile.fileData.files.length > 0}"
                        ng-if="pipelineFile.fileType !== 'paste'"
                    >
                        <div
                            class="drop-zone__message"
                            ng-if="pipelineFile.fileData.files.length == 0"
                        >
                            <div class="drop-zone__message__icon">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="drop-zone__message__text">
                                Drag and drop files
                            </div>
                            <smss-btn
                                class="smss-btn--outline smss-btn--compact"
                                flow-btn
                                >or upload</smss-btn
                            >
                        </div>
                        <div
                            ng-repeat="file in pipelineFile.fileData.files"
                            class="drop-zone__file drop-zone__file--single"
                        >
                            <div class="drop-zone__file__icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div
                                class="drop-zone__file__text"
                                title="{{file.name}}"
                            >
                                {{file.name}}
                            </div>
                            <smss-btn
                                ng-click="pipelineFile.removeFile(file)"
                                class="smss-btn--outline smss-btn--compact"
                            >
                                Remove
                            </smss-btn>
                        </div>
                    </div>
                </content>
            </smss-field>

            <smss-field
                class="pipeline-file__textarea"
                ng-if="pipelineFile.fileType === 'paste'"
            >
                <label> Copy + Paste Data Below </label>
                <content>
                    <smss-textarea
                        class="smss-textarea--bordered"
                        ng-model="pipelineFile.pasteData"
                        ng-trim="false"
                    ></smss-textarea>
                </content>
            </smss-field>
        </smss-scroll>
        <div
            class="smss-action smss-clear pipeline-file__actions"
            ng-class="{'pipeline-file__actions--delimiter' : pipelineFile.fileType === 'paste' || pipelineFile.fileType === 'csv' || pipelineFile.fileType === 'tsv' || pipelineFile.fileType === 'txt'}"
        >
            <smss-popover>
                <smss-btn
                    id="pipeline-file__advanced"
                    title="Advanced options"
                    class="smss-btn--icon"
                >
                    <i class="fa fa-cog"></i>
                </smss-btn>

                <smss-popover-content
                    class="pipeline-file__advanced__popover"
                    target="#pipeline-file__advanced"
                >
                    <smss-field>
                        <label>
                            {{pipelineComponentCtrl.data.state === 'executed' ?
                            'Frame Type:' : 'Select Frame Type:'}}
                        </label>
                        <content class="smss-field__content-overflow">
                            <smss-dropdown
                                ng-if="pipelineComponentCtrl.data.state !== 'executed'"
                                options="[{'display': 'Grid', 'value': 'GRID'}, {'display': 'Graph', 'value': 'GRAPH'}, {'display': 'R', 'value': 'R'}, {'display': 'Python', 'value': 'PY'}]"
                                display="display"
                                value="value"
                                model="pipelineFile.frameType"
                                change="pipelineFile.updateFrame(pipelineFile.frameType)"
                                body="false"
                            >
                            </smss-dropdown>
                            <span
                                ng-if="pipelineComponentCtrl.data.state === 'executed'"
                                >{{pipelineFile.frameType}}</span
                            >
                        </content>
                    </smss-field>
                    <smss-field>
                        <label>
                            {{pipelineComponentCtrl.data.state === 'executed' ?
                            'Frame Name:' : 'Enter Frame Name:'}}
                        </label>
                        <content>
                            <smss-input
                                ng-if="pipelineComponentCtrl.data.state !== 'executed'"
                                ng-model="pipelineFile.customFrameName.name"
                                ng-change="pipelineFile.validateFrameName()"
                                ng-disabled="!pipelineFile.fileData.files[0]"
                            ></smss-input>
                            <span
                                ng-if="pipelineComponentCtrl.data.state === 'executed'"
                                >{{pipelineFile.customFrameName.name}}</span
                            >
                        </content>
                        <description>
                            <span
                                class="smss-color--error"
                                ng-show="pipelineFile.customFrameName.message"
                            >
                                {{pipelineFile.customFrameName.message}}</span
                            >
                        </description>
                    </smss-field>
                </smss-popover-content>
            </smss-popover>
            <smss-field
                class="pipeline-file__delimiter"
                ng-if="pipelineFile.fileType === 'paste' || pipelineFile.fileType === 'csv' || pipelineFile.fileType === 'tsv' || pipelineFile.fileType === 'txt'"
                inline
            >
                <label class="pipeline-file__delimiter__label">
                    Delimiter:
                </label>
                <content class="pipeline-file__delimiter__content">
                    <smss-input
                        ng-model="pipelineFile.delimiterValue"
                    ></smss-input>
                </content>
            </smss-field>
            <smss-btn
                ng-click="pipelineComponentCtrl.closeComponent()"
                class="smss-btn--text"
            >
                Cancel
            </smss-btn>
            <smss-btn
                ng-click="pipelineFile.checkPreview(true); pipelineComponentCtrl.expandPreviewComponent();"
                ng-disabled="pipelineFile.step === 1"
                class="smss-btn--outline"
            >
                Preview
            </smss-btn>
            <smss-btn
                ng-click="pipelineFile.parseData()"
                ng-disabled="(pipelineFile.fileType === 'paste' && !pipelineFile.pasteData) ||
                (pipelineFile.fileType !== 'paste' && !((pipelineFile.locationType === 'COMPUTER' && pipelineFile.fileData.files.length > 0) || (pipelineFile.locationType === 'SEMOSS' && pipelineFile.assetFile)))"
            >
                Next
            </smss-btn>
        </div>
    </div>

    <div class="pipeline-file__step" ng-if="pipelineFile.step === 2">
        <h5 class="smss-spacing">Data Selection</h5>
        <smss-scroll static-x="true" class="pipeline-file__content">
            <div
                class="smss-spacing"
                ng-if="pipelineFile.headerDataKeys.length > 1"
            >
                <smss-alert
                    ng-init="showAlert = true"
                    inline
                    color="'error'"
                    ng-model="showAlert"
                >
                    <smss-alert-label>
                        Only one sheet can be loaded into the frame. To load
                        each sheet as a table, use the upload panel.
                    </smss-alert-label>
                </smss-alert>

                <smss-field>
                    <label> Select Sheet to Upload: </label>
                    <content>
                        <smss-dropdown
                            model="pipelineFile.selected"
                            options="pipelineFile.headerDataKeys"
                            change="pipelineFile.updateSelectedSheet()"
                        >
                        </smss-dropdown>
                    </content>
                </smss-field>
            </div>

            <div class="pipeline-file__file">
                <div
                    class="pipeline-file__file__header"
                    ng-show="pipelineFile.selectedHeaderData.fileName && ($index === 0 || pipelineFile.selectedHeaderData.fileName !== pipelineFile.headerData[$index-1].fileName)"
                >
                    <h6>File:</h6>
                    <p>{{pipelineFile.selectedHeaderData.fileName}}</p>
                </div>

                <div class="pipeline-file__file__sheet">
                    <div
                        class="pipeline-file__file__sheet__title pipeline-file__file__header"
                        ng-click="pipelineFile.selectedHeaderData.open = !pipelineFile.selectedHeaderData.open"
                    >
                        <i
                            class="fa"
                            ng-class="{'fa-caret-down': pipelineFile.selectedHeaderData.open, 'fa-caret-right': !pipelineFile.selectedHeaderData.open}"
                        ></i>
                        <h6>Sheet:</h6>
                        <p>{{pipelineFile.selectedHeaderData.title}}</p>
                    </div>

                    <div ng-if="pipelineFile.selectedHeaderData.open">
                        <div
                            ng-if="pipelineFile.selectedHeaderData && pipelineFile.selectedHeaderData.ranges && pipelineFile.selectedHeaderData.ranges.length > 1"
                        >
                            <smss-field>
                                <label> Select Range: </label>
                                <content>
                                    <smss-dropdown
                                        model="pipelineFile.selectedRange"
                                        options="pipelineFile.selectedHeaderData.ranges"
                                        change="pipelineFile.selectRange();"
                                        display="display"
                                    >
                                    </smss-dropdown>
                                </content>
                            </smss-field>

                            <smss-field
                                ng-if="pipelineFile.selectedRange.display === 'Custom Range'"
                            >
                                <label> Enter Range: </label>
                                <content class="pipeline-file__preview">
                                    <smss-input
                                        ng-model="pipelineFile.selectedRange.fullRange"
                                    ></smss-input>
                                    <smss-btn
                                        ng-click="pipelineFile.previewCustomRange()"
                                        class="smss-btn--outline"
                                        >Preview</smss-btn
                                    >
                                </content>
                            </smss-field>
                        </div>

                        <div ng-if="pipelineFile.selectedHeaderData.ranges">
                            <smss-field>
                                <label>
                                    Range:
                                    {{pipelineFile.selectedRange.fullRange}}
                                </label>
                                <content>
                                    <div
                                        class="pipeline-file__file__sheet__table"
                                    >
                                        <table class="smss--sticky">
                                            <tr>
                                                <th
                                                    class="pipeline-file__file__sheet__table__col-1"
                                                >
                                                    Column Name
                                                </th>
                                                <th
                                                    class="pipeline-file__file__sheet__table__col-2"
                                                >
                                                    Data Type
                                                </th>
                                                <th
                                                    class="pipeline-file__file__sheet__table__col-3 smss--icon"
                                                ></th>
                                            </tr>
                                            <tr
                                                ng-repeat="header in pipelineFile.selectedRange.headers track by $index"
                                            >
                                                <td>
                                                    <smss-input
                                                        type="text"
                                                        class="pipeline-file__file__sheet__table__input smss-left"
                                                        ng-disabled="!header.selected"
                                                        ng-model="header.title"
                                                        ng-change="pipelineFile.changeHeader()"
                                                    ></smss-input>

                                                    <span
                                                        class="pipeline-file__file__sheet__table__icon smss-left smss-color--error"
                                                        title="{{header.invalidHeader}}"
                                                        ng-show="header.invalidHeader"
                                                    >
                                                        <i
                                                            class="fa fa-exclamation-triangle"
                                                            aria-hidden="true"
                                                        ></i>
                                                    </span>
                                                    <span
                                                        class="pipeline-file__file__sheet__table__icon smss-left smss-color--warn"
                                                        ng-show="header.modifiedHeader && header.title === header.originalTitle"
                                                        title="Original header title: {{header.modifiedHeader}}"
                                                    >
                                                        <i
                                                            class="fa fa-exclamation-triangle"
                                                            aria-hidden="true"
                                                        ></i>
                                                    </span>

                                                    <span
                                                        class="pipeline-file__file__sheet__table__icon smss-left smss-color--error"
                                                        ng-show="pipelineFile.missingFormats.indexOf(header.title) > -1"
                                                        title="{{header.title}} is missing a data format"
                                                    >
                                                        <i
                                                            class="fa fa-exclamation-triangle"
                                                        ></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span
                                                        class="pipeline-file__file__sheet__table__text"
                                                        ng-if="!(header.type === 'NUMBER' && header.typeFormat)"
                                                        >{{header.type}}</span
                                                    >
                                                    <span
                                                        class="pipeline-file__file__sheet__table__text"
                                                        ng-if="header.type === 'NUMBER' && header.typeFormat"
                                                        >{{header.typeFormat}}</span
                                                    >
                                                    <smss-btn
                                                        class="smss-right smss-btn--icon"
                                                        ng-disabled="!header.selected"
                                                        ng-click="pipelineFile.formatHeaderType(header, pipelineFile.selectedHeaderData);"
                                                        ><i
                                                            class="fa fa-edit"
                                                        ></i
                                                    ></smss-btn>
                                                </td>
                                                <td>
                                                    <smss-btn
                                                        class="smss-color--error smss-btn--icon"
                                                        ng-click="header.selected = !header.selected"
                                                    >
                                                        <i
                                                            class="fa"
                                                            ng-class="{'fa-plus': !header.selected, 'fa-times':header.selected}"
                                                        ></i>
                                                        <!--TODO: Should this be green on add?-->
                                                    </smss-btn>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </content>
                            </smss-field>
                        </div>
                        <div ng-if="!pipelineFile.selectedHeaderData.ranges">
                            <div class="pipeline-file__file__sheet__table">
                                <table class="smss--sticky">
                                    <tr>
                                        <th
                                            class="pipeline-file__file__sheet__table__col-1"
                                        >
                                            Column Name
                                        </th>
                                        <th
                                            class="pipeline-file__file__sheet__table__col-2"
                                        >
                                            Data Type
                                        </th>
                                        <th
                                            class="pipeline-file__file__sheet__table__col-3 smss--icon"
                                        ></th>
                                    </tr>
                                    <tr
                                        ng-repeat="header in pipelineFile.selectedHeaderData.headers track by $index"
                                    >
                                        <td>
                                            <smss-input
                                                type="text"
                                                class="pipeline-file__file__sheet__table__input smss-left"
                                                ng-disabled="!header.selected"
                                                ng-model="header.title"
                                                ng-change="pipelineFile.changeHeader()"
                                            ></smss-input>

                                            <span
                                                class="pipeline-file__file__sheet__table__icon smss-left smss-color--error"
                                                title="{{header.invalidHeader}}"
                                                ng-show="header.invalidHeader"
                                            >
                                                <i
                                                    class="fa fa-exclamation-triangle"
                                                    aria-hidden="true"
                                                ></i>
                                            </span>
                                            <span
                                                class="pipeline-file__file__sheet__table__icon smss-left smss-color--warn"
                                                ng-show="header.modifiedHeader && header.title === header.originalTitle"
                                                title="Original header title: '{{header.modifiedHeader}}'"
                                            >
                                                <i
                                                    class="fa fa-exclamation-triangle"
                                                    aria-hidden="true"
                                                ></i>
                                            </span>

                                            <span
                                                class="pipeline-file__file__sheet__table__icon smss-left smss-color--error"
                                                ng-show="pipelineFile.missingFormats.indexOf(header.title) > -1"
                                                title="{{header.title}} is missing a data format"
                                            >
                                                <i
                                                    class="fa fa-exclamation-triangle"
                                                ></i>
                                            </span>
                                        </td>
                                        <td>
                                            <span
                                                class="pipeline-file__file__sheet__table__text"
                                                ng-if="!(header.type === 'NUMBER' && header.typeFormat)"
                                                >{{header.type}}</span
                                            >
                                            <span
                                                class="pipeline-file__file__sheet__table__text"
                                                ng-if="header.type === 'NUMBER' && header.typeFormat"
                                                >{{header.typeFormat}}</span
                                            >
                                            <smss-btn
                                                class="smss-right smss-btn--icon"
                                                ng-disabled="!header.selected"
                                                ng-click="pipelineFile.formatHeaderType(header, pipelineFile.selectedHeaderData);"
                                                ><i class="fa fa-edit"></i
                                            ></smss-btn>
                                        </td>
                                        <td>
                                            <smss-btn
                                                class="smss-color--error smss-btn--icon"
                                                ng-click="header.selected = !header.selected"
                                            >
                                                <i
                                                    class="fa"
                                                    ng-class="{'fa-plus': !header.selected, 'fa-times':header.selected}"
                                                ></i>
                                            </smss-btn>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </smss-scroll>
        <div class="smss-action smss-clear pipeline-file__actions">
            <smss-popover>
                <smss-btn
                    id="pipeline-file__advanced"
                    title="Advanced options"
                    class="smss-btn--icon"
                >
                    <i class="fa fa-cog"></i>
                </smss-btn>

                <smss-popover-content
                    class="pipeline-file__advanced"
                    target="#pipeline-file__advanced"
                >
                    <smss-field>
                        <label> Select Frame Type: </label>
                        <content class="smss-field__content-overflow">
                            <smss-dropdown
                                options="[{'display': 'Grid', 'value': 'GRID'}, {'display': 'Graph', 'value': 'GRAPH'}, {'display': 'R', 'value': 'R'}, {'display': 'Python', 'value': 'PY'}]"
                                display="display"
                                value="value"
                                model="pipelineFile.frameType"
                                change="pipelineFile.updateFrame(frameType)"
                                body="false"
                            >
                            </smss-dropdown>
                        </content>
                    </smss-field>
                    <smss-field>
                        <label> Enter Frame Name: </label>
                        <content>
                            <smss-input
                                ng-model="pipelineFile.customFrameName.name"
                                ng-change="pipelineFile.validateFrameName()"
                                ng-disabled="!pipelineFile.parsedFiles[0]"
                            ></smss-input>
                        </content>
                        <description>
                            <span
                                class="smss-color--error"
                                ng-show="pipelineFile.customFrameName.message"
                            >
                                {{pipelineFile.customFrameName.message}}</span
                            >
                        </description>
                    </smss-field>
                </smss-popover-content>
            </smss-popover>
            <smss-btn
                ng-click="pipelineComponentCtrl.closeComponent()"
                class="smss-btn--text"
            >
                Cancel
            </smss-btn>
            <smss-btn ng-click="pipelineFile.cancel()" class="smss-btn--text">
                Back
            </smss-btn>
            <smss-btn
                ng-disabled="(!pipelineFile.dataLoaded || pipelineFile.missingFormats.length > 0)"
                ng-click="pipelineFile.checkPreview(true); pipelineComponentCtrl.expandPreviewComponent();"
                class="smss-btn--outline"
            >
                Preview
            </smss-btn>
            <smss-btn
                ng-disabled="(!pipelineFile.dataLoaded || pipelineFile.missingFormats.length > 0) || !pipelineFile.customFrameName.valid || !pipelineFile.cleanHeaders"
                ng-click="pipelineFile.load()"
                class="smss-btn--outline"
            >
                Import
            </smss-btn>
            <smss-btn
                ng-disabled="(!pipelineFile.dataLoaded || pipelineFile.missingFormats.length > 0) || !pipelineFile.customFrameName.valid || !pipelineFile.cleanHeaders"
                ng-click="pipelineFile.load(true)"
            >
                Visualize
            </smss-btn>
        </div>
        <smss-overlay open="pipelineFile.isFormattingTypes">
            <smss-overlay-header
                >Select Type/Format for
                {{pipelineFile.headerBeingFormatted.title}}</smss-overlay-header
            >
            <smss-overlay-body>
                <div class="smss-row">
                    <smss-field class="smss-col smss-col--6">
                        <label> Select a Data Type: </label>
                        <content>
                            <smss-scroll
                                class="pipeline-file__overlay__scroll"
                                static-x="true"
                            >
                                <div
                                    ng-repeat="type in pipelineFile.types"
                                    class="smss-block"
                                    ng-class="{'smss-block--selected': type.value === pipelineFile.headerBeingFormatted.type}"
                                    ng-click="pipelineFile.updateCustom(type)"
                                >
                                    <div class="smss-block__text">
                                        <span>{{type.display}}</span>
                                    </div>
                                </div>
                            </smss-scroll>
                        </content>
                    </smss-field>
                    <smss-field class="smss-col smss-col--6">
                        <label>
                            Select The Format that Matches Your Data:
                        </label>
                        <!--TODO change blocks to dropdown to match metamodel widget UI-->
                        <!--<div ng-repeat="type in pipelineFile.types">
                            <smss-dropdown ng-if="type.value === pipelineFile.headerBeingFormatted.type"
                                display="display"
                                options="type.formats"
                                model="pipelineFile.headerBeingFormatted.typeFormat">
                            </smss-dropdown>
                            <div class="smss-field"
                                     ng-if="type.value === pipelineFile.headerBeingFormatted.type && type.formats.length === 0">
                                    <p>
                                        {{type.display}} is a general data type and requires no special formatting.
                                    </p>
                            </div>
                        </div>-->
                        <content>
                            <smss-scroll
                                class="pipeline-file__overlay__scroll"
                                static-x="true"
                            >
                                <div ng-repeat="type in pipelineFile.types">
                                    <div
                                        ng-if="type.value === pipelineFile.headerBeingFormatted.type"
                                        ng-repeat="format in type.formats"
                                        class="smss-block"
                                        ng-class="{'smss-block--selected': format.value === pipelineFile.headerBeingFormatted.typeFormat}"
                                        ng-click="pipelineFile.headerBeingFormatted.typeFormat = format.value; pipelineFile.customFormat = '';"
                                    >
                                        <div class="smss-block__text">
                                            <span> {{format.display}}</span>
                                        </div>
                                    </div>
                                    <p
                                        ng-if="type.value === pipelineFile.headerBeingFormatted.type && type.formats.length === 0"
                                    >
                                        {{type.display}} is a general data type
                                        and requires no special formatting.
                                    </p>
                                </div>
                            </smss-scroll>
                        </content>
                    </smss-field>
                    <div class="smss-col smss-col--6">&nbsp;</div>
                    <div
                        class="smss-col smss-col--6 smss-spacing"
                        ng-if="pipelineFile.headerBeingFormatted.typeFormat === 'Custom' && pipelineFile.headerBeingFormatted.type !== 'DATE' && pipelineFile.headerBeingFormatted.type !== 'TIMESTAMP'"
                    >
                        <smss-field>
                            <label>Prepend Value to Label</label>
                            <content>
                                <smss-input
                                    type="text"
                                    ng-model="pipelineFile.formatOptions.prepend"
                                ></smss-input>
                            </content>
                        </smss-field>

                        <smss-field>
                            <label>Append Value to Label</label>
                            <content>
                                <smss-input
                                    type="text"
                                    ng-model="pipelineFile.formatOptions.append"
                                ></smss-input>
                            </content>
                        </smss-field>

                        <smss-field
                            ng-if="pipelineFile.headerBeingFormatted.type === 'DOUBLE'"
                        >
                            <label>Round to # of Decimal Places: </label>
                            <content>
                                <smss-input
                                    ng-model="pipelineFile.formatOptions.round"
                                    type="number"
                                    min="1"
                                ></smss-input>
                            </content>
                        </smss-field>

                        <smss-field>
                            <label>Large Number Format</label>
                            <content>
                                <smss-dropdown
                                    display="display"
                                    value="value"
                                    model="pipelineFile.formatOptions.type"
                                    options="pipelineFile.customOptions.type"
                                >
                                </smss-dropdown>
                            </content>
                        </smss-field>

                        <smss-field>
                            <label>Number Delimiter</label>
                            <content>
                                <smss-dropdown
                                    model="pipelineFile.formatOptions.delimiter"
                                    display="display"
                                    value="value"
                                    options="pipelineFile.customOptions.delimiter"
                                ></smss-dropdown>
                            </content>
                        </smss-field>
                    </div>
                    <div>&nbsp;</div>
                </div>
                <div
                    class="smss-spacing"
                    ng-if="pipelineFile.headerBeingFormatted.typeFormat === 'Custom'  && (pipelineFile.headerBeingFormatted.type === 'DATE' || pipelineFile.headerBeingFormatted.type === 'TIMESTAMP')"
                >
                    <smss-input
                        ng-model="pipelineFile.formatOptions.date"
                        placeholder="Enter Format as Java Date Format Notation"
                    ></smss-input>
                </div>
            </smss-overlay-body>
            <smss-overlay-footer>
                <smss-btn
                    class="smss-btn--text"
                    ng-click="pipelineFile.isFormattingTypes = false"
                >
                    Cancel
                </smss-btn>
                <smss-btn ng-click="pipelineFile.applyTypeChange()">
                    Apply
                </smss-btn>
            </smss-overlay-footer>
        </smss-overlay>
    </div>
</div>
