@import '~theme';

.pipeline-file {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 $scroll-size;

    &__step {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__dropdown {
        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__img {
                position: relative;
                height: get-height('icon', 'em');
                width: get-width('icon', 'em');
                padding: get-spacing('xs', 'em') 0;
                margin-right: get-spacing('sm', 'em');
                overflow: hidden;

                & img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            &__text {
                flex: 1;
                @include text-overflow();
            }
        }
    }

    &__drop {
        position: relative;
        width: 100%;
        flex: 1;

        &__files {
            height: 100%;
            width: 100%;
            padding: get-spacing('sm', 'em');
        }
    }

    &__paste {
        & .smss-scroll__inner {
            display: flex;
            flex-direction: column;
        }
    }

    &__textarea {
        position: relative;
        width: 100%;
        flex: 1;

        & textarea {
            resize: none;
            height: 100%;
            min-height: 100px;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        flex: 1;

        & textarea {
            resize: none;
            height: 100%;
        }
    }

    &__delimiter {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-bottom: 0;

        &__label {
            width: auto !important;
            margin-bottom: 0;
        }

        &__content {
            flex: 1;
            max-width: 100px;
        }
    }

    &__file {
        padding-bottom: get-spacing('sm', 'em');

        &__header {
            display: flex;
            align-items: center;
            color: get-text-color('high-emphasis');
            & > i {
                font-size: get-font-size('body-regular', 'rem');
                margin-right: get-spacing('sm', 'rem');
            }
            & h6 {
                margin-right: get-spacing('xs', 'rem');
            }
        }

        &__sheet {
            padding: 0 0 0 2 * get-spacing('sm', 'em');

            &__title {
                cursor: pointer;
                outline: none;
                height: get-height('default', 'rem');
            }

            &__table {
                max-height: 200px;
                overflow: auto;

                &__col-1 {
                    width: calc(
                        100% - 200px - #{(
                                get-width('icon', 'em') + 2 *
                                    get-spacing('sm', 'em')
                            )}
                    );
                }

                &__col-2 {
                    width: 200px;
                }

                &__col-3 {
                    width: get-width('icon', 'em') + 2 * get-spacing('sm', 'em');
                }

                &__input {
                    width: calc(100% - 24px);
                }

                &__icon {
                    text-align: center;
                    line-height: get-height('sm', 'em');
                    height: 100%;
                    width: 24px;
                }

                &__text {
                    display: inline-block;
                    width: 80px;
                    padding: 0 get-spacing('sm', 'em') / 2;
                    line-height: get-height('sm', 'em');
                }
            }
        }
    }

    &__preview {
        display: flex;
        align-items: center;
        & .smss-input {
            flex: 1;
            margin-right: get-spacing('sm', 'rem');
        }
    }

    &__overlay {
        &__scroll {
            height: 200px;
        }
    }

    &__advanced {
        &__popover {
            width: 200px;
            // overflow: hidden;
        }
    }

    &__actions {
        & > :first-child {
            margin-left: $scroll-size !important;
        }
        & > :nth-child(2) {
            margin-left: auto !important;
        }

        & > :last-child {
            margin-right: $scroll-size !important;
        }

        &--delimiter {
            & > :nth-child(2) {
                margin-left: 0px !important;
            }

            & > :nth-child(3) {
                margin-left: auto !important;
            }
        }
    }
}

.drop-zone--enter .pipeline-file__drop__files {
    border-color: get-border-color('primary');
}
