@import '~theme';

.view-loader {
    &__container {
        width: 100%;
        height: 100%;
        overflow: auto;
        &__sections {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        &__table {
            width: auto;
            &__bold {
                font-weight: bold;
            }
            &__borders {
            }
        }
        & th {
            background: #0073c6;
            color: get-text-color('white');
            font-weight: 500;
        }
    }
}
