@import '~theme';
$mark-size: get-height('icon--compact', 'em');

.smss-stepper {
    @include disabled();
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    border: 1px solid get-border-color('default');

    &__steps {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: $stepper-height;
        overflow-x: auto;
        border-bottom: 1px solid get-border-color('default');

        &__step {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            @include text-overflow();
            color: get-text-color('high-emphasis');

            &:hover {
                & .smss-stepper__steps__step__tag {
                    background: get-background-color('primary--hover');
                }
            }

            &--active {
                & .smss-stepper__steps__step__tag {
                    background: get-background-color('primary');
                }

                &:hover {
                    & .smss-stepper__steps__step__tag {
                        background: get-background-color('primary--hover-dark');
                    }
                }
            }

            &__tag {
                display: inline-block;
                height: get-height('icon--compact', 'em');
                width: get-width('icon--compact', 'em');
                background: get-background-color('light');
                border-radius: $border-radius;
                margin-right: get-spacing('sm', 'em') / 2;
            }
        }
    }

    &__content {
        display: flex;
        position: absolute;
        top: $stepper-height;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: auto;
    }
}

.smss-stepper-item {
    @include disabled();
    position: relative;
    font-size: 1rem;
    flex-shrink: 0;
}
