@import '~theme';

.worksheet-settings {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 $scroll-size;

    &__header {
        display: flex;

        &__title {
            flex: 1;
        }
    }

    &__split {
        display: flex;
        align-items: center;

        &__input {
            flex: 1;
        }
    }
}
