@import '~theme';

.pipeline-union {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__main {
        max-height: 50%;
        display: flex;
        flex-direction: column;

        &__label {
            padding: 0 $scroll-size;
            display: flex;
            margin: get-spacing('sm', em) 0;

            &__title {
                flex: 1;

                &__name {
                    font-weight: get-font-weight('regular');
                    color: get-text-color('default');
                }
            }

            &__spacer {
                width: get-width('icon', 'em');
            }
        }

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding-left: $scroll-size;
            padding-right: calc(#{$scroll-size} - #{get-spacing('sm', 'em')});

            &__item {
                display: flex;
                align-items: center;
                margin-bottom: get-spacing('sm', em);

                &__dropdown {
                    flex: 1;
                    padding-left: 5px;
                }

                &__button {
                    margin: 0 get-spacing('sm', 'rem');
                }
            }

            &__group {
                display: flex;
                flex: 1;
                padding: 0 get-spacing('sm', 'rem');
                align-items: center;
                border-radius: 10px;
                margin-right: 0 get-spacing('sm', 'rem');
                .i {
                    margin: 0 get-spacing('sm', 'rem');
                }
            }

            &__popover {
                width: 200px;
            }
        }
    }

    &__grid {
        flex: 1;
        display: flex;
        min-height: 50%;
        padding: 0 $scroll-size;
        width: 100%;

        &__content {
            flex: 1;
            height: 100%;
        }

        &__spacer {
            width: get-width('icon', 'em');
        }
    }

    &__action {
        &__checkbox {
            width: auto;
        }
    }
}
