<div class="pipeline-union">
    <div class="pipeline-union__container">
        <div class="pipeline-union__main">
            <div class="pipeline-union__main__label">
                <h6 class="pipeline-union__main__label__title">
                    Frame 1:
                    <span class="pipeline-union__main__label__title__name">
                        {{pipelineUnion.frame2.name}}
                        ({{pipelineUnion.frame2.headers.length}})</span
                    >
                </h6>

                <div class="pipeline-union__main__label__spacer">&nbsp;</div>

                <h6 class="pipeline-union__main__label__title">
                    Frame 2:
                    <span class="pipeline-union__main__label__title__name">
                        {{pipelineUnion.frame1.name}}
                        ({{pipelineUnion.frame1.headers.length}})</span
                    >
                </h6>

                <div class="pipeline-union__main__label__spacer">&nbsp;</div>
            </div>
            <div class="pipeline-union__main__content">
                <!-- <div class="pipeline-union__main__content__item"
                     ng-repeat="union in pipelineUnion.union track by $index"> -->

                <smss-popover
                    class="pipeline-union__main__content__item"
                    ng-repeat="union in pipelineUnion.union track by $index"
                >
                    <div class="pipeline-union__main__content__group">
                        <i
                            title="{{union.fromDataType}}"
                            class="fa"
                            ng-class="{ 'fa-font': (union.fromDataType === 'STRING'), 'fa-calendar-o': (union.fromDataType === 'DATE'), 'fa-clock-o': (union.fromDataType === 'TIMESTAMP'), 'fa-hashtag': (union.fromDataType === 'NUMBER') }"
                        >
                        </i>
                        <smss-dropdown
                            class="pipeline-union__main__content__item__dropdown"
                            model="union.from"
                            options="pipelineUnion.frame2.headers"
                            display="alias"
                            value="alias"
                            change="pipelineUnion.selectedOption('from', $index, opt)"
                        >
                        </smss-dropdown>
                    </div>

                    <div class="pipeline-union__main__content__group">
                        <i
                            title="{{union.toDataType}}"
                            class="fa"
                            ng-class="{ 'fa-font': (union.toDataType === 'STRING'), 'fa-calendar-o': (union.toDataType === 'DATE'), 'fa-clock-o': (union.toDataType === 'TIMESTAMP'), 'fa-hashtag': (union.toDataType === 'NUMBER') }"
                        >
                        </i>
                        <smss-dropdown
                            class="pipeline-union__main__content__item__dropdown"
                            model="union.to"
                            options="pipelineUnion.frame1.headers"
                            display="alias"
                            value="alias"
                            change="pipelineUnion.selectedOption('to', $index, opt)"
                        >
                        </smss-dropdown>
                    </div>

                    <smss-btn
                        class="smss-right smss-color--error smss-btn--icon pipeline-union__main__content__item__btn"
                        title="Remove Merge"
                        ng-disabled="pipelineUnion.union.length <= 1"
                        ng-click="pipelineUnion.removeUnion($index)"
                    >
                        <i class="fa fa-times"></i>
                    </smss-btn>
                </smss-popover>
                <!-- </div> -->
                <div class="smss-spacing smss-clear">
                    <smss-btn
                        class="smss-right smss-color--success smss-btn--icon"
                        title="Add Merge"
                        ng-click="pipelineUnion.addUnion()"
                        ng-disabled="pipelineUnion.disableAdd"
                    >
                        <i class="fa fa-plus"></i>
                    </smss-btn>
                </div>
            </div>
        </div>

        <div id="pipeline-union__grid" class="pipeline-union__grid">
            <div
                id="pipeline-union__grid__content--frame2"
                class="pipeline-union__grid__content ag-theme-balham"
            ></div>
            <div class="pipeline-union__grid__spacer">&nbsp;</div>
            <div
                id="pipeline-union__grid__content--frame1"
                class="pipeline-union__grid__content ag-theme-balham"
            ></div>

            <div class="pipeline-union__grid__spacer">&nbsp;</div>
        </div>
    </div>

    <div class="smss-action pipeline-union__action">
        <smss-btn
            class="smss-btn--text"
            ng-click="pipelineComponentCtrl.closeComponent()"
        >
            Cancel
        </smss-btn>
        <smss-btn ng-click="pipelineUnion.saveUnion()"> Import </smss-btn>
        <smss-checkbox
            class="pipeline-union__action__checkbox"
            model="pipelineUnion.unionType"
            value="unionall"
            change=""
        >
            Union All (with duplicates)
        </smss-checkbox>
    </div>
</div>
