<smss-scroll static-x="true">
    <p class="smss-spacing">Add values to date columns.</p>

    <!-- Date column list to select from -->
    <smss-field>
        <label> Select a date column: </label>
        <content>
            <smss-dropdown
                display="alias"
                value="alias"
                model="cleanDateAdd.selectedColumn"
                options="cleanDateAdd.headers"
                placeholder="None Selected"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field>
        <label> Select unit to add: </label>
        <content>
            <smss-dropdown
                model="cleanDateAdd.selectedUnit"
                options="cleanDateAdd.units"
                placeholder="None Selected"
                display="display"
                value="value"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field>
        <label> Select value to add: </label>
        <content>
            <smss-input type="number" ng-model="cleanDateAdd.value">
            </smss-input>
        </content>
    </smss-field>

    <smss-field>
        <content>
            <smss-checkbox
                model="cleanDateAdd.createNewCol"
                change="cleanDateAdd.newColRefresh()"
            >
                Select to create a new column with the output.
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field ng-if="cleanDateAdd.createNewCol">
        <label> Enter column name: </label>
        <content>
            <smss-input ng-model="cleanDateAdd.newColName"> </smss-input>
        </content>
    </smss-field>

    <div class="smss-action">
        <smss-btn
            class="smss-btn--text"
            ng-if="cleanDateAdd.PIPELINE"
            ng-click="cleanDateAdd.cancel()"
        >
            Cancel
        </smss-btn>
        <!-- <smss-btn ng-if="cleanDateAdd.PIPELINE"
                  ng-disabled="cleanDateAdd.selectedUnit === '' || cleanDateAdd.selectedColumn ===''"
                  ng-click="cleanDateAdd.loadPreview()">
            Preview
        </smss-btn> -->
        <smss-btn
            ng-click="cleanDateAdd.submit();"
            ng-disabled="cleanDateAdd.selectedUnit === '' || cleanDateAdd.selectedColumn ===''"
        >
            Execute
        </smss-btn>
    </div>
</smss-scroll>
