svg:focus {
    outline:0;
}

.edit-div {
    z-index: 6;
    display: none;
    width: 220px;
    height: auto;
    z-index: 10000;
    margin: 0;
    padding: 5px;
    min-width: 200px;
    background-color: #FFFFFF;
    border: 1px solid rgba(122,122,122,0.6);
    color: #000000;
    position: absolute;
}

.jv-inline {
    display: inline-block;
}

.jv-pointer {
    cursor: pointer;
}

.jv-center {
    text-align: center;
}

.jv-full-width {
    width: 100%;
}

.jv-pull-left {
    float: left;
}

.jv-pull-right {
    float: right;
}

.jv-tip-side-padding {
    padding: 0 10px 0 10px;
}

.jv-top-margin {
    margin-top: 5px;
}

.jv-button {
    color: #2E3133;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
    background-color: white;
    border-radius: 2px;
    border: 1px solid #B7BFC5;
    outline: none;
    padding: 3px 8px;
    font-size: .9em;
}

.jv-button.jv-button-green {
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #15B994;
    border: 1px solid #15B994;
}

.d3-tooltip-circle {
    width: 10px;
    height: 10px;    
}

#exitEditMode{
    margin-top: -5px;
}

.jv-edit-mode-input {
    display: inline-block;
    margin-bottom: 10px;
}

.editable-pie {
    opacity: 1;
    transition: .2s;
}

.pie-container:hover .editable-pie {
    opacity: 1;
    transform: scale(1.05, 1.05);
    transition: .2s;
}

.pie-container:hover .editable-pie:not(:hover) {
    opacity: 0.7;
    transform: scale(1, 1);
    transition: .2s;
}

/* Creates a small triangle extender for the tooltip */
.edit-div:after {
    display: none;
}

.chart-div {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

/*******
COMMENTS
*******/
.commentbox-readonly {
    z-index: 6;
    pointer-events: none;
}

.commentbox-annotate {
    outline: none;
    border: none;
}

.commentbox {
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    color: #000000;
    padding: 8px;
    margin: 0px;
    z-index: 6;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    cursor: default;
}

.commentbox-edit {
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    color: #000000;
    padding: 8px;
    margin: 0px;
    z-index: 6;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    cursor: default;
}

.commentbox-close{
    position: absolute;
    padding: 3px 8px;
    font-size: .9em;
    outline: none;
    top: 0;
    right: 0;
    border: 0 none;
    background: transparent;
    border-top-right-radius: 5px;
}

.commentbox-close:hover {
    background: #e19595;
}

.commentbox-display {
    cursor: pointer;
}

.commentbox-submit{
    float: right;
}

.min-comment-styling {
    padding: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
}

.comment-padding {
    padding: 13px;
    resize: both;
    overflow: auto;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.tip-line {
    pointer-events: none;
}

.topbar-button.font {
    font-size: 1.1em;
    padding: 3px 4px 3px 4px;
}

.topbar-button {
    font-size: 1.3em;
    padding: 3px 5px 3px 5px;
}

.comment-textarea {
    outline: none;
}

.brusharea {
    visibility: visible !important;
}

.brusharea .background {
    fill: blue;
    visibility: visible;
    z-index: 10;
}

.brusharea .extent {
    visibility: visible;
    fill: #E6E6E6;
    z-index: 11;
    fill-opacity: .7;
    shape-rendering: crispEdges;
    stroke: #E6E6E6;
}

.brusharea .resize {
    visibility: visible !important;
    fill: #00E753;
    z-index: 12;
}
/*******
TOOLTIPS
*******/
.jv-tooltip {
    z-index: 10000;
    background: rgb(255, 255, 255);
    position: absolute;
    display: inline-block;
    /**AS Fix**/
    padding: 10px;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px;
    font-family: "Inter", Arial;
    color: rgb(102, 102, 102);
}

.jv-tip-content {
    /**AS Fix**/
    word-wrap: break-word;
    padding-bottom: 3px;
}

.jv-tip-item-text {
    font-weight: 400;
}

.jv-tip-color-tile {
    margin-right: 3px;
    border: none;
    border-radius: 50%;
}



/*---------------------------------VIZ SPECIFIC------------------------------------------------------*/
/*Circle Packing CSS*/
.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node:hover text{
    stroke: none;
    stroke-width: 0;
}

.node--leaf {
    fill: transparent;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
}

.pack text {
    pointer-events: none;
}

.sankey-link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.sankey-link:hover {
    stroke-opacity: .5;
}

.chord {
  fill-opacity: .67;
}

text.text-highlight {
    opacity: .2;
}

.rect-highlight {
    opacity: .2;
}

.rect-border {
    stroke: black;
    stroke-width: 2px;
}

.line-threshold {
    stroke: url(#line-gradient);
}

.area-threshold {
    fill: url(#line-gradient);
}

.heatLegend {
	height: 100%;
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
}
