@import '~theme';

.clean-discretize {
    &__flex {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        &__fill {
            flex: 1;
            margin-right: get-spacing('sm', 'rem');
        }
        &--margin-bottom {
            margin-bottom: get-spacing('sm', 'rem');
        }
    }
}
