/*.color-panel.widget-sidebar-pop-out {
    height: calc(100% - 10px);
}*/

.custom-color-tag {
    border: 1px solid gray;
    padding: 0;
    width: calc(100% - 10px);
    border-radius: 10px;
}

.custom-color-tag:focus {
    outline: none;
}

.custom-color-input {
    width: calc(100% - 40px);
}

.colorpicker .dropdown-menu {
    background: #FFFFFF;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}