<div class="grid12">
    <div class="grid6">
        <button class="btn-full pull-left btn-light"
                ng-click="jvLineTools.updateVisualization('displayValues', !toolPanelCtrl.selectedData.uiOptions.displayValues);">
            Display Values
        </button>
    </div>
    <div class="grid6">
        <button class="btn-full pull-left btn-light"
                ng-click="jvLineTools.updateVisualization('rotateAxis', !toolPanelCtrl.selectedData.uiOptions.rotateAxis)">
            Flip Axis
        </button>
    </div>
</div>

<div class="grid12" style="margin: 5px 0px 5px 0px;"></div>

<div class="grid12">
    <div class="grid8">
        <select class="ng-pristine form-control"
                ng-options="header.title for header in toolPanelCtrl.selectedData.headers"
                ng-model="jvLineTools.sortLabel">
            <option value="">
                --Select Sort Label--
            </option>
        </select>
        <!--<ui-select class='ng-pristine' ng-model="jvLineTools.sortLabel">-->
        <!--<ui-select-match class="ui-select-match" placeholder="Choose a Sort Label">-->
        <!--<span class="overflow-ellipsis-ui-select" ng-bind="$select.selected.title"></span>-->
        <!--</ui-select-match>-->
        <!--<ui-select-choices class="ui-select-choices"-->
        <!--repeat="header in toolPanelCtrl.selectedData.headers | filter: {title: $select.search}">-->
        <!--<span class="overflow-ellipsis-ui-select" ng-bind="header.title"></span>-->
        <!--</ui-select-choices>-->
        <!--</ui-select>-->
    </div>
    <div class="grid2">
        <button class="btn-full btn-light pull-right pointer fa fa-sort-amount-desc"
                value="descending" title="Descending" aria-label="Descending" ng-click="jvLineTools.updateAscDesc('sortDescending', jvLineTools.sortLabel)"></button>
    </div>
    <div class="grid2">
        <button class="btn-full btn-light pull-right pointer fa fa-sort-amount-asc"
                value="ascending" title="Ascending" aria-label="Ascending" ng-click="jvLineTools.updateAscDesc('sortAscending', jvLineTools.sortLabel)"></button>
    </div>

</div>