<div class="pipeline-query">
    <div class="pipeline-query__top">
        <smss-field inline class="pipeline-query__top__field">
            <label> Select Database: </label>
            <content>
                <app-list-dropdown
                    class="smss-left pipeline-query__top__field__dropdown"
                    model="pipelineQuery.selectedApp"
                    change="pipelineQuery.updateApp(true); pipelineQuery.clearQuery()"
                    type="database"
                ></app-list-dropdown>
            </content>
        </smss-field>
        <div
            class="smss--icon pipeline-query__top__times"
            ng-click="pipelineComponentCtrl.closeComponent()"
        >
            <i class="fa fa-times"></i>
        </div>
    </div>

    <div id="pipeline-query__content" class="pipeline-query__content">
        <div
            id="pipeline-query__content__left"
            class="pipeline-query__content__left"
        >
            <h6
                class="smss-text pipeline-query__available__search pipeline-query__available__search--header"
            >
                Available Columns
            </h6>
            <div class="pipeline-query__content__left__view">
                <div class="pipeline-query__available__search">
                    <smss-search
                        placeholder="Search available columns..."
                        model="pipelineQuery.structure.searchTerm"
                        change="pipelineQuery.search()"
                    >
                    </smss-search>
                    <smss-btn
                        class="smss-btn--text"
                        ng-click="pipelineQuery.toggleTable()"
                        title="{{pipelineQuery.structure.toggle ? 'Collapse All' : 'Expand All'}}"
                    >
                        {{pipelineQuery.structure.toggle ? 'Collapse All' :
                        'Expand All'}}
                    </smss-btn>
                </div>
                <smss-scroll class="pipeline-query__available__scroll">
                    <table
                        class="pipeline-query__available__table"
                        ng-repeat="table in pipelineQuery.structure.searched"
                    >
                        <thead
                            ng-class="{'pipeline-query__available__table--closed': !table.open}"
                        >
                            <tr
                                title="{{table.table}}"
                                class="pipeline-query__available__table__row"
                                ng-click="table.open = !table.open; pipelineQuery.checkToggle()"
                            >
                                <th
                                    class="smss-center smss--icon smss-color--primary"
                                >
                                    <i class="fa fa-table"></i>
                                </th>
                                <th>
                                    <h6>{{table.table}}</h6>
                                </th>
                                <th class="smss-center smss--icon">
                                    <i
                                        class="fa"
                                        ng-class="{'fa-caret-down': table.open, 'fa-caret-right': !table.open}"
                                    ></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-show="table.open">
                            <tr
                                title="{{column.column}}"
                                ng-repeat="column in table.columns track by $index"
                            >
                                <td
                                    class="smss-center smss--icon smss-color--primary"
                                >
                                    <i
                                        title="{{column.type}}"
                                        class="fa"
                                        ng-class="{ 'fa-font': (column.type === 'STRING'), 'fa-calendar-o': (column.type === 'DATE'), 'fa-clock-o': (column.type === 'TIMESTAMP'), 'fa-hashtag': (column.type === 'NUMBER')}"
                                    >
                                    </i>
                                </td>
                                <td>{{column.column}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </smss-scroll>
            </div>
        </div>

        <div class="pipeline-query__content__right">
            <h6
                class="smss-text pipeline-query__available__queryheader pipeline-query__available__queryheader--header"
            >
                Enter Query
                <div class="smss--icon smss-color--primary">
                    <smss-btn
                        ng-click="pipelineQuery.clearQuery()"
                        class="smss-btn--text"
                    >
                        <i
                            class="fa fa-repeat"
                            aria-hidden="true"
                            style="margin: 0; line-height: 0"
                        ></i>
                        Clear
                    </smss-btn>
                </div>
            </h6>
            <div
                id="pipeline-query__content__right__editor"
                class="pipeline-query__content__right__editor"
            ></div>
        </div>
    </div>

    <div class="smss-action smss-clear pipeline-query__actions">
        <smss-popover>
            <smss-btn
                id="pipeline-query__advanced"
                class="smss-btn--icon"
                title="Advanced options"
            >
                <i class="fa fa-cog"></i>
            </smss-btn>

            <smss-popover-content
                class="pipeline-query__advanced__popover"
                target="#pipeline-query__advanced"
            >
                <smss-field>
                    <label>
                        {{pipelineComponentCtrl.data.state === 'executed' ?
                        'Frame Type:' : 'Select Frame Type:'}}
                    </label>
                    <content class="smss-field__content-overflow">
                        <smss-dropdown
                            ng-if="pipelineComponentCtrl.data.state !== 'executed'"
                            options="[{'display': 'Grid', 'value': 'GRID'}, {'display': 'Graph', 'value': 'GRAPH'}, {'display': 'Live', 'value': 'NATIVE'}, {'display': 'R', 'value': 'R'}, {'display': 'Python', 'value': 'PY'}]"
                            display="display"
                            value="value"
                            model="pipelineQuery.frameType"
                            change="pipelineQuery.updateFrame(pipelineQuery.frameType)"
                            body="false"
                        >
                        </smss-dropdown>
                        <span
                            ng-if="pipelineComponentCtrl.data.state === 'executed'"
                            >{{pipelineQuery.frameType}}</span
                        >
                    </content>
                </smss-field>
                <smss-field>
                    <label>
                        {{pipelineComponentCtrl.data.state === 'executed' ?
                        'Frame Name:' : 'Enter Frame Name:'}}
                    </label>
                    <content>
                        <smss-input
                            ng-if="pipelineComponentCtrl.data.state !== 'executed'"
                            ng-model="pipelineQuery.customFrameName.name"
                            ng-change="pipelineQuery.validateFrameName()"
                        >
                        </smss-input>
                        <span
                            ng-if="pipelineComponentCtrl.data.state === 'executed'"
                            >{{pipelineQuery.customFrameName.name}}</span
                        >
                    </content>
                    <description>
                        <span
                            class="smss-color--error"
                            ng-show="pipelineQuery.customFrameName.message"
                        >
                            {{pipelineQuery.customFrameName.message}}</span
                        >
                    </description>
                </smss-field>
            </smss-popover-content>
        </smss-popover>
        <smss-btn
            ng-click="pipelineComponentCtrl.closeComponent()"
            class="smss-btn--text"
        >
            Cancel
        </smss-btn>
        <smss-btn
            ng-click="pipelineQuery.previewQuery(true); pipelineComponentCtrl.expandPreviewComponent();"
            class="smss-btn--outline"
        >
            Preview
        </smss-btn>
        <smss-btn
            ng-click="pipelineQuery.importQuery()"
            class="smss-btn--outline"
            ng-disabled="!pipelineQuery.customFrameName.valid"
        >
            Import
        </smss-btn>
        <smss-btn
            ng-click="pipelineQuery.importQuery(true)"
            ng-disabled="!pipelineQuery.customFrameName.valid"
        >
            Visualize
        </smss-btn>
    </div>
</div>
