<div class="mdm-column">
    <smss-field>
        <label> Select Acceptance Threshold: </label>
        <content>
            <smss-slider
                model="mdmColumn.selected.sensitivity"
                change="mdmColumn.changeMatchSensitivity()"
                numerical
            >
            </smss-slider>
        </content>
    </smss-field>
    <div
        class="mdm-column__container smss-clear"
        ng-class="{'mdm-column__container--opened': mdmColumn.instances.open}"
    >
        <div class="mdm-column__container__side smss-left">
            <smss-list
                class="mdm-column__list"
                options="mdmColumn.selected.rejected"
                mouseover="mdmColumn.highlightMatch(option)"
                mouseleave="mdmColumn.highlightMatch(false)"
            >
                <smss-list-header>
                    <div
                        class="smss-list__text smss-color--error mdm-column__list__header"
                    >
                        Rejected
                    </div>
                </smss-list-header>
                <smss-list-label
                    tabindex="-1"
                    title="Rejected {{$parent.opt.left}} == {{$parent.opt.right}}"
                    class="mdm-column__list__label"
                >
                    <div
                        class="smss-list__text smss-color--error mdm-column__list__text mdm-column__list__text--big"
                        tabindex="-1"
                    >
                        {{$parent.opt.left}}
                    </div>
                    <div
                        class="smss-list__text smss-color--error mdm-column__list__comparator"
                        tabindex="-1"
                    >
                        ==
                    </div>
                    <div
                        class="smss-list__text smss-color--error mdm-column__list__text mdm-column__list__text--big"
                        tabindex="-1"
                    >
                        {{$parent.opt.right}}
                    </div>

                    <smss-btn
                        ng-click="mdmColumn.rejectMatch($parent.opt, 'rejected')"
                        title="Remove"
                        class="smss-left smss-btn--icon mdm-column__list__chevron"
                    >
                        <i class="fa fa-chevron-right"></i>
                    </smss-btn>
                </smss-list-label>
            </smss-list>
        </div>
        <div class="mdm-column__container__center smss-left">
            <smss-list
                class="mdm-column__list"
                loading="mdmColumn.matches.loading"
                scroll="mdmColumn.getMoreMatches()"
                options="mdmColumn.matches.rendered"
                click="mdmColumn.showMatch(option)"
                mouseover="mdmColumn.highlightMatch(option)"
                mouseleave="mdmColumn.highlightMatch(false)"
            >
                <smss-list-header
                    tabindex="-1"
                    class="mdm-column__list__header"
                    tabindex="-1"
                >
                    <div class="smss-left mdm-column__list__chevron"></div>

                    <smss-btn
                        class="smss-left mdm-column__list__bar-btn smss-btn--icon"
                        ng-click="mdmColumn.sortMatches()"
                        title="Sort"
                    >
                        <i
                            class="fa fa-sort"
                            ng-show="!mdmColumn.matches.sort"
                        ></i>
                        <i
                            class="fa fa-sort-asc"
                            ng-show="mdmColumn.matches.sort === 'asc'"
                        ></i>
                        <i
                            class="fa fa-sort-desc"
                            ng-show="mdmColumn.matches.sort === 'desc'"
                        ></i>
                    </smss-btn>
                    <smss-search
                        class="mdm-column__list__input"
                        model="mdmColumn.matches.search"
                        change="mdmColumn.getMatches()"
                        autofocus
                    >
                    </smss-search>
                    <smss-btn
                        class="smss-left mdm-column__list__action smss-btn--icon"
                        ng-click="mdmColumn.filterMatches()"
                        title="Filter"
                    >
                        <i class="fa fa-filter"></i>
                        <i
                            class="fa fa-times mdm-column__list__action__corner"
                            ng-show="mdmColumn.matches.filter === 'reject'"
                        ></i>
                        <i
                            class="fa fa-check mdm-column__list__action__corner"
                            ng-show="mdmColumn.matches.filter === 'accept'"
                        ></i>
                    </smss-btn>

                    <div class="smss-left mdm-column__list__chevron"></div>
                </smss-list-header>
                <smss-list-label
                    tabindex="-1"
                    class="mdm-column__list__label"
                    ng-class="{'mdm-column__list__label--active': $parent.opt.accepted}"
                >
                    <smss-btn
                        ng-click="$event.stopPropagation();mdmColumn.addMatch($parent.opt, 'rejected')"
                        class="smss-left mdm-column__list__chevron smss-btn--icon"
                        title="Reject"
                    >
                        <i class="fa fa-chevron-left"></i>
                    </smss-btn>

                    <div
                        class="smss-list__text mdm-column__list__bar"
                        tabindex="-1"
                    >
                        <div
                            class="mdm-column__list__bar__block"
                            ng-style="{'width': ($parent.opt.renderedDistance)}"
                        ></div>
                    </div>
                    <div
                        class="smss-list__text mdm-column__list__text"
                        tabindex="-1"
                        title="{{$parent.opt.left}}"
                    >
                        {{$parent.opt.left}}
                    </div>
                    <div
                        class="smss-list__text mdm-column__list__comparator"
                        tabindex="-1"
                    >
                        ==
                    </div>
                    <div
                        class="smss-list__text mdm-column__list__text"
                        tabindex="-1"
                        title="{{$parent.opt.right}}"
                    >
                        {{$parent.opt.right}}
                    </div>
                    <div
                        class="smss-list__text mdm-column__list__action"
                        title="{{$parent.opt.accepted ? 'Accepted': 'Rejected'}} {{$parent.opt.left}} == {{$parent.opt.right}}"
                    >
                        <i
                            class="fa"
                            ng-class="{'fa-check smss-color--success': $parent.opt.accepted, 'fa-times smss-color--error': !$parent.opt.accepted}"
                        ></i>
                    </div>

                    <smss-btn
                        ng-click="$event.stopPropagation();mdmColumn.addMatch($parent.opt, 'accepted')"
                        class="smss-left mdm-column__list__chevron smss-btn--icon"
                        title="Accept"
                    >
                        <i class="fa fa-chevron-right"></i>
                    </smss-btn>
                </smss-list-label>
            </smss-list>
        </div>
        <div class="mdm-column__container__side smss-left">
            <smss-list
                class="mdm-column__list"
                options="mdmColumn.selected.accepted"
                mouseover="mdmColumn.highlightMatch(option)"
                mouseleave="mdmColumn.highlightMatch(false)"
            >
                <smss-list-header>
                    <div
                        class="smss-list__text smss-color--success mdm-column__list__header"
                    >
                        Accepted
                    </div>
                </smss-list-header>
                <smss-list-label
                    tabindex="-1"
                    title="Accepted {{$parent.opt.left}} == {{$parent.opt.right}}"
                    class="mdm-column__list__label"
                >
                    <smss-btn
                        ng-click="mdmColumn.rejectMatch($parent.opt,'accepted')"
                        title="Remove"
                        class="smss-left mdm-column__list__chevron smss-btn--icon"
                    >
                        <i class="fa fa-chevron-left"></i>
                    </smss-btn>

                    <div
                        class="smss-list__text smss-color--success mdm-column__list__text mdm-column__list__text--big"
                        tabindex="-1"
                    >
                        {{$parent.opt.left}}
                    </div>
                    <div
                        class="smss-list__text smss-color--success mdm-column__list__comparator"
                        tabindex="-1"
                    >
                        ==
                    </div>
                    <div
                        class="smss-list__text smss-color--success mdm-column__list__text mdm-column__list__text--big"
                        tabindex="-1"
                    >
                        {{$parent.opt.right}}
                    </div>
                </smss-list-label>
            </smss-list>
        </div>
    </div>
    <div class="mdm-column__instances" ng-show="mdmColumn.instances.open">
        <div
            class="smss-spacing smss-clear"
            title="{{mdmColumn.instances.match.match}}"
        >
            <div
                class="smss-left smss-text mdm-column__instances__header__text"
            >
                <span class="smss-small">
                    {{mdmColumn.instances.match.left}}
                </span>
            </div>
            <div
                class="smss-left smss-text mdm-column__instances__header__comparator"
            >
                <span class="smss-small"> == </span>
            </div>
            <div
                class="smss-left smss-text mdm-column__instances__header__text"
            >
                <span class="smss-small">
                    {{mdmColumn.instances.match.right}}
                </span>
            </div>
        </div>

        <div class="smss-row mdm-column__instances__container">
            <smss-scroll
                static-x="true"
                class="mdm-column__instances__container__half smss-col smss-col--6"
            >
                <div
                    class="smss-text smss-center"
                    ng-if="mdmColumn.instances.source.length === 0"
                >
                    No Instances
                </div>
                <div ng-if="mdmColumn.instances.source.length > 0">
                    <table
                        class="mdm-column__instances__table"
                        ng-show="mdmColumn.instances.source.length > 0"
                    >
                        <tr
                            ng-repeat="instance in mdmColumn.instances.source track by $index"
                        >
                            <td title="{{instance}}">{{instance}}</td>
                        </tr>
                    </table>
                </div>
            </smss-scroll>
            <smss-scroll
                static-x="true"
                class="mdm-column__instances__container__half smss-col smss-col--6"
            >
                <div
                    class="smss-text smss-center"
                    ng-if="mdmColumn.instances.target.length === 0"
                >
                    No Instances
                </div>
                <div ng-if="mdmColumn.instances.target.length > 0">
                    <table
                        class="mdm-column__instances__table"
                        ng-show="mdmColumn.instances.target.length > 0"
                    >
                        <tr
                            ng-repeat="instance in mdmColumn.instances.target track by $index"
                        >
                            <td title="{{instance}}">{{instance}}</td>
                        </tr>
                    </table>
                </div>
            </smss-scroll>
        </div>
        <div class="smss-action">
            <smss-btn
                ng-click="mdmColumn.addMatch(mdmColumn.instances.match, 'rejected');"
                class="smss-btn--text"
            >
                <i class="fa fa-chevron-left"></i> Reject
            </smss-btn>
            <smss-btn class="smss-btn--text" ng-click="mdmColumn.hideMatch()">
                Cancel
            </smss-btn>
            <smss-btn
                ng-click="mdmColumn.addMatch(mdmColumn.instances.match, 'accepted');"
                class="smss-btn--text"
            >
                Accept <i class="fa fa-chevron-right"> </i>
            </smss-btn>
        </div>
    </div>
    <smss-overlay open="mdmColumn.overlay.open" disable-click="true">
        <smss-overlay-header
            >{{mdmCtrl.pages[mdmCtrl.step].title}}</smss-overlay-header
        >
        <smss-overlay-body>
            <smss-field>
                <label>
                    Select Tables to Filter:
                    <span class="smss-color--error">(Need a Minimum of 2)</span>
                </label>
                <content>
                    <smss-checklist
                        model="mdmColumn.overlay.selected"
                        display="name"
                        value="value"
                        options="mdmColumn.overlay.options"
                        searchable
                        multiple
                        quickselect
                    >
                    </smss-checklist>
                </content>
            </smss-field>
        </smss-overlay-body>
        <smss-overlay-footer>
            <smss-btn
                ng-disabled="mdmColumn.overlay.selected.length <= 1"
                ng-click="mdmColumn.hideOverlay(false)"
            >
                Confirm
            </smss-btn>
        </smss-overlay-footer>
    </smss-overlay>
</div>
