@import '~theme';

.customize-graph-label {
    &-applied {
        margin-bottom: 5px;
        padding: 10px;
        border: 1px solid get-border-color('default');

        &::after {
            display: block;
            clear: both;
            content: ' ';
        }
    }

    &-readable {
        &-rules {
            float: left;
            width: 70%;
            text-align: center;
            padding: 4px 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &-right {
            float: right;
            width: 10%;
        }

        &-operator {
            width: 10%;
        }
    }

    &-rule-values {
        float: left;
        width: 95%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &-label-img {
        float: left;
        width: 15px;
        height: 15px;
    }
}
