@import '~theme';

.smss-time-picker {
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: get-height('default', 'em');
    border: $border-size solid get-border-color('default');
    border-radius: $border-radius;
    outline: none;
    background: get-background-color('default');

    @include disabled();

    &:hover {
        border-color: get-border-color('primary');
    }

    &__toggle {
        height: rescale(
            get-height('default', 'em'),
            1em,
            get-font-size('body-regular', 'em')
        );
        line-height: rescale(
            get-height('default', 'em'),
            1em,
            get-font-size('body-regular', 'em')
        );
        font-size: get-font-size('body-regular', 'em');
        padding: 0
            rescale(
                get-spacing('sm', 'em'),
                1em,
                get-font-size('body-regular', 'em')
            );
        border: $border-size solid transparent;
        border-radius: $border-radius;
        outline: none;
        &:hover {
            cursor: pointer;
        }
        &:focus-visible {
            border-color: get-border-color('primary');
        }
    }

    &__popover {
        height: 5 * get-height('xs', 'em') + get-height('xl', 'em');
        padding: 0;
        & > * {
            font-size: 1rem;
        }
        &__top {
            display: flex;
            height: calc(100% - #{get-height('xl', 'em')});
        }
        &__list {
            width: get-width('xl', 'em') + get-spacing('sm', 'em');

            & .smss-scroll__inner {
                padding: 0 !important;
            }
            &:not(:last-child) {
                border-right: $border-size solid get-border-color('default');
            }
            &__option {
                height: rescale(
                    get-height('xs', 'em'),
                    1em,
                    get-font-size('body-regular', 'em')
                );
                padding: rescale(
                        get-spacing('xs', 'em'),
                        1em,
                        get-font-size('body-regular', 'em')
                    )
                    rescale(
                        get-spacing('sm', 'em'),
                        1em,
                        get-font-size('body-regular', 'em')
                    );
                font-size: get-font-size('body-regular', 'em');
                color: get-text-color('medium-emphasis');
                font-feature-settings: 'tnum' on, 'lnum' on;

                &--selected {
                    background: get-background-color('primary--hover');
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__footer {
            border-top: $border-size solid get-border-color('default');
            height: get-height('xl', 'em');
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 get-spacing('xs', 'em');
        }
    }

    &__period {
        width: 80px;
    }

    &__dash {
        padding: 0 get-spacing('xs', 'em');
        &:before {
            content: '\2013';
        }
    }
}
