<!-- Legend Panel -->
<div ng-if="legend.showLegend">
    <smss-btn
        class="legend-panel__toggle smss-btn--icon"
        ng-click="legend.hideLegend()"
    >
        <i class="fa fa-edit" title="Edit Legend"></i>
    </smss-btn>
    <div
        class="legend-panel"
        ng-class="{'legend-panel--horizontal': legend.alignment === 'horizontal'}"
    >
        <div
            class="smss-clear legend-panel__labels"
            ng-repeat="label in legend.labels.display"
            ng-click="legend.event(label.alias, 'onClick')"
        >
            <i
                class="fa fa-{{label.icon}} legend-panel__labels__icon smss-left"
                ng-style="{color: label.color};"
                ng-class="{'legend-panel__labels__icon--bordered': label.border}"
            ></i>
            <div
                class="legend-panel__labels__text smss-left"
                ng-style="{'font-size': legend.fontSize + 'px'};"
            >
                {{label.alias}}
            </div>
        </div>
    </div>
</div>

<!-- Edit Legend Panel -->
<div class="legend-panel__edit" ng-if="!legend.showLegend">
    <div class="smss-spacing legend-panel__edit__top">
        <smss-search
            class="legend-panel__edit__top__search"
            placeholder="Search labels..."
            model="legend.labels.search"
            change="legend.updateSearch()"
        >
        </smss-search>
        <smss-btn class="smss-btn--text" ng-click="legend.addLabel()"
            >Add Label</smss-btn
        >
    </div>

    <smss-scroll class="legend-panel__edit__content" static-x="true">
        <ul class="legend-panel__edit__list" dnd-list="legend.labels.display">
            <div
                class="smss-caption--center"
                ng-if="legend.labels.display.length === 0"
            >
                <div ng-hide="legend.showHidden">
                    There are no labels to display
                </div>
            </div>
            <li
                class="legend-panel__edit__list__item"
                ng-repeat="label in legend.labels.display"
                dnd-draggable="label"
                dnd-effect-allowed="move"
                dnd-disable-if="legend.labels.search || legend.labels.display.length === 0"
                dnd-moved="legend.updateOrder($index, label);"
            >
                <smss-btn
                    class="smss-btn--icon legend-panel__edit__list__item__drag"
                    title="Move Order"
                >
                    <i class="fa fa-ellipsis-v"></i>
                </smss-btn>

                <smss-btn
                    class="smss-btn--icon legend-panel__edit__list__item__drag"
                    ng-click="legend.toggleIcon(label)"
                    title="Change Symbol"
                >
                    <i
                        class="fa fa-{{label.icon}} smss-color--medium-emphasis"
                        style="color: {{label.color}};"
                    ></i>
                </smss-btn>

                <div
                    title="Change Color"
                    class="legend-panel__edit__list__item__color"
                >
                    <smss-color-picker
                        model="label.color"
                        change="legend.updateAll(label, 'color')"
                    ></smss-color-picker>
                </div>
                <div class="legend-panel__edit__list__item__label">
                    <smss-input
                        ng-model="label.alias"
                        ng-change="legend.updateAll(label, 'alias')"
                    ></smss-input>
                </div>
                <smss-btn
                    class="smss-btn--icon"
                    title="{{label.border ? 'Remove Border' : 'Add Border'}}"
                    ng-click="legend.toggleBorder(label)"
                    ng-class="{'smss-color--primary': label.border }"
                >
                    <i class="fa fa-square-o"></i>
                </smss-btn>
                <smss-btn
                    class="smss-btn--icon smss-color--error"
                    title="Remove Label"
                    ng-click="legend.removeLabel(label)"
                >
                    <i class="fa fa-times"></i>
                </smss-btn>
            </li>
        </ul>
    </smss-scroll>
    <smss-popover class="smss-action">
        <smss-btn id="legend-panel__settings" class="smss-btn--icon"
            ><i class="fa fa-cogs"></i>
        </smss-btn>
        <smss-btn ng-click="legend.setLegend()">Execute</smss-btn>
        <smss-popover-content target="#legend-panel__settings" position="['N']">
            <smss-field>
                <label>Alignment</label>
                <content>
                    <smss-radio model="legend.alignment" value="vertical">
                        Vertical
                    </smss-radio>
                    <smss-radio model="legend.alignment" value="horizontal">
                        Horizontal
                    </smss-radio>
                </content>
            </smss-field>
            <smss-field>
                <label>Font Size</label>
                <content>
                    <smss-input
                        type="number"
                        ng-model="legend.fontSize"
                    ></smss-input>
                </content>
            </smss-field>
        </smss-popover-content>
    </smss-popover>
</div>
