@import '~theme';

$terminal-header: get-height('default', 'rem');

.terminal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: get-background-color('light');

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding-left: get-spacing('sm', 'em');
        padding-right: get-spacing('sm', 'em');
        height: $terminal-header;
        line-height: $terminal-header;
        z-index: 2;
        overflow: hidden;
        display: flex;

        &__section {
            display: flex;
            align-items: center;
            flex: 1;
            & .smss-tab-group {
                margin-left: auto;
            }
            &--side {
                flex: 0;
            }
        }

        &__title {
            @include text-overflow();
            min-width: 100px;
            margin-right: get-spacing('sm', 'em');
        }

        &__mode {
            padding: 0;
            margin: 0;
            height: get-height('default', 'rem');
            width: 100%;
            display: flex;
            flex-direction: row;

            & .smss-field__label {
                float: none;
                width: auto;
            }

            & .smss-field__content {
                float: none;
                display: flex;
                & .smss-radio {
                    width: auto;
                }
            }
        }
    }

    &__content {
        height: calc(100% - #{$terminal-header} - #{get-spacing('sm', 'em')});
        width: calc(100% - #{2 * get-spacing('sm', 'em')});
        position: relative;
        top: $terminal-header;
        right: get-spacing('sm', 'em');
        left: get-spacing('sm', 'em');
        bottom: get-spacing('sm', 'em');
        &--pipeline {
            height: 100%;
            top: 0;
        }
    }

    &__browser {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(25% - #{get-spacing('sm', 'em')});
        z-index: 2;
        border: 2px solid get-border-color('default');
        border-radius: $border-radius;
    }

    &__file {
        position: absolute;
        top: 0;
        right: 0;
        left: 25%;
        height: calc(70% - #{get-spacing('sm', 'em')});
        width: auto !important;
        z-index: 1;
        border: 2px solid get-border-color('default');
        border-radius: $border-radius;

        &--full {
            height: auto !important;
            bottom: 0 !important;
        }
    }

    &__console {
        position: absolute;
        right: 0;
        left: 25%;
        bottom: 0;
        height: 30%;
        z-index: 0;
        border: 2px solid get-border-color('default');
        border-radius: $border-radius;

        &--full {
            top: 0 !important;
            height: auto !important;
            left: 0 !important;
        }
    }
}
