@import '~theme';

.pipeline-api {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0 $scroll-size;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__content {
        position: relative;
        flex: 1;
        overflow: hidden;
        width: 100%;

        &__col {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }

    &__table {
        max-height: 200px;
        overflow: auto;

        &__col-1 {
            width: 125px;
        }

        &__col-2 {
            width: calc(
                100% - 125px - #{(
                        get-width('icon', 'rem') + 2 * get-spacing('sm', 'rem')
                    )}
            );
        }

        &__col-3 {
            width: get-width('icon', 'rem') + 2 * get-spacing('sm', 'rem');
        }
    }

    &__json {
        flex: 1;
    }

    &__available {
        &__scroll {
            flex: 1;
            border: 1px solid get-border-color('default');
        }

        &__table {
            padding-bottom: 2 * get-spacing('sm', 'rem');

            &__row {
                cursor: pointer;
                outline: none;
            }

            &__col-1 {
                width: get-width('icon', 'rem');

                & img {
                    position: relative;
                    margin: 0 auto;
                    vertical-align: middle;
                }
            }

            &__col-3 {
                width: calc(
                    #{get-width('icon', 'rem')} + #{2 * get-spacing(
                            'sm',
                            'rem'
                        )} + 1px
                );
            }

            &__row {
                cursor: pointer;
                outline: none;
            }
        }
    }

    &__selected {
        &__scroll {
            flex: 1;
            border: 1px solid get-border-color('default');
        }

        &__table {
            padding-bottom: 2 * get-spacing('sm', 'rem');

            &__col-1 {
                &__input {
                    width: calc(100% - #{get-width('icon', 'rem')});
                }

                &__icon {
                    width: get-width('icon', 'rem');
                }

                &__text {
                    width: calc(100% - #{2 * get-width('icon', 'rem')});
                }
            }

            &__col-2 {
                width: get-width('icon', 'rem') + 2 * get-spacing('sm', 'rem');
            }

            &__col-3 {
                width: get-width('icon', 'rem') + 2 * get-spacing('sm', 'rem');
            }

            &__row {
                cursor: pointer;
                outline: none;

                &--selected {
                    & th {
                        &:first-child {
                            border-left: 2px solid get-border-color('primary') !important;
                        }
                    }
                }
            }
        }
    }

    &__advanced {
        &__popover {
            width: 200px;
        }
    }

    &__actions {
        & > :first-child {
            margin-left: $scroll-size !important;
        }
        & > :nth-child(2) {
            margin-left: auto !important;
        }

        & > :last-child {
            margin-right: $scroll-size !important;
        }
    }
}
