@import '~theme';

.pipeline-app-calculation {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: get-spacing('sm', 'rem');

        &__name {
            flex: 1;
        }

        &__toggle {
            margin-left: get-spacing('sm', 'rem');
            width: auto;
        }
    }

    &__content {
        flex: 1;
        overflow: hidden;
    }

    &__advanced {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__formula {
            position: relative;
            flex: 1;
            overflow: hidden;
        }
    }
}
