<portratinfobox class="prd-data-blu-info">
    <table class="prd-table full-width">
        <tr>
            <td class="bold">No. of Data Objects: </td>
            <td class="pull-right"> {{dataBluInfo.dataCount}}</td>
        </tr>
        <tr>
            <td class="bold">No. of Business Logic Units: </td>
            <td class="pull-right"> {{dataBluInfo.bluCount}}</td>
        </tr>
        <tr>
            <td class="bold">No. of Systems Supporting Before: </td>
            <td class="pull-right"> {{dataBluInfo.beforeCount}}</td>
        </tr>
        <tr>
            <td class="bold">No. of Systems Supporting After: </td>
            <td class="pull-right"> {{dataBluInfo.afterCount}}</td>
        </tr>        
    </table>
</portratinfobox>
<!--
<portratinfobox class="prd-recommend-decommission">
    <div class="prd-recommend-decommission-info">   
        <p><span class="bold">Description:</span> {{capabilityDesc}} </p>
    </div>
</portratinfobox>-->
<portratinfobox class="prd-budget-info">
    <div class="bold lg-font" style="text-align:center;">
        Current Sustainment: 
    </div>
    <div class="prd-systitle-modern bold" style="text-align:center;">
        {{budgetInfo.formattedCurrentSustVal}}
    </div>
<table class="prd-table full-width">
    <tr>
        <td class="bold">Future Sustainment: </td>
        <td class="pull-right"> {{budgetInfo.formattedFutureSustVal}}</td>
    </tr>
</table>
</portratinfobox>
<portratcontainer label="'Portfolio Future State Map'" class="prd-action-map">
    <div class="prd-action-map-container">
        <portratoverview-map container="{}" container-class="'prd-action-map-container'" data="recommendedActionMapData" sidebar-active="sidebarShow" unique-id="'sysdecom'" zoom="3" basemap="streets">
        </portratoverview-map>
        <!--<chart esri-map expand-viz="visual.expandViz(selectedViz)" remove-viz="visual.remove(selectedWidget)" container-class="visual.containerClass" data="recommendedActionMapData" sidebar-active="sidebarShow" show-title="visual.showTitle" unique-id="'portratcap'" viz-input="visual.vizInput" zoom="4" basemap="streets" view-type="visual.viewType" visual-type="visual.visualType" explore="visual.explore">-->
        <!--</chart>-->
        <!--<chart esri-map container="{}" container-class="'prd-action-map-container'" data="recommendedActionMapData" sidebar-active="sidebarShow" unique-id="'sysdecom'" zoom="3" basemap="streets"></chart>-->
    </div>
</portratcontainer>
<portratcontainer label="'Data Object and BLU System Coverage'" class="prd-system-coverage">
    <div class="btn-group md-margin lgxl-top-margin" style="margin-left:25%;">
        <div class="btn md-btn btn-light" ng-click="setView('coverage')" ng-class="{toggled: tabIndex === 'coverage'}">System Coverage </div>
        <!--<div class="btn md-btn btn-light" ng-click="setView('split')" ng-class="{toggled: tabIndex === 'split'}">Split System View </div>-->
        <div class="btn md-btn btn-light" ng-click="setView('grid')" ng-class="{toggled: tabIndex === 'grid'}">System Health Grid</div>
    </div>
    <div ng-hide="tabIndex === 'grid'">
        <system-coverage data="systemCoverageData" viewtype="'cap'"></system-coverage>
    </div>
    <div ng-show="tabIndex === 'grid'" class="prd-capability-appgrid">
        <scatterplot abs-url="visual.absUrl" container-class="'prd-capability-appgrid'" data="healthGridData" sidebar-active="visual.sidebarShow" show-title="visual.showTitle" unique-id="visual.currentViz" view-type="info.viewType" pin-viz="info.pinViz()"></scatterplot>
    </div>
</portratcontainer>
