@import '~theme';

.import-file-flat {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: get-background-color('default');
    display: flex;
    flex-direction: column;

    &__content {
        position: relative;
        flex: 1;
    }

    &__file {
        padding: get-spacing('sm', 'rem') 0;

        &__sheet {
            padding: get-spacing('sm', 'rem') get-spacing('md', 'rem');
            border: 1px solid get-border-color('default');
            border-radius: $border-radius;
            margin: get-spacing('sm', 'rem') 0 get-spacing('md', 'rem');

            &__title {
                cursor: pointer;
                outline: none;
                flex: 1;
                display: flex;
                align-items: center;
            }

            &__text {
                color: get-text-color('high-emphasis');
                font-weight: get-font-weight('regular');
            }

            &__content {
                margin: get-spacing('sm', 'rem') 0;
            }

            &__table {
                max-height: 200px;
                overflow: auto;

                &__col-1 {
                    width: calc(
                        100% - 200px - #{(
                                get-width('icon', 'rem') + 2 *
                                    get-spacing('sm', 'rem')
                            )}
                    );
                }

                &__col-2 {
                    width: 200px;
                }

                &__input {
                    width: calc(100% - 48px);
                }

                &__icon {
                    text-align: center;
                    line-height: get-height('sm', 'rem');
                    height: 100%;
                    width: 24px;
                }

                &__text {
                    display: inline-block;
                    width: 80px;
                    padding: 0 get-spacing('sm', 'rem') / 2;
                }
            }

            &__custom {
                display: flex;
                align-items: center;
                &__input {
                    flex: 1;
                    margin-right: get-spacing('sm', 'rem');
                }
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        font-size: get-font-size('body-regular', 'rem');
        color: get-text-color('high-emphasis');
        & i {
            margin-right: get-spacing('sm', 'rem');
        }
        & h6 {
            margin-right: get-spacing('xs', 'rem');
        }
    }
}
