@import '~theme';
$side-nav: 216px;
$nav-item: 36px;
.catalog {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: get-spacing('gutter', 'rem');
    display: flex;
    font-size: 1rem;

    &__scroll {
        height: 200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        & .smss-search {
            margin: 0 get-spacing('md', 'rem');
        }
        &__content {
            flex: 1;
            overflow: hidden;
        }
    }

    &__font {
        &--gray {
            color: get-text-color('low-emphasis');
        }

        &--default {
            color: get-text-color('default');
        }

        &--small {
            font-size: get-font-size('body-regular', 'rem');
        }
    }

    &__left {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: calc(100% - #{get-spacing('gutter', 'rem')});
        width: $side-nav;
        margin-left: get-spacing('gutter', 'rem');
    }

    &__manage {
        overflow: hidden;
        margin: get-spacing('md', 'rem');
        margin-bottom: get-spacing('gutter', 'rem');
        height: calc(
            100% - #{get-height('default', 'rem')} - #{get-spacing(
                    'gutter',
                    'rem'
                )} - #{get-spacing('md', 'rem')}
        );
        border-radius: $border-radius;
    }

    &__right {
        width: calc(100% - #{$side-nav} - #{get-spacing('gutter', 'rem')});
        height: 100%;
        &__top {
            height: get-height('default', 'rem');
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: get-spacing('md', 'rem');
            padding-right: get-spacing('lg', 'rem');
            &__container {
                display: flex;
                align-items: center;
            }
            &__title {
                min-width: 100px;
                color: get-text-color('medium-emphasis');
                margin-right: get-spacing('md', 'rem');
                @include text-overflow();
            }
            &__input {
                max-width: 200px;
                min-width: 150px;
                margin-right: get-spacing('md', 'rem');
            }
        }
        &__fields {
            display: flex;
            align-items: center;
            height: get-height('icon', 'rem');
            margin-top: get-spacing('md', 'rem');
            padding-left: get-spacing('md', 'rem');
            padding-right: get-spacing('lg', 'rem');
            & > i {
                color: get-text-color('primary');
                font-size: get-height('icon--compact', 'rem');
            }
            & h6 {
                margin: 0 get-spacing('sm', 'rem');
            }
            & .smss-tag {
                margin-right: get-spacing('sm', 'rem');
                &:last-child {
                    margin: 0;
                }
            }
            &__container {
                overflow: hidden;
                margin-right: get-spacing('xs', 'rem');
            }
            & .smss-scroll__inner {
                display: flex;
                align-items: center;
            }
        }
        &__bottom {
            height: calc(
                100% - #{get-height('default', 'rem')} - #{get-spacing(
                        'gutter',
                        'rem'
                    )}
            );
            width: 100%;
            overflow: scroll;
            overflow-x: hidden;
            padding-top: 1px;
            padding-left: get-spacing('md', 'rem');
            margin-top: get-spacing('gutter', 'rem');
            position: relative;

            &--short {
                height: calc(
                    100% - #{get-height('default', 'rem')} - #{get-spacing(
                            'gutter',
                            'rem'
                        )} - #{get-height('icon', 'rem') +
                        get-spacing('md', 'rem')}
                );
            }
        }
    }

    &__content {
        width: calc(100% - #{$side-nav} - #{get-spacing('gutter', 'rem')});
        height: 100%;

        &__top {
            height: get-height('default', 'rem');
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: get-spacing('gutter', 'rem');
            padding-right: get-spacing('lg', 'rem');

            &__container {
                display: flex;
                align-items: center;
            }

            &__title {
                white-space: nowrap;
                margin: 0;
                margin-right: get-spacing('lg', 'rem');
                margin-bottom: get-spacing('gutter', 'rem');
                color: get-text-color('medium-emphasis');
            }

            &__input {
                margin-bottom: get-spacing('gutter', 'rem');
            }

            &__buttons {
                display: flex;
                align-items: center;
                & > .smss-btn {
                    margin-right: get-spacing('md', 'rem');
                }
            }
        }

        &__fields {
            display: flex;
            align-items: center;
            height: get-height('icon', 'rem');
            margin-top: get-spacing('md', 'rem');
            padding-left: get-spacing('md', 'rem');
            padding-right: get-spacing('lg', 'rem');
            & > i {
                color: get-text-color('primary');
                font-size: get-height('icon--compact', 'rem');
            }
            & h6 {
                margin: 0 get-spacing('sm', 'rem');
            }
            & .smss-tag {
                margin-right: get-spacing('sm', 'rem');
                &:last-child {
                    margin: 0;
                }
            }
            &__container {
                overflow: hidden;
                margin-right: get-spacing('xs', 'rem');
            }
            & .smss-scroll__inner {
                display: flex;
                align-items: center;
            }
        }

        &__tags {
            display: flex;
            align-items: center;
            height: get-height('icon', 'rem');
            margin-top: get-spacing('md', 'rem');
            padding-left: get-spacing('gutter', 'rem');
            padding-right: get-spacing('lg', 'rem');
            & > i {
                color: get-text-color('primary');
                font-size: get-height('icon--compact', 'rem');
            }
            & h6 {
                margin: 0 get-spacing('sm', 'rem');
            }
            & .smss-tag {
                background: white;
                margin-right: get-spacing('sm', 'rem');
                &:last-child {
                    margin: 0;
                }
            }
            &__container {
                overflow: hidden;
                margin-right: get-spacing('xs', 'rem');
            }
            & .smss-scroll__inner {
                display: flex;
                align-items: center;
            }
        }
        &__bottom {
            position: relative;
            height: calc(
                100% - #{get-height('default', 'rem')} - #{get-spacing(
                        'gutter',
                        'rem'
                    )}
            );
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            padding-top: 1px;
            padding-left: get-spacing('gutter', 'rem');
            margin-top: get-spacing('gutter', 'rem');

            &--short {
                height: calc(
                    100% - #{get-height('default', 'rem')} - #{get-spacing(
                            'gutter',
                            'rem'
                        )} - #{get-height('icon', 'rem') +
                        get-spacing('md', 'rem')}
                );
            }
            &__container {
                width: 100%;
                &--card {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
        &__manage {
            height: calc(
                100% - #{get-height('default', 'rem')} - #{2 * get-spacing(
                        'gutter',
                        'rem'
                    )}
            );
            width: calc(100% - #{get-spacing('gutter', 'rem')});
            overflow: hidden;
            margin-top: get-spacing('gutter', 'rem');
            margin-left: get-spacing('gutter', 'rem');
            background: get-background-color('default');
            border-radius: $border-radius;
        }
    }

    &__bottom {
        flex: initial;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    &__collapse {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        background: get-background-color('default');
        border-radius: $border-radius;
        & .smss-collapsible__header {
            border-top: none;
            & h6 {
                font-size: get-font-size('h4', 'rem');
                font-weight: get-font-weight('bold');
                text-transform: initial;
                line-height: $nav-item;
            }
        }
        & .smss-collapsible__content {
            overflow: hidden;
            padding: 0;
            flex: 1;
        }
        & .smss-checklist {
            & .smss-checklist__list {
                border: none;
            }
        }
        & .smss-collapsible__header--closed {
            border-bottom: none;
        }
        & .smss-search {
            margin: auto;
        }
    }

    &__card {
        width: 266px;
        margin-right: get-spacing('gutter', 'rem');
        margin-bottom: get-spacing('gutter', 'rem');
    }
    &__list-item {
        width: calc(100% - #{get-spacing('gutter', 'rem')});
        margin-right: get-spacing('gutter', 'rem');
        margin-bottom: get-spacing('md', 'rem');
    }

    &__tags {
        width: 100%;
        margin-left: auto;
    }

    &__header {
        font-size: 0.85em;
        font-weight: 500;
    }

    &__ {
        width: calc(50% - #{get-spacing('gutter', 'rem')});
        overflow: auto;
    }

    &__popover {
        &__options {
            list-style: none;
            padding: 0;
            margin: 0;
            &__option {
                cursor: pointer;
                @include text-overflow();
                height: get-height('default', 'rem');
                line-height: get-height('default', 'rem');
                padding: 0 to-em(12px);
                margin: 0;
                &:hover {
                    background: get-background-color('primary--hover');
                }
            }
        }
    }

    &__empty {
        text-align: center;
        height: 76px;
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -76px;

        & i {
            font-size: 30px;
            margin: 5px;
            color: get-text-color('low-emphasis');
        }

        & p {
            font-size: get-font-size('body-large', 'rem');
            color: get-text-color('medium-emphasis');
            margin-top: get-spacing('md', 'rem');
            line-height: 20px;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .catalog__card {
        width: calc(25% - #{get-spacing('gutter', 'rem')});
    }
}

@media only screen and (max-width: 1279px) {
    .catalog__card {
        width: 224px;
    }
}
