@import '~theme';

.smss-date-picker {
    position: relative;
    font-size: 1rem;
    &__trigger {
        @include disabled();
    }
    &__toggle {
        position: absolute;
        height: calc(#{get-height('default', 'em')} - #{2 * $border-size});
        line-height: calc(
            #{get-height('default', 'em')} - #{2 * $border-size} - 2px
        );
        width: get-width('icon', 'em');
        top: $border-size;
        right: $border-size;
        background: get-background-color('default');
        border-radius: $border-radius;
        text-align: center;
        outline: none;
        @include disabled();

        &:hover {
            & .smss-date-picker__toggle__icon {
                color: get-text-color('primary');
            }
        }

        &:focus-visible {
            outline: 1px solid get-border-color('primary');
        }

        &--compact {
            position: static;
            height: get-height('sm', 'em');
            line-height: calc(#{get-height('sm', 'em')} - 2px);
            width: get-width('icon', 'em');
            border: 1px solid get-border-color('default');
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        &__icon {
            color: get-text-color('medium-emphasis');

            &:after {
                font-size: get-font-size('body-regular', 'em');
                font-style: normal;
                font-family: FontAwesome;
                content: '\f133';
            }
        }
        &--disabled,
        &:disabled,
        &[disabled='disabled'] .smss-date-picker__toggle__icon {
            color: get-text-color('disabled');
        }
    }

    &__picker {
        width: 16em;
        font-size: 1rem;
        outline: none;

        &--wide {
            width: 20em;
        }

        &__control {
            position: relative;
            display: inline-flex;
            line-height: get-height('sm', 'em');
            height: get-height('sm', 'em');
            width: 100%;
            cursor: pointer;

            &__left {
                height: 100%;
                width: get-width('icon', 'em');
                margin-left: auto;
                margin-right: get-spacing('md', 'em');
                outline: none;
                text-align: center;
                align-self: flex-end;
                border: $border-size solid transparent;
                border-radius: $border-radius;
                color: get-text-color('medium-emphasis');

                &:hover {
                    color: get-text-color('primary');
                    background: get-background-color('primary--hover');
                }

                &:focus-visible {
                    border-color: get-border-color('primary');
                }

                &:after {
                    font-size: get-font-size('body-regular', 'em');
                    font-style: normal;
                    font-family: FontAwesome;
                    content: '\f053';
                }
            }

            &__title {
                height: 100%;
                width: auto;
                outline: none;
                align-self: flex-start;
                padding: 0 get-spacing('sm', 'em');
                border: $border-size solid transparent;
                border-radius: $border-radius;
                color: get-text-color('medium-emphasis');

                & > * {
                    font-size: get-font-size('h3', 'em');
                    font-weight: get-font-weight('semibold');
                }

                &:hover {
                    color: get-text-color('primary');
                }

                &:focus-visible {
                    border-color: get-border-color('primary');
                }

                &:after {
                    font-size: get-font-size('body-regular', 'em');
                    font-style: normal;
                    font-family: FontAwesome;
                    content: '\f0d7';
                    padding-left: get-spacing('scroll', 'em');
                }

                &--arrow-up {
                    &:after {
                        content: '\f0d8';
                    }
                }
            }

            &__right {
                height: 100%;
                width: get-width('icon', 'em');
                text-align: center;
                outline: none;
                align-self: flex-end;
                border: $border-size solid transparent;
                border-radius: $border-radius;
                color: get-text-color('medium-emphasis');

                &:hover {
                    color: get-text-color('primary');
                    background: get-background-color('primary--hover');
                }

                &:focus-visible {
                    border-color: get-border-color('primary');
                }

                &:after {
                    font-size: get-font-size('body-regular', 'em');
                    font-style: normal;
                    font-family: FontAwesome;
                    content: '\f054';
                }
            }
        }

        &__selection {
            position: relative;
            display: block;
            height: calc(100% - 2 *#{get-spacing('sm', 'em')});
            max-width: 7 * (get-height('sm', 'em') + get-spacing('sm', 'em'));
            padding-top: get-spacing('md', 'em');

            &__option {
                position: relative;
                z-index: 0;
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: normal;
                height: calc(
                    #{get-height('sm', 'em')} + #{get-spacing('sm', 'em')}
                );
                padding: get-spacing('sm', 'em') / 2;
                width: 25%;
                cursor: pointer;
                outline: none;
                text-align: center;
                background: get-background-color('default');
                @include text-overflow();
                @include disabled();
                border: $border-size solid transparent;
                border-radius: $border-radius;
                color: get-text-color('medium-emphasis');

                & > * {
                    font-size: get-font-size('body-regular', 'em');
                }

                &:hover {
                    background: get-background-color('primary--hover');
                }

                &:focus-visible {
                    border-color: get-border-color('primary');
                }

                &--small {
                    width: calc(
                        #{get-height('sm', 'em')} + #{get-spacing('sm', 'em')}
                    );
                }

                &--large {
                    width: (100% / 3);
                }

                &--faded {
                    color: get-text-color('light');
                }

                &--selected {
                    color: get-text-color('white');
                    background: get-background-color('primary') !important;
                }

                &--circle {
                    border-radius: 50%;
                }

                &--today {
                    color: get-text-color('primary');
                }

                &--bold {
                    color: get-text-color('default');
                    font-weight: get-font-weight('semibold');
                }

                &--no-hover {
                    cursor: default;

                    &:hover {
                        background: get-background-color('default');
                        color: get-text-color('default');
                    }
                }

                &--semibold {
                    font-weight: get-font-weight('medium');
                }
            }
        }

        &__timestamp-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: get-spacing('md', 'em');

            &__left {
                flex: 1;
            }

            &__button {
                flex-shrink: 0;
            }
        }

        &__timestamp {
            width: 100%;
            cursor: pointer;
            margin-top: get-spacing('sm', 'em');
            display: flex;
            align-items: center;

            &__group {
                display: flex;
                align-items: center;
                padding-right: get-spacing('sm', 'em');

                &__title {
                    color: get-text-color('medium-emphasis');
                    padding-right: get-spacing('xs', 'em');
                }

                &__selection {
                    width: 60px;
                }
            }

            &__time-period {
                height: get-height('icon', 'em');
                line-height: calc(
                    #{get-height('icon', 'em')} - #{2 * $border-size}
                );
                width: get-width('icon', 'em');
                outline: none;
                border: $border-size solid transparent;
                border-radius: $border-radius;

                & > * {
                    font-size: get-font-size('body-regular', 'em');
                    font-weight: get-font-weight('medium');
                    line-height: inherit;
                }

                &:hover {
                    background: get-background-color('primary--hover');
                }

                &:focus-visible {
                    border-color: get-border-color('primary');
                }
            }
        }
    }
}
