<div class="grid12">
    <hr style="margin: 10px 0px 10px 0px;"/>
</div>

<div class="grid12">
    <!--<div name="basic-tools" class="row">-->
        <button class="btn-half btn-light pull-left border-radius pointer-cursor"
                ng-click="isHeightActive=false; parcoordsTools.drillDown();">
            Filter Selection
        </button>
        <button class="btn-half btn-light pull-right pointer-cursor"
                ng-click="parcoordsTools.resetPerspective();" title="Reset">
            <i class="fa fa-undo"></i>
        </button>
        <!--<button class="btn-sixth btn-light pull-left pointer-cursor"-->
                <!--ng-class="{'disabled': parCoordsToolState == 0}"-->
                <!--ng-click="parcoordsTools.backStatePress();" title="Backward State">-->
            <!--<i class="fa fa-arrow-left"></i>-->
        <!--</button>-->
        <!--<button class="btn-sixth btn-light pull-left pointer-cursor"-->
                <!--ng-class="{'disabled': parCoordsToolState >= parCoordsToolLength}"-->
                <!--ng-click="parcoordsTools.forwardStatePress();" title="Forward State">-->
            <!--<i class="fa fa-arrow-right"></i>-->
        <!--</button>-->
    <!--</div>-->
</div>

<div class="grid12" style="margin: 5px 0px 0px 0px;"></div>

<div class="border xs-padding hidden-overflow xs-side-margin"
     ng-class="{'parcoords-add-axis': parcoordsTools.ifExtend() === true}">
    <div class="xs-top-padding"> <p> <b> Add axis for relationship count </b> </p></div>
    <form name="countForm">
        <div class="row" style="margin-left: 1px;">
            <p class="grid2 pull-left">From:</p>
            <div class="grid9">
                <select class="font-family ng-pristine form-control"
                        ng-model="overlapSelectedDropDown.selected" ng-click="parcoordsTools.extend = true"
                        ng-change="parcoordsTools.removeSelected(overlapSelectedDropDown.selected);"
                        ng-options="(value | reduceStringLength: 25) for value in overlapSelectedDropDown.list">
                    <option value="">--Select a Concept--</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-left: 1px;">
            <p class="grid2 pull-left">To:</p>
            <div class="grid9">
                <select class="font-family ng-pristine form-control"
                        ng-model="overlapRelatedDropDown.selected" ng-click="parcoordsTools.extend = true"
                        ng-options="(value | reduceStringLength: 25) for value in overlapRelatedDropDown.list">
                    <option value="">--Select a Concept--</option>
                </select>
            </div>
        </div>
        <button class="create-overlap btn-half btn-green pull-right border-radius parcoords-add-axis-button"
                ng-class="{'parcoords-add-axis-button-extend': parcoordsTools.extend === true}"
                ng-disabled="countForm.$invalid"
                ng-class="{'disabled': countForm.$invalid}"
                ng-click="parcoordsTools.createOverlap(overlapSelectedDropDown.selected, overlapRelatedDropDown.selected);">
            Add Count
        </button>
    </form>
    <br><br>
</div>

<div class="grid12" style="margin: 5px 0px 0px 0px;"></div>

<!--<div class="coloring">-->
    <!--<h6 class="vertical-margin">Select Dimension for Coloring:</h6>-->
    <!--<select ui-select2="select2Options" class="color-selector" style="width: 100%;"-->
    <!--ng-model="dimensionDropDown.selected" ng-change="parcoordsCtrl.dropDownChange(dimensionDropDown.selected)"-->
    <!--data-placeholder="Dimension" ng-class="{disabled: dimensionDropDown.list.length === 0}">-->
        <!--<option value=""></option>-->
        <!--<option value="{{value}}" ng-repeat="value in dimensionDropDown.list">{{value}}</option>-->
    <!--</select>-->
<!--</div>-->

<div class="grid12">
    <hr style="margin: 10px 0px 10px 0px;"/>
</div>

<div class="grid12">
    <p> <b> Choose a sizing fit for the data </b> </p>
    <button class="btn-half pull-left btn-light pointer-cursor" style="padding-left: 13px; padding-right: 13px;"
            ng-click="isHeightActive = !isHeightActive; parcoordsTools.heightFitToScreen();"
            alt="Fit Vertically" title="Fit Vertically" ng-class="{'toggled': isHeightActive}">
        <i class="fa fa-arrows-v"></i> Vertically
    </button>
    <button class="btn-half pull-left btn-light pointer-cursor"
            ng-click="isWidthActive = !isWidthActive; parcoordsTools.widthFitToScreen();"
            style="padding-left: 9px; padding-right: 9px;" alt="Fit Horizontally" title="Fit Horizontally"
            ng-class="{'toggled': isWidthActive}">
        <i class="fa fa-arrows-h"></i> Horizontally
    </button>
</div>


