<smss-scroll static-x="true" class="clean-rename-col">
    <p class="smss-spacing">Rename any existing column in your data.</p>
    <loading-screen model="renameCol.loading"></loading-screen>
    <smss-field>
        <label> Select a column to rename: </label>
        <content>
            <smss-dropdown
                display="name"
                value="value"
                model="renameCol.selectedCol"
                options="renameCol.frameHeaders"
                change="renameCol.setNew(true)"
                placeholder="Select a Column"
            >
            </smss-dropdown>
        </content>
    </smss-field>

    <smss-field>
        <content>
            <smss-checkbox
                change="renameCol.setNew()"
                model="renameCol.generateName"
            >
                See suggested names (derived from values)
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field ng-if="!renameCol.generateName">
        <label> Enter new column name: </label>
        <content>
            <smss-input
                ng-model="renameCol.newCol"
                ng-disabled="!renameCol.selectedCol"
            >
            </smss-input>
        </content>
    </smss-field>

    <smss-field ng-if="renameCol.generateName">
        <label> Select new column name: </label>
        <content>
            <smss-checklist
                class="smss-checklist--short"
                model="renameCol.newCol"
                options="renameCol.generatedNames"
                searchable
            >
            </smss-checklist>
        </content>
    </smss-field>

    <div class="smss-action clean-rename-col__buttons">
        <smss-btn
            class="smss-btn--text"
            ng-if="renameCol.PIPELINE"
            ng-click="renameCol.cancel()"
        >
            Cancel
        </smss-btn>
        <!-- <smss-btn ng-if="renameCol.PIPELINE"
                  ng-click="renameCol.loadPreview()">
            Preview
        </smss-btn> -->
        <smss-btn ng-click="renameCol.runQuery();"> Execute </smss-btn>
    </div>
</smss-scroll>
