@import '~theme';

$textarea-base: get-font-size('body-regular', 'rem');

.smss-textarea {
    display: block;
    font-size: $textarea-base;
    height: rescale(get-height('textarea', 'em'), 1rem, $textarea-base);
    line-height: $line-height--large;
    width: 100%;
    margin: 0;
    padding: rescale(get-spacing('sm', 'em'), 1rem, $textarea-base);
    background: get-background-color('default');
    outline: none;
    box-shadow: none;
    border-width: $border-size;
    border-style: solid;
    border-color: get-border-color('default');
    border-radius: $border-radius;
    color: get-text-color('high-emphasis');
    @include no-select();
    overflow: hidden;
    resize: vertical;

    &:hover {
        border-color: get-border-color('primary');
    }

    &:focus {
        border-color: get-border-color('primary');
        box-shadow: get-box-shadow('focus', 'primary');
    }

    &::placeholder {
        color: get-text-color('low-emphasis');
    }

    &--resize-none {
        resize: none;
    }

    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        @include no-events();
        background: get-background-color('disabled--light');
        outline: none;
        box-shadow: none;
        border-color: get-border-color('default');
        color: get-text-color('disabled');
    }
}
