@import '~theme';

.alert {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 $scroll-size;
    display: flex;
    flex-direction: column;

    &__checklist {
        height: 160px;
    }

    &__scroll {
        flex: 1;

        &__scroll {
            border: 1px solid get-border-color('default');
        }
    }
}
