@import '~theme';

.color-panel {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: get-height('default', 'rem');
    }
    &__custom {
        &__new-colors {
            display: flex;
            align-items: center;
            & input {
                flex: 1;
                margin-right: get-spacing('sm', 'rem');
            }
        }
        &__palette {
            display: flex;
            align-items: center;
            margin-bottom: get-spacing('sm', 'rem');
            border: 1px solid get-border-color('default');
            border-radius: $border-radius;
            padding: get-spacing('xs', 'rem');
            &__name {
                width: 20%;
                font-size: get-font-size('body-regular', 'rem');
                font-weight: get-font-weight('medium');
                @include text-overflow();
            }
            &__colors {
                flex: 1;
            }
        }
    }
    &__group {
        width: 50%;
        padding-right: get-spacing('sm', 'rem');
    }

    &__chips {
        width: 100%;
        background: get-background-color('light');

        &--selected {
            background: get-background-color('primary');
        }

        &__group {
            display: flex;

            & > {
                & :first-child {
                    margin-left: auto;
                    border-radius: $border-radius 0 0 $border-radius;
                }

                & :last-child {
                    margin-right: auto;
                    border-radius: 0 $border-radius $border-radius 0;
                }
            }

            &__options {
                height: 18px;
                width: 18px;
                display: inline-block;
                background: transparent;
            }
        }
    }
}
