<smss-scroll static-x="true">
    <div class="smss-clear" ng-if="colorPanel.customColors.show">
        <smss-field>
            <label> Custom Color Palettes: </label>
            <content>
                <div
                    ng-if="colorPanel.customColors.list.length === 0"
                    class="smss-caption--center"
                >
                    No custom color palettes. Create one below.
                </div>
                <div
                    class="smss-clear"
                    ng-if="colorPanel.customColors.list.length > 0"
                >
                    <div
                        ng-repeat="customColor in colorPanel.customColors.list track by $index"
                        class="color-panel__custom__palette"
                        title="{{customColor.displayName}}"
                    >
                        <div class="color-panel__custom__palette__name">
                            {{customColor.displayName}}
                        </div>
                        <div class="color-panel__custom__palette__colors">
                            <div
                                class="color-panel__chips__group__options"
                                ng-repeat="color in customColor.colors"
                                title="{{color}}"
                                ng-style="{'background-color': color};"
                            ></div>
                        </div>
                        <div>
                            <smss-btn
                                class="smss-btn--icon"
                                title="Edit"
                                ng-click="colorPanel.editCustomPalette($index)"
                            >
                                <i class="fa fa-pencil"></i>
                            </smss-btn>
                            <smss-btn
                                class="smss-btn--icon"
                                title="Delete"
                                ng-click="colorPanel.deleteCustomPalette($index)"
                            >
                                <i class="fa fa-times smss-color--error"></i>
                            </smss-btn>
                        </div>
                    </div>
                </div>
            </content>
        </smss-field>

        <smss-field>
            <label> Name: </label>
            <content>
                <smss-input
                    ng-model="colorPanel.customColors.new.name"
                    placeholder="Enter new name"
                >
                </smss-input>
            </content>
        </smss-field>
        <smss-field>
            <label> Colors: </label>
            <content class="color-panel__custom__new-colors">
                <smss-input
                    ng-model="colorPanel.customColors.new.colors"
                    placeholder="Enter colors"
                >
                </smss-input>
                <smss-color-picker
                    title="Pick a color"
                    compact
                    model="colorPanel.customColors.new.pickedColor"
                    change="colorPanel.appendColor(colorPanel.customColors.new.pickedColor)"
                >
                </smss-color-picker>
            </content>
            <description> Enter comma separated Hex color codes. </description>
        </smss-field>

        <div class="smss-action">
            <smss-btn
                class="smss-btn--text"
                ng-click="colorPanel.customColors.show = false;"
            >
                Back
            </smss-btn>
            <smss-btn ng-click="colorPanel.addColor();">
                <span ng-if="colorPanel.isEditing ">Update</span>
                <span ng-if="!colorPanel.isEditing ">Add</span>
            </smss-btn>
        </div>
    </div>
    <smss-field ng-if="!colorPanel.customColors.show">
        <label class="color-panel__title">
            <div>Choose Color Palette:</div>
            <smss-btn
                ng-click="colorPanel.customColors.show = true;"
                class="smss-btn--text smss-btn--compact"
                title="Add Custom Color Palette"
            >
                <i class="fa fa-plus"></i>
                Add Custom Palette
            </smss-btn>
        </label>
        <content>
            <div class="smss-clear">
                <smss-field
                    class="smss-left color-panel__group"
                    ng-repeat="panel in colorPanel.colorPanels track by $index"
                >
                    <label> {{panel.displayName}} </label>
                    <content>
                        <smss-btn
                            class="color-panel__chips"
                            ng-click="colorPanel.colorName = panel.name; colorPanel.selectedColorArray = panel.colors;"
                            ng-class="{'color-panel__chips--selected': colorPanel.colorName === panel.name}"
                        >
                            <div class="color-panel__chips__group">
                                <div
                                    class="color-panel__chips__group__options"
                                    ng-repeat="color in panel.colors"
                                    title="{{color}}"
                                    ng-style="{'background-color': color};"
                                ></div>
                            </div>
                        </smss-btn>
                    </content>
                </smss-field>
            </div>
            <div class="smss-action">
                <smss-btn
                    ng-click="colorPanel.resetColor()"
                    class="smss-btn--text"
                >
                    Reset
                </smss-btn>
                <smss-btn ng-click="colorPanel.execute();"> Execute </smss-btn>
            </div>
        </content>
    </smss-field>
</smss-scroll>
