<div ng-show="chartCtrl.forcegraph.forceGraphOptions.showPropertiesTable" 
     id="graph-prop-table-resizer-" resizer="'horizontal'" resizer-width="2" resizer-bottom="'resizerPropTable-'"
     class="graph-prop-table-resizer"></div>

<!--Node properties table-->
<div ng-show="chartCtrl.forcegraph.forceGraphOptions.showPropertiesTable" class="table-container full-width" 
     ng-class="{'side-menu-shown': chartCtrl.sidebarActive, 'side-menu-hidden':! chartCtrl.sidebarActive}"
     id="resizerPropTable-">
    <div class="prop-row">
        <div class="col-xs-4 side-padding" ng-class="{'col-xs-3': chartCtrl.forcegraph.forceGraphOptions.node.properties.length > 0}">
            <div class="base-table-header">Label Display</div>
            <div class="prop-table-wrapper base-table-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>
                            <label class="pull-right">
                                <input type="checkbox" ng-model="chartCtrl.forcegraph.labelToggle" ng-change="chartCtrl.forcegraph.internalControl.toggleAllLabelSwitch()">
                                Show Labels
                            </label>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="typeProperties in chartCtrl.forcegraph.forceGraphOptions.type.properties">
                        <td title="{{typeProperties.name}}">
                            <span ng-bind="typeProperties.name | replaceUnderscores | reduceStringLength: 18"></span>
                        </td>
                        <td>
                            <select class='form-control' ng-model="chartCtrl.forcegraph.forceGraphOptions.type.properties[$index].selected"
                                    ng-change="chartCtrl.forcegraph.setCurrentLabels(typeProperties.name, chartCtrl.forcegraph.forceGraphOptions.type.properties[$index].selected)"
                                    ng-options="value | replaceUnderscores for value in typeProperties.values">
                            </select>
                            <!-- <ui-select class='ng-pristine' ng-model="chartCtrl.forcegraph.forceGraphOptions.type.properties[$index].selected" ng-change="chartCtrl.forcegraph.setCurrentLabels(typeProperties.name, chartCtrl.forcegraph.forceGraphOptions.type.properties[$index].selected)">
                                <ui-select-match class="ui-select-match">
                                    <span class="overflow-ellipsis-ui-select" ng-bind="$select.selected"></span>
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices"
                                                   repeat="value in typeProperties.values | filter: $select.search">
                                    <span class="overflow-ellipsis-ui-select" ng-bind="value"></span>
                                </ui-select-choices>
                            </ui-select> -->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Node Properties -->
        <div class="col-xs-4 side-padding" ng-show="chartCtrl.forcegraph.forceGraphOptions.node.properties.length > 0" ng-class="{'col-xs-3': chartCtrl.forcegraph.forceGraphOptions.node.properties.length > 0}">
            <div class="base-table-header">Node Properties</div>
            <div class="prop-table-wrapper base-table-content">
                <div class="center" ng-if="chartCtrl.forcegraph.forceGraphOptions.node.properties.length === 0">None Available</div>
                <table class="table" ng-if="chartCtrl.forcegraph.forceGraphOptions.node.properties.length > 0">
                    <thead>
                    <th class="table-half">Name</th>
                    <th class="table-half">Value</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prop in chartCtrl.forcegraph.forceGraphOptions.node.properties | orderBy: 'name'">
                        <td title="{{prop.name}}">{{prop.name | shortenValueFilter | replaceUnderscores | reduceStringLength: 13}}</td>
                        <td title="{{prop.value}}">{{prop.value | shortenValueFilter | replaceUnderscores | reduceStringLength: 13}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Node resize properties -->
        <div class="col-xs-4 side-padding" ng-show="true" ng-class="{'col-xs-3': chartCtrl.forcegraph.forceGraphOptions.node.properties.length > 0}">
            <div class="base-table-header">Node Resize Properties</div>
            <div class="prop-table-wrapper base-table-content">
                <div ng-if="chartCtrl.forcegraph.forceGraphOptions.graph.nodeResizeProperties.length === 0">None Available</div>
                <table class="table" ng-if="chartCtrl.forcegraph.forceGraphOptions.graph.nodeResizeProperties.length > 0">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th class="tiny-column">
                            <button class="sm-btn btn-light" ng-click="chartCtrl.forcegraph.internalControl.resetNodeProps(chartCtrl.forcegraph.forceGraphOptions.graph.nodeResizeProperties)">Clear</button>
                        </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="nodeProp in chartCtrl.forcegraph.forceGraphOptions.graph.nodeResizeProperties">
                        <td title="{{nodeProp.propName}}">{{nodeProp.propName | replaceUnderscores | reduceStringLength: 18}}</td>
                        <td>
                            <input type="radio" class="prop-radio" name="chartCtrl.forcegraph.forceGraphOptions.graph.nodeResizeProperties" ng-value="nodeProp.propName" ng-model="nodeProp.selected" ng-click="chartCtrl.forcegraph.internalControl.nodeResizeProperty(nodeProp)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Edge resize properties -->
        <div class="col-xs-4 side-padding" ng-show="true" ng-class="{'col-xs-3': chartCtrl.forcegraph.forceGraphOptions.node.properties.length > 0}">
            <div class="base-table-header">Edge Resize Properties</div>
            <div class="prop-table-wrapper base-table-content">
                <div ng-if="chartCtrl.forcegraph.forceGraphOptions.graph.edgeResizeProperties.length === 0">None Available</div>
                <table class="table" ng-if="chartCtrl.forcegraph.forceGraphOptions.graph.edgeResizeProperties.length > 0">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th class="tiny-column">
                            <button class="sm-btn btn-light" ng-click="chartCtrl.forcegraph.internalControl.resetEdgeProps(chartCtrl.forcegraph.forceGraphOptions.graph.edgeResizeProperties)">Clear</button>
                        </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="edgeProp in chartCtrl.forcegraph.forceGraphOptions.graph.edgeResizeProperties">
                        <td title="{{edgeProp.propName}}">{{edgeProp.propName | replaceUnderscores | reduceStringLength: 18}}</td>
                        <td>
                            <input type="radio" class="prop-radio" name="chartCtrl.forcegraph.forceGraphOptions.graph.edgeResizeProperties" ng-value="edgeProp.propName" ng-model="edgeProp.selected" ng-click="chartCtrl.forcegraph.internalControl.edgeResizeProperty(edgeProp)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
