@import '~theme';

.kpi {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    //overflow:
    //flex-wrap: make sure css is display flex:

    &__svg {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__group {
        fill: get-text-color('default');

        &__value {
            font-size: 2em;
        }

        &__title {
            font-size: 1em;
        }
    }
}
