<div class="sm-margin">
    <ng-form name="associatedlearningForm">

        <div class="input-group" style="margin:5px 0px">
            <span class="input-group-addon" style="width:185px">Number of Rules<i class="glyphicon glyphicon-info-sign opacity pull-right" ng-click="numofrules=!numofrules"></i></span>
            <input type="number" name="numberofrulesform"
                   class="form-control" style="padding: 0px"
                   ng-model="analyticsPanel.selectedRoutine.options.learningRules"
                   ng-blur="analyticsPanel.setOptions('learningRules', analyticsPanel.selectedRoutine.options.learningRules);" required>
        </div>
        <div class="input-group" style="margin:5px 0px" ng-show="numofrules">
            <p class="information">Number of Association Rules to Output</p>
        </div>
        <div class="input-group" style="margin:5px 0px;color:red;font-size:12px"
             ng-show="associatedlearningoptionsctrl.analyticsPanelForm.associatedlearningForm.numberofrulesform.$invalid">
            Number of Rules must be an Integer
        </div>



        <div class="input-group" style="margin:5px 0px">
            <span class="input-group-addon" style="width:185px">Minimum Support (%) <i class="glyphicon glyphicon-info-sign opacity pull-right" ng-click="minsup=!minsup"></i></span>
            <input type="number" name="minimumsupportform"
                   min="0" max="100" style="padding: 0px"
                   class="form-control"
                   ng-model="analyticsPanel.selectedRoutine.options.minSupport"
                   ng-blur="analyticsPanel.setOptions('minSupport', analyticsPanel.selectedRoutine.options.minSupport);" required>
        </div>
        <div class="input-group" style="margin:5px 0px" ng-show="minsup">
            <p class="information">Minimum Percentage of Total Rows of Data that Must Support the Association Rule</p>
        </div>
        <div class="input-group" style="margin:5px 0px;color:red;font-size:12px"
             ng-show="associatedlearningoptionsctrl.analyticsPanelForm.associatedlearningForm.minimumsupportform.$invalid">
            Minimum Support must be between 0 and 100
        </div>



        <div class="input-group" style="margin:5px 0px">
            <span class="input-group-addon" style="width:185px">Maximum Support (%) <i class="glyphicon glyphicon-info-sign opacity pull-right" ng-click="maxsup=!maxsup"></i></span>
            <input type="number" name="maximumsupportform"
                   min="0" max="100" style="padding: 0px"
                   class="form-control"
                   ng-model="analyticsPanel.selectedRoutine.options.maxSupport"
                   ng-blur="analyticsPanel.setOptions('maxSupport', analyticsPanel.selectedRoutine.options.maxSupport)" required>
        </div>
        <div class="input-group" style="margin:5px 0px" ng-show="maxsup">
            <p class="information">Maximum Percentage of Total Rows of Data that Must Support the Association Rule</p>
        </div>
        <div class="input-group" style="margin:5px 0px;color:red;font-size:12px"
             ng-show="associatedlearningoptionsctrl.analyticsPanelForm.associatedlearningForm.maximumsupportform.$invalid">
            Maximum Support must be between 0 and 100
        </div>



        <div class="input-group" style="margin:5px 0px">
            <span class="input-group-addon" style="width:185px">Confidence Value (%) <i class="glyphicon glyphicon-info-sign opacity pull-right" ng-click="conf=!conf"></i></span>
            <input type="number" name="confidenceform"
                   min="0" max="100" style="padding: 0px"
                   class="form-control"
                   ng-model="analyticsPanel.selectedRoutine.options.learningConfidence"
                   ng-blur="analyticsPanel.setOptions('learningConfidence', analyticsPanel.selectedRoutine.options.learningConfidence)" required>
        </div>
        <div class="input-group" style="margin:5px 0px" ng-show="conf">
            <p class="information">Minimum Percent Required for the Association Rule to be Correct</p>
        </div>
        <div class="input-group" style="margin:5px 0px;color:red;font-size:12px"
             ng-show="associatedlearningoptionsctrl.analyticsPanelForm.associatedlearningForm.confidenceform.$invalid">
            Confidence must be between 0 and 100
        </div>


    </ng-form>
</div>
