.param-overlay-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.5;
}

.param-overlay-wrapper {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 90%;
    width: 80%;
    z-index: 1010;
    /* background-color: white; */
    /* border-radius: 6px; */
}

.show-param-overlay {
    display: initial !important;
}

.param-modal-body {
    height: calc(100% - 56px);
}

.param-grid {
    position: absolute;
    width: 100%;
    height: 100%;
}

.param-grid-design {
    min-height: calc(50%);
    height: auto;
    max-height: 100%;
    top: 0;
    bottom: 0;
    position: relative;
}

.param-max-height {
    max-height: calc(100% - 90px);
    overflow: auto;
}

.param-selection-text-input {
    padding: 3px 5px;
    font-size: 14px;
    width: 100%;
    color: #222;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 1px 2px #e2e2e2;
    font-family: Roboto, sans-serif;
}

.param-selection-text-input:focus {
    border: 1px solid #4191f1;
    outline: none;
    box-shadow: 0 0 5px #6baaf5;
}

/* Ocerriding the bootstrap styling */
.param-overlay-wrapper .btn-green {
    background: #336699;
    border: 1px solid transparent;
}

.param-overlay-loading-widget {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    display: none;
    z-index: 10;
}

.param-overlay-loading-widget-show {
    display: block;
}

.param-overlay-loading-wrapper {
    position: absolute;
    left: 12.5%;
    right: 0;
    top: 50%;
    bottom: 50%;
}

.param-overlay-loading-wrapper :nth-child(1) {
    width: 75%;
    font-size: 18px;
}

.param-overlay-loading-container {
    width: 75%;
    height: 24px;
    border: 1px solid #e7e7e7;
}

.param-overlay-loading-bar {
    height: 100%;
    width: 60%;
    background: #336699;
    animation: loadingSlide 7s infinite;
}

@keyframes loadingSlide {
    0%, 33%, 75% {
        width: 60%
    }
    20% {
        width: 40%
    }
    50%, 90% {
        width: 75%;
    }
    100%, 19%, 32%, 49%, 74%, 89% {
        width: 100%;
    }
}