@import '~theme';

.edit-project {
    &__container {
        height: 100%;
        width: 100%;
    }

    &__image {
        display: flex;
        align-items: center;
        & .smss-btn {
            margin-left: get-spacing('sm', 'rem');
        }
    }

    &__table {
        max-height: 200px;
        overflow: auto;

        &__dropdown {
            width: 192px;
        }
    }

    &__generate-btn {
        margin: get-spacing('sm', 'em') / 2 0;
    }

    &__auto-desc {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        overflow: hidden;

        &__results {
            flex: 1;
            overflow: hidden;

            &__scroll {
                overflow: auto;
                height: 100%;
                width: 100%;
            }

            &__row {
                display: flex;
                align-items: flex-start;
                margin: get-spacing('sm', 'em') * 2 get-spacing('sm', 'em');

                & label {
                    flex-shrink: 0;
                    width: get-width('icon', 'em');
                }

                & textarea {
                    height: auto;
                }
            }
        }
    }
}
