@import '~theme';

.text-editor-settings {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;

        &__card {
            height: calc(#{get-height('default', 'rem')} * 2);
            width: calc(#{get-height('default', 'rem')} * 2);
            font-size: get-font-size('h7', 'rem');

            &--selected {
                background: get-background-color('primary--hover');
                border-color: get-border-color('primary');
            }
        }

        .smss-tile {
            margin-right: get-spacing('sm', 'rem');
        }
    }

    &__slider {
        display: flex;

        .smss-slider__content {
            padding-right: get-width('lg', 'rem');
        }

        .smss-input {
            width: get-width('md', 'rem');
            height: get-height('xs', 'rem');
            padding: 0;
            text-align: center;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }
}

.ProseMirror {
    outline: none;
    height: 100%;
    width: 100%;

    & .text-editor-settings__selection {
        background: #c8c8c8;
    }
}
