.sys-dup-tools {
    padding-top: 25px;
}

#simBarCanvas {
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 10px;
}

#sysSimContent {
    padding: 0px 15px 0px 25px;
}

.sys-dup-bar-label-light {
    fill: #fff;
}

.sys-dup-bar-label-dark {
    fill: #222;
}