<smss-scroll static-x="true">
    <div class="smss-spacing">
        <smss-checkbox
            model="heatRange.min.show"
            change="heatRange.min.show != heatRange.min.show;heatRange.execute();"
        >
            Specify Heat Min
        </smss-checkbox>
        <smss-input
            ng-if="heatRange.min.show"
            type="number"
            ng-model="heatRange.min.value"
            placeholder="Enter Minimum Value"
        >
        </smss-input>
    </div>

    <div class="smss-spacing">
        <smss-checkbox
            model="heatRange.max.show"
            change="heatRange.max.show != heatRange.max.show;heatRange.execute();"
        >
            Specify Heat Max
        </smss-checkbox>
        <smss-input
            ng-if="heatRange.max.show"
            type="number"
            ng-model="heatRange.max.value"
            placeholder="Enter Maximum Value"
        >
        </smss-input>
    </div>

    <div class="smss-action">
        <smss-btn ng-click="heatRange.resetTool()" class="smss-btn--text">
            Reset
        </smss-btn>
        <smss-btn ng-click="heatRange.execute()"> Execute </smss-btn>
    </div>
</smss-scroll>
