@import '~theme';

.widget-tab {
    &__accordion {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: inherit;
        width: inherit;
        border: none;

        &__layers {
            top: 28px;
        }

        &__content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;

            &__search {
                position: relative;
                padding-left: $scroll-size;
                padding-right: $scroll-size;

                &__clear {
                    position: absolute;
                    right: get-spacing('scroll', 'rem');
                    top: (
                            get-height('default', 'rem') -
                                get-height('icon', 'rem')
                        ) / 2 + get-spacing('xs', 'rem');
                }
            }

            &__scroll {
                flex: 1;
            }

            &__block {
                border-bottom: 1px solid get-border-color('default');

                &:focus-visible {
                    border: 1px solid get-border-color('primary') !important;
                }
            }
        }
    }

    &__hidden {
        position: relative;
        height: 100%;
        visibility: hidden;
    }
}
