.analytics-random-forest {
    &__left {
        float: left;
        text-align: right;
    }
    &__right {
        float: right;
        text-align: left;
    }
    &__flex {
        display: flex;
    }
}
