@import '~theme';

.smss-typeahead {
    position: relative;
    &__input {
        display: inline-flex;
        padding: 0 rescale(get-spacing('scroll', 'em'), 1rem, 0.875rem);

        &:focus {
            -webkit-appearance: none;
            -moz-appearance: none;
            border-color: get-border-color('primary');
        }

        &--disabled,
        &:disabled,
        &[disabled='disabled'] {
            @include no-events();
            background: get-background-color('disabled--light');
            & .smss-typeahead__input__icon {
                color: get-text-color('disabled');
            }
        }

        &--highlight {
            border-color: get-border-color('primary');
        }

        input {
            border: none;
            height: 100%;
            padding: 0;

            &:focus {
                box-shadow: none;
            }
        }

        &__icon {
            text-align: center;
            color: get-text-color('medium-emphasis');
            flex-shrink: 0;
            line-height: calc(
                #{rescale(get-height('default', 'em'), 1rem, 0.875rem)} - 2px
            );
            margin-left: rescale(get-spacing('sm', 'em'), 1rem, 0.875rem);

            &--arrow:after {
                font-size: 1rem;
                font-style: normal;
                font-family: FontAwesome;
                content: '\f0d7';
            }

            &--arrow--down {
                color: get-text-color('primary');
                &:after {
                    content: '\f0d8';
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__popover {
        &--disabled,
        &:disabled,
        &[disabled='disabled'] {
            pointer-events: none;
        }

        &__content {
            min-width: 200px;
            padding: 0;
        }
    }
}
