@import '~theme';

.widget-builder {
    position: relative;
    height: 100%;
    overflow: hidden;

    &__edit {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        opacity: 0.2;

        &:hover {
            opacity: 1;
        }
    }

    &__json {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 $scroll-size;

        &__textarea {
            flex: 1;

            & textarea {
                height: 100%;
                overflow: auto;
            }
        }
    }
}
