<!-- <div ng-if="viewLoader.tableData.length > 0" class="view-loader__container">
    <div ng-repeat="table in viewLoader.tableData track by $index" class="view-loader__container__sections">
        <div ng-if="viewLoader.tableData.length > 1">
            {{table.title}}
        </div>
        <table class="smss--sticky view-loader__container__table">
            <thead>
                <tr ng-repeat="headerRow in table.headers track by $index">
                    <th ng-repeat="header in headerRow track by $index" colspan="{{table.headerConfig[$parent.$index][$index].colspan}}" ng-show="table.headerConfig[$parent.$index][$index].colspan > 0">
                        {{header}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table.data track by $index">
                    <th ng-repeat="header in table.vHeaders[$index] track by $index"
                        ng-attr-colspan="{{(header.indexOf('Total') > -1 ? table.vHeaders[$index].length : 1)}}"
                        ng-if="table.vHeaders[$parent.$index][0].indexOf('Total') > 1 ? $index === 0 : true">
                        {{header}}
                    </th>
                    <td ng-repeat="cell in row track by $index" ng-class="{'view-loader__container__table__bold': table.vHeaders[$parent.$index][0].indexOf('Total') > 1 || $parent.$index === table.data.length - 1 || $index === row.length - 1}">
                        {{cell}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
