@import '~theme';
/* ***********************
Start - Table of Contents
*********************** */

/* ** Global ** */

/* ** Utility ** */

/* ** Colors ** */

/* ** Typography ** */

/* ** Form ** */

/* ** Messages ** */

/* ** Title ** */

/* ** Divider ** */

/* ** Container ** */

/* ** Card ** */

/* ** List-Item ** */

/* *********************
End - Table of Contents
********************* */

/* ** Start - Global ** */
:root {
    font-size: $root;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overscroll-behavior-x: none;
}

@font-face {
    font-family: 'Inter';
    font-weight: get-font-weight('light');
    src: url('./resources/font/Inter-Light.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: get-font-weight('regular');
    src: url('./resources/font/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: get-font-weight('medium');
    src: url('./resources/font/Inter-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: get-font-weight('semibold');
    src: url('./resources/font/Inter-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: get-font-weight('bold');
    src: url('./resources/font/Inter-Bold.woff') format('woff');
}

body {
    height: 100%;
    width: 100%;
    font-family: $font-family;
    line-height: to-rem(16px);
    font-weight: get-font-weight('regular');
    font-size: get-font-size('body-regular', 'rem');
    overflow: hidden;
    overscroll-behavior-x: none;
    color: get-text-color('medium-emphasis');
}

// For jvChart visualizations
g {
    font-family: $font-family !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: get-scroll-color('track');
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    height: 18px;
    background: get-scroll-color('thumb');
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: get-scroll-color('thumb--hover');
}

::-webkit-scrollbar-thumb:active {
    background: get-scroll-color('thumb--hover');
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

:focus {
    outline: none;
}

:focus-visible {
    outline: 1px solid get-outline-color('primary');
}

/* ** End - Global ** */

/* ** Start - Utility ** */

.smss-right {
    float: right;
}

.smss-left {
    float: left;
}

.smss-clear::after {
    content: '';
    display: block;
    clear: both;
}

.smss-spacing {
    padding: get-spacing('xs', 'rem') 0;
}

/* ** End - Utility ** */

/* ** Start - Colors ** */

:root {
    @each $name, $value in $color {
        --color-#{$name}: #{$value};
    }

    --font-family: #{$font-family};
}

.smss-color {
    @each $name, $color in $text-color {
        &--#{$name} {
            color: $color !important;
        }
    }
}

.smss-background {
    @each $name, $color in $background-color {
        &--#{$name} {
            background: $color !important;
        }
    }
}

.smss-border {
    @each $name, $color in $border-color {
        &--#{$name} {
            border: 1px solid $color !important;
        }
    }
}

.smss-box-shadow {
    @each $name, $color in $box-shadow-color {
        &--#{$name} {
            box-shadow: get-box-shadow('raised', $name) !important;
        }
    }
}

/* ** End - Colors ** */

/* ** Start - Typography ** */
@mixin header() {
    margin: 0;
    color: get-text-color('high-emphasis');
}

h1 {
    @include header();
    font-weight: get-font-weight('semibold');
    font-size: get-font-size('h1', 'rem'); // 32px
    line-height: get-font-size('h1', 'rem') + get-spacing('sm', 'rem'); //40 px
}

h2 {
    @include header();
    font-weight: get-font-weight('semibold');
    font-size: get-font-size('h2', 'rem'); // 28px
    line-height: get-font-size('h2', 'rem') + get-spacing('xs', 'rem'); // 32px
    letter-spacing: to-rem(0.1px);
}

h3 {
    @include header();
    font-weight: get-font-weight('semibold');
    font-size: get-font-size('h3', 'rem'); // 20px
    line-height: get-font-size('h3', 'rem') + get-spacing('xs', 'rem'); // 24px
    letter-spacing: to-rem(0.15px);
}

h4 {
    @include header();
    font-weight: get-font-weight('bold');
    font-size: get-font-size('h4', 'rem'); // 16px
    line-height: get-font-size('h4', 'rem') + get-spacing('xs', 'rem'); // 20px
    letter-spacing: to-rem(0.15px);
}

h5 {
    @include header();
    font-weight: get-font-weight('medium');
    font-size: get-font-size('h5', 'rem'); // 16px
    line-height: get-font-size('h5', 'rem') + get-spacing('xs', 'rem'); // 20px
    letter-spacing: to-rem(0.15px);
}

h6 {
    @include header();
    font-weight: get-font-weight('semibold');
    font-size: get-font-size('h6', 'rem'); // 14px
    line-height: get-font-size('h6', 'rem') + get-spacing('xxs', 'rem'); // 16px
    letter-spacing: to-rem(0.15px);
}

p {
    margin: 0;
    font-weight: get-font-weight('regular');
    font-size: get-font-size('body-regular', 'rem'); // 14px
    line-height: get-font-size('body-regular', 'rem') +
        get-spacing('xxs', 'rem'); // 16px
    color: get-text-color('medium-emphasis');
}

code {
    font-family: monospace, monospace;
    font-size: get-font-size('body-regular', 'rem'); // 14px
    line-height: get-font-size('body-regular', 'rem') +
        get-spacing('xxs', 'rem'); // 16px
    color: get-text-color('high-emphasis');
}

pre {
    font-family: monospace, monospace;
    font-size: get-font-size('body-regular', 'rem'); // 14px
    line-height: get-font-size('body-regular', 'rem') +
        get-spacing('xxs', 'rem'); // 16px
    color: get-text-color('high-emphasis');

    & > code {
        display: block;
    }
}

ul {
    padding: 0 0 0 get-spacing('xl', 'rem');
    margin: get-spacing('sm', 'rem') 0;
    list-style-position: outside;
    list-style-type: disc;

    &.smss-small {
        margin: 0.5em 0;
    }
}

ol {
    padding: 0 0 0 get-spacing('xl', 'rem');
    margin: get-spacing('sm', 'rem') 0;
    list-style-position: outside;
    list-style-type: decimal;
}

li {
    margin-bottom: get-spacing('sm', 'rem');
}

a {
    font-size: get-font-size('body-large', 'rem'); // 16px
    line-height: get-font-size('body-large', 'rem') + get-spacing('xs', 'rem'); // 20px
    font-weight: get-font-weight('regular');
    letter-spacing: to-rem(0.3px);
    color: get-text-color('link');
    cursor: pointer;
    text-decoration: underline;

    &:focus-visible {
        box-shadow: get-box-shadow('focus', 'primary');
    }

    &:hover {
        color: get-text-color('link--hover');
    }

    &:visited {
        color: get-text-color('link--hover');
    }

    &:active {
        color: get-text-color('link');
    }

    &.smss-selected {
        color: get-text-color('link');
    }

    &:disabled {
        pointer-events: none;
        color: get-text-color('disabled');
    }

    &.smss-disabled {
        pointer-events: none;
        color: get-text-color('disabled');
    }
}

.smss-text {
    @include text-overflow();
    height: get-height('default', 'em');
    line-height: get-height('default', 'em');
    width: 100%;
    font-size: get-font-size('body-regular', 'rem');
    color: get-text-color('medium-emphasis');
}

.smss-caption {
    font-size: get-font-size('body-small', 'rem'); // 12px
    line-height: get-font-size('body-small', 'rem') + get-spacing('xxs', 'rem'); // 14px
    letter-spacing: to-rem(0.25px);
    font-weight: get-font-weight('regular');
    color: get-text-color('low-emphasis');

    &--center {
        @extend .smss-caption;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

.smss-tabular {
    font-weight: get-font-weight('regular');
    font-size: get-font-size('body-regular', 'rem'); // 14px
    line-height: get-font-size('body-regular', 'rem') +
        get-spacing('xxs', 'rem'); // 16px
    color: get-text-color('medium-emphasis');
    font-feature-settings: 'tnum' on, 'lnum' on;
}

.smss-regular {
    font-size: get-font-size('body-regular', 'rem');
}

.smss-small {
    font-size: get-font-size('body-small', 'rem');
}

.smss-extra-small {
    font-size: get-font-size('body-xsmall', 'rem');
}

.smss-font-weight {
    @each $name, $weight in $font-weight {
        &--#{$name} {
            font-weight: $weight;
        }
    }
}

.smss-underline {
    border-bottom: 1px solid get-border-color('default');
}

.smss-center {
    text-align: center;
}

.smss-h7 {
    font-weight: get-font-weight('semibold');
    font-size: get-font-size('h7', 'rem'); // 12px
    line-height: get-font-size('h7', 'rem') + get-spacing('xxs', 'rem'); // 14px
    letter-spacing: to-rem(0.15px);
}

.smss-h8 {
    font-weight: get-font-weight('semibold');
    font-size: get-font-size('h8', 'rem'); // 9px
    line-height: get-font-size('body-regular', 'rem'); // 14px
    letter-spacing: to-rem(0.15px);
}

/* ** End - Typography ** */

/* ** Start - Containers ** */

.smss-row {
    &::after {
        content: '';
        display: block;
        clear: both;
    }

    &--gutter {
        padding-bottom: get-spacing('sm', 'em');
    }

    & .smss-col {
        padding-right: get-spacing('sm', 'em');
    }

    & .smss-col:last-child {
        padding-right: 0;
    }
}

.smss-col {
    float: left;
    display: inline-block;

    @for $i from 1 through 12 {
        &--#{$i} {
            width: #{percentage($i/12)} !important;
        }
    }
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 1rem;
    border-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: get-border-color('default');
    border-radius: $border-radius;

    &.smss--sticky {
        & th {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }

    &.smss--active {
        & tr {
            cursor: pointer;

            &:hover {
                background: get-background-color('primary--hover');
            }
        }
    }
}

tr {
    height: calc(
        #{get-height('sm', 'em')} + #{get-spacing('sm', 'em') / 2} + 1px
    );
}

th {
    background: get-background-color('light');
    border-top: 1px solid get-border-color('default');

    &.smss--icon {
        // Need extra pixels because of border
        text-overflow: clip;
        width: calc(
            #{get-width('icon', 'rem')} + #{2 * get-spacing('sm', 'em')} + 2px
        );
    }
}

th,
td {
    font-size: 0.875em;
    font-weight: 400;
    text-align: left;
    padding: get-spacing('sm', 'em') / 4 get-spacing('sm', 'em');
    @include text-overflow();
    border-right: 1px solid get-border-color('default');
    border-bottom: 1px solid get-border-color('default');

    &:first-child {
        border-left: 1px solid get-border-color('default');
    }

    &.smss--icon {
        // Need extra pixels because of border
        text-overflow: clip;
        width: calc(
            #{get-width('icon', 'rem')} + #{2 * get-spacing('sm', 'em')} + 2px
        );
    }
}

tr:first-child > th:first-child {
    border-top-left-radius: $border-radius;
}

tr:first-child > th:last-child {
    border-top-right-radius: $border-radius;
}

tr:last-child > td:first-child {
    border-bottom-left-radius: $border-radius;
}

tr:last-child > td:last-child {
    border-bottom-right-radius: $border-radius;
}

hr {
    border: none;
    border-top: $border-size solid get-border-color('default');
    margin: get-spacing('md', 'rem') 0;
}

/* ** End - Containers ** */

/* ** Start - Form ** */

.smss-field {
    $field-base: get-font-size('body-large', 'rem');
    $field-label-base: get-font-size('body-regular', 'em');
    $field-description-base: get-font-size('body-xsmall', 'em');

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: $field-base;
    margin-bottom: rescale(get-spacing('md', 'em'), 1rem, $field-base);

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    &__label {
        font-size: $field-label-base;
        font-weight: get-font-weight('semibold');
        display: block;
        height: rescale(get-height('label', 'em'), 1em, $field-label-base);
        width: 100%;
        @include text-overflow();
        line-height: rescale(get-height('label', 'em'), 1em, $field-label-base);
        letter-spacing: rescale(to-em(0.13125px), 1em, $field-label-base);
        color: get-text-color('medium-emphasis');
        margin-bottom: rescale(get-spacing('sm', 'em'), 1em, $field-label-base);

        &--focused,
        &[focused='true'] {
            color: get-text-color('primary');
        }
    }

    &__content {
        flex: 1;
        overflow: hidden;
    }

    &__content-overflow {
        overflow: visible;
    }

    &__description {
        font-size: $field-description-base;
        font-weight: get-font-weight('regular');
        display: block;
        line-height: rescale(
            get-height('description', 'em'),
            1em,
            $field-description-base
        );
        letter-spacing: rescale(to-em(0.25px), 1em, $field-description-base);
        color: get-text-color('low-emphasis');
        margin-top: rescale(
            get-spacing('xs', 'em'),
            1em,
            $field-description-base
        );
    }

    &--inline {
        display: block;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        & .smss-field__label {
            display: inline-block;
            float: left;
            height: rescale(
                get-height('default', 'em'),
                1em,
                $field-label-base
            );
            line-height: rescale(
                get-height('default', 'em'),
                1em,
                $field-label-base
            );
            width: rescale(get-width('label', 'em'), 1em, $field-label-base);
            padding-right: rescale(
                get-spacing('sm', 'em'),
                1em,
                $field-label-base
            );
            margin-bottom: 0;
        }

        & .smss-field__content {
            display: inline-block;
            float: left;
            width: calc(100% - #{get-width('label', 'em')});
        }

        & .smss-field__description {
            width: 100%;
            padding-left: rescale(
                get-width('label', 'em'),
                1em,
                $field-description-base
            );
            float: left;
        }
    }
}

.smss-action {
    position: relative;
    display: flex !important;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    padding: $field-padding 0;

    & > * {
        margin-left: get-spacing('sm', 'em') / 2 !important;
        margin-right: get-spacing('sm', 'em') / 2 !important;
    }

    & > :first-child {
        margin-left: auto !important;
    }

    & > :last-child {
        margin-right: auto !important;
    }

    &--left {
        justify-content: start;

        & > :first-child {
            margin-left: 0 !important;
        }

        & > :last-child {
            margin-right: 0 !important;
        }
    }

    &--right {
        justify-content: end;

        & > :first-child {
            margin-left: 0 !important;
        }

        & > :last-child {
            margin-right: 0 !important;
        }
    }
}

/* ** End - Form ** */
.smss-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: get-width('tile', 'em');
    height: get-height('tile', 'em');
    padding: get-spacing('sm', 'em') get-spacing('scroll', 'em');
    font-size: 1rem;
    text-align: center;
    border: 1px solid get-border-color('default');
    border-radius: $border-radius;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    background: get-background-color('default');
    @include no-select();

    &:focus-visible {
        border-color: get-border-color('primary');
    }

    &:hover {
        background: get-background-color('primary--hover') !important;
    }

    &--selected {
        border-bottom: 2px solid get-border-color('primary');
    }

    &__image {
        height: get-height('lg', 'em');
        width: 100%;
        overflow: hidden;

        & img {
            height: 100%;
            max-width: 100%;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
            border: none;
        }
    }

    &__text {
        width: 100%;
        @include text-overflow();

        & > * {
            font-size: get-font-size('body-small', 'em');
            font-weight: get-font-weight('semibold');
        }
    }

    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        cursor: default;
        pointer-events: none;
        @include no-events();
        background: get-background-color('disabled--light');
        color: get-text-color('disabled') !important;
        & img {
            opacity: 0.3;
        }
    }
}

/* ** Start - Block ** */

.smss-block {
    position: relative;
    display: flex;
    height: get-height('block', 'em');
    width: 100%;
    font-size: 1rem;
    font-weight: get-font-weight('medium');
    outline: none;
    background: get-background-color('default');
    border-left: get-spacing('xs', 'em') solid transparent;
    border-right: get-spacing('xs', 'em') solid transparent;
    cursor: pointer;

    &--disabled,
    &:disabled,
    &[disabled='disabled'] {
        cursor: default;
        pointer-events: none;
        background: get-background-color('disabled--light');
        color: get-text-color('disabled') !important;

        & .smss-block__text__title > *,
        .smss-block__text__description > * {
            color: get-text-color('disabled') !important;
        }

        & .smss-block__image {
            opacity: 0.3;
        }
    }

    &:hover {
        background: get-background-color('primary--hover');

        & .smss-block__action {
            color: get-text-color('medium-emphasis');

            &--primary {
                color: get-text-color('primary--hover');
            }

            &--error {
                color: get-text-color('error--hover');
            }

            &--success {
                color: get-text-color('success--hover');
            }

            &--warn {
                color: get-text-color('warn--hover');
            }
        }
    }

    &:focus-visible {
        border: $border-size solid get-border-color('primary') !important;
    }

    &--selected {
        border-left: 4px solid get-border-color('primary');
        background: get-background-color('primary--hover');
    }

    &__image {
        position: relative;
        margin: calc(
                (#{get-height('block', 'em')} - #{get-height('icon', 'em')}) / 2
            )
            0;
        height: get-height('icon', 'em');
        width: get-width('icon', 'em');
        overflow: hidden;
        margin-left: get-spacing('scroll', 'em');

        & img {
            height: 100%;
            max-width: 100%;
            margin: 0 auto;
            display: block;
            vertical-align: middle;
            border: none;
        }
    }

    &__text {
        flex: 1;
        position: relative;
        height: 100%;
        line-height: get-height('block', 'em');
        padding: 0 get-spacing('sm', 'em');
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        & > * {
            width: 100%;
            font-size: get-font-size('body-regular', 'em');
            @include text-overflow();
        }

        &__title {
            font-size: 1rem;
            height: calc(
                #{get-height('default', 'em')} - #{get-font-size(
                        'body-xsmall',
                        'em'
                    )} - 2px
            ); // 20px
            line-height: calc(#{get-font-size('body-regular', 'em')} + 2px);
            width: 100%;
            display: flex;
            align-items: center;

            & > * {
                font-weight: get-font-weight('semibold');
                color: get-text-color('medium-emphasis');
                font-size: get-font-size('body-regular', 'em');
                @include text-overflow();
            }
        }

        &__description {
            font-size: 1rem;
            height: calc(#{get-font-size('body-xsmall', 'em')} + 2px); // 12px
            line-height: calc(#{get-font-size('body-xsmall', 'em')} + 2px);
            width: 100%;
            display: flex;
            align-items: center;

            & > * {
                color: get-text-color('low-emphasis');
                font-size: get-font-size('body-xsmall', 'em');
                @include text-overflow();
            }
        }
    }

    &__action {
        text-align: center;
        height: get-height('block', 'em');
        line-height: get-height('block', 'em');
        width: get-width('icon', 'em');
        outline: none;
        color: get-text-color('low-emphasis');
        overflow: hidden;

        &:hover {
            color: get-text-color('primary');
        }

        &--primary {
            color: get-text-color('primary');

            &:hover {
                color: get-text-color('primary--hover');
            }
        }

        &--error {
            color: get-text-color('error');

            &:hover {
                color: get-text-color('error--hover');
            }
        }

        &--success {
            color: get-text-color('success');

            &:hover {
                color: get-text-color('success--hover');
            }
        }

        &--warn {
            color: get-text-color('warn');

            &:hover {
                color: get-text-color('warn--hover');
            }
        }
    }
}

/* ** End - Block ** */

/* ** Start - Card ** */
.smss-card-grid {
    font-size: 1rem;
    height: get-height('card', 'em');
    width: 100%;
    background: get-background-color('default');
    box-shadow: get-box-shadow('raised', 'default');
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    padding: get-spacing('scroll', 'em');

    &:hover {
        cursor: pointer;
        box-shadow: get-box-shadow('overlay', 'default');
        & .smss-card-grid__top__favorite .fa-star-o {
            display: inline-block;
        }
    }

    &--selected {
        border: 1px solid get-border-color('primary');
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: get-height('image', 'em');
        width: 100%;
        overflow: hidden;

        &__image {
            height: get-height('image', 'em');
            line-height: get-height('image', 'em');
            width: get-width('image', 'em');
            flex-shrink: 0;

            & img {
                max-height: 100%;
                max-width: 100%;
                vertical-align: top;
                border-radius: $border-radius;
            }
        }

        &__text {
            flex: 1;
            padding: 0 get-spacing('sm', 'em');
            overflow: hidden;

            &__folder {
                @include text-overflow();
                margin-bottom: get-spacing('xs', 'rem');
                font-size: get-font-size('body-small', 'em');
                letter-spacing: rescale(
                    to-em(0.25px),
                    1em,
                    get-font-size('body-small', 'em')
                );
                color: get-text-color('low-emphasis');
            }

            &__title {
                flex: 1;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        &__favorite {
            flex-shrink: 0;
            & .fa-star-o {
                display: none;
            }
            & button:focus-visible .fa-star-o {
                display: inline-block;
            }
        }
    }

    &__content {
        height: calc(
            100% - #{get-height('image', 'em')} - #{get-height('sm', 'em')}
        );
        padding-top: get-spacing('sm', 'em');

        &__top {
            display: flex;
            align-items: center;
            height: get-height('sm', 'em');
        }

        &__description {
            display: flex;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: get-font-size('body-regular', 'em');

            &:hover {
                overflow-x: auto;
            }
        }

        &__tags {
            width: 100%;
            overflow-x: hidden;
            display: flex;
            padding-top: get-spacing('sm', 'em');

            &:hover {
                overflow-x: auto;
            }

            & .smss-tag {
                flex-shrink: 0;
                max-width: 100%;
                display: inline-block;
                margin-right: get-spacing('sm', 'em');
                @include text-overflow();
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: get-height('sm', 'em');

        &__users {
            display: flex;

            &__user {
                height: get-height('circle', 'em');
                width: get-width('circle', 'em');
                margin-left: calc(-1 * #{get-spacing('xs', 'em')});
                border-radius: 50%;
                background: white;
                border: 1px solid get-border-color('dark');

                &:first-child {
                    margin: 0;
                }
            }
        }

        &__caption {
            flex: 1;
            @include text-overflow();
            padding: 0 get-spacing('xs', 'em');
            font-size: get-font-size('body-small', 'em');
            letter-spacing: rescale(
                to-em(0.25px),
                1em,
                get-font-size('body-small', 'em')
            );
            color: get-text-color('low-emphasis');
        }

        &__action {
            flex-shrink: 0;
        }
    }
}

.smss-card-inline {
    height: get-height('card--inline', 'em');
    width: 100%;
    box-shadow: get-box-shadow('raised', 'default');
    background: get-background-color('default');
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    padding: get-spacing('scroll', 'em');
    font-size: 1rem;

    &:hover {
        cursor: pointer;
        box-shadow: get-box-shadow('overlay', 'default');
        & .smss-card-inline__favorite .fa-star-o {
            display: inline-block;
        }
    }

    &--selected {
        border: 1px solid get-border-color('primary');
        background: get-background-color('primary--hover-dark');
    }

    &__image {
        height: get-height('image', 'em');
        line-height: get-height('image', 'em');
        width: get-width('image', 'em');
        margin-right: get-spacing('md', 'em');
        flex-shrink: 0;

        & img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: top;
            border-radius: $border-radius;
        }
    }

    &__content {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;

        &__header {
            display: flex;
            align-items: center;
            width: 100%;
            & > * {
                @include text-overflow();
            }
        }

        &__description {
            height: get-height('sm', 'em');
            @include text-overflow();
            font-size: get-font-size('body-regular', 'em');
            padding: get-spacing('xs', 'em') 0;
        }

        &__footer {
            width: 100%;
            margin-right: get-spacing('sm', 'em');
            font-size: get-font-size('body-small', 'em');
            letter-spacing: rescale(
                to-em(0.25px),
                1em,
                get-font-size('body-small', 'em')
            );
            color: get-text-color('low-emphasis');
            display: flex;

            &__left {
                flex-shrink: 0;
                max-width: 50%;
                @include text-overflow();
            }
            &__right {
                flex: 1;
                padding-left: get-spacing('sm', 'rem');
                @include text-overflow();
            }
        }
    }

    &__tags {
        white-space: nowrap;
        overflow: hidden;
        width: calc(
            20% - #{get-width('icon', 'em')} - #{get-spacing('xs', 'em')}
        );
        height: 100%;
        text-align: center;
        margin-left: get-width('card--caption', 'em');
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:hover {
            overflow-y: auto;
        }

        & .smss-tag {
            margin: get-spacing('xs', 'em') get-spacing('sm', 'em')
                get-spacing('xs', 'em') 0;
            max-width: 100%;
        }
    }

    &__users {
        width: calc(
            20% - #{get-width('icon', 'em')} - #{get-spacing('xs', 'em')}
        );
        display: flex;
        justify-content: center;

        &__user {
            height: get-height('circle', 'em');
            width: get-width('circle', 'em');
            margin-left: calc(-1 * #{get-spacing('xs', 'em')});
            border-radius: 50%;
            background: white;
            border: 1px solid get-border-color('dark');

            &:first-child {
                margin: 0;
            }
        }
    }

    &__favorite {
        flex-shrink: 0;
        & .fa-star-o {
            display: none;
        }
        & button:focus-visible .fa-star-o {
            display: inline-block;
        }
    }

    &__action {
        flex-shrink: 0;
    }
}

/* ** End - Card ** */

/**********************************************OLD************************************************************************/

/* ** Start - Comment ** */

.smss-comment-container {
    width: auto;
    height: auto;
    background-color: #e7e7e7;
    color: #000000;
    padding: 4px;
    margin: 0px;
    z-index: 6;
    border-radius: 5px;
    cursor: default;
}

.smss-comment {
    background: get-background-color('default');
    padding: 8px;
    height: 100%;
    width: 100%;
    min-width: 240px;
}

.smss-comment-header-section {
    width: 100%;
    height: 24px;
    display: inline-block;
    font-family: sans-serif;
}

.smss-comment-title {
    font-weight: 600;
    display: inherit;
    width: calc(100% - 16px);
    padding-left: 2px;
    @include text-overflow();
}

.smss-comment-exit-btn {
    display: inherit;
    float: right;
    width: 16px;
    color: #ba2828;
    text-align: center;
    cursor: pointer;
}

.smss-comment-exit-btn:hover {
    @include transition();
    background: #bfbfbf;
    opacity: 1;
}

.smss-comment-checkbox {
    width: 100%;
    display: block;
}

.smss-comment-radio-container {
    display: inline-block;
    width: 16px;
}

.smss-comment-radio-desc {
    display: inline-block;
    width: calc(100% - 20px);
    padding-left: 8px;
    padding-bottom: 4px;
    @include text-overflow();
}

.smss-comment-submit-section {
    width: 100%;
    text-align: center;
}

.smss-comment-textarea-container {
    width: 100%;
    display: block;
    height: auto;
}

.smss-comment-mini {
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

.smss-comment-popout {
    border-radius: 5px;
    background-color: #e7e7e7;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    pointer-events: none;
}
