<div class="pipeline-compiler">
    <smss-scroll class="pipeline-compiler__scroll">
        <widget-compiler
            ng-if="pipelineCompiler.json.updated"
            json="pipelineCompiler.json.updated"
            widget-id="widgetCtrl.widgetId"
            register="pipelineCompiler.registerCompiler(scope)"
        >
        </widget-compiler>
    </smss-scroll>
    <div class="smss-action">
        <smss-btn
            class="smss-btn--text"
            ng-click="pipelineComponentCtrl.closeComponent()"
            class="smss-btn--text"
        >
            Cancel
        </smss-btn>
        <smss-btn
            class="smss-btn--text"
            ng-click="pipelineCompiler.previewCompiler(true)"
            ng-show="pipelineComponentCtrl.data.showPreview"
            class="smss-btn--outline"
        >
            Preview
        </smss-btn>
        <smss-btn
            ng-disabled="!pipelineCompiler.json.valid"
            ng-click="pipelineCompiler.executeCompiler()"
        >
            Execute
        </smss-btn>
        <smss-btn
            ng-if="pipelineCompiler.visualize"
            ng-disabled="!pipelineCompiler.json.valid"
            ng-click="pipelineCompiler.executeCompiler(true)"
        >
            Visualize
        </smss-btn>
    </div>
</div>
