<div class="manualformula">
    <div class="manualformula__menu">
        <div class="manualformula__menu__search">
            <smss-search
                model="manualformula.rendered.search"
                change="manualformula.searchMenu()"
            >
            </smss-search>
        </div>
        <div
            class="manualformula__menu__wrapper smss-collapsible-group"
            id="manualformula_options"
        >
            <smss-collapsible
                ng-repeat="group in manualformula.rendered.searched track by $index"
                ng-show="group.options.length > 0"
                ng-init="group.open = true"
                model="group.open"
            >
                <smss-collapsible-header
                    >{{group.name}}</smss-collapsible-header
                >
                <smss-collapsible-content>
                    <div
                        ng-repeat="option in group.options track by $index"
                        id="{{option.id}}"
                        class="manualformula__menu__group__content__option"
                        ng-class="{
                        'manualformula__menu__group__content__option--value': option.type === 'value', 
                        'manualformula__menu__group__content__option--expression': option.type === 'expression', 
                        'manualformula__menu__group__content__option--function': option.type === 'function',
                        'manualformula__menu__group__content__option--group': option.type === 'group',
                        'manualformula__menu__group__content__option--conditional': option.type === 'conditional'
                    }"
                        menu="{{$parent.$index}}-{{$index}}"
                        draggable="true"
                    >
                        <!-- Disabling Drag from Manual Window , to be enabled with next iteration along with the implementation of AutoSuggestion -->
                        <span>{{option.name}}</span>
                    </div>
                </smss-collapsible-content>
            </smss-collapsible>
        </div>
    </div>
    <!-- Manual Calculation -->
    <div class="manualformula__manual">
        <h6 class="smss-text manualformula__manual__queryheader">
            Enter Formula for New Column
            <div class="smss--icon smss-color--primary">
                <smss-btn
                    class="manualformula__manual__clear smss-btn--text"
                    ng-click="manualformula.clearQuery()"
                >
                    <i
                        class="fa fa-repeat"
                        aria-hidden="true"
                        style="margin: 0; line-height: 0"
                    ></i>
                    Clear
                </smss-btn>
            </div>
        </h6>
        <!--  The container for the Editor -->
        <div
            id="manualformula__manual__editor"
            class="manualformula__manual__editor"
        ></div>
    </div>
</div>
