<smss-scroll static-x="true">
    <smss-field>
        <content>
            <smss-checkbox
                model="editYAxis.title.show"
                change="editYAxis.execute()"
            >
                Show Y-Axis Title
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field ng-if="editYAxis.title.show">
        <label>Y-Axis Title</label>
        <content>
            <smss-input
                type="text"
                ng-model="editYAxis.title.name"
                ng-change="editYAxis.updateTitle()"
            >
            </smss-input>
        </content>
    </smss-field>

    <smss-field ng-if="editYAxis.title.show">
        <label>Y-Axis Title Gap (px)</label>
        <content>
            <smss-slider
                model="editYAxis.nameGap"
                change="editYAxis.updateNameGap()"
                min="0"
                max="100"
                sensitivity="1"
                numerical
            >
            </smss-slider>
        </content>
    </smss-field>

    <smss-field>
        <content>
            <smss-checkbox model="editYAxis.line" change="editYAxis.execute()">
                Show Y-Axis Line
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field ng-show="editYAxis.line">
        <content>
            <smss-checkbox
                model="editYAxis.showTicks"
                change="editYAxis.execute()"
            >
                Show Y-Axis Line Ticks
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field>
        <content>
            <smss-checkbox
                model="editYAxis.values"
                change="editYAxis.execute()"
            >
                Show Y-Axis Values
            </smss-checkbox>
        </content>
    </smss-field>

    <smss-field ng-if="editYAxis.layout === 'HeatMap'">
        <content>
            <smss-checkbox
                model="editYAxis.format.wordWrap"
                change="editYAxis.execute()"
            >
                Wrap Y-Axis Labels
            </smss-checkbox>
        </content>
    </smss-field>

    <div ng-if="editYAxis.values">
        <smss-field>
            <label>Rotate Y-Axis Values</label>
            <content>
                <smss-slider
                    model="editYAxis.rotate"
                    change="editYAxis.updateRotate()"
                    min="0"
                    max="360"
                    sensitivity="1"
                    numerical
                >
                </smss-slider>
            </content>
        </smss-field>

        <smss-field ng-if="editYAxis.layout === 'HeatMap'">
            <label>Maximum length (characters)</label>
            <content>
                <smss-slider
                    model="editYAxis.format.maxLength"
                    ng-if="editYAxis.layout === 'HeatMap'"
                    change="editYAxis.updateRange()"
                    min="1"
                    max="40"
                    sensitivity="1"
                    numerical
                >
                </smss-slider>
            </content>
        </smss-field>

        <smss-field>
            <label>Prepend Value to Label</label>
            <content>
                <smss-input
                    type="text"
                    ng-change="editYAxis.execute()"
                    ng-model="editYAxis.format.prepend"
                >
                </smss-input>
            </content>
        </smss-field>

        <smss-field>
            <label>Append Value to Label</label>
            <content>
                <smss-input
                    type="text"
                    ng-change="editYAxis.execute()"
                    ng-model="editYAxis.format.append"
                >
                </smss-input>
            </content>
        </smss-field>

        <smss-field>
            <label>Format</label>
            <content>
                <smss-dropdown
                    display="display"
                    value="value"
                    model="editYAxis.format.type"
                    options="editYAxis.formatOptions.type.list"
                    change="editYAxis.execute()"
                >
                </smss-dropdown>
            </content>
        </smss-field>

        <smss-field>
            <label>Number Delimiter</label>
            <content>
                <smss-dropdown
                    display="display"
                    value="value"
                    model="editYAxis.format.delimiter"
                    options="editYAxis.formatOptions.delimiter.list"
                    change="editYAxis.execute()"
                >
                </smss-dropdown>
            </content>
        </smss-field>
    </div>

    <div
        ng-if="editYAxis.layout !== 'HeatMap' && editYAxis.layout !== 'Bullet'"
    >
        <smss-field>
            <content>
                <smss-checkbox
                    model="editYAxis.min.show"
                    change="editYAxis.min.show != editYAxis.min.show;editYAxis.execute();"
                >
                    Specify Y-Axis Min
                </smss-checkbox>
            </content>
        </smss-field>
        <smss-field ng-if="editYAxis.min.show">
            <label>Y-Axis Min</label>
            <content>
                <smss-input
                    type="number"
                    ng-model="editYAxis.min.value"
                    placeholder="Enter Minimum Value"
                    ng-change="editYAxis.updateRange()"
                >
                </smss-input>
            </content>
        </smss-field>
    </div>

    <div
        ng-if="editYAxis.layout !== 'HeatMap' && editYAxis.layout !== 'Bullet'"
    >
        <smss-field>
            <content>
                <smss-checkbox
                    model="editYAxis.max.show"
                    change="editYAxis.max.show != editYAxis.max.show;editYAxis.execute()"
                >
                    Specify Y-Axis Max
                </smss-checkbox>
            </content>
        </smss-field>
        <smss-field ng-if="editYAxis.max.show">
            <label>Y-Axis Max</label>
            <content>
                <smss-input
                    type="number"
                    ng-model="editYAxis.max.value"
                    placeholder="Enter Maximum Value"
                    ng-change="editYAxis.updateRange()"
                >
                </smss-input>
            </content>
        </smss-field>
    </div>

    <div class="smss-action">
        <smss-btn ng-click="editYAxis.resetTool()"> Reset </smss-btn>
    </div>
</smss-scroll>
