<smss-overlay
    class="edit-project"
    ng-if="editProject.open"
    open="editProject.open"
    exit="editProject.open = false; editProject.resetDescription();"
    size="lg"
>
    <smss-overlay-header>
        <span ng-if="!editProject.showDescriptionScreen">
            Settings for {{editProject.project.project_name ||
            replaceUnderscores}}
        </span>
        <span ng-if="editProject.showDescriptionScreen">
            Generate Descriptions for {{editProject.project.project_name ||
            replaceUnderscores}}
        </span>
    </smss-overlay-header>
    <smss-overlay-body>
        <div
            ng-if="!editProject.showDescriptionScreen"
            class="edit-project__container"
        >
            <smss-field>
                <label> Project name </label>
                <content>
                    <smss-input
                        ng-model="editProject.name.new"
                        autofocus
                        disabled
                    ></smss-input>
                </content>
            </smss-field>
            <smss-field>
                <label> Description </label>
                <content>
                    <smss-textarea
                        ng-model="editProject.description.new"
                    ></smss-textarea>
                    <span
                        title="{{editProject.packagesInstalled ? 'Auto Generate Description' : 'The following R package is missing: gpt2'}}"
                    >
                        <smss-btn
                            class="edit-project__generate-btn smss-btn--text smss-btn--compact"
                            ng-click="editProject.openDescriptionScreen();"
                            ng-disabled="!editProject.packagesInstalled"
                        >
                            Auto Generate Description
                        </smss-btn>
                    </span>
                </content>
            </smss-field>
            <smss-field>
                <label> Tags </label>
                <content>
                    <smss-multiselect
                        model="editProject.tags.new"
                        options="editProject.tags.old"
                        colored
                    ></smss-multiselect>
                </content>
                <description> Press the Enter key to add a tag. </description>
            </smss-field>
            <smss-field>
                <label> Image </label>
                <content>
                    <div class="edit-project__image">
                        <upload-image image="editProject.image"></upload-image>
                        <smss-btn
                            class="smss-btn--error smss-btn--compact"
                            ng-click="editProject.deleteProjectImage()"
                            >Delete</smss-btn
                        >
                    </div>
                </content>
            </smss-field>
        </div>
        <div
            ng-if="editProject.showDescriptionScreen"
            class="edit-project__auto-desc"
        >
            <loading-screen
                model="editProject.loadingDesc"
                close="editProject.resetDescription(false)"
            ></loading-screen>
            <div class="smss-small smss-color--low-emphasis">
                This will auto generate descriptions for your project based on
                its data. Note: increasing the number of descriptions will
                increase the time to generate.
            </div>
            <smss-field>
                <label>Number of Descriptions:</label>
                <content>
                    <smss-input
                        ng-model="editProject.numDesc"
                        type="number"
                        min="1"
                    ></smss-input>
                </content>
            </smss-field>
            <smss-btn
                class="smss-btn--outline"
                ng-click="editProject.getDescriptions()"
                >Generate</smss-btn
            >
            <smss-field class="edit-project__auto-desc__results">
                <label
                    >Results
                    <span>({{editProject.generatedDescriptions.length}})</span
                    >:</label
                >
                <content>
                    <div
                        ng-if="editProject.generatedDescriptions.length"
                        class="edit-project__auto-desc__results__scroll"
                    >
                        <div
                            ng-repeat="description in editProject.generatedDescriptions track by $index"
                            class="edit-project__auto-desc__results__row"
                        >
                            <smss-radio
                                model="editProject.selectedDesc"
                                value="{{description}}"
                            >
                            </smss-radio>
                            <smss-textarea
                                ng-model="description"
                                ng-focus="editProject.descriptionChanged(description)"
                                ng-change="editProject.descriptionChanged(description)"
                            ></smss-textarea>
                        </div>
                    </div>
                    <div
                        ng-if="!editProject.generatedDescriptions.length"
                        class="smss-small smss-color--low-emphasis"
                    >
                        No descriptions generated. Click "Generate" above to get
                        results.
                    </div>
                </content>
            </smss-field>
        </div>
    </smss-overlay-body>
    <smss-overlay-footer>
        <div ng-if="!editProject.showDescriptionScreen">
            <smss-btn class="smss-btn--text" ng-click="editProject.cancel()"
                >Cancel</smss-btn
            >
            <smss-btn ng-click="editProject.save()">Save</smss-btn>
        </div>
        <div ng-if="editProject.showDescriptionScreen">
            <smss-btn
                class="smss-btn--text"
                ng-click="editProject.resetDescription()"
                >Back</smss-btn
            >
            <smss-btn
                ng-click="editProject.submitDescription()"
                ng-disabled="editProject.selectedDesc.length === 0"
                >Select</smss-btn
            >
        </div>
    </smss-overlay-footer>
</smss-overlay>
