<div id="dhmsm-grid-" class="absolute-size full-height full-width overflow-auto">
    <hot-table class="full-width"
               hot-id="dhmsm-grid-"
               settings="dhmsmGrid.settings"
               datarows="dhmsmGrid.tableData">
        <hot-column ng-repeat="header in dhmsmGrid.tableHeaders track by $index" data="{{header.filteredTitle}}"
                    title="header.filteredTitle">
        </hot-column>
    </hot-table>
</div>
<div class="border-top"
     style="position: absolute; left: 0px;height: 37px;right: 0;bottom: 0;background-color: white;z-index: 3;"
     ng-show="dhmsmGrid.layout !== 'create' && dhmsmGrid.loadMore">
    <span class="pull-right xs-margin">
        <i>*not all rows showing</i>
        <button class="sm-btn btn-green" ng-click="dhmsmGrid.addMoreRows();">Load 500 More</button>
    </span>
</div>
