<div ng-show="chartCtrl.showMapToggle" class="sidebarContainer">
    <loading-screen loading-screen-show="chartCtrl.loadScreen"></loading-screen>
    <div id="sidebarContentArea" class="sidebarContentArea">
        <div id="resizerLeft" class="sidebarContentLeft dhmsm-grid">
            <div class="timeline-sidebar-title text-center">Current Year Savings by System</div>
            <div class="contentScrollRegion">
                <table ng-table="chartCtrl.tableParams" show-filter="true" class="table">
                    <tr ng-repeat="system in $data track by $index">
                        <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }"
                            header-class="text-center">
                            {{system.name | shortenValueFilter | replaceUnderscores}}
                        </td>
                        <td id="tableCostColumn" data-title="chartCtrl.costTitle" sortable="'totalSystemCost'"
                            filter="{ 'totalSystemCost': 'text' }" header-class="text-center" class="text-right">
                            {{system.totalSystemCost}}
                        </td>
                        <td data-title="'Aggregated Status'" sortable="'aggregatedStatus'"
                            filter="{ 'aggregatedStatus': 'text' }" header-class="text-center" class="text-center">
                            <span ng-show="system.aggregatedStatus === 'Not Started'" class="label label-danger">{{system.aggregatedStatus}}</span>
                            <span ng-show="system.aggregatedStatus === 'In Progress'" class="label label-warning">{{system.aggregatedStatus}}</span>
                            <span ng-show="system.aggregatedStatus === 'Decommissioned'" class="label label-success">{{system.aggregatedStatus}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div id="timeline-sidebarFooter"></div>
</div>

<!-- Resizer bar -->
<div class="ntwk-resizer dhmsm-resizer" ng-show="chartCtrl.showMapToggle" id="sidebar-resizer-" resizer="'vertical'" resizer-width="3"
     resizer-left="'resizerLeft'" resizer-right="'resizerRight'"></div>

<!-- TODO: set up the smss grids -->
<div ng-if="chartCtrl.showSystemAnalysisToggle" id="system-analysis-table" style="height: 100%">
    <dhmsm-grid data="chartCtrl.systemAnalysisData"
               editable="false">
    </dhmsm-grid>
</div>

<div ng-if="chartCtrl.showSiteAnalysisToggle" id="site-analysis-table" style="height: 100%">
    <dhmsm-grid data="chartCtrl.siteAnalysisData"
               editable="false">
    </dhmsm-grid>
</div>