@import '~theme';
$nav-item: 36px;
.landing-nav {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &__top {
        background: get-background-color('default');
        border-radius: $border-radius;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 70%;
        margin-bottom: get-spacing('md', 'rem');
    }
    &__bottom {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    &__collapse {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        background: get-background-color('default');
        border-radius: $border-radius;
        & .smss-collapsible__header {
            border-top: none;
            & h6 {
                font-size: get-font-size('h4', 'rem');
                font-weight: get-font-weight('bold');
                text-transform: initial;
                line-height: $nav-item;
            }
        }
        & .smss-collapsible__content {
            overflow: hidden;
            padding: 0;
            flex: 1;
        }
        & .smss-checklist {
            & .smss-checklist__list {
                border: none;
            }
        }
        & .smss-collapsible__header--closed {
            border-bottom: none;
        }
    }

    &__scroll {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        & .smss-search {
            margin: 0 get-spacing('md', 'rem');
        }
        &__content {
            flex: 1;
            overflow: hidden;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid get-border-color('default');
        flex-shrink: 0;
        gap: get-spacing('xs', 'rem');
    }

    &__item {
        padding: 0 get-spacing('scroll', 'rem');
        height: $nav-item;
        line-height: calc(#{$nav-item} - 2px);
        border-right: 2px solid transparent;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        outline: none;
        flex-shrink: 0;
        &--selected {
            border-right: 2px solid get-border-color('primary');
        }
        &--opened {
            border-bottom: 1px solid get-border-color('default');
        }
        &--all {
            padding-right: get-spacing('xs', 'rem');
        }
        & h4 {
            display: flex;
            align-items: center;
            line-height: inherit;
            color: get-text-color('medium-emphasis');
            & i {
                font-size: get-height('icon--compact', 'rem');
                margin-right: get-spacing('sm', 'rem');
            }
            & svg {
                width: auto;
                height: get-height('icon--compact', 'rem');
                fill: get-text-color('medium-emphasis');
                margin-right: get-spacing('sm', 'rem');
            }
        }
        & .smss-btn i {
            font-size: get-font-size('body-small', 'rem');
        }
        &:first-child {
            border-radius: $border-radius $border-radius 0 0;
            border-top: none;
        }
        &:last-child {
            border-radius: 0 0 $border-radius $border-radius;
        }
        &:hover {
            background: get-background-color('primary--hover');
            cursor: pointer;
        }
        &:focus-visible {
            border-bottom: $border-size solid get-border-color('primary');
        }
    }
    &__projects {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $nav-item;
        line-height: $nav-item;
        border: $border-size solid transparent;
        border-radius: $border-radius;

        &:hover {
            background: get-background-color('primary--hover');
            cursor: pointer;
        }

        &:focus-visible {
            outline: none;
            border-color: get-border-color('primary');
        }

        &--selected {
            background: get-background-color('primary--hover');
        }

        &__text {
            @include text-overflow();
            font-size: get-font-size('body-regular', 'rem');
            & i {
                margin: 0 get-spacing('sm', 'rem');
            }
        }
        &__button {
            flex-shrink: 0;
            color: get-text-color('medium-emphasis');
        }
    }

    &__empty {
        min-height: 100px;
        padding: get-spacing('sm', 'rem') get-spacing('scroll', 'rem');
    }
}
