@import '~theme';
.dashboard-button-dimensions {
    &__eventOption {
        @include disabled();
    }

    &__style {
        &__inline {
            display: flex;
            align-items: center;
            &__ele {
                width: calc(50% - #{get-spacing('sm', 'em') / 2});
                &:first-child {
                    margin-right: get-spacing('sm', 'em');
                }
            }
        }
        &__width {
            margin-left: 2 * get-spacing('sm', 'em');
        }
    }
}
