@import '~theme';

$pipeline-padding: 20px;

.pipeline-query {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;

    &__top {
        padding: get-spacing('sm', 'rem') $pipeline-padding $scroll-size
            $pipeline-padding; // top padding already has 4px inherited
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__field {
            margin-bottom: 0;
            .smss-field__content {
                width: 180px;
            }

            .smss-field__label {
                width: auto;
                margin: 0;
                color: get-text-color('high-emphasis');
                font-size: get-font-size('h3', 'rem');
                font-weight: get-font-weight('regular');
                line-height: get-height('md', 'rem');
                height: get-height('md', 'rem');
            }

            &__dropdown {
                width: 100%;
            }
        }

        &__times {
            cursor: pointer;
            &:hover {
                color: get-text-color('primary');
            }
        }
    }

    &__content {
        flex: 1;
        position: relative;
        width: 100%;
        overflow: hidden;
        border-top: 1px solid get-border-color('default');

        &__right {
            position: absolute;
            top: 0;
            left: 30%;
            width: 70%;
            height: 100% !important; //need to make it important because there is a slight difference (not sure why)
            padding: 0; //removed extra padding here to account for padding from smss-scroll on the right
            border-left: 1px solid get-border-color('default');
            border-bottom: 1px solid get-border-color('default');
            display: flex;
            flex-direction: column;

            background: get-background-color('default');
            & .smss-scroll__inner {
                padding-left: 0 !important;
                padding-top: 0;
            }
            & .smss-collapsible:first-child .smss-collapsible__header {
                border-top: none;
            }

            &__editor {
                position: relative;
                margin: 0 $pipeline-padding $pipeline-padding $pipeline-padding;
                height: 100%;
                z-index: 1;
                outline: none;
                background-color: transparent;
                color: get-text-color('default');
                border: 1px solid get-border-color('default');
            }

            &__action {
                display: flex;
                margin-left: get-spacing('md', 'rem');
                & > *:first-child {
                    margin-right: get-spacing('sm', 'rem');
                }
            }
        }

        &__left {
            position: absolute;
            top: 0;
            right: 70%;
            bottom: 0;
            left: 0;
            background: get-background-color('default');
            border-bottom: 1px solid get-border-color('default');

            &__view {
                position: relative;
                height: 100%;
                width: 100%;
                outline: none;
            }
        }
    }

    &__available {
        &__search {
            display: flex;
            align-items: center;
            padding: 0 $pipeline-padding;
            justify-content: space-between;
            &--header {
                height: get-height('icon--nav', 'rem');
                color: get-text-color('high-emphasis');
                background: get-background-color('default');
                z-index: 1;
                position: relative;
            }
        }

        &__queryheader {
            display: flex;
            align-items: center;
            padding: 0 $pipeline-padding;
            justify-content: flex-start;
            &--header {
                height: get-height('icon--nav', 'rem');
                color: get-text-color('high-emphasis');
                background: get-background-color('default');
                z-index: 1;
                position: relative;
            }
        }

        &__scroll {
            height: calc(
                100% - #{get-height('icon--nav', 'rem')} - #{get-height(
                        'default',
                        'rem'
                    )}
            );
        }

        &__table {
            outline: none;
            padding: get-spacing('sm', 'rem');

            & th {
                border-color: get-accent-color('blue--light--hover');
                border-bottom: none;
                background-color: get-background-color('primary--hover');
            }

            & td {
                border-color: get-accent-color('blue--light--hover');
            }

            & th:not(:last-child),
            td:not(:last-child) {
                border-right: none;
            }

            & tr:not(:last-child) > td {
                border-bottom: none;
            }

            &__col-4 {
                width: 20%;
            }

            &__row {
                cursor: pointer;
                outline: none;

                &:hover {
                    background: get-background-color('light');
                }
            }

            &--closed {
                & tr:first-child > th {
                    border-bottom: 1px solid
                        get-accent-color('blue--light--hover');
                }
                & tr:first-child > th:first-child {
                    border-bottom-left-radius: $border-radius;
                }

                & tr:first-child > th:last-child {
                    border-bottom-right-radius: $border-radius;
                }
            }
        }
    }

    &__advanced {
        &__popover {
            width: 200px;
        }
    }

    &__actions {
        & > :first-child {
            margin-left: $pipeline-padding !important;
        }
        & > :nth-child(2) {
            margin-left: auto !important;
        }

        & > :last-child {
            margin-right: $pipeline-padding !important;
        }
    }

    &__overlay {
        z-index: 8600;

        &--filter {
            & .smss-overlay__wrapper {
                width: 100%;
                height: 100%;
                max-height: 100%;
                padding: 0 get-spacing('scroll', 'rem');
                border-radius: 0;
            }
        }
    }
}
