<smss-scroll static-x="true">
    <p class="smss-spacing">
        Place values of numerical columns into binned ranges.
    </p>
    <smss-field>
        <label> Choose Column to Discretize: </label>
        <content>
            <smss-dropdown
                display="alias"
                value="alias"
                model="descretize.descretizeColumn"
                options="descretize.headers"
                change="descretize.getMinMax()"
                placeholder="Select a Column"
            >
            </smss-dropdown>
        </content>
        <description>
            A new column showing results will be created (original values will
            not be replaced).
        </description>
    </smss-field>
    <smss-field>
        <content>
            <smss-toggle
                model="descretize.setCustomBins"
                change="descretize.getMinMax()"
            >
                Define custom bins
            </smss-toggle>
        </content>
    </smss-field>
    <div ng-if="descretize.setCustomBins">
        <h4>Set Bin Values</h4>
        <div class="smss-small">
            Insert new breakpoints between the min and max value of the selected
            column.
        </div>

        <!-- min value of breaks -->
        <smss-field class="smss-row" inline>
            <label class="smss-col smss-col--3"> Min: </label>
            <content class="smss-col smss-col--9">
                <div class="smss-text">{{descretize.minValue}}</div>
            </content>
        </smss-field>

        <!-- added break values -->
        <div class="smss-row" ng-repeat="val in descretize.customBreaks" inline>
            <div class="smss-col smss-col--3">&nbsp;</div>
            <div
                class="smss-col smss-col--9 clean-discretize__flex clean-discretize__flex--margin-bottom"
            >
                <div class="smss-text clean-discretize__flex__fill">
                    {{val}}
                </div>
                <smss-btn
                    class="smss-btn--icon"
                    ng-click="descretize.removeBreakValue(val)"
                >
                    <i class="fa fa-times smss-color--error"></i>
                </smss-btn>
            </div>
        </div>

        <!-- max value of breaks -->
        <smss-field class="smss-row" inline>
            <label class="smss-col smss-col--3"> Max: </label>
            <content class="smss-col smss-col--9">
                <div class="smss-text">{{descretize.maxValue}}</div>
            </content>
        </smss-field>

        <!-- add new values -->
        <smss-field class="smss-row" inline>
            <label class="smss-col smss-col--3"> New break point: </label>
            <content class="smss-col smss-col--9 clean-discretize__flex">
                <smss-input
                    class="clean-discretize__flex__fill"
                    type="number"
                    ng-model="descretize.newBreakValue"
                >
                </smss-input>

                <smss-btn
                    class="smss-btn--icon"
                    ng-click="descretize.addNewBreak()"
                >
                    <i class="fa fa-plus smss-color--success"></i>
                </smss-btn>
            </content>
        </smss-field>

        <!-- labels for each bin range -->
        <h4>Edit Bin Labels</h4>
        <smss-field
            class="smss-row"
            ng-repeat="val in descretize.customRanges"
            inline
        >
            <label class="smss-col smss-col--6"> {{val}} </label>
            <content class="smss-col smss-col--6">
                <smss-input
                    type="text"
                    ng-model="descretize.customLabels[$index]"
                >
                </smss-input>
            </content>
        </smss-field>
    </div>
    <div class="smss-action">
        <smss-btn
            class="smss-btn--text"
            ng-if="descretize.PIPELINE"
            ng-click="pipelineComponentCtrl.closeComponent()"
            >Cancel</smss-btn
        >
        <smss-btn ng-click="descretize.execute();">Execute</smss-btn>
    </div>
</smss-scroll>
