.deployment-map-buttons {
    width: 145px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
}

.deployment-selection-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 2px;
}

.deployment-map-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.dhmsm-overall-select {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.dhmsm-region-select {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.dhmsm-config-table-disabled {
    background-color: #f4f4f4;
}

.deployment-config-table {
    border: 1px solid #ccc;
}

.dhmsm-map-base-layer {
    text-align: center;
    padding: 15px;
}

.dhmsm-grid {
    width: 35%;
}

.dhmsm-resizer {
    left: 35%;
}

/*Bootstrap Slider Overrides*/
.slider-selection {
    background-image: linear-gradient(to bottom,#f9f9f9 0,#0c4ba2 100%) !important;
}

.slider-handle {
    background-image: linear-gradient(to bottom,#149bdf 0,#0c4ba2 100%) !important;
}