@import '~theme';
.attribute-importance {
    height: 100%;
    width: 100%;
    padding: get-spacing('sm', 'em') $scroll-size;
    display: flex;
    flex-direction: column;
    &__selection {
        display: flex;
        justify-content: space-between;
        &__dropdown {
            flex: 1;
            margin-right: get-spacing('sm', 'em');
        }
        &__button {
            flex-shrink: 0;
        }
    }
    &__chart {
        flex: 1;
        width: 100%;
        margin-top: get-spacing('sm', 'em');
    }
}
