.create-free-text-backdrop {
    z-index: 1000;
    background-color: #000;
    opacity: 0.5;
}

.create-free-text-wrapper {
    top: 5%;
    left: 10%;
    bottom: 5%;
    right: 10%;
    z-index: 1010;
    background-color: white;
}

.create-free-text-content {
    bottom: 52px;
    top: 40px;
}

.create-free-text-content.web-source {
    top: 80px;
}
.form-control.web-source {
    display: inline-block;
    width:auto;
}

.create-free-text-form-control {
    width: 20%;
    outline: 0;
    border-color: #DCDCDC;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.create-free-text-dropdown {
    border-bottom: 1px solid #ccc;
}

.create-free-text-data-selection {
    bottom: 55px;
}

.create-free-text-content textarea {
    resize: none;
}

.create-free-text-drop {
    top: -30px;
    right: 0;
}

.create-free-text-connections {
    left: 0;
    right: 0;
    bottom: 0;
    height: 55px;
}

.create-free-text-footer {
    height: 52px;
    background-color: white;
}

.create-free-text-hide{
    width: 40px;
}

.create-free-text-name{
    width: calc(100% - 255px);
    height: 14px;
}

.create-free-text-type{
    width: 205px;
}