@import '~theme';

.document-summary {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    &__drop {
        flex: 1;
        & .smss-field {
            display: flex;
            flex-direction: column;
            height: 100%;
            & .smss-field__content {
                flex: 1;
            }
        }
        &__container {
            width: 100%;
            min-height: 100px;
            height: 100%;
        }
    }
}
