@import '~theme';

.edit-insight {
    &__image {
        display: flex;
        align-items: center;
        & .smss-btn {
            margin-left: get-spacing('sm', 'rem');
        }
    }

    &__radio-label {
        display: flex;
        align-items: center;
        white-space: pre;
    }

    &__toggle-label {
        display: flex;
        align-items: center;
        white-space: pre;
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .smss-search {
            margin-right: get-spacing('sm', 'rem');
            width: 50%;
        }
    }

    &__cache-expiration {
        border-top: 1px solid var(--color-grey-5);
        margin-top: 10px;
        margin-right: 10px;
        background: var(--color-white);
        padding-top: 15px;
        padding-right: 10px;
        // padding: 10px;
        // padding-left: 10px;
    }

    &__interval {
        margin-bottom: 10px;
    }

    &__cache-expiration-label {
        font-size: 0.805em;
        font-weight: 600;
        display: block;
        height: 1.14286em;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.14286em;
        letter-spacing: 0.00937em;
        color: var(--color-grey-2);
        margin-bottom: 0.57143em;
    }

    &__section {
        &__header {
            height: get-height('lg', 'rem');
            padding: 0 get-spacing('md', 'rem');
            & h6 {
                color: get-text-color('medium-emphasis');
                line-height: get-height('lg', 'rem');
            }
            &__role {
                padding-left: calc(
                    #{$border-size} + #{get-spacing('scroll', 'rem')}
                );
            }
        }
        & .smss-collapsible__content {
            padding: 0;
        }
        & .smss-collapsible__header__text {
            text-transform: capitalize;
        }
        & .smss-col {
            @include text-overflow();
            font-size: get-font-size('body-regular', 'rem');
        }

        & .smss-row {
            height: get-height('block', 'rem');
            line-height: get-height('block', 'rem');
            width: 100%;
            overflow: hidden;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            padding: 0 get-spacing('md', 'rem');
            display: flex;
            align-items: center;
            &:not(:last-child) {
                border-bottom-color: get-border-color('default');
            }
        }
    }

    &__new {
        &__member {
            display: flex;
            align-items: center;
            height: get-height('default', 'rem');

            & .smss-btn {
                display: none;
                margin-left: get-spacing('sm', 'rem');
            }
            &:hover .smss-btn {
                display: inline-block;
            }
        }
        &__add {
            display: flex;
            align-items: center;
            & .smss-dropdown {
                width: calc(50% - #{get-width('icon', 'rem')});
                margin-right: get-spacing('sm', 'rem');
            }
        }
        &__dismiss {
            cursor: pointer;
            color: get-text-color('primary');
        }
    }
}
