@import '~theme';

.create-project {
    & .smss-overlay__wrapper {
        height: 80%;
        width: 100%;
        max-width: 600px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__image {
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        & .smss-btn {
            margin-left: get-spacing('sm', 'rem');
        }

        &__display {
            border-radius: 4px;
            width: 64px;
            height: 64px;
            overflow: hidden;
            position: relative;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__upload {
        .smss-file__action {
            font-size: get-font-size('body-regular', 'rem');
        }

        p {
            margin-bottom: get-spacing('sm', 'em');
        }
    }

    &__fields {
        flex-grow: 1;
    }

    &__advanced {
        padding: get-spacing('sm', 'em') 0;
    }

    &__visibility {
        display: flex;
        align-items: flex-start;

        .smss-radio {
            margin-left: get-spacing('md', 'rem');
            width: auto;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
