<div
    id="panel--{{panel.panelId}}"
    class="panel"
    ng-class="{
         'panel--hidden': panel.hidden, 
         'panel--inactive': panel.selected || panel.presentation, 
         'panel--maximized': panel.maximized 
        }"
    ng-click="$event.stopPropagation(); panel.selectPanel('move');"
    ng-dblclick="$event.stopPropagation(); panel.selectPanel('edit');"
>
    <div
        id="panel__content"
        class="panel__content"
        ng-class="{'panel__content--disable': !panel.selected && !panel.presentation}"
    >
        <div dynamic="panel.getContent()"></div>
    </div>
</div>
