@import '~theme';

.infographic {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 100%;

    &--editing {
        background: get-background-color('default');
    }

    &__edit {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__scroll {
            flex: w1;
        }
    }

    &__group {
        height: auto;
        margin: 0 auto get-spacing('sm', 'em') auto;
        max-width: 600px;
        width: 100%;
        padding: get-spacing('sm', 'em');
        background-color: get-background-color('light');
        border: 1px solid get-border-color('default');

        &__title {
            width: calc(100% - #{get-width('icon', 'em')});
        }
    }

    &__toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0.25;

        &:hover {
            opacity: 1;
        }
    }

    &__font-block {
        display: flex;

        &__checkbox {
            width: 140px;
        }

        &__input {
            width: calc(100% - 148px);
            margin-left: 8px;
        }
    }

    &__loading {
        position: absolute;
        background: get-background-color('default');
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.widget-view:hover .infographic__toggle {
    visibility: visible;
}

/** Old (Need to Keep) **/
.infographic-desc {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
    text-align: center;
    height: 40%;
    width: 100%;
}

.infographic-desc-text {
    bottom: 0px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    padding-bottom: 2.5%;
}

.infographic-value-text-above {
    width: 100%;
    bottom: 0px;
    position: absolute;
    margin-bottom: 9.5%;
}

.infographic-value-text-below {
    width: 100%;
    margin-top: 6.5%;
}

.infographic-value {
    text-align: center;
    text-overflow: ellipsis;
    height: 60%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.infographic-single-output {
    height: 100%;
    width: 100%;
}

.infographic-double-output {
    height: 50%;
    width: 100%;
}

.infographic-triple-output {
    height: 33%;
    width: 100%;
}

.infographic-quadruple-output {
    height: 23%;
    width: 100%;
}

.infographic-calculated-values {
    overflow-y: auto;
    height: 100%;
}
