@import '~theme';

.formula-stem {
    display: flex;
    flex: 1;
    align-items: center;

    &__root {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: get-spacing('sm', 'em');
        right: get-spacing('sm', 'em');
        bottom: get-spacing('sm', 'em');
        left: get-spacing('sm', 'em');
        background: get-background-color('default');
        padding: 2 * get-spacing('sm', 'em');
        font-style: italic;
        color: map-get($text-color, 'low-emphasis');
    }

    &__empty {
        flex: 1;
        min-width: get-width('min', 'em');
        font-size: 0.875em;
        font-style: italic;
        color: map-get($text-color, 'low-emphasis');
    }

    &__leaf {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1;
        padding: get-spacing('sm', 'em') get-spacing('sm', 'em') * 4
            get-spacing('sm', 'em') get-spacing('sm', 'em');
        background: get-background-color('dark');
        border-radius: $border-radius;
        outline: none;
        color: get-text-color('high-emphasis');
        cursor: move;

        &--vertical {
            flex-direction: column;
            align-items: flex-start;

            & > .formula-stem__leaf__input {
                width: 100%;
                margin: get-spacing('sm', 'em') / 2 0;
            }

            & > .formula-stem__leaf__text {
                width: 100%;
                text-align: left;
            }
        }

        &--value {
            background: get-background-color('light');

            & > .formula-stem__leaf__times {
                top: get-spacing('sm', 'em') / 2;
                right: (get-spacing('sm', 'em') / 2) * 3;
            }
        }

        &--expression {
            background: get-accent-color('orange--light');
        }

        &--function {
            background: get-accent-color('purple--light');
        }

        &--group {
            background: get-accent-color('blue--light');
            flex-direction: column;
            align-items: flex-start;

            &:after {
                content: '';
                position: absolute;
                top: get-height('sm', 'em') + 2 * get-spacing('sm', 'em');
                left: get-spacing('sm', 'em') + get-spacing('sm', 'em') / 2;
                bottom: 0;
                border-left: 1px solid get-border-color('dark');
            }

            & > .formula-stem__leaf__input {
                position: relative;
                width: calc(100% - #{get-spacing('sm', 'em') * 2});
                margin: get-spacing('sm', 'em') / 2 0 get-spacing('sm', 'em') /
                    2 get-spacing('sm', 'em') * 2;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -1 * get-spacing('sm', 'em');
                    width: get-spacing('sm', 'em');
                    border-top: 1px solid get-border-color('dark');
                }
            }

            & > .formula-stem__leaf__text {
                width: 100%;
                text-align: left;
            }
        }

        &--conditional {
            background: get-accent-color('teal--light');
            flex-direction: column;
            align-items: flex-start;

            & > .formula-stem__leaf__input {
                position: relative;
                width: calc(100% - #{get-spacing('md', 'em')});
                margin: get-spacing('xs', 'em') 0 get-spacing('xs', 'em')
                    get-spacing('md', 'em');
            }

            & > .formula-stem__leaf__text {
                width: 100%;
                text-align: left;
            }
        }

        &--drag {
            opacity: 0.7;
            outline: 1px dashed get-outline-color('primary');
        }

        &__times {
            position: absolute;
            top: 0;
            right: 1.5 * get-spacing('sm', 'em');
            z-index: 1;
            cursor: pointer;
            color: get-text-color('error');

            &:after {
                font-size: 0.875em;
                font-style: normal;
                font-family: FontAwesome;
                content: '\f00d';
            }

            &:hover {
                color: get-text-color('error--hover');
            }

            &:focus-visible {
                outline: 1px solid get-outline-color('primary');
            }
        }

        &__input {
            display: flex;
            align-items: stretch;
            flex: 1;
            padding: get-spacing('sm', 'em');
            margin: 0 get-spacing('sm', 'em') / 2;
            background: get-background-color('default');
            border: 1px solid get-border-color('default');
            border-radius: $border-radius;
            cursor: default;
        }

        &__text {
            min-width: get-width('min', 'em');
            padding: get-spacing('sm', 'em');
            text-align: center;
        }

        &__value {
            flex: 1;
            min-width: get-width('min', 'em');
            padding: get-spacing('sm', 'em');
            text-align: center;
        }

        &__group {
            display: flex;
            padding-left: get-spacing('sm', 'em') * 2;
        }
    }
}
