<div class="heat-table-container">

    <table ng-if="styling === 'Anthem'" class="anthem anthem-table" style="display:block">
        <tr class="anthem-row">
            <td class="anthem-cell">
                <p style="display:inline; font-size: 18px">OBA L0-L2 Decomposition - Primary Business Domains</p>
                <strong style="display:inline; float: right">Anthem</strong>
            </td>
        </tr>
        <tr class="anthem-row">
            <td class="anthem-cell background-grey">
                <p class="no-margin">EAP-OBA Decomposition</p>
            </td>
            <td class="anthem-cell background-grey">
                <p class="no-margin">Version: </p>
            </td>
            <td class="anthem-cell">
                <p class="no-margin">11</p>
            </td>
            <td class="anthem-cell background-grey">
                <p class="no-margin">Last Updated By: </p>
            </td>
            <td class="anthem-cell">
                <p class="no-margin">Last, First</p>
            </td>
            <td class="anthem-cell background-grey">
                <p class="no-margin">Last Updated On: </p>
            </td>
            <td class="anthem-cell">
                <p class="no-margin">mm/dd/yyyy hh:mm:ss PM</p>
            </td>
        </tr>
    </table>

    <p ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet'" class="select-label">Select Pain Point Source Filter:  </p>
    <select ng-if="layout ==='prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet'"class="anthem-dropdown" ng-model="filterPainPointOn"
            ng-options="filter for filter in source"
            ng-change="filterPainPoints(filterPainPointOn)">
        <option value = "" class="anthem-dropdown-option">
            Select Pain Point Source Domain Filter
        </option>
    </select>

    <br ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet'|| layout === 'prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet'">

    <p ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet'" class="select-label">Select Pain Point Description Filter: </p>
    <select ng-if="layout ==='prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet'"class="anthem-dropdown" ng-model="selectedPainPoint"
            ng-options="test for test in filteredPainPoints"
            ng-change="colorPainPoint(selectedPainPoint)">
        <option value = "" class="anthem-dropdown-option">
            Select Pain Point Description Filter
        </option>
    </select>

    <p ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet'" class="select-label">Select Initiative Filter:  </p>
    <select ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet'"class="anthem-dropdown" ng-model="selectedInitiativeDomain"
            ng-options="initdomain for initdomain in initiativeDomain"
            ng-change="filterInitiative(selectedInitiativeDomain)">
        <option value = "" class="anthem-dropdown-option">
            Select Initiative Domain Filter
        </option>
    </select>

    <br ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet'|| layout === 'prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet'">

    <p ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet'" class="select-label">Select Initiative: </p>
    <select ng-if="layout === 'prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet'"class="anthem-dropdown" ng-model="selectedInitiative"
            ng-options="test for test in filteredInitiatives"
            ng-change="colorInitiative(selectedInitiative)">
        <option value = "" class="anthem-dropdown-option">
            Select Initiative
        </option>
    </select>

    <table ng-if="styling === 'Anthem' && layout==='prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet'" class="anthem legend-table pull-right">
        <tr class="legend-row">
            <td class="legend-cell">
                <p class="init-high-l1 white-header">High</p>
            </td>
            <td class="legend-cell">
                <p class="init-medium-l1">Medium</p>
            </td>
            <td class="legend-cell">
                <p class="init-low-l1 white-header">Low</p>
            </td>
        </tr>
        <tr class="legend-row">
            <td class="legend-cell">
                <p class="init-opportunity-l1 white-header">Opportunity</p>
            </td>
            <td class="legend-cell">
                <p class="init-dependency-l1 white-header">Dependency</p>
            </td>
            <td class="legend-cell">
                <p class=""></p>
            </td>
        </tr>
    </table>

    <table ng-if="styling === 'Anthem' && layout==='prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet'" class="anthem legend-table-painpoint pull-right">
        <tr class="legend-row">
            <td class="legend-cell">
                <p class="pain-point-l1 white-header">Pain Point</p>
            </td>
        </tr>
    </table>


    <!-- Anthem Dashboard Table-->
    <table class="header-container anthem" ng-if='styling === "Anthem" && layout === "prerna.ui.components.specific.anthem.AnthemPainpointsPlaysheet"'>
        <tr class="tr-heat-header">
            <td ng-repeat="header in levelOneHeaders track by $index" class = "td-heat-header anthem-0" ng-class="containsPainPoint('levelOne', header)">
                <h5 class="white-header">{{ header }}</h5>
                <table>
                    <tr ng-repeat="group in getGroups(dashboardData, header)" class="heat-table-box anthem-1" ng-class="containsPainPoint('levelTwo', group)">
                        <td>
                            <p class="no-margin">{{ group }}</p>
                            <div ng-repeat="dha in getDhaGroups(dashboardData, header, group)" class="activity-box-anthem anthem-2"
                                 ng-class="isPainPoint(dha)" ng-click="">
                                {{ dha }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Anthem Dashboard Table-->
    <table class="header-container anthem" ng-if='styling === "Anthem" && layout === "prerna.ui.components.specific.anthem.AnthemInitiativePlaysheet"'>
        <tr class="tr-heat-header">
            <td ng-repeat="header in levelOneHeaders track by $index" class = "td-heat-header anthem-0" ng-class="containsInitiative('levelOne', header)">
                <h5 class="white-header">{{ header }}</h5>
                <table>
                    <tr ng-repeat="group in getGroups(dashboardData, header)" class="heat-table-box anthem-1" ng-class="containsInitiative('levelTwo', group)">
                        <td>
                            <p class="no-margin">{{ group }}</p>
                            <div ng-repeat="dha in getDhaGroups(dashboardData, header, group)" class="activity-box-anthem anthem-2"
                                 ng-class="isInitiative(dha)" ng-click="">
                                {{ dha }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>





    <!---------------------------------------------------- MHS --------------------------------------------------------------------------------------->




    <i class="fa fa-info-circle fa-2x overlay-info-button" aria-hidden="true" ng-if="styling === 'MHS'" ng-click="displayInfo()"></i>

    <!--<img src="app\common\img\tutorial\example2.png" ng-if="styling==='MHS'" ng-show="displayInfoBoolean" class="img-overlay" alt="statusdash-tutorial">-->

    <!--<select ng-if="styling === 'MHS'"-->
    <!--class="mhs-dropdown-half" ng-model="selectedDate"-->
    <!--ng-options="date for date in uploadDate"-->
    <!--ng-change="filterOnDate(selectedDate)">-->
    <!--<option value = "" class="">-->

    <!--</option>-->
    <!--</select>-->

    <!-- MHS Dashboard Table-->
    <table class="header-container mhs" ng-if='styling ==="MHS"'>
        <tr class="tr-heat-header">
            <td ng-repeat="header in levelOneHeaders track by $index" class = "td-heat-header anthem-0">
                <h5 class="white-header">{{ header }}</h5>
                <table>
                    <tr ng-repeat="group in getGroups(dashboardData, header)" class="heat-table-box anthem-1">
                        <td>
                            <p class="no-margin">{{ group }}</p>
                            <div ng-repeat="dha in getDhaGroups(dashboardData, header, group)" class=""
                                 ng-class="isBoxActive(dashboardData, header, group, dha)" ng-click="openGantt(header, group, dha)">
                                {{ dha }}
                                <div class="inline-block">
                                    <div class="value-description" ng-bind-html="getSlackOrDelay(dashboardData, header, group, dha)">Slack: </div>
                                    <div class="heat-score" ng-bind-html="getHeatScore(dashboardData,header, group, dha)" ng-class="getHeatScoreStyle(dashboardData,header, group, dha)"></div>
                                </div>
                                <div class="date-range pull-left" ng-bind-html="getStartDate(dashboardData, header, group, dha)"></div>
                                <div class="date-range pull-right" ng-bind-html="getEndDate(dashboardData, header, group, dha)"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</div>


