@import '~theme';

.sort-values {
    &__refresh {
        &__checkbox {
            width: get-spacing('sm', 'em') * 12;
        }
    }

    &__column {
        &__content {
            width: calc(100% - #{get-width('icon', 'em')});
            padding-left: get-spacing('sm', 'em');
            padding-bottom: get-spacing('sm', 'em');
            & .smss-dropdown {
                margin-bottom: get-spacing('xs', 'em');
            }
        }
    }

    &__custom {
        position: relative;
        padding: get-spacing('sm', 'em');
        min-height: 20vh;
        border: 1px solid get-border-color('default');
        background: get-background-color('light');

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            cursor: grab;
            position: relative;
            max-height: 21.428em;
            overflow-y: auto;
            overflow-x: hidden;

            &__item {
                padding: get-spacing('sm', 'em') / 2;
                background: get-background-color('default');

                &__text {
                    width: calc(100% - #{2 * get-width('icon', 'em')});
                }
            }
        }
    }
}
