@import '~theme';

.form-loader {
    height: 100%;
    padding: 8px;
    &__content {
        height: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 0;
        list-style: none;
        margin: 0;
    }
    &__middle {
        &__item {
            position: relative;
            outline: none;
            padding: 2px;
            vertical-align: top;
            min-height: 28px;
            &__dynamic {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
}
