@import '~theme';

.smss-popover {
}

.smss-popover-content {
    position: absolute;
    font-size: 1rem;
    z-index: 8600;
    padding: get-spacing('md', 'em');
    background: get-background-color('default');
    @include transition(opacity);
    box-shadow: get-box-shadow('overlay', 'default');
    border-radius: $border-radius;
    & > * {
        font-size: get-font-size('body-regular', 'em');
    }
    &--small {
        padding: get-spacing('sm', em);
    }
    &--compact {
        padding: get-spacing('xs', em) 0;
    }
}
