<div class="project-smss">
    <div class="project-smss__field">
        <smss-field style="height: 100% !important">
            <label>SMSS File:</label>
            <content>
                <smss-textarea
                    style="height: 100% !important"
                    ng-model="projectSmss.text"
                >
                </smss-textarea>
            </content>
        </smss-field>
    </div>
    <div class="project-smss__update__btn">
        <smss-btn ng-click="projectSmss.updateSmssFile()"> Update </smss-btn>
    </div>
</div>
