<loading-screen loading-screen-show="chartCtrl.mainLoadingScreen"></loading-screen>
<!-- <div class='base-viz-title-bar chrome-backface-fix'
     ng-class="{'mashup-title':chartCtrl.viewType !== 'single'}" ng-show="chartCtrl.containerClass !== 'preview-viz'">
    gridster expand
    <button ng-click="chartCtrl.expandViz({selectedViz: chartCtrl.uniqueId});"
            ng-show="chartCtrl.viewType !== 'single'"
            ng-if="chartCtrl.viewType !== 'special'"
            class="mashup-expand" title="Expand Visualization"><i class="glyphicon glyphicon-resize-full"></i></button>
    <i class="glyphicon glyphicon-link color-blue mashuplink"
       ng-if="chartCtrl.isDataBound && chartCtrl.viewType !== 'single'"
       ng-class="{'mashuplink-param': !chartCtrl.isEmpty(chartCtrl.insightData.params)}"
       ng-mouseover="chartCtrl.highlightBoundGrid(true)" ng-mouseleave="chartCtrl.highlightBoundGrid(false)"></i>

    <div class="master-param-list-chart"
         ng-class="{'master-param-list-margin':chartCtrl.viewType !== 'single' && chartCtrl.viewType !== 'special'}">
        <div class="param-dropdown-chart" ng-repeat="paramList in chartCtrl.masterParamList | reverse">
            <select ui-select2="select2Options" class="full-width"
                    ng-model="paramList.selected" name="s3" placeholder=""
                    ng-change="chartCtrl.selectParam(paramList.selected, paramList.paramName)" required>
                <option ng-repeat="param in paramList.list | filter:paramSearch" value="{{param.value}}">
                    {{param.name | replaceUnderscores}}
                </option>
            </select>
        </div>
    </div>
    <div class="graph-canvas-title" tooltip-placement="bottom" tooltip-popup-delay="500" tooltip-append-to-body="true"
         tooltip="{{chartCtrl.data.title}}" ng-class="{'mashup-title': chartCtrl.viewType !== 'single'}"
         title="{{chartCtrl.data.title}}">
        <span ng-if="chartCtrl.viewType === 'single'">{{chartCtrl.data.title | reduceStringLength : 150}}</span>
        <span ng-if="chartCtrl.viewType !== 'single'">{{chartCtrl.data.title | reduceStringLength : 75}}</span>
    </div>
</div> -->
<div class="viz-action-btn-group" ng-class="{'mashup-title':chartCtrl.viewType !== 'single'}"
     ng-show="chartCtrl.containerClass !== 'preview-viz'" id="stepVizActions">
    <!-- Single View Top Menu Options -->
    <span ng-if="chartCtrl.viewType === 'single' && !chartCtrl.explore && chartCtrl.mashupEnabled && !chartCtrl.hideNav"
          ng-click="chartCtrl.addToDashboard();">
        <i class="fa fa-plus-circle pointer"></i> <span class="bar-button pointer">Add to Dashboard</span>
    </span>
    <button class="top-menu"
            ng-if="chartCtrl.viewType === 'single' && !chartCtrl.isEmpty(chartCtrl.menuOptions) && !chartCtrl.hideToolbar"
            ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'btn-flat-md': chartCtrl.viewType === 'single','btn-flat-selected': chartCtrl.menuMode}"
            ng-click="chartCtrl.menuMode=!chartCtrl.menuMode; chartCtrl.setMenuService()">
        <i class="fa fa-navicon"> </i>
        <span class="bar-button">Toggle Menu</span>
    </button>
    <button class="top-menu"
            ng-if="!chartCtrl.explore && chartCtrl.viewType === 'single'" class="btn-flat-md"
            ng-click="chartCtrl.saveVisualization()">
        <i class="fa fa-floppy-o"> </i>
        <span class="bar-button">Save Visualization</span>
    </button>

    <!-- Dashboard View Top Menu Options -->
    <button class="btn-flat pull-right" title="Remove Widget"
            ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'btn-flat-md': chartCtrl.viewType === 'single'}"
            ng-click="chartCtrl.removeViz({'selectedWidget': chartCtrl.uniqueId})"
            ng-if="chartCtrl.viewType !== 'special'"
            ng-show="chartCtrl.viewType !== 'single'">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
    <button class="btn-flat pull-right" ng-if="chartCtrl.viewType !== 'single' && chartCtrl.viewType !== 'special'"
            title="Filter"
            ng-show="chartCtrl.menuOptions.tableEnabled"
            ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'btn-flat-md': chartCtrl.viewType === 'single','btn-flat-selected':chartCtrl.toggleMode === 'filter'}"
            ng-click="chartCtrl.toggleMenu('filter');">
        <i class="fa fa-filter"></i>
    </button>
    <button class="btn-flat pull-right" ng-if="chartCtrl.viewType !== 'single'" title="Tools"
            ng-show="chartCtrl.menuOptions.toolsEnabled"
            ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'btn-flat-md': chartCtrl.viewType === 'single','btn-flat-selected':chartCtrl.toggleMode === 'tools'}"
            ng-click="chartCtrl.toggleMenu('tools')">
        <i class="tab-icon-equalizer"></i>
    </button>
</div>
<!--<div draggable="'.floating-header'">-->
<div style="overflow:hidden!important" draggable="'.floating-header'" toggle-mode="chartCtrl.toggleMode"
     drag-enabled="chartCtrl.fixedRight"
     ng-class="{'floating-menu': chartCtrl.fixedRight, 'floating-menu-fixed-right': !chartCtrl.fixedRight, 'floating-menu-dashboard':chartCtrl.viewType !=='single'}"
     ng-click="activeClass=true" ng-if="!chartCtrl.isEmpty(chartCtrl.menuOptions)"
     ng-show=" chartCtrl.viewType === 'single' && chartCtrl.menuMode || chartCtrl.viewType !== 'single' && chartCtrl.toggleMode === 'filter' || chartCtrl.viewType !== 'single' && chartCtrl.toggleMode === 'tools'"
>
    <!--HEADER START-->
    <div class="header floating-header xs-padding"
         ng-show="chartCtrl.menuMode || chartCtrl.viewType === 'single'">
        <span class="tab-icon-ellipsis pointer-move"></span>
        <i class="fa fa-thumb-tack pointer-cursor pull-right xs-hor-padding" ng-click="chartCtrl.toggleFixedRight()"
           ng-class="{'pin-icon': !chartCtrl.fixedRight}"></i>
        <span class="pointer-cursor pull-right" ng-show="chartCtrl.viewType === 'single'">
            <!--<i class="fa-times fa lg-font " ng-click="chartCtrl.menuMode=!chartCtrl.menuMode; chartCtrl.setMenuService()" ng-hide="chartCtrl.toggleMode === 'tools' || chartCtrl.menuOptions.traverseEnabled || chartCtrl.toggleMode === 'analytics' || chartCtrl.toggleMode === 'filter'"></i>-->
        </span>
    </div>
    <!--HEADER END-->
    <div class="floating-header" ng-class="{'right': !chartCtrl.fixedRight}"
         ng-if="chartCtrl.viewType === 'single' || chartCtrl.menuMode">
        <div class="button-select-div full-width pull-left" style="width:75px;" id="stepTools">
            <div ng-click="chartCtrl.toggleMenu('tools')" ng-show="chartCtrl.menuOptions.toolsEnabled"
                 ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'button-select': chartCtrl.viewType === 'single','selected':chartCtrl.toggleMode === 'tools'}"
                 title="Tools">
                <i class=" xl-font show tab-icon-equalizer"></i>
                <span ng-if="chartCtrl.viewType==='single'" class="sm-font bar-button">Tools</span>
            </div>
            <div ng-click="chartCtrl.toggleMenu('visual')"
                 ng-show="chartCtrl.menuOptions.toolsEnabled && !chartCtrl.menuOptions.traverseEnabled && chartCtrl.menuOptions.editEnabled"
                 ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'button-select': chartCtrl.viewType === 'single','selected':chartCtrl.toggleMode === 'visual'}"
                 title="Visual">
                <i class=" xl-font show tab-icon-visual"></i>
                <span ng-if="chartCtrl.viewType==='single'" class="sm-font bar-button">Visual</span>
            </div>
            <div class="" ng-show="chartCtrl.menuOptions.traverseEnabled" ng-click="chartCtrl.toggleMenu('traverse')"
                 ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'button-select': chartCtrl.viewType === 'single','selected': chartCtrl.toggleMode === 'traverse'}"
                 title="Traverse Options" id="stepTraverse">
                <i class="xl-font show fa fa-code-fork"></i>
                <span ng-if="chartCtrl.viewType==='single'" class="sm-font bar-button"> Traverse</span>
            </div>
            <div ng-click="chartCtrl.toggleMenu('filter');" ng-show="chartCtrl.menuOptions.tableEnabled"
                 ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'button-select': chartCtrl.viewType === 'single','selected':chartCtrl.toggleMode === 'filter'}"
                 id="stepData">
                <i class="xl-font show fa fa-filter"></i>
                <span ng-if="chartCtrl.viewType==='single'" class="sm-font bar-button"> Data</span>
            </div>
            <div ng-click="chartCtrl.toggleMenu('analytics')" ng-show="chartCtrl.menuOptions.analyticsEnabled"
                 ng-if="chartCtrl.viewType === 'single'"
                 ng-class="{'btn-flat-sm': chartCtrl.viewType !== 'single', 'button-select': chartCtrl.viewType === 'single','selected':chartCtrl.toggleMode === 'analytics'}"
                 title="Analytics" id="stepAnalytics">
                <i class=" xl-font show tab-icon-analytics"></i>
                <span class="sm-font bar-button"> Analytics</span>
            </div>
        </div>
    </div>
    <div ng-class="{'panel-content': chartCtrl.fixedRight, 'panel-content-fixed-right': !chartCtrl.fixedRight, 'dashboard-tool-view': chartCtrl.viewType !== 'single'}"
         ng-show="chartCtrl.toggleMode === 'tools' || chartCtrl.toggleMode === 'traverse'  || chartCtrl.toggleMode === 'analytics' || chartCtrl.toggleMode === 'filter' || chartCtrl.toggleMode === 'visual' "
         ng-if="chartCtrl.menuOptions.toolsEnabled ||chartCtrl.menuOptions.traverseEnabled || chartCtrl.menuOptions.analyticsEnabled || chartCtrl.menuOptions.tableEnabled || chartCtrl.menuOptions.editEnabled"
         style="overflow:hidden!important">
        <tool-panel ng-show="chartCtrl.toggleMode === 'tools'" ng-if="chartCtrl.menuOptions.toolsEnabled"></tool-panel>
        <edit-panel ng-show="chartCtrl.toggleMode === 'visual'" ng-if="chartCtrl.menuOptions.editEnabled"></edit-panel>
        <analytics-panel ng-show="chartCtrl.toggleMode === 'analytics'"
                         ng-if="chartCtrl.menuOptions.analyticsEnabled"></analytics-panel>
        <filter-panel ng-show="(chartCtrl.toggleMode === 'filter')"
                      ng-if="chartCtrl.menuOptions.tableEnabled"
                      class="float-right panel-content-dashboard"></filter-panel>

    </div>
</div>

<!-- Visualization -->
<ng-include ng-class="{'viz-hide': chartCtrl.isTableShown, 'viz-show': !chartCtrl.isTableShown}"
            src="chartCtrl.chartTemplate"></ng-include>
<!-- End -->

<div id="data-table{{chartCtrl.uniqueId}}" class="table-data-container"
     ng-class="{'table-show': chartCtrl.isTableShown, 'table-hide': !chartCtrl.isTableShown, 'explore-page': isExplore}"
     ng-if="!isEmpty(chartCtrl.data.data) && chartCtrl.menuOptions.tableEnabled">
    <!-- <smss-table chart-data="chartCtrl.tableData" show-title="false" table-type="'Table'" table-options="chartCtrl.tableOptions" container-class="chartCtrl.containerClass" selected-viz="chartCtrl.selectedViz"></smss-table> -->
    <smss-grid data="chartCtrl.data" container-class="chartCtrl.containerClass"
               visual-type="chartCtrl.visualType" unique-id="chartCtrl.uniqueId"></smss-grid>
</div>


<button class="btn-blue sm-btn btn-bottom-right btn-top-layer"
        ng-show="chartCtrl.isDataBound && !chartCtrl.checkDataClean()" ng-click="chartCtrl.resetFilters()">
    <i class="fa fa-refresh"></i>
</button>
