<div class="import-copy">
    <smss-scroll static-x="true" class="import-copy__content">
        <smss-field>
            <label
                >Enter Database Name:<span class="smss-color--error"
                    >*</span
                ></label
            >
            <content>
                <smss-input
                    ng-model="importCtrl.name.value"
                    ng-change="importCtrl.validateName()"
                    placeholder="Database Name"
                    autofocus
                ></smss-input>
            </content>
            <description>
                <span
                    class="smss-color--error"
                    ng-show="importCtrl.name.message"
                >
                    {{importCtrl.name.message}}</span
                >
            </description>
        </smss-field>
        <smss-field>
            <label>Enter location of the database (url): </label>
            <content>
                <smss-input ng-model="importCopy.copy.url"></smss-input>
            </content>
        </smss-field>
        <div class="smss-caption smss-color--error">* are required</div>
    </smss-scroll>
    <div class="smss-spacing smss-clear">
        <smss-btn
            class="smss-right"
            ng-click="importCopy.loadCopy();"
            ng-disabled="!importCopy.checkCopy();"
        >
            <span>Import</span>
        </smss-btn>
    </div>
</div>
