@import '~theme';

.column-cleaner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 $scroll-size;

    &__similarity {
        display: flex;
        &__slider {
            flex: 1;
        }
    }

    &__list {
        flex: 1;
        height: auto;
        width: 100%;
        border: 1px solid get-border-color('default');

        &__label {
            outline: none;
            width: 100%;
            height: 100%;
            display: block;
            cursor: default;

            &:hover {
                background: get-background-color('primary--hover');
                border: none;
            }

            & .smss-btn {
                margin-top: get-spacing('xs', 'em');
            }
        }

        &__bar {
            margin: get-spacing('sm', 'em') 0;
            height: calc(100% - #{get-spacing('sm', 'em') * 2});
            border: 1px solid get-border-color('default');
            padding: 0 !important;

            &__block {
                height: 100%;
                width: 100%;
                background: get-background-color('primary');
            }
        }
    }
}
