<div class="widget-view">
    <loading-screen
        model="widgetView.loading.active"
        messages="widgetView.loading.messageList"
        class="widget-view__loading"
    ></loading-screen>
    <div id="widget-view__resizable" class="widget-view__resizable">
        <div
            id="widget-view__resizable__content"
            class="widget-view__resizable__content"
        >
            <div ng-if="widgetView.vizView === 'visualization'">
                <div
                    class="widget-view__resizable__content__mode"
                    ng-hide="widgetView.presentation"
                >
                    <widget-mode></widget-mode>
                </div>
                <div
                    class="widget-view__resizable__content__facet smss-clear"
                    ng-if="widgetView.showFacet"
                >
                    <div
                        class="widget-view__resizable__content__facet__arrow smss-left"
                        title="Go to {{widgetView.facetInfo.previousInstance | replaceUnderscores}}"
                        ng-click="widgetView.changeFacetInstance(widgetView.facetInfo.previousInstance);"
                    >
                        <div
                            class="widget-view__resizable__content__facet__arrow__icon smss-left"
                        >
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <div
                            class="smss-text widget-view__resizable__content__facet__arrow__name widget-view__resizable__content__facet__arrow__name--left smss-left"
                        >
                            <span class="smss-small">
                                {{widgetView.facetInfo.previousInstance |
                                replaceUnderscores}}
                            </span>
                        </div>
                    </div>
                    <div
                        class="smss-left smss-row widget-view__resizable__content__facet__info"
                    >
                        <div
                            class="smss-col smss-col--4 smss-text widget-view__resizable__content__facet__info__label"
                        >
                            <span class="smss-small">
                                {{widgetView.facetInfo.selectedDim |
                                replaceUnderscores}}:
                            </span>
                        </div>
                        <smss-dropdown
                            model="widgetView.facetInfo.selectedInstance"
                            options="widgetView.facetInfo.uniqueInstances"
                            change="widgetView.changeFacetInstance(model);"
                            class="smss-col smss-col--8"
                        />
                    </div>
                    <div
                        class="widget-view__resizable__content__facet__arrow smss-left"
                        title="Go to {{widgetView.facetInfo.nextInstance | replaceUnderscores}}"
                        ng-click="widgetView.changeFacetInstance(widgetView.facetInfo.nextInstance);"
                    >
                        <div
                            class="widget-view__resizable__content__facet__arrow__icon smss-right"
                        >
                            <i class="fa fa-chevron-right"></i>
                        </div>
                        <div
                            class="smss-text widget-view__resizable__content__facet__arrow__name widget-view__resizable__content__facet__arrow__name--right smss-right"
                        >
                            <span class="smss-small">
                                {{widgetView.facetInfo.nextInstance |
                                replaceUnderscores}}
                            </span>
                        </div>
                    </div>
                </div>
                <total-instances></total-instances>
            </div>
            <div id="widget-view__resizable__content__replace"></div>
        </div>
    </div>
</div>
