@import '~theme';

.panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    outline: none;
    background: transparent;

    &:hover {
        outline: 1px solid get-outline-color('default');
    }

    &--hidden {
        z-index: -1 !important;
    }

    &--inactive {
        outline: none !important;
    }

    &--maximized {
        position: absolute;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        height: auto !important;
        width: auto !important;
        z-index: 999 !important;

        & .panel__toolbar {
            display: flex;
        }
    }

    &__content {
        position: relative;
        height: 100%;
        width: 100%;
        &--disable {
            pointer-events: none;
        }
    }

    &:hover {
        .widget-mode {
            opacity: 0.5;
        }
    }
}
