@import '~theme';

.home {
    &__nav {
        background-color: get-background-color('nav');

        &__button {
            color: get-text-color('white');
        }
    }
}

.home-nav {
    &__btn {
        color: get-text-color('white');
    }
}
