<div>
    <smss-field>
        <label>SMTP Host:</label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.smtpHost"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>SMTP Port:</label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.smtpPort"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>Subject:</label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.subject"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>
            To:
            <i
                class="fa fa-info-circle"
                title="Enter addresses as semicolon separated values."
            ></i>
        </label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.to"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>From:</label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.from"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>Message:</label>
        <content>
            <smss-textarea
                ng-model="job.jobTypeTemplate.message"
            ></smss-textarea>
        </content>
    </smss-field>
    <smss-field>
        <label>User Name:</label>
        <content>
            <smss-input ng-model="job.jobTypeTemplate.username"></smss-input>
        </content>
    </smss-field>
    <smss-field>
        <label>Password:</label>
        <content>
            <smss-input
                type="password"
                ng-model="job.jobTypeTemplate.password"
            ></smss-input>
        </content>
    </smss-field>
</div>
