<div
    ng-if="totalInstances.dataCounts.total"
    class="total-instances__collected"
    ng-dblclick="totalInstances.editLimit = (true && !totalInstances.preview)"
    ng-keydown="$event.keyCode === 27 ? (totalInstances.editLimit = false) : ''"
>
    <div
        ng-class="{'total-instances__collected__show': totalInstances.hideCounts}"
    >
        <span>
            <i
                class="fa total-instances__collected__show"
                ng-class="{'fa-eye-slash': !totalInstances.hideCounts, 'fa-eye': totalInstances.hideCounts}"
                ng-click="totalInstances.toggleCountView()"
                title="Show/Hide"
            ></i>
        </span>
        <span class="smss-small"> Showing </span>
        <span class="smss-small" ng-if="!totalInstances.editLimit"
            >{{totalInstances.dataCounts.collected}}</span
        >
        <span
            ng-init="totalInstances.editCount = totalInstances.dataCounts.collected"
            ng-if="totalInstances.editLimit"
            class="total-instances__inline"
        >
            <form
                ng-submit="totalInstances.changeLimit(totalInstances.editCount); totalInstances.editLimit = false"
            >
                <smss-input
                    ng-model="totalInstances.editCount"
                    class="total-instances__collected__edit-counter"
                    type="number"
                ></smss-input>
            </form>
        </span>
        <span class="smss-small"> of {{totalInstances.dataCounts.total}}</span>
    </div>
</div>
