@import '~theme';

.total-instances {
    &__collected {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 9100;
        padding-right: get-spacing('sm', 'em') / 2;
        outline: none;
        background-color: #ffffff2d;

        &__show {
            opacity: 0;
            outline: none;
        }

        &__edit-counter {
            width: 60px;
        }

        &:hover {
            .total-instances__collected__show {
                opacity: 1;
            }
        }
    }
    &__inline {
        display: inline-block;
    }
}
