<div class="formula">
    <div class="formula__menu">
        <div class="formula__menu__search">
            <smss-search
                model="formula.rendered.search"
                change="formula.searchMenu()"
            >
            </smss-search>
        </div>
        <div class="formula__menu__wrapper smss-collapsible-group">
            <smss-collapsible
                ng-repeat="group in formula.rendered.searched track by $index"
                ng-show="group.options.length > 0"
                ng-init="group.open = true"
                model="group.open"
            >
                <smss-collapsible-header
                    >{{group.name}}</smss-collapsible-header
                >
                <smss-collapsible-content>
                    <div
                        ng-repeat="option in group.options track by $index"
                        class="formula__menu__group__content__option"
                        ng-class="{
                        'formula__menu__group__content__option--value': option.type === 'value', 
                        'formula__menu__group__content__option--expression': option.type === 'expression', 
                        'formula__menu__group__content__option--function': option.type === 'function',
                        'formula__menu__group__content__option--group': option.type === 'group',
                        'formula__menu__group__content__option--conditional': option.type === 'conditional'
                    }"
                        menu="{{$parent.$index}}-{{$index}}"
                        draggable="true"
                    >
                        <span>{{option.name}}</span>
                    </div>
                </smss-collapsible-content>
            </smss-collapsible>
        </div>
    </div>
    <div class="formula__tree">
        <div class="formula__tree__root">
            <div
                id="formula__tree__root__wrapper"
                class="formula__tree__root__wrapper"
            >
                <formula-stem stem="formula.root" path="root"></formula-stem>
            </div>
        </div>
    </div>
</div>
