<div class="pipeline-merge">
    <div class="pipeline-merge__container">
        <div class="pipeline-merge__join">
            <div class="pipeline-merge__join__label">
                <h6 class="pipeline-merge__join__label__title">
                    From:
                    <span class="pipeline-merge__join__label__title__name">
                        {{pipelineMerge.destination.name}}
                    </span>
                </h6>

                <div class="pipeline-merge__join__label__spacer">&nbsp;</div>

                <h6 class="pipeline-merge__join__label__title">
                    To:
                    <span class="pipeline-merge__join__label__title__name">
                        {{pipelineMerge.source.name}}
                    </span>
                </h6>

                <div class="pipeline-merge__join__label__spacer">&nbsp;</div>
            </div>
            <div class="pipeline-merge__join__content">
                <!-- <div class="pipeline-merge__join__content__item"
                     ng-repeat="merge in pipelineMerge.merge track by $index"> -->

                <smss-popover
                    class="pipeline-merge__join__content__item"
                    ng-repeat="merge in pipelineMerge.merge track by $index"
                >
                    <smss-dropdown
                        class="pipeline-merge__join__content__item__dropdown"
                        model="merge.from"
                        options="pipelineMerge.destination.headers"
                        display="alias"
                        value="alias"
                        change=""
                    >
                    </smss-dropdown>
                    <smss-btn
                        title="{{pipelineMerge.joinOptions[merge.join].display}}"
                        id="pipeline-merge__join__btn"
                        class="smss-left smss-btn--icon pipeline-merge__join__content__item__btn"
                        ng-click="pipelineMerge.showAllOperators(merge.from,merge.to)"
                    >
                        <img
                            ng-src="{{pipelineMerge.joinOptions[merge.join].img}}"
                        />
                    </smss-btn>
                    <smss-dropdown
                        class="pipeline-merge__join__content__item__dropdown"
                        model="merge.to"
                        options="pipelineMerge.source.headers"
                        display="alias"
                        value="alias"
                        change=""
                    >
                    </smss-dropdown>
                    <smss-btn
                        class="smss-right smss-color--error smss-btn--icon pipeline-merge__join__content__item__btn"
                        title="Remove Merge"
                        ng-disabled="pipelineMerge.merge.length <= 1"
                        ng-click="pipelineMerge.removeMerge($index)"
                    >
                        <i class="fa fa-times"></i>
                    </smss-btn>
                    <smss-popover-content
                        class="pipeline-merge__join__content__item__popover"
                        target="#pipeline-merge__join__btn"
                        position="['S', 'N']"
                    >
                        <div class="smss-action">
                            <smss-btn
                                ng-repeat="(k, v) in pipelineMerge.joinOptions"
                                title="{{v.display}}"
                                class="smss-btn--icon"
                                ng-class="{'smss-btn--selected': merge.join === k}"
                                ng-click="merge.join = k; "
                            >
                                <img ng-src="{{v.img}}" />
                            </smss-btn>
                        </div>
                        <smss-field>
                            <label> Comparator: </label>
                            <content class="smss-field__content-overflow">
                                <smss-dropdown
                                    model="merge.joinComparator"
                                    options="pipelineMerge.joinComparatorOptionsList"
                                    display="display"
                                    value="value"
                                    body="false"
                                >
                                </smss-dropdown>
                            </content>
                        </smss-field>
                        <div
                            title="From: {{merge.from | replaceUnderscores}}"
                            class="smss-text"
                        >
                            <span class="smss-small">
                                From: {{merge.from | replaceUnderscores}}
                            </span>
                        </div>
                        <div
                            class="smss-text"
                            title="To: {{merge.to | replaceUnderscores}}"
                        >
                            <span class="smss-small">
                                To: {{merge.to | replaceUnderscores}}
                            </span>
                        </div>
                    </smss-popover-content>
                </smss-popover>
                <!-- </div> -->
                <div class="smss-spacing smss-clear">
                    <smss-btn
                        class="smss-right smss-color--success smss-btn--icon"
                        title="Add Merge"
                        ng-click="pipelineMerge.addMerge()"
                        ng-disabled="pipelineMerge.disableAdd"
                    >
                        <i class="fa fa-plus"></i>
                    </smss-btn>
                </div>
            </div>
        </div>

        <div id="pipeline-merge__grid" class="pipeline-merge__grid">
            <div
                id="pipeline-merge__grid__content--destination"
                class="pipeline-merge__grid__content ag-theme-balham"
            ></div>
            <div class="pipeline-merge__grid__spacer">&nbsp;</div>
            <div
                id="pipeline-merge__grid__content--source"
                class="pipeline-merge__grid__content ag-theme-balham"
            ></div>

            <div class="pipeline-merge__grid__spacer">&nbsp;</div>
        </div>
    </div>

    <div class="smss-action">
        <smss-btn
            class="smss-btn--text"
            ng-click="pipelineComponentCtrl.closeComponent()"
        >
            Cancel
        </smss-btn>
        <!-- <smss-btn ng-click="pipelineMerge.previewMerge(true)">
            Preview
        </smss-btn> -->
        <smss-btn ng-click="pipelineMerge.saveMerge()"> Import </smss-btn>
    </div>
</div>
