@import '~theme';

.terminal-browser {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: get-spacing('sm', 'em') $scroll-size;
    overflow: hidden;
    background: get-background-color('default');
    display: flex;
    flex-direction: column;

    &__tabs {
        justify-content: center;
        margin-bottom: get-spacing('sm', 'em');
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__files {
        flex: 1;
        overflow: hidden;
    }

    &__history {
        flex: 1;
        overflow: hidden;

        &__scroll {
            height: 100%;
            border: 1px solid get-border-color('default');
        }

        &__block {
            border-bottom: 1px solid get-border-color('default');

            &__user {
                text-align: left;
            }

            &__date {
                text-align: right;
            }
        }
    }

    & .ace_gutter {
        background: get-background-color('dark');

        &-active-line {
            background: get-background-color('light');
        }
    }
}

.drop-zone--enter .terminal-browser__upload__wrapper__drop__files {
    border-color: get-border-color('primary');
}
