<div class="terminal-browser">
    <smss-tab-group class="terminal-browser__tabs">
        <smss-tab
            ng-class="{'smss-tab--selected': terminalBrowser.tab ===  'Files'}"
            ng-click="terminalBrowser.changeTab('Files')"
        >
            <i class="fa fa-folder-o"></i>
            Files
        </smss-tab>
        <smss-tab
            ng-class="{'smss-tab--selected': terminalBrowser.tab ===  'History'}"
            ng-click="terminalBrowser.changeTab('History')"
        >
            <i class="fa fa-comments-o"></i>
            History
        </smss-tab>
    </smss-tab-group>

    <div
        class="terminal-browser__content"
        ng-show="terminalBrowser.tab ===  'Files'"
    >
        <div class="terminal-browser__files">
            <browser-asset
                on-open="terminalBrowser.openFile(item)"
            ></browser-asset>
        </div>
        <div class="smss-action">
            <smss-btn
                class="smss-btn--icon"
                ng-click="terminalBrowser.cutClipboard()"
                ng-disabled="!terminalBrowser.selected || terminalBrowser.selected.new"
                title="Cut open file to clipboard"
            >
                <i class="fa fa-scissors"></i>
            </smss-btn>
            <smss-btn
                class="smss-btn--icon"
                ng-click="terminalBrowser.copyClipboard()"
                ng-disabled="!terminalBrowser.selected || terminalBrowser.selected.new"
                title="Copy open file to clipboard"
            >
                <i class="fa fa-files-o"></i>
            </smss-btn>

            <smss-btn
                class="smss-btn--icon"
                ng-click="terminalBrowser.pasteClipboard()"
                title="Paste file from clipboard"
            >
                <i class="fa fa-clipboard"></i>
            </smss-btn>
        </div>
    </div>

    <div
        class="terminal-browser__content"
        ng-show="terminalBrowser.tab ===  'History'"
    >
        <smss-field class="terminal-browser__history">
            <label>History</label>
            <content>
                <smss-scroll
                    class="terminal-browser__history__scroll"
                    static-x="true"
                >
                    <div
                        class="smss-caption--center"
                        ng-show="!terminalBrowser.selected.history || terminalBrowser.selected.history.length === 0"
                    >
                        No History
                    </div>
                    <div
                        ng-repeat="step in terminalBrowser.selected.history track by $index"
                        title="{{step.message}}"
                        class="smss-block terminal-browser__history__block"
                        ng-click="terminalBrowser.switchHistory(step)"
                    >
                        <div class="smss-block__text">
                            <div class="smss-block__text__title">
                                <span class="smss-small">{{step.message}}</span>
                            </div>
                            <div class="smss-row">
                                <div
                                    class="smss-col smss-col--6 smss-block__text__description terminal-browser__history__block__user"
                                >
                                    <span>{{step.user}}</span>
                                </div>
                                <div
                                    class="smss-col smss-col--6 smss-block__text__description terminal-browser__history__block__date"
                                >
                                    <span>{{step.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </smss-scroll>
            </content>
        </smss-field>
    </div>
</div>
